﻿@using Nop.Services.Vendors;
@using System.Globalization;
@model MiniShoppingCartModel
@inject IVendorService vendorService;
@inject Nop.Core.IWorkContext _workContext;
@{
    var vendorInfo = vendorService.GetVendorById(_workContext.CurrentMerchant.Id);
    var ordType = 1;
    if (vendorInfo.IsDelivery == true && vendorInfo.IsTakeAway == true)
    {
        ordType = 1;
    }
    else if (vendorInfo.IsDelivery == true && vendorInfo.IsTakeAway == false)
    {
        ordType = 1;
    }
    else if (vendorInfo.IsDelivery == false && vendorInfo.IsTakeAway == true)
    {
        ordType = 2;
    }
    string ordSchDate = "";
    string ordSchTime = "0";
    var ordComm = "";
    if (_workContext.CurrentOrderDetails != null)
    {
        if (_workContext.CurrentOrderDetails.OrderType != null)
        {
            ordType = _workContext.CurrentOrderDetails.OrderType.Value;

            if (vendorInfo.IsDelivery == true && vendorInfo.IsTakeAway == false)
            {
                ordType = 1;
            }
            else if (vendorInfo.IsDelivery == false && vendorInfo.IsTakeAway == true)
            {
                ordType = 2;
            }
            var obj = _workContext.CurrentOrderDetails;
            if (ordType == 1)
            {
                obj.OrderType = 1;
            }
            else
            {
                obj.OrderType = 2;
            }
            _workContext.CurrentOrderDetails = obj;
        }
        else
        {
            var obj = _workContext.CurrentOrderDetails;
            if (ordType == 1)
            {
                obj.OrderType = 1;
            }
            else
            {
                obj.OrderType = 2;
            }
            _workContext.CurrentOrderDetails = obj;
        }
        if (_workContext.CurrentOrderDetails.ScheduleDate != null)
        {
            ordSchDate = _workContext.CurrentOrderDetails.ScheduleDate.Value.ToShortDateString();
        }
        if (_workContext.CurrentOrderDetails.ScheduleTime != null)
        {
            DateTime time = DateTime.Today.Add(_workContext.CurrentOrderDetails.ScheduleTime.Value);
            ordSchTime = time.ToString("h:mm tt");
        }
        if (_workContext.CurrentOrderDetails.OrderNote != null)
        {
            ordComm = _workContext.CurrentOrderDetails.OrderNote.ToString();
        }
    }
}
    <div id="flyout-cart">
        <div class="head clearfix">
            <div class="bar clearfix">
                <h2>@T("minishop.your.basket")</h2>
            </div>
        </div>
        <script>
            $(function () {
                function checkRadioBtn() {
                    $(".deliveryTakeBox li input + label").click(function () {
                        $(".deliveryTakeBox li input").removeAttr("checked");
                        $(this).siblings("input").attr({ "checked": "checked" });
                    });
                }
                checkRadioBtn();

                $(window).ajaxComplete(function () {
                    checkRadioBtn();
                });
            });
        </script>
        <div class="deliveryTakeBox">
            <ul class="dtsList clearfix">
                <li>
                    @if (vendorInfo.IsDelivery)
                    {<input type="radio" onclick="setOrderType(1,@vendorInfo.DeliveryTime);" value="Delivery" id="orderTypeDelivery" name="orderTyp" @(ordType == 1 ? Html.Raw("checked=\"checked\"") : null) />
                        <label for="orderTypeDelivery">@T("delivery.button.text")</label>
                        @*<span>
                            @T("approx.time.delivery") @vendorInfo.DeliveryTime @T("approx.delivery.min").
                        </span>*@
                    }
                </li>
                <li>
                    @if (vendorInfo.IsTakeAway)
                    {
                        <input type="radio" onclick="setOrderType(2,@vendorInfo.TakeAwayTime);" value="Takeaway" id="orderTypeTakeAway" name="orderTyp" @(ordType == 2 ? Html.Raw("checked=\"checked\"") : null) />
                        <label for="orderTypeTakeAway">@T("takeaway.button.text")</label>
                        @*<span>
                            @T("approx.time.takeaway") @vendorInfo.TakeAwayTime @T("approx.takeaway.min").
                        </span>*@
                    }
                    @*@if (vendorInfo.IsDining)
                    {
                        <input type="radio" onclick="setOrderType(3);" value="Dine" id="orderType" name="orderTyp" />
                    }*@
                </li>
            </ul>
            <div id="dispalySchedule" style="display:none">
                <a href="#" class="scheduleClose"></a>
                <h2>@T("choose.delivery.takeaway.time")</h2>
                <label>@T("delivery.takeaway.date")</label>
                <input type="text" id="inputSchBookingDate" class="form-control datepicker" click="notify()" placeholder="@T("delivery.schedule.date")" value="@ordSchDate" />
                <br />
                <label>@T("delivery.takeaway.time")</label>
                <select id="ddlSchTimings"><option value="@ordSchTime">--@T("delivery.min.select")--</option></select>
                <div class="buttons">
                    <a class="scheduleClose btn">@T("nb.btn.cancel")</a>
                    <a id="btnSetTime">@T("delivery.takeaway.submit")</a>
                </div>
            </div>
        </div>
        @if (Model.TotalProducts > 0)
        {
            <div class="itemListAarea">
                <div class="itemList clearfix">
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        var item = Model.Items[i];
                        <div class="bar clearfix @(i == 0 ? "first" : null)">

                            <div class="product">
                                @*<span class="veg_nveg"></span>*@
                                <span>@item.ProductName</span>
                                <div class="cartCount">
                                    <i class="icon icon-minus-1">
                                        <input type="button" value="-" class="minusIcon1" onclick="AjaxCart.removeproductfromtocart_catalog('/removeproductfromtocart/catalog/' + '@item.ProductId' + '/1/1');return false;" />
                                    </i>
                                    <small>@item.Quantity</small>
                                    <i class="icon icon-add">
                                        <input type="button" value="+" class="plushIcon1" onclick="AjaxCart.addproductitemtocart_catalog('/addproductitemtocart/catalog/' + '@item.ProductId' + '/1/1');return false;" />
                                    </i>
                                </div>
                                @*<em>@item.UnitPrice</em>*@
                                <em>@item.UnitPriceWithQuantity</em>
                                <i class="icon icon-cancel">
                                    <input type="button" value="Remove" class="closeIcon1" onclick="AjaxCart.removeproducttocart_catalog('/removeproducttocart/catalog/' + '@item.Id' + '/1/1');return false;" />
                                </i>
                                @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                {
                                    <div class="addonItem clearfix">
                                        @Html.Raw(item.AttributeInfo)
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="foot clearfix">
            <div class="cartTotalDetail">

                <table class="cart-total">
                    <tbody>
                        <tr class="bill_detail_head">
                            <td class="cart-total-left">
                                <label class="bill_detail">@T("NB.billDetail.text")</label>
                            </td>
                            <td class="cart-total-right">
                            </td>
                        </tr>
                        <tr class="OrderTotalsInMiniC">
                            <td colspan="2">
                                <div class="totals">
                                    @await Component.InvokeAsync("OrderTotals", new { isEditable = true, isMiniCart = true })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="cart-total-left">
                                <label>@T("NB.Order.DeliveryAmount")</label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.DeliveryAmountString</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="cart-total-left">
                                <label>@T("NB.Order.ServiceChargeAmountDukan")</label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.ServiceChargeAmount</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="cart-total-left">
                                <label>@T("NB.Order.TipAmount")</label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.TipAmount</span>
                            </td>
                        </tr>
                        <tr class="toPay">
                            <td width="50%" class="cart-total-left">
                                <label>@T("NB.toPay")</label>
                            </td>
                            <td width="50%" class="cart-total-right">
                                <span>@Model.SubTotal</span>
                            </td>
                        </tr>

                        <tr class="toPay totalText">
                            <td class="cart-total-left">
                                <label>@T("NB.toPay.total")<small> @T("NB.toPay.total.small.Dukan")</small>  </label><em class="tooltripInfo" custom-title='<table><tr class="bill_detail_head"><td class="cart-total-left"><label class="bill_detail">@T("NB.billDetail.text")</label></td><td class="cart-total-right"></td></tr><tr><td colspan="2">@await Component.InvokeAsync("OrderTotals", new { isEditable = true, isMiniCart = true })</td></tr><tr><td class="cart-total-left"><label>@T("NB.Order.DeliveryAmount")</label></td><td class="cart-total-right"><span>@Model.DeliveryAmountString</span></td></tr><tr><td class="cart-total-left"><label>@T("NB.Order.ServiceChargeAmountDukan")</label></td><td class="cart-total-right"><span>@Model.ServiceChargeAmount</span></td></tr><tr><td class="cart-total-left"><label>@T("NB.Order.TipAmount")</label></td><td class="cart-total-right"><span>@Model.TipAmount</span></td></tr><tr class="toPay"><td width="50%" class="cart-total-left"><label>@T("NB.toPay")</label></td><td width="50%" class="cart-total-right"><span>@Model.SubTotal</span></td></tr></table>'>i</em>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.SubTotal</span>
                            </td>
                        </tr>
                </table>



            </div>
            <div class="buttonBlock clearfix">
                @*@if (Model.DisplayCheckoutButton)
                {
                    var checkoutUrl = "";
                    if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                    {
                        checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                    }
                    else
                    {
                        checkoutUrl = Url.RouteUrl("Checkout");
                    }
                    <input type="button" value="@T("Checkout.Button")" class="button checkoutBtn" onclick="setLocation('@checkoutUrl')" />
                }*@
            </div>
            <form id="mini-shopping-cart-form" action="">

                @if (Model.TermsOfServiceOnShoppingCartPage)
                {
                    <div id="mini-cart-terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                        <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                    </div>
                    <div class="terms-of-service" style="display: none;">
                        <input id="termsofservice_minicart" type="checkbox" name="termsofservice_minicart" />
                        <label for="termsofservice_minicart">@T("Checkout.TermsOfService.IAccept")</label>
                        @if (Model.TermsOfServicePopup)
                        {
                            <a class="read" id="read-terms-mini-cart">@T("Checkout.TermsOfService.Read")</a>
                            <script type="text/javascript" asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#read-terms-mini-cart').live('click',
                                                function(e) {
                                                    e.preventDefault();
                                                    displayPopupContentFromUrl(
                                                        '@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })',
                                                        '@T("Checkout.TermsOfService")');
                                                });
                                        });
                            </script>
                        }
                        else
                        {
                            <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                        }
                    </div>
                }
                @*Display for takeaway and dinnine*@
                <div class="orderCommentsArea">
                    <textarea id="orderComments" placeholder="@T("Checkout.AdditionalNote.Placeholder")">@Html.Raw(ordComm)</textarea>
                </div>
                <div class="cart-collaterals">
                    <div class="deals">
                        @await Html.PartialAsync("_DiscountBoxCustom", Model.DiscountBox)
                        @await Component.InvokeAsync("TipForAgent", new { isForCheckout = true })
                        @await Html.PartialAsync("_GiftCardBoxCustom", Model.GiftCardBox)
                    </div>
                </div>
                <div class="checkout-buttons" style="display: none;">
                    <div class="foot clearfix">
                        <div class="buttonBlock clearfix">
                            @{
                                var checkoutUrl = "";
                                if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                                {
                                    checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                                }
                                else
                                {
                                    checkoutUrl = Url.RouteUrl("Checkout");
                                }
                                if (Model.TermsOfServicePopup)
                                {
                                    <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#checkout_mini_cart').live("click",function () {
                                        //terms of service
                                        var termOfServiceOk = true;
                                        if ($('#termsofservice_minicart').length > 0) {
                                            //terms of service element exists
                                            if (!$('#termsofservice_minicart').is(':checked')) {
                                                $("#mini-cart-terms-of-service-warning-box").dialog();
                                                termOfServiceOk = false;
                                            } else {
                                                termOfServiceOk = true;
                                            }
                                        }
                                        if (termOfServiceOk)
                                        {
                                            setLocation('@checkoutUrl');
                                        }
                                        return termOfServiceOk;
                                    });
                                });
                                    </script>
                                    <button type="button" id="checkout_mini_cart" name="checkout" value="checkout" class="button checkoutBtn" style="display:none;">
                                        @T("Checkout.Button") <img src="/Themes/Vonzuu/Content/img/rightBtnArrow1.png">
                                    </button>
                                }
                                else
                                {
                                    <button type="button" id="checkout_mini_cart" name="checkout" value="checkout" class="button checkoutBtn" onclick="setLocation('@checkoutUrl')" style="display:none;">
                                        @T("Checkout.Button") <img src="/Themes/Vonzuu/Content/img/rightBtnArrow1.png">
                                    </button>
                                }
                            }
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <!--Custom code-->
        <script type="text/javascript">
            if ($("#dv-cross-sell-products").length > 0) {
                $(".checkout-buttons").remove();
                $(".terms-of-service").remove();
                $("#dv-cross-sell-products").load('/checkout/getcrosssellproducts');
            }
            else {
                $(".checkout-buttons").show();
                $(".terms-of-service").show();
            }
        </script>
        <script type="text/javascript">
        $(document).ready(function () {
            //$(".fancy-text").fancybox();

            fillTiming();
            checkMerchantTiming();
            $("#orderSchedule").click(function () {
				if($("body .schedulerOverLay").length===0){
					$("body").append("<div class='schedulerOverLay'></div>");
				}
				$("body").addClass("orderSchedulePActive");
                $("#dispalySchedule").show();

            });

            $("#btnSetTime").click(function () {

                var schDate = $("#inputSchBookingDate").val();
                var schTime = $("#ddlSchTimings").val();
                SetOrderScheduleDateTime(schDate, schTime);

				$("body").removeClass("orderSchedulePActive");
                $("#dispalySchedule").hide();
				$(".schedulerOverLay").remove();
            });

			$(".scheduleClose").click(function(){
				$("body").removeClass("orderSchedulePActive");
                $("#dispalySchedule").hide();
				$(".schedulerOverLay").remove();
			});

            $("#orderComments").focusout(function () {
                var ordComm = $("#orderComments").val();
                //if (ordComm != String.empty)
                    SetOrderComments(ordComm);
            });
        });
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({
                minDate: new Date()
            }
            ).change(dateChanged)
                .on('changeDate', dateChanged); //Initialise any date pickers
        });
        function fillTiming() {
            $("#ddlSchTimings").empty();
         $.ajax({
                    cache: false,
                    type: "GET",
             url: "@(Url.Action("GetAvailableScheduleTimings", "HomeMerchant"))",
             //data: { "date": ev.target.value },
             success: function (data) {
                 $("#ddlSchTimings").append($("<option></option>").val("-Select-").html("--Select--"));
                 $.each(data.AvailableTimings, function (id, option) {

                     if (option.Value == "@(ordSchTime)") {
                         $("#ddlSchTimings").append($("<option selected=\"selected\"></option>").val(option.Text).html(option.Value));
                     }
                     else {
                         $("#ddlSchTimings").append($("<option></option>").val(option.Text).html(option.Value));
                     }
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');
                    }
                });
        }
         function checkMerchantTiming() {
        var localTime=formatAMPM(new Date);
        $.ajax({
          cache: false,
          type: "GET",
          url: "/HomeMerchant/CheckMerchantTiming?localTime="+localTime,
            success: function (result) {
                if (result) {
                    $("#checkout_mini_cart").show();
                }
                else {
                    $("#checkout_mini_cart").hide();


                    if($("#checkout_mini_cart").css("display") ==="none"){
                        if($("body .outhoursPopup").length === 0){
                            $("body").append('<div class="outhoursPopup"><div class="outhoursTitle">@T("nb.Outside.opening.hours.title")</div><div class="outhoursClose"></div><div class="outhoursDetails">@T("nb.Sorry.Outside.opening.hours.text")</div></div><div class="outhoursOverLay"></div>');
                        }
                    }
                    $(document).on("click", "body .outhoursClose", function(){
                        $("body .outhoursPopup,body .outhoursOverLay").remove();
                    });

                    $("body .outhoursPopup,body .outhoursOverLay").show();

                }
          }});
        }
        function formatAMPM(date) {
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours + ':' + minutes + ' ' + ampm;
          return strTime;
        }

        $(function () {
            $(document).on("change", "#inputSchBookingDate", function () {
                var currentTodaySd = new Date();
                var currentDateSd =("0" + (currentTodaySd.getMonth() + 1)).slice(-2) + '/' + ("0" + currentTodaySd.getDate()).slice(-2) + '/' + currentTodaySd.getFullYear();
                if ($(this).val() == currentDateSd) {
                    var currentTimeSd = currentTodaySd.getHours() + 1 + ":" + currentTodaySd.getMinutes();
                    function am_pm_to_hours(insertTime) {
                        var time=insertTime;
                        var hours = Number(time.match(/^(\d+)/)[1]);
                        var minutes = Number(time.match(/:(\d+)/)[1]);
                        var AMPM = time.match(/\s(.*)$/)[1].toLowerCase();
                        if (AMPM == "pm" && hours < 12) hours = hours + 12;
                        if (AMPM == "am" && hours == 12) hours = hours - 12;
                        var sHours = hours.toString();
                        var sMinutes = minutes.toString();
                        if (hours < 10) sHours = "0" + sHours;
                        if (minutes < 10) sMinutes = "0" + sMinutes;
                        return sHours + ':' + sMinutes;
                    }
                    $("#dispalySchedule select option + option").each(function () {
                        if (currentTimeSd >= am_pm_to_hours($(this).attr("value"))) {
                            $(this).remove();
                        }
                    })
                }else{
                    fillTiming();
                }
            });
        })
        </script>
        <script type="text/javascript">
            function setOrderType(type, ordTime) {
                displayAjaxLoading(true);
                $.post("Home/SetOrderTypeWithTime", { orderType: type, orderTime: ordTime }, function () {
                    $.get("ShoppingCart/ReloadShoppingCart", {}, function (response) {
                        $('#flyout-cart').html(response);
                        displayAjaxLoading(false);
                    });
                });
            }
        </script>
        <script type="text/javascript">
            function SetOrderScheduleDateTime(schOrderDate, schOrderTime) {
                $.post("Home/SetOrderScheduleDateTime", { scheduleDate: schOrderDate, scheduleTime: schOrderTime }, function () {
                    checkMerchantTiming();
                });
            }
        </script>
        <script type="text/javascript">
            function SetOrderComments(ordComments) {
                $.post("Home/SetOrderComments", { orderComments: ordComments });
            }
        </script>

        <script type="text/javascript">
            $(".html-checkout-page .cart-collaterals").append($(".cartTotalDetail"));
        </script>
    </div>
