﻿@model SMSCodeVerificationModel

@{
    Layout = "";
}

<form class="sms-code-verification-form" method="post">
    <input asp-for="PhoneNumber" type="hidden" />
    <input asp-for="SelectedCountryTwoLetterIsoCode" type="hidden" />
    <input asp-for="CustomerId" type="hidden" />

    <div class="fieldset">
        <div class="title">
            <strong>@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.EnterCode")</strong>
        </div>
        <div class="form-fields">
            <div class="inputs sms-verify">
                <label asp-for="Code" asp-postfix=":"></label>
                <input asp-for="Code" />
                <nop-required />
            </div>
        </div>
    </div>

    <div class="buttons">
        <input type="submit" id="button" class="button-1 smsCodeVerificationButton" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.SubmitButton")" />
        <input type="button" class="button-1 resendCodeButton" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.ResendCodeButton")" />
        <span class="remainingTimeForResendCodeRequest"></span>
    </div>
</form>

<script>
    var count = @Model.WaitingTimeForNextResendCodeRequestInSeconds;
    var counter;

    function timer() {
        count = count - 1;
        if (count <= 0) {
            clearInterval(counter);
            $('.remainingTimeForResendCodeRequest').hide();
            $('.resendCodeButton').show();
            return;
        }
        $('.remainingTimeForResendCodeRequest').text('@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.RequestForResendCode")' + " " + count + " " + '@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Seconds")')
    }

    Resanehlab.documentReady(function () {
        counter = setInterval(timer, 1000);
        $("#Code").trigger("focus");

        $('.resendCodeButton').click(function () {
            var form = $(".sms-code-verification-form");
            $.ajax({
                cache: false,
                url: '@Url.Action("ResendVerificationCode", "PhoneAuthenticationCustomer")',
                data: $(form).serialize(),
                type: 'post',
                beforeSend: function () {
                    $("#Code").addClass("loading");
                },
                success: function (response) {
                    count = @Model.WaitingTimeForNextResendCodeRequestInSeconds;
                    counter = setInterval(timer, 1000);
                    $('.resendCodeButton').hide();
                    $('.remainingTimeForResendCodeRequest').text('@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.RequestForResendCode")' + " " + count + " " + '@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Seconds")')
                    $('.remainingTimeForResendCodeRequest').show();
                    if (!response.success) {
                        validator.showErrors({
                            "Code": response.message
                        });
                    }
                },
                complete: function () {
                    $("#Code").removeClass("loading");
                },
                error: function (error) {
                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.SendingMessage.ErrorNotification")");
                }
            });
        });

        var validator = $(".sms-code-verification-form").validate({
            errorElement: 'p',
            errorClass: 'tip tip-error',

            highlight: function (element) {
                $(element).removeClass("tip tip-error");
            },

            errorPlacement: function (error, element) {
                error.insertAfter(".sms-code-verification-form .required");
            },

            rules: {
                Code: {
                    required: true,
                    minlength: @Constants.SMSVerificationCodeEntity_CodeProperty_MaxLength,
                    maxlength: @Constants.SMSVerificationCodeEntity_CodeProperty_MaxLength,
                    number: true
                }
            },

            // Specify the validation error messages
            messages: {
                Code: {
                    required: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Field.Code.Required")",
                    minlength: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Field.Code.WrongFormat")",
                    maxlength: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Field.Code.WrongFormat")",
                    number: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Field.Code.WrongFormat")"
                }
            },

            submitHandler: function (form) {
                $.ajax({
                    cache: false,
                    url: '@Url.Action(Model.FormActionName, "PhoneAuthenticationCustomer")',
                    data: $(form).serialize(),
                    type: 'post',
                    beforeSend: function () {
                        $("#Code").addClass("loading");
                    },
                    success: function (response) {
                        if (!response.success)
                            validator.showErrors({
                                "Code": response.message
                            });
                        else if (response.url)
                            window.location.href = response.url;
                    },
                    complete: function () {
                        $("#Code").removeClass("loading");
                    },
                    error: function (error) {
                        alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                    }
                });
            }
        });
    });
</script>