﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("Resanehlab.Plugin.Authentication.PhoneNumber.PageTitle.PasswordRecoveryTypeSelection").Text);

    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + Constants.PluginCssPath + "{0}", "style.css"));
}

<div class="page password-recovery-type-page">
    <div class="page-title">
        <h1>@T("Resanehlab.Plugin.Authentication.PhoneNumber.PageTitle.PasswordRecoveryTypeSelection")</h1>
    </div>
    <div class="page-body">
        <form class="password-recovery-by-phonenumber-form" method="post">
            @Html.AntiForgeryToken()

            <p class="tooltip">@T("Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryTypeSelection.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label>@T("Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryTypeSelection.Type"):</label>
                        <div class="type">
                            <span class="email">
                                <input type="radio" name="Type" value="@PasswordRecoveryType.Email" checked="checked" id="recover-by-email" />
                                <label class="forcheckbox" for="recover-by-email">@T("Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryTypeSelection.RecoverByEmail")</label>
                            </span>
                            <span class="phonenumber">
                                <input type="radio" name="Type" value="@PasswordRecoveryType.PhoneNumber" id="recover-by-phonenumber" />
                                <label class="forcheckbox" for="recover-by-phonenumber">@T("Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryTypeSelection.RecoverByPhoneNumber")</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" name="next-step" class="button-1 password-recovery-type-button" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryTypeSelection.NextStepButton")" />
            </div>
        </form>
    </div>
</div>
