﻿@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.ContactUs")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsTop })
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
    <form asp-route="ContactUs" method="post">

        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="FullName" asp-postfix=":"></label>
                    <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname form-control form-control-lg" />
                    <nop-required />
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Email" asp-postfix=":"></label>
                    <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email form-control form-control-lg" />
                    <nop-required />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </div>
        @if (Model.SubjectEnabled)
        {
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Subject" asp-postfix=":"></label>
                        <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject form-control form-control-lg" />
                        <nop-required />
                        <span asp-validation-for="Subject"></span>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Enquiry" asp-postfix=":"></label>
                    <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry form-control form-control-lg"></textarea>
                    <nop-required />
                    <span asp-validation-for="Enquiry"></span>
                </div>
            </div>
        </div>
        @if (Model.DisplayCaptcha)
        {
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="captcha-box">
                            <nop-captcha />
                        </div>
                    </div>
                </div>
            </div>
        }        
        <div class="buttons">
            <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("ContactUs.Button")" />
        </div>
    </form>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
    </div>
</div>
