﻿@model StoreScopeConfigurationModel

@inject Nop.Core.IWebHelper webHelper

@{
    var returnUrl = webHelper.GetRawUrl(Context.Request);
    var stores = Model.Stores.Select(store => new SelectListItem
    {
        Text = store.Name,
        Value = Url.Action("ChangeStoreScopeConfiguration", "Setting", new { storeid = store.Id, returnUrl }, webHelper.CurrentRequestProtocol),
        Selected = store.Id.Equals(Model.StoreId)
    }).ToList();
}

<div class="form-group">
    <div class="col-md-12 store-scope-configuration">
        <div class="label-wrapper">
            <label class="control-label">
                @T("Admin.Configuration.Settings.StoreScope")
            </label>
        </div>
        @if (Model.IsAdmin)
        {
            <nop-select asp-for-name="store-scope-configuration" asp-items="@stores" onchange="setLocation(this.value);" style="width: auto;min-width: 300px;" />
        }
        else 
        {
            <nop-select asp-for-name="store-scope-configuration" disabled asp-items="@stores" onchange="setLocation(this.value);" style="width: auto;min-width: 300px;" />
        }
    </div>
</div>