﻿@model CustomerNavigationModel
    <div class="block block-account-navigation">
        <div class="title">
            <strong>@T("Account.Personal.Details")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                <li>
                    <a href="/customer/info" class="active">@T("NB.Account.MyProfile")</a>
                </li>
                <li>
                    <a href="/customer/addresses" class="inactive">@T("Account.CustomerAddress")</a>
                </li>
                <li>
                    <a href="/customer/changepassword" class="inactive">@T("Account.ChangePassword")</a>
                </li>
            </ul>
        </div>
        <div class="title">
            <strong>@T("Account.Navigation")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })
                @foreach (var item in Model.CustomerNavigationItems)
                {
                    <li class="@item.ItemClass">
                        <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                    </li>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
            </ul>
        </div>
    </div>
<script>
    $(".listbox li a").click(function () {
        $(this).find()
        $(this).addClass("active");
    });

    
</script>