﻿@model AgentRegisterModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
    @if (Model.StateProvinceEnabled && Model.CityEnabled)
    {
        <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.StateProvinceId)").change(function () {
                var selectedItem = $(this).val();
                var ddlCitys = $("#@Html.IdFor(model => model.CityId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetCityByStateId"))",
                    data: { "stateId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlCitys.html('');
                        $.each(data, function (id, option) {
                            ddlCitys.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve citys.');
                        statesProgress.hide();
                    }
                });
            });
        });
        </script>
    }
}


<section class="loginSection signupSection clearfix">

    <div class="loginBox signupBox">
        <div class="login-header">
            <h2>Register</h2>
        </div>

        <div class="formDetails clearfix">
            <form asp-route="AgentRegister" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">

                    <div class="form-fields">
                        @if (Model.GenderEnabled)
                        {
                            <div class="fieldBar clearfix">
                                <label>@T("Account.Fields.Gender"):</label>
                                <div class="gender">
                                    <span class="male">
                                        <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                        <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                    </span>
                                    <span class="female">
                                        <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                        <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                    </span>
                                </div>
                            </div>
                        }
                        <div class="fieldBar clearfix flname">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Name:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input asp-for="FirstName" placeholder="First Name" />
                                    <nop-required />
                                    <span asp-validation-for="FirstName"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="LastName" placeholder="Last Name" />
                                    <nop-required />
                                    <span asp-validation-for="LastName"></span>
                                </div>
                            </div>
                        </div>

                        @if (Model.DateOfBirthEnabled)
                        {
                            <div class="fieldBar date-of-birth">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>@T("Account.Fields.DateOfBirth"):</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                         asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                         asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                         asp-begin-year="@(DateTime.Now.Year - 110)"
                                                         asp-end-year="@(DateTime.Now.Year)"
                                                         asp-selected-day="@Model.DateOfBirthDay"
                                                         asp-selected-month="@Model.DateOfBirthMonth"
                                                         asp-selected-year="@Model.DateOfBirthYear" />
                                        @if (Model.DateOfBirthRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="DateOfBirthDay"></span>
                                        <span asp-validation-for="DateOfBirthMonth"></span>
                                        <span asp-validation-for="DateOfBirthYear"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <label asp-for="Email" asp-postfix=":"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="Email" />
                                    <nop-required />
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>

                        <div class="fieldBar clearfix isdPhoneNo">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Phone number:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 pR0">
                                    <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                                </div>
                                <div class="col-md-10 pL0">
                                    <input asp-for="Phone" placeholder="Phone" />
                                    @if (Model.PhoneRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            </div>
                        </div>


                        @if (Model.EnteringEmailTwice)
                        {
                            <div class="fieldBar clearfix">
                                <label asp-for="ConfirmEmail" asp-postfix=":"></label>
                                <input asp-for="ConfirmEmail" />
                                <nop-required />
                                <span asp-validation-for="ConfirmEmail"></span>
                            </div>
                        }
                        @if (Model.UsernamesEnabled)
                        {
                            <div class="fieldBar clearfix">
                                <label asp-for="Username" asp-postfix=":"></label>
                                <input asp-for="Username" />
                                <nop-required />
                                <span asp-validation-for="Username"></span>
                                @if (Model.CheckUsernameAvailabilityEnabled)
                                {
                                    @await Html.PartialAsync("_CheckUsernameAvailability")
                                }
                            </div>

                        }
                    </div>
                </div>
                @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
                {
                    <div class="fieldset">

                        <div class="form-fields">
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="StreetAddress" asp-postfix=":"></label>
                                    <input asp-for="StreetAddress" />
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="StreetAddress2" asp-postfix=":"></label>
                                    <input asp-for="StreetAddress2" />
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            }
                            @if (Model.ZipPostalCodeEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                                    <input asp-for="ZipPostalCode" />
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="ZipPostalCode"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="CountryId" asp-postfix=":"></label>
                                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                    @if (Model.CountryRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="StateProvinceId" asp-postfix=":"></label>
                                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StateProvinceId"></span>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            }
                            @if (Model.StateProvinceEnabled && Model.CityEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="CityId" asp-postfix=":"></label>
                                    <select asp-for="CityId" asp-items="Model.AvailableCitys"></select>
                                    @if (Model.CityRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="CityId"></span>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="fieldset">

                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <label asp-for="Password" asp-postfix=":"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="Password" />
                                    <nop-required />
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <label asp-for="ConfirmPassword" asp-postfix=":"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="ConfirmPassword" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                        @if (Model.HoneypotEnabled)
                        {
                            @Html.Raw(Html.GenerateHoneypotInput())
                        }
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                </div>
            </form>
        </div>

        <div class="signupOptionBar clearfix">Already have an account? <a href="/login">Login</a></div>
    </div>

</section>
@{
    var externalMethods = await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication");

    if (!String.IsNullOrEmpty(externalMethods.ToHtmlString()))
    {
        <div class="external-authentication">
            @externalMethods
        </div>
    }
}