﻿@model LoginModel
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper
@{
    bool isCalledAsPopup = !string.IsNullOrEmpty(this.Context.Request.Query["isPopup"]);

    Layout = isCalledAsPopup ? "" : "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    if (Model.CheckoutAsGuest)
    {
        Html.AppendPageCssClassParts("html-guest-page");
    }else{
        Html.AppendPageCssClassParts("html-login-page");
    }

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    //if (!String.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    //{
    //    registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + WebUtility.UrlEncode(this.Context.Request.Query["returnUrl"]), null);
    //}
      registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}

<div class="page login-page">
    
    @await Html.PartialAsync("_ExternalAuthentication.Errors")
    <div class="page-body"> 
        <section class="loginSection clearfix">

            @if (Model.CheckoutAsGuest)
			{
			<div class="loginBox">
                <div class="login-header">
                    <h2>@T("Account.Login.CheckoutAsGuestOrRegister")</h2>
                </div>
                <div class="formDetails clearfix checkoutGestText">
                    <div class="text">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "CheckoutAsGuestOrRegister" })
                    </div>
                    <div class="buttons">
                        <input type="button" class="button-1 register-button" onclick="location.href = '@registerUrl'" value="@T("Account.Register")" />
                        <input type="button" class="button-1 register-button" onclick="location.href = '@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                    </div>
                </div>
            </div>
			}
			else{
        <div class="loginBox">
            <div class="col-md-6 login-left">
            <div class="login-logo"><img src="../Themes/Vonzuu/Content/img/login_logo.png" /></div>
            <h1>@T("NB.Login.Tagline") </h1>
            <p>@T("NB.Login.Tagline2")</p></div>            
            <div class="col-md-6 login-right">
                <div class="login-header">
                    <h2>@T("NB.Login.LetsGetStarted")</h2>
                    <p>@T("NB.Login.ContinueToStore")</p>
                </div>
                <div class="formDetails clearfix">
                    <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                        <div class="inner-wrapper show">
                            <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                            <div class="form-fields">
                                @if (Model.UsernamesEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <label asp-for="Username" asp-postfix=" "></label>
                                        <input asp-for="Username" class="username" autofocus="autofocus" />
                                        <span asp-validation-for="Username"></span>
                                    </div>
                                }
                                else
                                {
                                    if (Model.OTPVerificationEnabled)
                                    {
                            <div class="fieldBar clearfix">
                                <label asp-for="EmailOrPhone" asp-postfix=" "></label>
                                <input asp-for="EmailOrPhone" class="username" autofocus="autofocus" placeholder="@T("nb.enter.emailorphone")" />
                                <span asp-validation-for="EmailOrPhone"></span>
                            </div>
                                    }
                                    else
                                    {
                            <div class="fieldBar clearfix">

                                <label asp-for="Username" asp-postfix=" "></label>
                                <input asp-for="Email" class="email" autofocus="autofocus" placeholder="@T("NB.Login.EnterEmail")" />
                                <span asp-validation-for="Email"></span>
                            </div>
                                    }
                                }
                            <div class="fieldBar clearfix">
                                <label asp-for="Password" asp-postfix=" "></label>
                                <input asp-for="Password" class="password" placeholder="@T("NB.Login.EnterPassword")" />
                                <span asp-validation-for="Password"></span>
                            </div>
                                <div class="fieldBar clearfix">
                                     
                                    <div class="forgetPwdText clearfix">
                                        <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                                    </div>
                                </div>
                                @if (Model.DisplayCaptcha)
                                {
                                    <div class="captcha-box">
                                        <nop-captcha />
                                    </div>
                                }
                            </div>
                            <div class="buttons">
                                <input class="button-1 login-button" type="submit" value="@T("Account.Login.LoginButton")" />
                            </div>
                        </div>
                    </form>
                </div>                
            </div>           
        </div>
			}
        </section> 
    </div>
</div>
