﻿@model RegisterModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}


<section class="loginSection signupSection clearfix">

    <div class="loginBox signupBox">
        <div class="login-header">
            <h2>Register</h2>
            <p>@T("nb.entering.your.few.details")</p>
        </div>

        <div class="formDetails clearfix">
            <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    
                    <div class="form-fields">
                        @if (Model.GenderEnabled)
                        {
                            <div class="fieldBar clearfix">
                                <label>@T("Account.Fields.Gender"):</label>
                                <div class="gender">
                                    <span class="male">
                                        <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                        <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                    </span>
                                    <span class="female">
                                        <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                        <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                    </span>
                                </div>
                            </div>
                        }
                        <div class="fieldBar clearfix flname">
							
							<div class="row">
								<div class="col-sm-6">
									<input asp-for="FirstName" placeholder="@T("nb.enter.first.name")" />
									<nop-required />
									<span asp-validation-for="FirstName"></span>
								</div>
								<div class="col-sm-6">
									<input asp-for="LastName" placeholder="@T("nb.enter.last.name")" />
									<nop-required />
									<span asp-validation-for="LastName"></span>
								</div>
							</div>
                        </div>
                        
                        @if (Model.DateOfBirthEnabled)
                        {
                    <div class="fieldBar date-of-birth">
                        <div class="row">
                            <div class="col-md-12">
                                <label>@T("Account.Fields.DateOfBirth"):</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                 asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                 asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                 asp-begin-year="@(DateTime.Now.Year - 110)"
                                                 asp-end-year="@(DateTime.Now.Year)"
                                                 asp-selected-day="@Model.DateOfBirthDay"
                                                 asp-selected-month="@Model.DateOfBirthMonth"
                                                 asp-selected-year="@Model.DateOfBirthYear" />
                                @if (Model.DateOfBirthRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="DateOfBirthDay"></span>
                                <span asp-validation-for="DateOfBirthMonth"></span>
                                <span asp-validation-for="DateOfBirthYear"></span>
                            </div>                            
                        </div>
                    </div>
                            }
                            <div class="fieldBar clearfix">
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <input asp-for="Email" placeholder="@T("nb.enter.email")" />
                                        <nop-required />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="fieldBar clearfix isdPhoneNo">
                                
                                <div class="row">
                                    <div class="col-md-12 inputMobielIsd">
                                        <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                                        <input asp-for="Phone" placeholder="@T("nb.enter.phonenumber")" />
                                        @if (Model.PhoneRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="Phone"></span>
                                    </div>
                                </div>
                            </div>


                            @if (Model.EnteringEmailTwice)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="ConfirmEmail" asp-postfix=":"></label>
                                    <input asp-for="ConfirmEmail" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmEmail"></span>
                                </div>
                            }
                            @if (Model.UsernamesEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="Username" asp-postfix=":"></label>
                                    <input asp-for="Username" />
                                    <nop-required />
                                    <span asp-validation-for="Username"></span>
                                    @if (Model.CheckUsernameAvailabilityEnabled)
                                    {
                                        @await Html.PartialAsync("_CheckUsernameAvailability")
                                    }
                                </div>

                            }
                        </div>
                    </div>
                @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                {
                    <div class="fieldset">
                       
                        <div class="form-fields">
                            @if (Model.CompanyEnabled)
                            {
                            <div class="fieldBar clearfix">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label asp-for="Company" asp-postfix=":"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input asp-for="Company" />
                                        @if (Model.CompanyRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="Company"></span>
                                    </div>
                                </div>
                                
                                
                            </div>
                                    }
                                    @if (Model.DisplayVatNumber)
                                    {
                                        <div class="fieldBar clearfix">
                                            <label asp-for="VatNumber" asp-postfix=":"></label>
                                            <input asp-for="VatNumber" />
                                            <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                        </div>
                                    }
                                </div>
                            </div>
                }
                @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
                {
                    <div class="fieldset">
                        
                        <div class="form-fields">
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="StreetAddress" asp-postfix=":"></label>
                                    <input asp-for="StreetAddress" />
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="StreetAddress2" asp-postfix=":"></label>
                                    <input asp-for="StreetAddress2" />
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            }
                            @if (Model.ZipPostalCodeEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                                    <input asp-for="ZipPostalCode" />
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="ZipPostalCode"></span>
                                </div>
                            }
                            @if (Model.CityEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="City" asp-postfix=":"></label>
                                    <input asp-for="City" />
                                    @if (Model.CityRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="City"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="CountryId" asp-postfix=":"></label>
                                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                    @if (Model.CountryRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="StateProvinceId" asp-postfix=":"></label>
                                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StateProvinceId"></span>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.PhoneEnabled || Model.FaxEnabled)
                {
                    <div class="fieldset">
                        
                        <div class="form-fields">
                            @if (Model.PhoneEnabled)
                            {
                                
                            }
                            @if (Model.FaxEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="Fax" asp-postfix=":"></label>
                                    <input asp-for="Fax" />
                                    @if (Model.FaxRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Fax"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                {
                    <div class="fieldset">
                        
                        <div class="form-fields">
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="Newsletter" asp-postfix=":"></label>
                                    <input asp-for="Newsletter" />
                                    <span asp-validation-for="Newsletter"></span>
                                </div>
                            }
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>
                    </div>
                }
                @if (Model.AllowCustomersToSetTimeZone)
                {
                    <div class="fieldset">
                        
                        <div class="form-fields">
                            @if (Model.AllowCustomersToSetTimeZone)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="TimeZoneId" asp-postfix=":"></label>
                                    <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                    <span asp-validation-for="TimeZoneId"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="fieldset">
                    
                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="Password" placeholder="@T("nb.enter.password")" />
                                    <nop-required />
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="fieldBar clearfix">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="ConfirmPassword" placeholder="@T("nb.enter.Confirm.password")" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box">
                                    <nop-captcha />
                                </div>
                            }
                            @if (Model.HoneypotEnabled)
                            {
                                @Html.Raw(Html.GenerateHoneypotInput())
                            }
                        </div>
                    </div>
                    @if (Model.AcceptPrivacyPolicyEnabled)
                    {
                        <script type="text/javascript" asp-location="Footer">
                    $(document).ready(function() {
                        $('#register-button').click(function() {
                            if ($('#accept-privacy-policy').is(':checked')) {
                                //do some stuff
                                return true;
                            } else {
                                //just show validation errors, dont post
                                alert(
                                    '@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                return false;
                            }
                        });
                    });
                        </script>
                        <div class="accept-privacy-policy">
                            <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                            <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                            @if (Model.AcceptPrivacyPolicyPopup)
                            {
                                <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                <script type="text/javascript" asp-location="Footer">
                                $(document).ready(function() {
                                    $('#read-privacyinfo').on('click',
                                        function(e) {
                                            displayPopupContentFromUrl(
                                                '@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })',
                                                '@T("Account.Fields.AcceptPrivacyPolicy")');
                                        });
                                });
                                </script>
                            }
                            else
                            {
                                <a class="read" id="read-privacyinfo" target="_blank" href="@Html.GetTopicSeName("privacyinfo")">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                            }
                        </div>
                    }
                <div class="buttons">
                    <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                </div>
            </form>
        </div>

        <div class="signupOptionBar clearfix">Already have an account? <a href="/login">Login</a></div>
    </div>

</section>
@{
    var externalMethods = await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication");

    if (!String.IsNullOrEmpty(externalMethods.ToHtmlString()))
    {
        <div class="external-authentication">
            @externalMethods
        </div>
    }
}