﻿@model WishlistModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Services.Catalog
@using Nop.Web.Factories
@using Nop.Core.Domain.Orders
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject IProductService productService
@inject IProductModelFactory productModelFactory
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.WishList })
}
<div class="page account-page address-list-page">
    <div class="page-body">
        <div class="page-title"><h1>@T("Account.CustomerWishList")</h1></div>
        <div class="right-container">
            <div class="favMenuItemsBlock col-lg-12">
                <div class="menuItemsList row main-cat-row">
                    @if (Model.Items.Count > 0)
                    {
                        if (Model.Warnings.Count > 0)
                        {
                            <div class="message-error">
                                <ul>
                                    @foreach (var warning in Model.Warnings)
                                    {
                                        <li>@warning</li>
                                    }
                                </ul>
                            </div>
                        }
                        @foreach (var item in Model.Items)
                        {
                            var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = 1 });
                            bool InWishList = true;
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 itemBox clearfix">
                                <div class="menuItem clearfix">
                                    <div class="itemImg">
                                        <div class="wishlist_prod">
                                            @if (InWishList)
                                            {
                                                <div class="heart-@item.ProductId @(InWishList ? "active" : "") wishlist-remove"><button type="button" onclick="deleteFromWishList(@item.ProductId,'@addtowishlistlink')" class="product-favorite wishlistlink_@item.ProductId" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>
                                                
                                            }
                                        </div>
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title">
                                    </div>
                                    <div class="itemInfo">
                                        <div class="product-title">
                                            <span>@item.ProductName</span>
                                        </div>
                                        <p class="description">
                                            @Html.Raw(item.ShortDescription)
                                        </p>
                                        <div class="displayRating">
                                            @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Item), productId = item.ProductId })
                                            @*<span class="rat_review">(10 Reviews)</span>
                                            <span class="rat_num">4.5</span>
                                            <i class="fa fa-star">&nbsp;</i>*@
                                        </div>
                                        <div class="bar clearfix">

                                            <div class="prices">
                                                <span class="price actual-price">@item.UnitPrice</span>
                                            </div>

                                            <div class="buttons ajax-cart-button-wrapper">
                                                <span class="minusQt">-</span>
                                                <span class="addQt">+</span>
                                                <div class="ajax-cart-button-wrapper qty-enabled" data-productid="1619" data-isproductpage="false">
                                                    @{ //prepare "Add to cart" AJAX link
                                                        var addtocartlink = "";
                                                        var shoppingCartTypeId = 1;
                                                        var quantity = 1;
                                                        var addToCartText = T("ShoppingCart.AddToCart").Text;

                                                        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.ProductId, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });

                                                    }
                                                    <input type="text" data-quantityproductid="1619" class="productQuantityTextBox" value="0">
                                                    <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button nopAjaxCartProductListAddToCartButton" onclick="addItemFromWishListToCart('@addtocartlink',@item.ProductId,@item.VendorId)">


                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="no-data">
                            @T("Wishlist.CartIsEmpty")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>