﻿@model LiveTrackingModel
@using Nop.Core
@inject IStoreContext storeContext
@inject IWebHelper webHelper

@{
    var googleAccountKey = storeContext.GoogleMapAccountKey;

    //set info variables
    var restaurantInfo = !string.IsNullOrEmpty(Model.RestauratTrakingInfo.RestauratName) ? Model.RestauratTrakingInfo.RestauratName : "Restaurant";
    var customerInfo = !string.IsNullOrEmpty(Model.CustomerTrakingInfo.CustomerName) ? Model.CustomerTrakingInfo.CustomerName : "You";
    var riderInfo = !string.IsNullOrEmpty(Model.RiderTrakingInfo.RiderName) ? Model.RiderTrakingInfo.RiderName : "Rider";
    int intervalTime = 5000; //Milliseconds

    //var riderIcon = webHelper.GetStoreLocation() + "/Themes/KingSweet/Content/img/sameDay-Delivery.png";
}

<div>
    <h3>@T("NB.Order.LiveTracking.Title")</h3>
    @if (Model.TrackingPossible)
    {
        <button type="button" id="btnMapPop" class="btn btn-info btn-lg">@T("NB.Order.LiveTracking.button.title")</button>

        @*Address lat lng*@
        <input type="hidden" id="restourantLat" value="@Model.RestauratTrakingInfo.Latitude" />
        <input type="hidden" id="restourantLng" value="@Model.RestauratTrakingInfo.Longitude" />
        <input type="hidden" id="customerLat" value="@Model.CustomerTrakingInfo.Latitude" />
        <input type="hidden" id="customerLng" value="@Model.CustomerTrakingInfo.Longitude" />
        <input type="hidden" id="inputRiderLat" value="@Model.RiderTrakingInfo.Latitude" />
        <input type="hidden" id="inputRiderLng" value="@Model.RiderTrakingInfo.Longitude" />

        <div id="myModal" style="display:none">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" id="closeBox">&times;</span>
                <div id="map" style="height:450px;width:100%;"></div>
                <script>
                    //rider's initial location
                    var position = [parseFloat($("#inputRiderLat").val()), parseFloat($("#inputRiderLng").val())];

                    function initMap() {
                        const directionsService = new google.maps.DirectionsService();
                        const directionsRenderer = new google.maps.DirectionsRenderer();
                        const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 16,
                            center: { lat: 41.85, lng: -87.65 },
                        });
                        directionsRenderer.setMap(map);

                         //on load set default route
                        calculateAndDisplayRoute(directionsService, directionsRenderer);

                        //set Restaurant marker
                        var restaurantLocation = new google.maps.LatLng(parseFloat($("#restourantLat").val()),
                                                                        parseFloat($("#restourantLng").val()));
                        restaurantMarker = new google.maps.Marker({
                            position: restaurantLocation,
                            map: map,
                            title: "@restaurantInfo",
                            label: "@restaurantInfo"
                        });

                        //set Customer marker
                        var customerLocation = new google.maps.LatLng(parseFloat($("#customerLat").val()),
                                                                      parseFloat($("#customerLng").val()));
                        customerMarker = new google.maps.Marker({
                            position: customerLocation,
                            map: map,
                            title: "@customerInfo",
                            label: "@customerInfo"
                        });

                        //marker (rider)
                        var iconBase = 'https://maps.google.com/mapfiles/';
                        var riderStartLocation = new google.maps.LatLng(parseFloat($("#inputRiderLat").val()),
                                                                        parseFloat($("#inputRiderLng").val()));
                        marker = new google.maps.Marker({
                            position: riderStartLocation,
                            map: map,
                            title: "@riderInfo",
                            label: "@riderInfo",
                            icon: iconBase + 'kml/pal2/icon39.png'
                        });
                    }

                    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
                        var restaurantAddress = new google.maps.LatLng(parseFloat($("#restourantLat").val()),
                                                                       parseFloat($("#restourantLng").val()));
                        var customerAddress = new google.maps.LatLng(parseFloat($("#customerLat").val()),
                                                                     parseFloat($("#customerLng").val()));

                        directionsService.route(
                            {
                                origin: restaurantAddress, //restaurant address latlng
                                destination: customerAddress, //customer address latlng
                                travelMode: google.maps.TravelMode.DRIVING,
                            },
                            (response, status) => {
                                if (status === "OK") {
                                    directionsRenderer.setDirections(response);
                                } else {
                                    window.alert("Directions request failed due to " + status);
                                }
                            }
                        );
                    }
                </script>

                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                <script src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&callback=initMap&libraries=&v=weekly"
                        async></script>
            </div>
        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btnLoadMap = document.getElementById("btnMapPop");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            var spanClose = document.getElementById("closeBox");

            // When the user clicks the button, open the modal
            btnLoadMap.onclick = function () {
                initMap();
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            spanClose.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            //=========================================
            //+++++++++ Live tracking ++++++++++++
            //=========================================

            //set default vairables and values
            var numDeltas = 100;
            var delay = 10; //milliseconds
            var i = 0;
            var deltaLat;
            var deltaLng;

            function transition(result) {
                i = 0;
                deltaLat = (result[0] - position[0]) / numDeltas;
                deltaLng = (result[1] - position[1]) / numDeltas;
                moveMarker();
            }

            function moveMarker() {
                position[0] += deltaLat;
                position[1] += deltaLng;
                var latlng = new google.maps.LatLng(position[0], position[1]);
                //console.log('i= '+ i +' Moving.. Lat: ' + latlng.lat() + ' ,Lng: ' + latlng.lng());
                marker.setPosition(latlng);
                if (i != numDeltas) {
                    i++;
                    setTimeout(moveMarker, delay);
                }
            }

            function liveTracking() {
                var lat = parseFloat($("#inputRiderLat").val());
                var long = parseFloat($("#inputRiderLng").val());
                var result = [lat, long];
                transition(result);
            }

            //get riders current latlng AJAX call
            function getRiderCurentLocation() {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetRiderCurrentLocation", "Order"))",
                    data: { riderId: "@Model.RiderTrakingInfo.RidertId", orderId: "@Model.OrderId"},
                          success: function (data) {
                              if (data.success) {
                                      console.log('Riders next location Lat: ' + data.lattitude + ' long: ' + data.longitide);
                                      if (data.lattitude && data.longitide) {
                                          $("#inputRiderLat").val(parseFloat(data.lattitude));
                                          $("#inputRiderLng").val(parseFloat(data.longitide));
                                          //move progress
                                          liveTracking();

                                          //if order delivered than stop ajax calling
                                          if (data.isOrderDelivered) {
                                              clearInterval(getRiderLocationInterval);
                                              setTimeout(function () {
                                                  displayBarNotification('Your order has been delivered!', 'success', 3500)
                                              }, 2000);
                                          }
                                      }
                                  } else {
                                      console.log('Order Tracking Error: ' + data.message);
                                      clearInterval(getRiderLocationInterval);
                              }
                          },
                          error: function () {
                              alert("Error while retrieving rider location!");
                              clearInterval(getRiderLocationInterval);
                          }
                      });
            }

            //ajax call on interval
            var getRiderLocationInterval = setInterval(getRiderCurentLocation, @intervalTime)

            //=========================================
            //---------- Live tracking -----------
            //=========================================
        </script>

        <style>
            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                /* z-index: 1;  Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0, 0, 0); /* Fallback color */
                background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                height: 80%
            }

            /* The Close Button */
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }

            /* Always set the map height explicitly to define the size of the div
                * element that contains the map. */
            #map {
                height: 100%;
            }
        </style>
    }
    else
    {
        <div>
            @*error div*@
            @foreach (var error in Model.ErrorMessage)
            {
                <span><i style="color:orange">@error</i></span>
            }
        </div>
    }
</div>