﻿@model CheckoutLoginSignUpModel
<div class="checkout-data">
    <p>@T("Checkout.LoginSignup.TopSubHeading") <a href="#" style="color: #ff0000;" onclick="LoginSignUp.showHideLoginSignup('#dv-checkout-login','#dv-checkout-signup')">@T("nb.login")</a> @T("nb.details.or")  <a href="#" style="color: #ff0000;" onclick="LoginSignUp.showHideLoginSignup('#dv-checkout-signup','#dv-checkout-login')"> @T("nb.sign.up")</a></p>
    <div id="dv-login-signup-buttons">
        <a href="#" onclick="LoginSignUp.showHideLoginSignup('#dv-checkout-login','#dv-checkout-signup')">@T("Checkout.LoginSignup.HaveAnAccount") <span>@T("Checkout.LoginSignup.Login")</span></a>
        <a href="#" onclick="LoginSignUp.showHideLoginSignup('#dv-checkout-signup','#dv-checkout-login')">@T("Checkout.LoginSignup.NewToNestorhawk") <span>@T("Checkout.LoginSignup.SignUp")</span></a>
        <a href="#" onclick="LoginSignUp.submit('checkout/OpcCheckoutAsGuest/')"><span>@T("Account.Login.CheckoutAsGuest")</span></a>
    </div>
    <div id="dv-checkout-login" style="display:none;">
        @await Html.PartialAsync("OpcLogin", Model)
    </div>
    <div id="dv-checkout-signup" style="display:none;">
        @await Html.PartialAsync("OpcSignup", Model.SignUpModel)
    </div>
</div>
