﻿@model CheckoutLoginSignUpModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js?v=1.0");
}
<div class="checkout-data">

    @if (Model.ShowOTP || Model.IsEmail)
    {
        <div id="dv-LoginDetails" class="sbuTitleN">
            @T("Checkout.LoginSignup.AlreadyHaveAccount.Heading") <a href="#">@T("Checkout.LoginSignup.LogintoAccount.Heading")</a>
        </div>
    }
    else
    {
        <div id="dv-LoginDetails" class="sbuTitleN">
            @T("Checkout.LoginSignup.LoginDetails.Heading") <a href="#" onclick="LoginSignUp.showHideLoginSignup('#dv-checkout-signup','#dv-checkout-login')" >@T("Checkout.LoginSignup.CreateAnAccount.Heading")</a>
        </div>
    }
    
    <input type="text" id="txtPhoneOrEmail" name="PhoneOrEmail" readonly value="@Model.PhoneOrEmail" onfocus="rmvReadonly(this);" placeholder="@T("Checkout.LoginSignup.PhoneOrEmail.Dukan")" />
    
    @if (Model.ShowOTP)
    {
        <input type="text" id="txtOTP" name="OTP" placeholder="@T("Checkout.LoginSignup.OTP")" value="" readonly onfocus="rmvReadonly(this);" />
    }
    @if (Model.IsEmail)
    {
        <input type="password" id="txtPassword" name="Password" placeholder="@T("Checkout.LoginSignup.Password")" readonly onfocus="rmvReadonly(this);" />
        <input asp-for="IsEmail" id="txtIsEmail" name="IsEmail" checked="checked" style="display:none;" />
    }
    else
    {
        <input asp-for="IsEmail" id="txtIsEmail" name="IsEmail" style="display:none;" />
    }

    <br />
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        if (Model.IsValid)
        {
            <div style="color:green;">@Model.Message</div>
        }
        else
        {
            <div class="error-msg">@Model.Message</div>
        }

    }
    <div class="buttons" id="billing-buttons-container">
        <span class="please-wait" id="login-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
        @if (Model.ShowOTP || Model.IsEmail)
        {
            <input type="button" title="@T("Checkout.LoginSignup.Button.Login")" class="button-1 new-address-next-step-button" onclick="LoginSignUp.submit('checkout/OpcLogin/')" value="@T("Checkout.LoginSignup.Button.Login")" />
        }
        else
        {
            <input type="button" title="@T("Checkout.LoginSignup.Button.Login")" class="button-1 new-address-next-step-button" onclick="LoginSignUp.submit('checkout/OpcSendOTP/')" value="@T("Checkout.LoginSignup.Button.Login")" />
        }
    </div>
</div>
<script>
    function rmvReadonly(obj) {
        if (obj.hasAttribute('readonly')) {
            obj.removeAttribute('readonly');
            obj.blur(); obj.focus();
        }
    }
    $("#txtPhoneOrEmail").on("keyup", function (e) {
        var key = e.which;
        if (key == 13) {
            LoginSignUp.submit('checkout/OpcSendOTP/');
        }
    });
    $("#txtPassword").on("keyup", function (e) {
        var key = e.which;
        if (key == 13) {
            LoginSignUp.submit('checkout/OpcLogin/');
        }
    });
</script>