﻿@model MiniShoppingCartModel
<div id="flyout-cart" class="flyout-cart">
    <div class="mini-shopping-cart">
        @* <div class="count">
            @if (Model.TotalProducts == 0)
            {
                @T("ShoppingCart.Mini.NoItems")
            }
            else
            {
                @Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, $"<a href=\"{Url.RouteUrl("ShoppingCart")}\">{string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts)}</a>"))
            }
        </div>*@
        @if (Model.TotalProducts > 0)
        {
            <div class="items">
                <table>

                    @for (var i = 0; i < Model.Items.Count; i++)
                    {
                        var item = Model.Items[i];

                        <tr class="item @(i == 0 ? "first" : null)">
                            @if (Model.ShowProductImages)
                            {
                                <td class="picture">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    </a>
                                </td>
                            }
                            <td class="name">
                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="flyProName">@item.ProductName</a>
                                <div class="flyMlt">@item.Quantity x @item.UnitPrice</div>
                                @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                {
                                    <div class="attributes">
                                        @Html.Raw(item.AttributeInfo)
                                    </div>
                                }
                            </td>


                            <td class="quantity">
                                <div class="cartProInDe">
                                    <span class="minusCartP">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                    </span>
                                    <span class="qtyCartP">@item.Quantity</span>
                                    <span class="plusCartP">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                        </svg>
                                    </span>
                                </div>
                            </td>
                            <td class="price"><span>@item.UnitPrice</span></td>
                            <td><div class="flyCartProductDelt"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
</svg></div></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="totalAndCharge">
                <div class="totals">
                    <div class="totalsRow">
                        @T("ShoppingCart.Totals.SubTotal")  <span>@Model.SubTotal</span>
                    </div>
                    <div class="totalsRow">
                        Delivery Chanrge  <span>0.00</span>
                    </div>
                </div>
                    <div class="buttons">
                        @if (Model.DisplayShoppingCartButton)
                        {
                            <input type="button" value="@T("ShoppingCart.Mini.ViewCart")" class="button-1 cart-button" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />

                        }
                        @if (Model.DisplayCheckoutButton)
                        {
                            var checkoutUrl = "";
                            if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                            {
                                checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                            }
                            else
                            {
                                checkoutUrl = Url.RouteUrl("Checkout");
                            }
                            <input type="button" value="@T("Checkout.Button")" class="button-1 checkout-button" onclick="setLocation('@checkoutUrl')" />
                        }
                    </div>
            </div>
        }
    </div>
</div>
