﻿@model CustomerRewardPointsModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-reward-points-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.RewardPoints })
}
<div class="page account-page reward-points-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.RewardPoints")</h1>
    </div>
    <div class="page-body">
        <div class="reward-points-overview">
            <div class="current-balance">@T("RewardPoints.CurrentBalance", Model.RewardPointsBalance, Model.RewardPointsAmount)</div>
            @if (Model.MinimumRewardPointsBalance > 0)
            {
                <div class="min-balance">@T("RewardPoints.MinimumBalance", Model.MinimumRewardPointsBalance, Model.MinimumRewardPointsAmount)</div>
            }
        </div>
        <div class="section reward-points-history">
            <div class="title">
                <strong>@T("RewardPoints.History")</strong>
            </div>
            @if (Model.RewardPoints.Count > 0)
            {
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                            <col />
                            <col width="1" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th><span class="item-count">#</span></th>
                                <th class="date" data-hide="w410, w480, w580">
                                    @T("RewardPoints.Fields.CreatedDate")
                                </th>
                                <th class="points">
                                    @T("RewardPoints.Fields.Points")
                                </th>
                                <th class="points-balance">
                                    @T("RewardPoints.Fields.PointsBalance")
                                </th>
                                <th class="message" data-hide="w410, w480">
                                    @T("RewardPoints.Fields.Message")
                                </th>
                                <th class="endDate" data-hide="w410, w480, w580">
                                    @T("RewardPoints.Fields.EndDate")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.RewardPoints.Count; i++)
                            {
                                var item = Model.RewardPoints[i];
                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                    <td><span class="item-count">@(i+1)</span></td>
                                    <td class="date">
                                        @item.CreatedOn
                                    </td>
                                    <td class="points">
                                        @item.Points
                                    </td>
                                    <td class="points-balance">
                                        @item.PointsBalance
                                    </td>
                                    <td class="message">
                                        @item.Message
                                    </td>
                                    <td class="endDate">
                                        @item.EndDate
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
                var pager = Html.Pager(Model.PagerModel);
                if (!String.IsNullOrEmpty(pager.ToHtmlString()))
                {
                    <div class="pager">
                        @pager
                    </div>
                }    
            }
            else
            {
                <div class="no-data">
                    @T("RewardPoints.NoHistory")
                </div>
            }
        </div>
    </div>
</div>
