﻿@model SupplierModel

@{
    const string hideInfoBlockAttributeName = "SupplierPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

    const string hidedistancefeeBlockAttributeName = "SupplierPage.HideDistanceFee";
    var hidedistancefeeBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hidedistancefeeBlockAttributeName, defaultValue: true);

    const string hideSearchBlockAttributeName = "BulkEditPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);

}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="row" style="display:none;">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @await Component.InvokeAsync("SettingMode", new { modeName = "supplier-advanced-mode" })
                </div>
            </div>
        </div>

        <nop-panels id="supplier-panels">
            <nop-panel asp-name="supplier-info" asp-icon="fa fa-info" asp-title="@T("Admin.Suppliers.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>

            <nop-panel asp-name="supplier-distance-fee" asp-icon="fa fa-television" asp-title="@T("NB.Admin.supplier.DistanceFee")" asp-hide-block-attribute-name="@hidedistancefeeBlockAttributeName" asp-hide="@hidedistancefeeBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.DistanceFee", Model)</nop-panel>

           <nop-panel asp-name="supplier-BulkEdit" asp-icon="fa fa-th-list" asp-title="@T("Admin.Suppliers.BulkEdit")" asp-hide-block-attribute-name="@hideSearchBlockAttributeName" asp-hide="@hideSearchBlock" asp-advanced="false;">@await Html.PartialAsync("_CreateOrUpdate.BulkEdit", Model.SupplierProductSearchModel)</nop-panel>

            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.VendorDetailsBlock, additionalData = Model })
        </nop-panels>
    </div>
</div>
