﻿@model SupplierModel
@inject IStoreService storeService
@using Nop.Services.Stores


@{
    var stores = storeService.GetAllStores();

    //resources for product tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");
}


@inject IStoreContext storeContext
@{
    var googleAccountKey = storeContext.GoogleMapAccountKey;
}

<div class="panel-body">
    <div class="form-group "@*@(Model.ProductEditorSettingsModel.Supplier ? null : "advanced-setting")" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)*@>
            <div class="col-md-4">
                <nop-label asp-for="StoreId" />
            </div>
            <div class="col-md-8">
                <nop-select asp-for="StoreId" asp-items="Model.AvailableStore" />
                <span asp-validation-for="StoreId"></span>
            </div>
        </div>
    <div class="sub-panel">
        @(Html.LocalizedEditor<SupplierModel, SupplierLocalizedModel>("supplier-info-localized",
                                @<div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="@Model.Locales[item].SupplierName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="@Model.Locales[item].SupplierName" />
                                            <span asp-validation-for="@Model.Locales[item].SupplierName"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="@Model.Locales[item].Description" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="@Model.Locales[item].Description" asp-template="RichEditor" />
                                            <span asp-validation-for="@Model.Locales[item].Description"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                </div>,

                                                                                @<div>
                                                                                    <div class="form-group">
                                                                                        <div class="col-md-4">
                                                                                            <nop-label asp-for="SupplierName" />
                                                                                        </div>
                                                                                        <div class="col-md-8">
                                                                                            <nop-editor asp-for="SupplierName" asp-required="true" />
                                                                                            <span asp-validation-for="SupplierName"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <div class="col-md-4">
                                                                                            <nop-label asp-for="Description" />
                                                                                        </div>
                                                                                        <div class="col-md-8">
                                                                                            <nop-editor asp-for="Description" asp-template="RichEditor" />
                                                                                            <span asp-validation-for="Description"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>))

        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="Active" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="Active" />
                <span asp-validation-for="Active"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="LocationMap" />
                <button type="button" id="myBtn1" class="btn btn-info btn-lg">Location Map</button>
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="LocationMap" />
                <span asp-validation-for="LocationMap"></span>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="Geofancing" />
                <button type="button" id="myBtn2" class="btn btn-info btn-lg">Geo-fancing Map</button>

            </div>
            <div class="col-md-8">
                <nop-textarea asp-for="Geofancing"></nop-textarea>
                <span asp-validation-for="Geofancing"></span>
            </div>
        </div>

        <div id="myModal" style="display:none">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" id="closeBox">&times;</span>
                <div id="map" style="height:450px;width:100%;"></div>
                <script>
                    // This example requires the Drawing library. Include the libraries=drawing
                    // parameter when you first load the API. For example:
                    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">
                    var all_overlays = [], drawingManager;

                    function CenterControl(controlDiv, map) {

                        // Set CSS for the control border.
                        var controlUI = document.createElement('div');
                        controlUI.style.backgroundColor = '#fff';
                        controlUI.style.border = '2px solid #fff';
                        controlUI.style.borderRadius = '3px';
                        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                        controlUI.style.cursor = 'pointer';
                        controlUI.style.marginBottom = '22px';
                        controlUI.style.textAlign = 'center';
                        controlUI.title = 'Clickto delete all geofences';
                        controlDiv.appendChild(controlUI);

                        // Setup the click event listeners: simply set the map to Chicago.
                        controlUI.addEventListener('click', function () {

                            for (let i = 0; i < all_overlays.length; i++) {
                                //GET LAT LONGS OF ALL SHAPES
                                console.log(all_overlays[i]);
                                if (all_overlays[i].type == "polygon") {
                                    // console.log(all_overlays[i].overlay.getPath());
                                    let textToSend = "Type: Polygon\n'Cordinates: \n"
                                    let vertices = all_overlays[i].overlay.getPath();
                                    for (let i = 0; i < vertices.getLength(); i++) {
                                        let xy = vertices.getAt(i);
                                        textToSend += 'Coordinate ' + i + ': ' + xy.lat() + ',' + xy.lng() + "\n";
                                    }
                                    window.alert(textToSend);

                                }
                                if (all_overlays[i].type == "circle") {
                                    let textToSend = "Type: Circle\nRadius:" + all_overlays[i].overlay.getRadius() + "\nlat:" + all_overlays[i].overlay.getCenter().lat() + "\nlng: " + all_overlays[i].overlay.getCenter().lng();
                                    window.alert(textToSend);
                                    console.log('radius', all_overlays[i].overlay.getRadius());
                                    console.log('lat', all_overlays[i].overlay.getCenter().lat());
                                    console.log('lng', all_overlays[i].overlay.getCenter().lng());
                                }
                            }
                            //GET LAT LONGS ENDS


                            //CODE BELOW WILL DELETE ALL THE SHAPES
                            console.log("isMapping", isMapping);

                            for (let i = 0; i < all_overlays.length; i++) {
                                all_overlays[i].overlay.setMap(null);
                            }
                            all_overlays = [];
                            //TO GIVE CONTROLS AGAIN WHEN drawing is deleted
                            drawingManager.setOptions({
                                drawingControl: true
                            });
                            //CODE FOR DELETION ENDS
                        });

                    }


                    function initMap() {
                        //alert("Map");
                        let center = { lat: -34.397, lng: 150.644 };
                        //Logic to put map to center of geofence
                        if (drawingFigure && drawingFigure.type) {
                            switch (drawingFigure.type) {
                                case "MARKER":
                                    center = drawingFigure.coordinates;
                                    break;
                                case "POLYGON":
                                    let latCenter = 0, lngCenter = 0;
                                    for (let i = 0; i < drawingFigure.coordinates.length; i++) {
                                        latCenter += drawingFigure.coordinates[i].lat;
                                        lngCenter += drawingFigure.coordinates[i].lng;
                                    }
                                    center = { lat: latCenter / drawingFigure.coordinates.length, lng: lngCenter / drawingFigure.coordinates.length }
                                    break;
                                case "CIRCLE":
                                    center = drawingFigure.coordinates.center;
                                    break;
                            }
                        }
                        let map = new google.maps.Map(document.getElementById('map'), {
                            center,
                            zoom: 13
                        });

                        //to draw drawing before hand
                        if (drawingFigure && drawingFigure.type) {
                            switch (drawingFigure.type) {
                                case "MARKER":
                                    drawnFigure = new google.maps.Marker({ position: drawingFigure.coordinates, map: map });
                                    break;
                                case "POLYGON":
                                    drawnFigure = new google.maps.Polygon({
                                        paths: drawingFigure.coordinates,
                                        strokeColor: '#FF0000',
                                        strokeOpacity: 0.8,
                                        strokeWeight: 2,
                                        fillColor: '#FF0000',
                                        fillOpacity: 0.35
                                    });
                                    drawnFigure.setMap(map);
                                    break;
                                case "CIRCLE":
                                    drawnFigure = new google.maps.Circle({
                                        strokeColor: '#FF0000',
                                        strokeOpacity: 0.8,
                                        strokeWeight: 2,
                                        fillColor: '#FF0000',
                                        fillOpacity: 0.35,
                                        map: map,
                                        center: center,
                                        radius: drawingFigure.coordinates.radius
                                    });
                                    break;
                            }
                        }
                        let object = {
                            drawingMode: null,
                            drawingControl: true,
                            drawingControlOptions: {
                                position: google.maps.ControlPosition.TOP_CENTER,
                                drawingModes: ['marker']
                            },
                            markerOptions: { icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png' },
                            circleOptions: {
                                fillColor: '#ffff00',
                                fillOpacity: 0.1,
                                strokeWeight: 5,
                                clickable: true,
                                editable: true,
                                draggable: true,
                                strokeOpecity: 0.25,
                                zIndex: 1
                            }
                        }
                        console.log("isMapping >", isMapping)
                        if (isMapping) {
                            // object.drawingMode = google.maps.drawing.OverlayType.POLYGON;
                            //object.drawingControlOptions.drawingModes = ['circle', 'polygon']
                            object.drawingControlOptions.drawingModes = ['polygon']
                        }
                        drawingManager = new google.maps.drawing.DrawingManager(object);

                        let centerControlDiv = document.createElement('div');
                        let centerControl = new CenterControl(centerControlDiv, map);

                        centerControlDiv.index = 1;
                        map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
                        google.maps.event.addListener(drawingManager, 'overlaycomplete', function (e) {

                            all_overlays.push(e);
                            drawingManager.setDrawingMode(null);
                            
                            let newShape = e.overlay;
                            newShape.type = e.type;
                        });
                        google.maps.event.addListener(drawingManager, "drawingmode_changed", function () {
                            console.log("drawingmode_changed")

                            if (drawingManager.getDrawingMode()) {
                                console.log("drawnFigure 1234567", drawnFigure)
                                drawnFigure ? drawnFigure.setMap(null) : "";
                                for (var i = 0; i < all_overlays.length; i++) {
                                    all_overlays[i].overlay.setMap(null);
                                }
                                all_overlays = [];
                            }
                        });
                        drawingManager.setMap(map);
                    }


                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&libraries=drawing&callback=initMap"
                        async defer></script>
            </div>
        </div>



        <style>
            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                /* z-index: 1;  Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0, 0, 0); /* Fallback color */
                background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                height: 80%
            }

            /* The Close Button */
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }

            /* Always set the map height explicitly to define the size of the div
                * element that contains the map. */
            #map {
                height: 100%;
            }
        </style>

        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.Supplier.Address")
            </div>
            <div class="panel-body">
                <nop-editor asp-for="Address" asp-template="Address" />
            </div>
        </div>
    </div>
</div>
<script>
    // Get the modal
    var isMapping = 0, drawingFigure = null, drawnFigure = null;
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn1 = document.getElementById("myBtn1");

    // Get the button that opens the modal
    var btn2 = document.getElementById("myBtn2");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    var spanClose = document.getElementById("closeBox");

    // When the user clicks the button, open the modal
    btn1.onclick = function () {
        console.log("drawingFigure", document.getElementById("LocationMap").value);
        drawingFigure = document.getElementById("LocationMap").value ? JSON.parse(document.getElementById("LocationMap").value) : null; //PASS OBJECT HERE TO RENDER IMAGE SENT BY BACKEND
        isMapping = 0;
        initMap();
        modal.style.display = "block";


    }

    // When the user clicks the button, open the modal
    btn2.onclick = function () {
        //alert("Open1");
        console.log("drawingFigure", document.getElementById("Geofancing").value);
        drawingFigure = document.getElementById("Geofancing").value ? JSON.parse(document.getElementById("Geofancing").value) : null //PASS OBJECT HERE TO RENDER IMAGE SENT BY BACKEND
        isMapping = 1;

        initMap();
        modal.style.display = "block";
        //alert("Open3");
    }
    // When the user clicks on <span> (x), close the modal
    spanClose.onclick = function () {
        modal.style.display = "none";
        if (isMapping) {
            for (let i = 0; i < all_overlays.length; i++) {
                //GET LAT LONGS OF ALL SHAPES
                console.log(all_overlays[i]);
                if (all_overlays[i].type == "polygon") {
                    let arrayOfCoordinates = [];
                    let vertices = all_overlays[i].overlay.getPath();
                    for (let i = 0; i < vertices.getLength(); i++) {

                        let xy = vertices.getAt(i);
                        arrayOfCoordinates.push({ lat: xy.lat(), lng: xy.lng() });
                    }
                    if (vertices.getLength() > 0) {
                        let xy = vertices.getAt(0);
                        arrayOfCoordinates.push({ lat: xy.lat(), lng: xy.lng() });
                    }
                    document.getElementById("Geofancing").value = JSON.stringify({
                        "type": "POLYGON",
                        "coordinates": arrayOfCoordinates
                    });
                }

                if (all_overlays[i].type == "circle") {
                    document.getElementById("Geofancing").value = JSON.stringify({
                        "type": "CIRCLE",
                        "coordinates": {
                            "center": { lat: all_overlays[i].overlay.getCenter().lat(), lng: all_overlays[i].overlay.getCenter().lng() },
                            "radius": all_overlays[i].overlay.getRadius()
                        }
                    });
                }
            }
        } else {
            for (let i = 0; i < all_overlays.length; i++) {
                //GET LAT LONGS OF ALL SHAPES
                //alert(all_overlays[i]);
                console.log(all_overlays[i]);
                if (all_overlays[i].type == "marker") {
                    document.getElementById("Geolocation").value = JSON.stringify({
                        "type": "MARKER",
                        "coordinates": {
                            "lat": all_overlays[i].overlay.getPosition().lat(),
                            "lng": all_overlays[i].overlay.getPosition().lng()
                        }
                    });
                    $("#Address_Latitude").val(all_overlays[i].overlay.getPosition().lat());
                    $("#Address_Longitude").val(all_overlays[i].overlay.getPosition().lng());

                }
            }
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>