﻿@model OnePageCheckoutModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //scripts
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    var billingAddressStepNumber = 1;
    var shippingAddressStepNumber = 2;
    var shippingMethodStepNumber = 3;
    var paymentMethodStepNumber = 4;
    var paymentInfoStepNumber = 5;
    var confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="page-body checkout-data">

        <div class="row">
            <div class="col-md-8">
                <div class="crossShel">
                    <div class="crossTitle">
                        You may
                        also like
                    </div>
                    <div class="threeItemSlider crossShelProduct variable-width">
                        <div class="item-box">
                            <div class="product-item" data-productid="17">
                                <div class="picture">
                                    <div class="productWishlist"></div>
                                    <div class="getOff">Get 20% Off</div>
                                    <a href="/apple-icam" title="Show details for Apple iCam" tabindex="0">
                                        <img alt="Picture of Apple iCam" src="http://localhost:15536/images/thumbs/0000040_apple-icam_415.jpeg" title="Show details for Apple iCam">
                                    </a>
                                </div>
                                <div class="details">
                                    <div class="sku">
                                        APPLE_CAM
                                    </div>
                                    <h2 class="product-title">
                                        <a href="/apple-icam" tabindex="0">Apple iCam</a>
                                    </h2>

                                    <div class="description">
                                        Photography becomes smart
                                    </div>
                                    <div class="productVal">170 Kg</div>
                                    <div class="add-info">

                                        <div class="prices">
                                            <span class="price actual-price">$1,300.00</span>
                                        </div>

                                        <div class="buttons">
                                            <div class="qtyInput">
                                                <label>Qty</label>
                                                <input type="number" id="qty" tabindex="0">
                                            </div>
                                            <input type="button" value="Add" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/17/1/1');return false;" tabindex="0">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="product-item" data-productid="30">
                                <div class="picture">
                                    <div class="productWishlist"></div>
                                    <div class="getOff">Get 20% Off</div>
                                    <a href="/levis-511-jeans" title="Show details for Levi's 511 Jeans" tabindex="0">
                                        <img alt="Picture of Levi's 511 Jeans" src="http://localhost:15536/images/thumbs/0000060_levis-511-jeans_415.jpg" title="Show details for Levi's 511 Jeans">
                                    </a>
                                </div>
                                <div class="details">
                                    <div class="sku">
                                        LV_511_JN
                                    </div>
                                    <h2 class="product-title">
                                        <a href="/levis-511-jeans" tabindex="0">Levi's 511 Jeans</a>
                                    </h2>

                                    <div class="description">
                                        Levi's Faded Black 511 Jeans
                                    </div>
                                    <div class="productVal">170 Kg</div>
                                    <div class="add-info">

                                        <div class="prices">
                                            <span class="price actual-price">From $35.00</span>
                                        </div>

                                        <div class="buttons">
                                            <div class="qtyInput">
                                                <label>Qty</label>
                                                <input type="number" id="qty" tabindex="0">
                                            </div>
                                            <input type="button" value="Add" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/30/1/1');return false;" tabindex="0">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="product-item" data-productid="34">
                                <div class="picture">
                                    <div class="productWishlist"></div>
                                    <div class="getOff">Get 20% Off</div>
                                    <a href="/night-visions" title="Show details for Night Visions" tabindex="0">
                                        <img alt="Picture of Night Visions" src="http://localhost:15536/images/thumbs/0000065_night-visions_415.jpeg" title="Show details for Night Visions">
                                    </a>
                                </div>
                                <div class="details">
                                    <div class="sku">
                                        NIGHT_VSN
                                    </div>
                                    <h2 class="product-title">
                                        <a href="/night-visions" tabindex="0">Night Visions</a>
                                    </h2>

                                    <div class="description">
                                        Night Visions is the debut studio album by American rock band Imagine Dragons.
                                    </div>
                                    <div class="productVal">170 Kg</div>
                                    <div class="add-info">

                                        <div class="prices">
                                            <span class="price actual-price">$2.80</span>
                                        </div>

                                        <div class="buttons">
                                            <div class="qtyInput">
                                                <label>Qty</label>
                                                <input type="number" id="qty" tabindex="0">
                                            </div>
                                            <input type="button" value="Add" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/34/1/1');return false;" tabindex="0">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="product-item" data-productid="17">
                                <div class="picture">
                                    <div class="productWishlist"></div>
                                    <div class="getOff">Get 20% Off</div>
                                    <a href="/apple-icam" title="Show details for Apple iCam" tabindex="0">
                                        <img alt="Picture of Apple iCam" src="http://localhost:15536/images/thumbs/0000040_apple-icam_415.jpeg" title="Show details for Apple iCam">
                                    </a>
                                </div>
                                <div class="details">
                                    <div class="sku">
                                        APPLE_CAM
                                    </div>
                                    <h2 class="product-title">
                                        <a href="/apple-icam" tabindex="0">Apple iCam</a>
                                    </h2>

                                    <div class="description">
                                        Photography becomes smart
                                    </div>
                                    <div class="productVal">170 Kg</div>
                                    <div class="add-info">

                                        <div class="prices">
                                            <span class="price actual-price">$1,300.00</span>
                                        </div>

                                        <div class="buttons">
                                            <div class="qtyInput">
                                                <label>Qty</label>
                                                <input type="number" id="qty" tabindex="0">
                                            </div>
                                            <input type="button" value="Add" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/17/1/1');return false;" tabindex="0">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="product-item" data-productid="30">
                                <div class="picture">
                                    <div class="productWishlist"></div>
                                    <div class="getOff">Get 20% Off</div>
                                    <a href="/levis-511-jeans" title="Show details for Levi's 511 Jeans" tabindex="0">
                                        <img alt="Picture of Levi's 511 Jeans" src="http://localhost:15536/images/thumbs/0000060_levis-511-jeans_415.jpg" title="Show details for Levi's 511 Jeans">
                                    </a>
                                </div>
                                <div class="details">
                                    <div class="sku">
                                        LV_511_JN
                                    </div>
                                    <h2 class="product-title">
                                        <a href="/levis-511-jeans" tabindex="0">Levi's 511 Jeans</a>
                                    </h2>

                                    <div class="description">
                                        Levi's Faded Black 511 Jeans
                                    </div>
                                    <div class="productVal">170 Kg</div>
                                    <div class="add-info">

                                        <div class="prices">
                                            <span class="price actual-price">From $35.00</span>
                                        </div>

                                        <div class="buttons">
                                            <div class="qtyInput">
                                                <label>Qty</label>
                                                <input type="number" id="qty" tabindex="0">
                                            </div>
                                            <input type="button" value="Add" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/30/1/1');return false;" tabindex="0">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="product-item" data-productid="34">
                                <div class="picture">
                                    <div class="productWishlist"></div>
                                    <div class="getOff">Get 20% Off</div>
                                    <a href="/night-visions" title="Show details for Night Visions" tabindex="0">
                                        <img alt="Picture of Night Visions" src="http://localhost:15536/images/thumbs/0000065_night-visions_415.jpeg" title="Show details for Night Visions">
                                    </a>
                                </div>
                                <div class="details">
                                    <div class="sku">
                                        NIGHT_VSN
                                    </div>
                                    <h2 class="product-title">
                                        <a href="/night-visions" tabindex="0">Night Visions</a>
                                    </h2>

                                    <div class="description">
                                        Night Visions is the debut studio album by American rock band Imagine Dragons.
                                    </div>
                                    <div class="productVal">170 Kg</div>
                                    <div class="add-info">

                                        <div class="prices">
                                            <span class="price actual-price">$2.80</span>
                                        </div>

                                        <div class="buttons">
                                            <div class="qtyInput">
                                                <label>Qty</label>
                                                <input type="number" id="qty" tabindex="0">
                                            </div>
                                            <input type="button" value="Add" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/34/1/1');return false;" tabindex="0">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="checkoutSteps notLoginUser">
                    <div class="stepsTitle loginSteps">
                        <h3>Account</h3>
                        <p>To place your order now, log in to your existing acount or sign up.</p>
                    </div>
                    <div class="stepsData">
                        <ul>
                            <li><a href="#" class="button-1 loginBtn">Log in</a></li>
                            <li><a href="#" class="button-1 signupBtn">Sign up</a></li>
                            <li><a href="#" class="button-1 guestBtn">Guest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="checkoutSteps loginRegSept">
                    <div class="stepsTitle loginSteps">
                        <h3>Account</h3>
                        <p>To place your order now, log in to your existing acount or sign up.</p>
                    </div>
                    <div class="stepsData max500">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Enter login details or <a href="#" class="link">create an account</a></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" placeholder="user@example.com" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="button-1 btn-block">Next</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" placeholder="user@example.com" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" placeholder="6-12 character" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="button-1 btn-block">Login</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="checkoutSteps userLoginCheckout">
                    <div class="stepsTitle loginSteps">
                        <h3>Logged In <img src="/Themes/AdilVMall/Content/images/checkIcon.png"></h3>
                    </div>
                    <div class="stepsData">
                        <div class="loggedInUser">
                            Jayant Chaubey <span>|</span> 9865002134
                        </div>
                    </div>
                </div>
                <div class="checkoutSteps addAddressArea">
                    <div class="stepsTitle addressSteps mb-2">
                        <h3>Address </h3>
                        <button class="button-1">Add New Address</button>
                    </div>
                    <div class="stepsData pt-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="addressBox">
                                    <h4 class="homeAddress"><span>Default Address:</span> Home</h4>
                                    <p>
                                        Jayant Chaubey<br /> D-295,Street No.8, Second Floor,<br />
                                        West Vinod Nagar,<br />
                                        Badrinath Mandir<br />
                                        West Vinod Nagar, Delhi, 110092<br />
                                        Ph : 9865002134
                                    </p>
                                    <button type="button" class="button-1 btn-block deliveryHereBtn">Delivery Here</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="addressBox">
                                    <h4 class="officeAddress">Office</h4>
                                    <p>
                                        Jayant Chaubey<br /> Plot No.- 295,SIndustrial Area, Phase<br /> Sector – 74,<br />
                                        Mohali – 160071<br />
                                        Ph : 9865002134
                                    </p>
                                    <button type="button" class="button-1 btn-block deliveryHereBtn">Delivery Here</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="addNewAddress">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Last Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Phone Number" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>House No.</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="House No." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Door/Flat No.</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Door/Flat No." />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Street No./Area Details</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Street No./Area Details" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label></label>
                                        <input type="text" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Pincode</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Pincode" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check">
                                        <label><input type="checkbox" /> Set this as my default delivery address </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="button" class="button-1 btn-block">Save Address & Proceed</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>

                <div class="checkoutSteps addressAreaFilled">
                    <div class="stepsTitle addressSteps mb-2">
                        <h3>Address </h3>
                        <button class="button-1 changeAddresBtn">Change</button>
                    </div>
                    <div class="stepsData">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="addressBox changeAddress">
                                    <h4 class="homeAddress"><span>Default Address:</span> Home</h4>
                                    <p>
                                        Jayant Chaubey<br /> D-295,Street No.8, Second Floor,
                                        West Vinod Nagar,
                                        Badrinath Mandir
                                        West Vinod Nagar, Delhi, 110092<br />
                                        Ph : 9865002134
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="checkoutSteps giftAreaAdd">
                    <div class="stepsTitle giftSteps">
                        <h3>Is This a Gift Order</h3>
                    </div>
                    <div class="stepsData">
                        <h5>Details For Gift Message</h5>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Recipient’s Name</label>
                                    <input type="text" placeholder="Recipient’s Name" class="form-control form-control-lg">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Name</label>
                                    <input type="text" placeholder="Your Name" class="form-control form-control-lg">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea placeholder="Your message" class="form-control form-control-lg"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="button-2">Skip</button>
                                <button class="button-1">Save and Continue</button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="checkoutSteps">
                    <div class="stepsTitle giftSteps">
                        <h3>Is This a Gift Order</h3>
                        <button class="button-1">Edit</button>
                        <button class="button-1">Delete</button>
                    </div>
                    <div class="stepsData">
                        <h5 class="colorRed">Details For Gift Message</h5>
                    </div>
                </div>
                <div class="checkoutSteps deliveryDateTimeSelect">
                    <div class="stepsTitle deliveryDateSteps mb-3">
                        <h3>Delivery Date & Time</h3>
                    </div>
                    <div class="stepsData">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <img src="/Themes/AdilVMall/Content/images/deleveryCalenderImg1.jpg" style="max-width: 100%;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="button-2">Cancel</button>
                                <button class="button-1">Save and Continue</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="checkoutSteps">
                    <div class="stepsTitle deliveryDateSteps mb-3">
                        <h3>Delivery Date & Time</h3>
                        <button class="button-1 changeDeliveryBtn">Change</button>
                    </div>
                    <div class="stepsData">
                        <h5 class="colorRed">Mon, 25 Jun , 11:00 AM - 01:00 PM</h5>
                    </div>
                </div>
                <div class="checkoutSteps">
                    <div class="stepsTitle paymentSteps mb-3">
                        <h3>Payment</h3>
                    </div>
                    <div class="stepsData">
                        <div class="row">
                            <div class="col-md-3 pr-md-0">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-wallets-tab" data-toggle="pill" href="#v-pills-wallets" role="tab" aria-controls="v-pills-wallets" aria-selected="true">Wallets</a>
                                    <a class="nav-link" id="v-pills-creditDebitCards-tab" data-toggle="pill" href="#v-pills-creditDebitCards" role="tab" aria-controls="v-pills-creditDebitCards" aria-selected="false">Credit /Debit Cards</a>
                                    <a class="nav-link" id="v-pills-netBanking-tab" data-toggle="pill" href="#v-pills-netBanking" role="tab" aria-controls="v-pills-netBanking" aria-selected="false">Net Banking</a>
                                    <a class="nav-link" id="v-pills-payOnDelivery-tab" data-toggle="pill" href="#v-pills-payOnDelivery" role="tab" aria-controls="v-pills-payOnDelivery" aria-selected="false">Pay on Delivery</a>
                                </div>
                            </div>
                            <div class="col-md-9 pl-md-0">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-wallets" role="tabpanel" aria-labelledby="v-pills-wallets-tab">
                                        
                                        <img src="/Themes/AdilVMall/Content/images/currencyImg1.png">
                                        <h5 class="center">
                                            Please keep exact change handy to help us serve you<br />
                                            better
                                        </h5>
                                        <button type="button" class="button-1">Place Order</button>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-creditDebitCards" role="tabpanel" aria-labelledby="v-pills-creditDebitCards-tab">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </div>
                                    <div class="tab-pane fade" id="v-pills-netBanking" role="tabpanel" aria-labelledby="v-pills-netBanking-tab">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </div>
                                    <div class="tab-pane fade" id="v-pills-payOnDelivery" role="tabpanel" aria-labelledby="v-pills-payOnDelivery-tab">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                <div class="cart-detail">
                    
                    <div class="cart-filled">
                        <div class="title4 whiteBgTitle4">
                            <h4>Order Summary</h4><span>03 Items</span>
                        </div>
                        
                        <div class="haveVoucherCode">
                            <label>Have a voucher code</label>
                            <div class="form-group">
                                <input type="text" placeholder="Enter voucher code"><button type="button">Apply</button>
                            </div>
                        </div>
                        <div class="cartItemTotal">
                            <div class="cartItemTotalRow">
                                <div class="cartItemTotValLeft">Item Total</div>
                                <div class="cartItemTotValRight">Rs 142.00</div>
                            </div>
                            <div class="cartItemTotalRow">
                                <div class="cartItemTotValLeft">Delivery Chanrge</div>
                                <div class="cartItemTotValRight">Rs 0.00</div>
                            </div>
                            <div class="cartItemTotalRow">
                                <div class="cartItemTotValLeft">Voucher Discount</div>
                                <div class="cartItemTotValRight">Rs 0.00</div>
                            </div>
                        </div>

                        <div class="cartItemTotalMain">
                            <div class="cartTotalLebel">Total</div>
                            <div class="cartTotalVal">Rs. 142.00</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpcContentBefore })
        <ol class="opc" id="checkout-steps">
            <li id="opc-billing" class="tab-section allow">
                <div class="step-title">
                    <span class="number">@billingAddressStepNumber</span>
                    <h2 class="title">@T("Checkout.BillingAddress")</h2>
                </div>
                <div id="checkout-step-billing" class="step a-item" style="display: none;">
                    <form id="co-billing-form" action="">
                        <div id="checkout-billing-load">
                            @await Html.PartialAsync("OpcBillingAddress", Model.BillingAddress)
                            @*billing address content will be loaded here*@
                        </div>
                    </form>
                    <script asp-location="Footer">
                        Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());
                        }
                    </script>
                    <div class="buttons" id="billing-buttons-container">
                        <input type="button" title="@T("Common.Continue")" class="button-1 new-address-next-step-button" onclick="Billing.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            @if (Model.ShippingRequired)
            {
                <li id="opc-shipping" class="tab-section">
                    <div class="step-title">
                        <span class="number">@shippingAddressStepNumber</span>
                        <h2 class="title">@T("Checkout.ShippingAddress")</h2>
                    </div>
                    <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                        <form action="" id="co-shipping-form">
                            <div id="checkout-shipping-load">
                                @*shipping address content will be loaded here*@
                            </div>
                        </form>
                        <script asp-location="Footer">
                            Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                            if ($("#shipping-address-select").length > 0) {
                                Shipping.newAddress(!$('#shipping-address-select').val());
                            }
                        </script>
                        <div class="buttons" id="shipping-buttons-container">
                            @if (!Model.DisableBillingAddressCheckoutStep)
                            {
                                <p class="back-link">
                                    <a href="#" onclick="Checkout.back(); return false; "><small>&laquo; </small>@T("Common.Back")</a>
                                </p>
                            }
                            <input type="button" class="button-1 new-address-next-step-button" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" />
                            <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                        </div>
                    </div>
                </li>
                <li id="opc-shipping_method" class="tab-section">
                    <div class="step-title">
                        <span class="number">@shippingMethodStepNumber</span>
                        <h2 class="title">@T("Checkout.ShippingMethod")</h2>
                    </div>
                    <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                        <form id="co-shipping-method-form" action="">
                            <div id="checkout-shipping-method-load">
                                @*shipping methods content will be loaded here*@
                            </div>
                            <script asp-location="Footer">
                                ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                            </script>
                            <div class="buttons" id="shipping-method-buttons-container">
                                <p class="back-link">
                                    <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                                <input type="button" class="button-1 shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                                <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                            </div>
                        </form>
                    </div>
                </li>
            }
            <li id="opc-payment_method" class="tab-section">
                <div class="step-title">
                    <span class="number">@paymentMethodStepNumber</span>
                    <h2 class="title">@T("Checkout.PaymentMethod")</h2>
                </div>
                <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-method-form">
                        <div id="checkout-payment-method-load">
                            @*payment methods content will be loaded here*@ Payment is not required
                        </div>
                    </form>
                    <script asp-location="Footer">
                        PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                    </script>
                    <div class="buttons" id="payment-method-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="button-1 payment-method-next-step-button" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            <li id="opc-payment_info" class="tab-section">
                <div class="step-title">
                    <span class="number">@paymentInfoStepNumber</span>
                    <h2 class="title">@T("Checkout.PaymentInfo")</h2>
                </div>
                <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-info-form">
                        <div id="checkout-payment-info-load">
                            @*payment info content will be loaded here*@ Payment is not required
                        </div>
                    </form>
                    <script asp-location="Footer">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                    </script>
                    <div class="buttons" id="payment-info-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="button-1 payment-info-next-step-button" onclick="PaymentInfo.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            <li id="opc-confirm_order" class="tab-section">
                <div class="step-title">
                    <span class="number">@confirmOrderStepNumber</span>
                    <h2 class="title">@T("Checkout.ConfirmOrder")</h2>
                </div>
                <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                    <div id="checkout-confirm-order-load">
                        @*confirm order content will be loaded here*@
                    </div>
                    <script asp-location="Footer">
                        ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                    </script>
                    <div class="buttons" id="confirm-order-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="button-1 confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                        <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                    </div>
                </div>
            </li>
        </ol>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpcContentAfter })
    </div>
    <script asp-location="Footer">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }
    </script>
</div>
