﻿@model IList<CategoryModel>
    @if (Model.Count > 0)
	{
		<ul class="nav machentCategoryList">
			@*@foreach (var item in Model)
			{
				<li>
				<a href="@item.Id" idL="@item.Id">
						@item.Name                                                
				</a>
				</li>
			} *@
           @*added for sub display 23-03-2019*@
		   <li class="active"><a href="#bestsellers" idL="bestsellers">BESTSELLERS</a></li>
           @foreach (var item in Model)
           {
				<li>
					<a href="#@item.Id" idL="@item.Id">
						@item.Name                                                
					</a>
					@await Html.PartialAsync("_CategoryMenuMerchant", item.SubCategories)
				</li>               
           }
           @*added for sub display 23-03-2019*@    
		</ul>
		
		<script>
			$(function(){
				/*$(".machentCategoryList li a").each(function(){
					$(this).attr({"href":"#mId"+$(this).attr("id")});
				});*/
				//$(".machentCategoryList > li:first-child").addClass("active");
				//$(".machentCategoryList li > .subCategory").slideDown();
                if (window.innerWidth < 992) {
                    $(".machentCategoryList > li > a").click(function(){
					    $(".machentCategoryList > li").removeClass("active");
					    $(".subCategory li").removeClass("active");
					    $(".machentCategoryList li > .subCategory").slideUp();
					    $(this).parent("li").addClass("active");
					    $(this).siblings("ul").slideDown();
					    var scId = $(this).attr("idL");
					    if($(".marchentTopFilter h2[cccatid="+ scId +"]").length > 0){
						    $('html, body').animate({
						      scrollTop: $(".marchentTopFilter h2[cccatid="+ scId +"]").offset().top -90
						    }, 1000)
					    }
				    });
				    $(".subCategory li a").click(function(){
					    $(".subCategory li").removeClass("active");
					    $(this).parent("li").addClass("active");
					    var scIdS = $(this).attr("idL");
					    if($(".marchentTopFilter h2[cccatid="+ scIdS +"]").length > 0){
						    $('html, body').animate({
						      scrollTop: $(".marchentTopFilter h2[cccatid="+ scIdS +"]").offset().top -90
						    }, 1000)
					    }				
				    });
                } else {
                    $(".machentCategoryList > li > a").click(function(){
					    $(".machentCategoryList > li").removeClass("active");
					    $(".subCategory li").removeClass("active");
					    $(".machentCategoryList li > .subCategory").slideUp();
					    $(this).parent("li").addClass("active");
					    $(this).siblings("ul").slideDown();
					    var scId = $(this).attr("idL");
					    if($(".marchentTopFilter h2[cccatid="+ scId +"]").length > 0){
						    $('html, body').animate({
						      scrollTop: $(".marchentTopFilter h2[cccatid="+ scId +"]").offset().top -260
						    }, 1000)
					    }
				    });
				    $(".subCategory li a").click(function(){
					    $(".subCategory li").removeClass("active");
					    $(this).parent("li").addClass("active");
					    var scIdS = $(this).attr("idL");
					    if($(".marchentTopFilter h2[cccatid="+ scIdS +"]").length > 0){
						    $('html, body').animate({
						      scrollTop: $(".marchentTopFilter h2[cccatid="+ scIdS +"]").offset().top -260
						    }, 1000)
					    }				
				    }); 
                }

				 
				
			});
						
		</script>
		
    }   
