﻿@model string
<div class="checkout-data">
    <div id="dv-LoginDetails" class="step-title">
        @T("Checkout.LoginSignup.LoggedIn.Heading") <img src="/Themes/DoCampo/Content/images/greenCheckImg1.png">
    </div>
    
	<h4 class="title4">@Model</h4>
	
</div>
