﻿@model CheckoutPaymentMethodModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    var storeLocation = webHelper.GetStoreLocation();

}
<div class="checkout-data">
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_payment_method_top" })
    <div class="section payment-method">
        @if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
        {
            <div class="use-reward-points">
                @if (Model.RewardPointsEnoughToPayForOrder)
                {
                    <input asp-for="UseRewardPoints" onclick="PaymentMethod.toggleUseRewardPoints(this)" />
                }
                else
                {
                    <input asp-for="UseRewardPoints" />
                }
                <label asp-for="UseRewardPoints">@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)</label>
                @if (Model.RewardPointsEnoughToPayForOrder)
                {
                    <script type="text/javascript">
                        $(document).ready(function() {
                            PaymentMethod.toggleUseRewardPoints($('#@Html.IdFor(model => model.UseRewardPoints)'));
                        });
                    </script>
                }
            </div>
        }
        @if (Model.PaymentMethods.Count > 0)
        {
            <div class="paymentTabList">
                <ul class="method-list" id="payment-method-block">
                    @for (var i = 0; i < Model.PaymentMethods.Count; i++)
                    {
                        var paymentMethod = Model.PaymentMethods[i];
                        var paymentMethodName = paymentMethod.Name;
                        if (!string.IsNullOrEmpty(paymentMethod.Fee))
                        {
                            paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                        }
                        <li>
                            <div class="method-name">
                                @if (!string.IsNullOrEmpty(paymentMethod.LogoUrl))
                                {
                                    <div class="payment-logo">
                                        <label for="paymentmethod_@(i)">
                                            <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                        </label>
                                    </div>
                                }
                                <div class="payment-details">
                                    <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" onclick="PaymentMethod.saveCustom(); $('#checkout-step-payment-info').show();" />
                                    <label for="paymentmethod_@(i)">@paymentMethodName</label>
                                    @if (!string.IsNullOrEmpty(paymentMethod.Description))
                                    {
                                        <div class="payment-description">@paymentMethod.Description</div>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <script>
                    $(document).ready(function () {
                        //if ($("input:radio[name=paymentmethod]").length > 0) {
                        //$("input:radio[name=paymentmethod]:first").click();
                        //PaymentMethod.save();
                        //$('#checkout-step-payment-info').show();
                        //}
						
						$(".payment-method .method-list li label").click(function(){
							$(this).parents("li").siblings("li").removeClass("active");
							$(this).parents("li").addClass("active");
						});
                    });
                </script>
            </div>
            <div class="paymentTabDetail" id="opc-payment_info">
                <div class="step-title" style="display:none;">
                    <h2 class="title">@T("Checkout.PaymentInfo")</h2>
                </div>
                <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-info-form">
                        <div id="checkout-payment-info-load">
                        </div>
                    </form>
                    <div class="buttons" id="payment-info-buttons-container">
                        <input type="button" class="button-1 payment-info-next-step-button" onclick="PaymentInfo.saveCustom();" value="@T("Checkout.PaymentMethod.PayNow")" />
                        <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </div>
            
        }
        else
        {
            <div class="message-error">
                @T("Checkout.NoPaymentMethods")
            </div>
        }
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_payment_method_bottom" })
</div>
