﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @*@await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })*@
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("HomepageProducts")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")
        <div class="homeSliderOneItem">
            <div class="oneItemSlider">
                <div class="oneSlItem">
                    <img src="/Themes/DoCampo/Content/images/sliderImgH1.jpg" />
                </div>
                <div class="oneSlItem">
                    <img src="/Themes/DoCampo/Content/images/sliderImgH1.jpg" />
                </div>
                <div class="oneSlItem">
                    <img src="/Themes/DoCampo/Content/images/sliderImgH1.jpg" />
                </div>
                <div class="oneSlItem">
                    <img src="/Themes/DoCampo/Content/images/sliderImgH1.jpg" />
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")

        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")*@
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>

<script>
    $(".modal").insertAfter(".modal-backdrop");
</script>

