﻿@model ShoppingCartModel.DiscountBoxModel
@using Nop.Core
@inject IWebHelper webHelper
@if (true)
{
    var storeLocation = webHelper.GetStoreLocation();
    <div class="coupon-box">
        <div class="discount-tip">
            <div class="title">
                <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
            </div>
            <a href="#discount_box" rel="modal:open" class="btnDiscountApply">Apply</a>
        </div>
        <div class="hint">
            @T("ShoppingCart.DiscountCouponCode.Tooltip")
        </div>
        @*<div class="coupon-code">
                <input name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code" placeholder="@T("Admin.GiftCards.Fields.GiftCardCouponCode")" />
                <input type="button" name="applydiscountcouponcode" id="applydiscountcouponcode"
                       value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button apply-discount-coupon-code-button" />
            </div>*@
        @foreach (var message in Model.Messages)
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @message
            </div>
        }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
        {
            <div class="current-code">
                <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                @*empty value (little hack for FormValueExistsAttribute)*@
                <input type="button" id="removediscount-@discount.Id" value="@T("Common.Remove")" title="@T("Common.Remove")" class="remove-discount-button rmv-disc-cpn" />
            </div>
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#discountcouponcode').bind("keydown",function (event) {
                if (event.keyCode == 13) {
                    saveDiscountCouponCode();
                    return false;
                }
            });
            $('#applydiscountcouponcode').bind("click",function () {
                saveDiscountCouponCode();
                    return false;
            });
            $('.rmv-disc-cpn').bind("click",function () {
                var discountid = $(this).attr('id').split('-')[1];
                removeDiscountCouponCode(discountid);
                return false;
            });
            var saveDiscountCouponCode = function () {
                $.ajax({
                        cache: false,
                    url: '/shoppingcart/applydiscountcouponcustom/',
                    data: { discountcouponcode: $("#discountcouponcode").val() },
                        type: 'post',
                    success: function (response) {
                        if (response.success) {
                            $('#flyout-cart').html(response.html);
                            }
                        },
                        error: function () {
                            alert('An error occurred');
                        }
                    });
            }
            var removeDiscountCouponCode = function (discountid) {
                $.ajax({
                    cache: false,
                    url: '/shoppingcart/removediscountcouponcustom/',
                    data: { discountId:discountid},
                        type: 'post',
                        success: function (response) {
                            if (response.success) {
                                $('#flyout-cart').html(response.html);
                            }
                        },
                        error: function () {
                            alert('An error occurred');
                        }
                    });
            }
        });
    </script>
}
<div class="modal discount_tip_popup" id="discount_box">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>@T("NB.Popup.DiscountCouponCode.Heading")</h2>
                <a href="#" rel="modal:close" class="close">X</a>
            </div>
            <div class="modal-body">
                <div class="modal_desc">
                    <div class="coupon-code">
                        <input name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code" placeholder="@T("Admin.GiftCards.Fields.GiftCardCouponCode")" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" name="applydiscountcouponcode" id="applydiscountcouponcode"
                       value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button apply-discount-coupon-code-button" />
            </div>
        </div>
    </div>
</div>
<script>
 
    $("#saveTipAmount").click(function () {
        $("modal").hide();
        $(".jquery-modal").hide();
    })
    $("#applydiscountcouponcode").click(function () {
        $("modal").hide();
        $(".jquery-modal").hide();
    })
</script> 