﻿@model AccountBillingModel
<div asp-validation-summary="All"></div>
@{
    const string hideMerchantProfileAttributeName = "AccountBillings.HideMerchantProfile";
    var hideMerchantProfile = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideMerchantProfileAttributeName, defaultValue: true);

    const string hideDocumentsAttributeName = "AccountBillings.HideDocuments";
    var hideDocuments = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideDocumentsAttributeName, defaultValue: true);

    const string hideTransactionsAttributeName = "AccountBillings.HideTransactions";
    var hideTransactions = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideTransactionsAttributeName, defaultValue: true);

    const string hidePaymentMethodsAttributeName = "AccountBillings.HidePaymentMethods";
    var hidePaymentMethods = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hidePaymentMethodsAttributeName, defaultValue: true);

    const string hideSubscriptionsAttributeName = "AccountBillings.HideSubscriptions";
    var hideSubscriptions = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideMerchantProfileAttributeName, defaultValue: true);
}

<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="accountsbilling-panels">
            <nop-panel asp-name="accountsbilling-merchantinfo" asp-icon="fa fa-info" asp-title="@T("NB.Admin.AccountBillings.Title.MerchantProfile")" asp-hide-block-attribute-name="@hideMerchantProfileAttributeName" asp-hide="@hideMerchantProfile" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>
            <nop-panel asp-name="accountsbilling-documents" asp-icon="fa fa-info" asp-title="@T("NB.Admin.AccountBillings.Title.Documents")" asp-hide-block-attribute-name="@hideDocumentsAttributeName" asp-hide="@hideDocuments" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Document", Model)</nop-panel>
            <nop-panel asp-name="accountsbilling-transactions" asp-icon="fa fa-info" asp-title="@T("NB.Admin.AccountBillings.Title.Transactions")" asp-hide-block-attribute-name="@hideTransactionsAttributeName" asp-hide="@hideTransactions" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.AccountTransactions", Model)</nop-panel>
            <nop-panel asp-name="accountsbilling-paymentmethods" asp-icon="fa fa-info" asp-title="@T("NB.Admin.AccountBillings.Title.PayoutMethod")" asp-hide-block-attribute-name="@hidePaymentMethodsAttributeName" asp-hide="@hidePaymentMethods" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.PayoutMethod", Model)</nop-panel>
            <nop-panel asp-name="accountsbilling-subscriptions" asp-icon="fa fa-info" asp-title="@T("NB.Admin.AccountBillings.Title.Subscriptions")" asp-hide-block-attribute-name="@hideSubscriptionsAttributeName" asp-hide="@hideSubscriptions" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.SubscriptionDetails", Model)</nop-panel>
        </nop-panels>
    </div>
</div>
