﻿@using Nop.Core
@using Nop.Services.Configuration;
@inject ISettingService settingservice
@inject IWorkContext workContext
@model List<MerchantModel>
@{
    bool BookTable = false;
}
@if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsBookTableEnable != null)
{
    BookTable = workContext.CurrentMerchant.IsBookTableEnable.Value;
} 
@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-12 col-xs-12 restaurInfo clearfix">
                @*<div class="leftArrowBtnHome"><a href="/"></a></div>*@
                <div class="leftArrowBtnHome"><a href="/"><i class="fa fa-long-arrow-left"></i></a></div>
                <div class="leftInfo clearfix">
                    <div class="restaurNameInfo">
                        <h2>
                            @item.Name
                            
                        </h2>
                        <div class="bar clearfix">
                            <p>
                                @workContext.CurrentMerchantAddress
                            </p>
                            <div class="diningText">
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <i class="icon icon-dine"></i>
                                    @Html.Raw(item.Description)
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightInfo clearfix">
                    <div id="moreInfo" style="display: none">
                        <h2 class="bTableTitle">@T("book.table.text")</h2>
                        <img src="/Themes/Vonzuu/Content/img/tables1.png?2121" class="bTableImg" />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @await Component.InvokeAsync("BookTable")
                            </div>
                        </div>
                    </div>
                    @{
                        bool AvailableSchedules = false;
                    }
                    @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsAvailableSchedulesEnable != null)
                    {
                        AvailableSchedules = workContext.CurrentMerchant.IsAvailableSchedulesEnable.Value;
                    }
                    @if (AvailableSchedules)
                    {
                        <div class="schedulesText">
                            @*<em>@T("available.schedules.text")</em>*@
                            <ul class="avlSchList">
                                @foreach (var item_ in item.AvailableSchedules)
                                {
                                    <li><span>@item_.ScheduleName:</span> @item_.ScheduleFromTime - @item_.ScheduleToTime</li>
                                }
                            </ul>
                        </div>
                      @* <div class="phoneNum">
                            <i class="fa fa-mobile"></i> @item.PhoneNo
                        </div>*@ 
                    }
                    <ul class="ratingTimeList">
                        @{
                            bool RatingPercent = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.RatingPercent != null)

                        {
                            RatingPercent = workContext.CurrentMerchant.RatingPercent.Value;
                        }
                        @if (RatingPercent)
                        {
                            <li class="ratingli">
                                <span>@await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant) })</span> @T("number.ratings.text")
                            </li>
                        }
                        @{
                            bool DeliveryTime = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsDeliveryTimeEnable != null)
                        {
                            DeliveryTime = workContext.CurrentMerchant.IsDeliveryTimeEnable.Value;
                        }
                        @if (DeliveryTime)
                        {
                            <li>
                                <span>@workContext.CurrentMerchant.ExpDeliveryTime </span>@T("delivery.time.text") <!--Delivery Time-->
                            </li>
                        }
                        @{
                            bool CostFor = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsCostForEnable != null)
                        {
                            CostFor = workContext.CurrentMerchant.IsCostForEnable.Value;
                        }
                        @if (CostFor)
                        {
                            <li>
                                <span>@workContext.CurrentMerchant.CostFor</span> @T("cost.person.text")
                            </li>
                        }
                    </ul>
                </div>
            </div>
                </div>
            }
            
        }
