﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-seller-page");
}
<div class="page home-page">
    <div class="page-body becomeSellerPage">
        <div class="sellerBanner">
            <div class="row">
                <div class="col-md-12 bannerImg">
                    <h1>@T("NB.Seller.Banner.Heading")</h1>
                    <p>@T("NB.Seller.Banner.Text")</p>
                    <a href="#" class="startSellBtn">@T("NB.Seller.Banner.Button")</a>
                </div>
            </div>
        </div>

        @await Component.InvokeAsync("TopicBlock", new { systemName = "WhySellOnKarolocal" })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "SellerTextBlocks" })
    
    </div>
</div>

