﻿@model OrderDetailsModel
<div id="dv-rating-review-popup" class="modal rate_popup">
    <div class="modal-header">
        <span class="close">&times;</span>
    </div>

    <div class="page order-details-page">
        <div class="page-body">

            <div id="order-summary-back" class="order-summary-back">
                <a onclick="showItemSummary()" class="button-2 summary">
                    <h4></h4>
                </a>
            </div>
            <div id="nb-ordersummary">
                <h4 class="summaryHead">
                    @T("Account.CustomerOrders.Ordersummary.view.text")
                </h4>
                <div class="order-details-area">
                    <ul class="billing-info">

                        <li class="heading">
                            <span class="head">@T("nb.deliverto")</span>
                            @*<span class="close" onclick="Billing.closePopup()">&times;</span>*@

                        </li>
                        <li>
                            <div class="title home_add">
                                <strong>Home</strong>
                            </div>
                        </li>
                        <li class="name">
                            @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                        </li>

                        @if (Model.BillingAddress.StreetAddressEnabled)
                        {
                            <li class="address1">
                                @Model.BillingAddress.Address1  @Model.BillingAddress.Address2
                            </li>
                        }
                        @if (Model.BillingAddress.PhoneEnabled)
                        {
                            <li class="phone">
                                <span class="addressPhone">@T("Order.Phone"):</span> @Model.BillingAddress.PhoneNumber
                            </li>
                        }
                        <li class="order-info">
                            <span class="deliver">@T("nb.deliverTime")</span><br /><span class="order-date"> @Model.CreatedOn.ToString("D")</span>
                        </li>

                        @if (!String.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                        {
                            <li class="custom-attributes-view">
                                @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                            </li>
                        }
                        @*@if (!String.IsNullOrEmpty(Model.PaymentMethod))
                {*@
                        <li class="order-info">
                            <span class="deliver">@T("Order.OrderTotal")</span>  <span class="deliver2">@T("Order.OrderStatus")</span>
                        </li>
                        <li class="order-total">
                            <span class="deliver">@Model.OrderTotal</span>  <span class="deliver2 order-status"> @Model.OrderStatus</span>
                        </li>
                        <li class="itemsSummary">
                            <span class="deliver">@T("nb.items")</span>
                            <div class="item-summary text-right">
                                <a onclick="showItemSummary()" class="button-2 summary">
                                    @T("nb.viewSummary")<img class="blue_arrow" src="/Themes/MallSkape/Content/img/blue-arrowRight.png" />
                                </a>
                            </div>
                        </li>
                        @*}*@
                        @if (Model.CustomValues != null)
                        {
                            foreach (var item in Model.CustomValues)
                            {
                                <li class="custom-value">
                                    <span class="label">
                                        @item.Key:
                                    </span>
                                    <span class="value">
                                        @(item.Value != null ? item.Value.ToString() : "")
                                    </span>
                                </li>
                            }
                        }
                    </ul>
                </div>

                @if (Model.AgentReviewModel != null)
                {
                    <div class="row RatingInfo">
                        <div class="col-md-2 col-sm-3 ManRateImg">
                            <img src="\Themes\Dukans\Content\img\ratingMan.png" />
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h1 class="ratinghead">Your Rating to Agent</h1>
                            <img class="rating" src="\Themes\Dukans\Content\img\ratingStar.png" />
                            <span>@Model.AgentReviewModel.RatingStar</span>
                            <p class="RatingNote">@Model.AgentReviewModel.AdditionalNote</p>
                        </div>
                    </div>
                }

                @if (Model.MerchantReviewModel != null)
                {
                    <div class="row RatingStore">
                        <div class="col-md-2 col-sm-3 StoreRateImg">
                            <img src="\Themes\Dukans\Content\img\ratingStore.png" />
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h1 class="ratingstorehead">Your Rating to Store</h1>
                            <img class="ratingstoreImg" src="\Themes\Dukans\Content\img\ratingStar.png" />
                            <span>@Model.MerchantReviewModel.RatingStar</span>
                            <p class="RatingStoreNote">@Model.MerchantReviewModel.AdditionalNote</p>

                        </div>
                    </div>
                }

            </div>

            <div style="display:none" id="nb-itemsummary">
                @if (Model.Items.Count > 0)
                {

                    <div>
                        <div>
                            <strong class="head ItemSummary">@T("Order.ItemSummary")</strong>
                        </div>
                    </div>


                    <div class="section products">
                        @*<div class="title">
                                <strong>@T("Order.Product(s)")</strong>
                            </div>*@
                        <div class="table-wrapper">
                            <table class="data-table">
                                <!--<colgroup>
                                    <col />
                                    @if (Model.ShowSku)
                                    {
                                        <col width="1" />
                                    }
                                    <col />
                                    <col width="1" />
                                    <col width="1" />
                                    <col width="1" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th></th>-->
                                @* @if (Model.ShowSku)
                                    {
                                        <th class="sku" data-hide="w410, w480, w580, w768">
                                            @T("Order.Product(s).SKU")
                                        </th>
                                    }*@
                                <!--<th class="name" style="width:75%">
                                            <span class="productMobileName">@T("Order.ItemSummary")</span>
                                            <span class="productName">@T("Order.Product(s).Name")</span>
                                        </th>
                                        <th class="price" data-hide="w410, w480, w580">
                                            @T("Order.Product(s).Price")
                                        </th>
                                        <th class="quantity" data-hide="w410, w480, w580">
                                            @T("Order.Product(s).Quantity")
                                        </th>
                                        <th class="total" data-hide="w410">
                                            @T("Order.Product(s).Total")
                                        </th>
                                    </tr>
                                </thead>-->
                                <tbody>
                                    @{var counter = 0;}
                                    @foreach (var item in Model.Items)
                                    {
                                        counter++;
                                        <tr>
                                            <td>
                                                <span class="item-count">@counter</span>
                                            </td>
                                            <td class="product-picture">
                                                <div class="picture">
                                                    <img height="100" width="70" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                                </div>
                                            </td>
                                            <td class="product">
                                                @if (!Model.PrintMode)
                                                {
                                                    @*<em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>*@
                                                    <em>@item.ProductName</em>
                                                }
                                                else
                                                {
                                                    @item.ProductName
                                                }
                                                @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                {
                                                    <div class="attributes">
                                                        @Html.Raw(item.AttributeInfo)
                                                    </div>
                                                }
                                                <div class="quantity">
                                                    <em> @item.Quantity * @item.UnitPrice</em>
                                                </div>
                                            </td>
                                            @*<td class="unit-price">
                                                    @item.UnitPrice
                                                </td>
                                                <td class="quantity">
                                                    @item.Quantity
                                                </td>*@
                                            <td>
                                                of
                                            </td>
                                            <td class="total">
                                                @item.SubTotal
                                            </td>
                                        </tr>
                                        @if (Model.OrderStatusEnum == Nop.Core.Domain.Orders.OrderStatus.OrderDelivered)
                                        {
                                            <tr>
                                                @*ratingreview raw*@
                                                <td></td>
                                                @if (item.ItemReviewModel != null)
                                                {
                                                    <td>
                                                        <div class="rating-item-star">
                                                            <span><img src="\Themes\Dukans\Content\img\ratingStar.png" /></span>
                                                            <span>@item.ItemReviewModel.RatingStar</span>
                                                        </div>
                                                        <div class="rating-item-title">
                                                            <h3>@item.ItemReviewModel.Title</h3>
                                                        </div>
                                                        <div class="rating-item-note">
                                                            <p>@item.ItemReviewModel.AdditionalNote</p>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a onclick="loadDirectItemRatingReviewComp(@Model.Id, @item.ProductId)">
                                                            <input type="button" value="@T("NBOrderSummary.ItemSummary.giverating.text")" class="reviewBtn button-1 order-details-button rate_rev_btn" />
                                                        </a>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*<div class="section options">
                            @if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                            {
                                var inclTax = Model.PricesIncludeTax;
                                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                                //of course, you can modify appropriate locales to include VAT info there
                                <div class="tax-shipping-info">
                                    @T(inclTax ? "Order.TaxShipping.InclTax" : "Order.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                            {
                                <div class="selected-checkout-attributes">
                                    @Html.Raw(Model.CheckoutAttributeInfo)
                                </div>
                            }
                            @if (!Model.PrintMode)
                            {
                                <div class="actions">
                                    @if (Model.IsReOrderAllowed)
                                    {
                                        <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')" />
                                    }
                                    @if (Model.IsReturnRequestAllowed)
                                    {
                                        <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                                    }
                                </div>
                            }
                        </div>*@

                    <div class="section totals">
                        <div class="total-info">
                            <table class="cart-total">
                                <tbody>
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@T("nb.Order.SubTotal"):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@Model.OrderSubtotal</span>
                                        </td>
                                    </tr>
                                    @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                                    {
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("Order.SubTotalDiscount"):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.OrderSubTotalDiscount</span>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.IsShippable)
                                    {
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("Order.Shipping"):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.OrderShipping</span>
                                            </td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                                    {
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("Order.PaymentMethodAdditionalFee"):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.PaymentMethodAdditionalFee</span>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                                    {
                                        foreach (var taxRate in Model.TaxRates)
                                        {
                                            <tr>
                                                <td class="cart-total-left">
                                                    <label>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</label>
                                                </td>
                                                <td class="cart-total-right">
                                                    <span>@taxRate.Value</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    @if (Model.DisplayTax)
                                    {
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("Order.Tax"): @(Model.AppliedTaxRates)</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.Tax</span>
                                            </td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                                    {
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("Order.TotalDiscount"):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.OrderTotalDiscount</span>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.GiftCards.Count > 0)
                                    {
                                        foreach (var gc in Model.GiftCards)
                                        {
                                            <tr>
                                                <td class="cart-total-left">
                                                    <label>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</label>
                                                </td>
                                                <td class="cart-total-right">
                                                    <span>@gc.Amount</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@T("NB.Order.DeliveryAmount"):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span><strong>@Model.DeliveryAmount</strong></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@T("NB.Order.ServiceChargeAmountDukan")</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@Model.ServiceChargeAmount</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@T("NB.Order.TipAmount")</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@Model.TipAmount</span>
                                        </td>
                                    </tr>
                                    @if (Model.RedeemedRewardPoints > 0)
                                    {
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.RedeemedRewardPointsAmount</span>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@T("Order.OrderTotal"):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span><strong>@Model.OrderTotal</strong></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $("#dv-rating-review-popup").show();

    $(".close").bind('click', function () {
        $('#dv-rating-review-container').hide();
    });

    $(document).ready(function () {
        displayAjaxLoading(false);
        $('#order-summary-back').hide();
    })

    function showItemSummary() {
        $('#nb-ordersummary').toggle();
        $('#nb-itemsummary').toggle();
        $('#order-summary-back').toggle();
    }

    function loadDirectItemRatingReviewComp(orderId, itemid) {
        var url = '@Url.Action("LoadRatingReview", "RatingReview")' + '?orderId=' + orderId + '&directItemId=' + itemid;
            $('#dv-rating-review-container').load(url, function () {
                $('#dv-rating-review-container').show();
            });
        }
</script>