﻿@model CustomerWalletListModel
@{
    Layout = "_ColumnsTwo";
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-wallet-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.MyWallet })
}
<script>
    var hidepopoverv = false;
    function hidepopover() {
        hidepopoverv = true;
        $('#btnAddMoney').popover('hide');
    }
    function countinueAddMoney() {
        var amount = $("#exampleModal").find("#txtAddAmount").val();
        if (amount != "" && parseInt(amount) > 0) {
            $.post("/ShoppingCart/AddWalletAmount", { walletAmount: amount }, function (data) {
                 if (data.success) {
                     window.setTimeout(function () {
                         location.href = '/onepagewalletcheckout/' + amount + '/';
            }, 1000);
                 }
                },'JSON');
        }
        else {
            alert('@T("Admin.Account.Wallet.InvalidWalletAmount.Message")');
        }
    }
    $(document).ready(function () {

            var title = '<h1 style="font-weight:bold;font-size:18px;"><b id="boldTitle">@T("Account.CustomerAddMoneyToWallet")</b></h1>';
        $('#btnAddMoney').popover({ title: title, content: '', html: true, placement: "bottom" });

        $('#btnAddMoney').click(function () {
            if (hidepopoverv) {
                $('#btnAddMoney').popover('toggle');
            }
            $("#boldTitle").css("font-weight", "bold");
            var vcontent = '<div class="form-group">';
            vcontent += '<input type="text" class="form-control input-sm" style="height:35px;" id="txtAddAmount"><br /></div>';
            vcontent += '<button id="btnCancelAddMoney" onclick="hidepopover();" class="btn btn-default">@T("Account.Wallet.Cancel")</button>';
            vcontent += '<button class="btn btn-default" style="margin:5px;" id="btnCountinueAddMoney" onclick="countinueAddMoney();">@T("Account.Wallet.Countinue")</button>';
                $('.popover-content').html(vcontent);
                hidepopoverv = false;
        });
    });
</script>
<div class="page account-page order-list-page" style="padding-left:20px;">
    <div class="page-body">
        <div class="page-title">
            <h1> @T("Account.CustomerWallets")</h1>
        </div>
        <div class="wallet-headDes">
            <div class="row">
                <h2> @T("Account.Wallet.CurrentWalletBalance")</h2>
            </div>
            <strong style="font-weight:bold;">@Model.BalanceAmount</strong>
        </div>
        @if (Model.Wallets.Count > 0)
        {
            @*   <h2 style="padding: 0px; font-family: 'MontserratSemiBold';
            ">@T("Account.Wallet.AllTransactionDetails")</h2>*@
            <div class="order-list">
                <table class="table table-hover">
                    @foreach (var wallet in Model.Wallets)
                    {
                        <tr class="section order-item">
                            <td width="15%">
                                <i class="fa fa-money" style="font-size:35px" aria-hidden="true"></i>
                            </td>
                            @if (wallet.Credited)
                            {
                                <td width="60%" class="acc">
                                    <label>@T("Account.Wallet.AmountAdded")</label>
                                    <br />
                                    @wallet.TransactionOnUtc
                                </td>

                                <td class="alert alert-success" width="25%">
                                    <p>    @wallet.DisplayAmount </p>
                                </td>
                            }
                            else
                            {
                                <td width="60%" class="acc">
                                    <label>@T("Account.Wallet.AmountPaid")</label>
                                    <br />
                                    @wallet.TransactionOnUtc

                                </td>

                                <td class="alert alert-danger" width="25%">
                                    <p>       @wallet.DisplayAmount</p>
                                </td>
                            }



                        </tr>
                        @*<div class="section order-item">
                            <div class="order_details">
                                <i class="fa fa-money" style="font-size:35px;padding-top:5px;" aria-hidden="true"></i>
                                <strong>@T("Account.Wallet.AmountAdded")</strong>
                                @wallet.TransactionOnUtc.ToStoreTimeFormat()
                                <span> @wallet.DisplayAmount</span>
                            </div>
                        </div>*@
                    }
                </table>
                @*   <div class="addToWallet">
                    <input type="button" id="btnAddMoney" value="@T("Account.CustomerAddMoneyToWallet")" class="button-1 order-details-button re_btn" />
                </div>*@
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerOrders.NoWallets")
            </div>
        }
        <div class="addToWallet">
            <button type="button" id="btnAddMoney" class="button-1 order-details-button re_btn" data-toggle="modal" data-target="#exampleModal">
                @T("Account.CustomerAddMoneyToWallet")
            </button>
        </div>
    </div>
</div>


    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style=" font-weight: bold;font-size: 14px;
" class="modal-title" id="exampleModalLabel">@T("Account.CustomerAddMoneyToWallet")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" style="height:35px;" id="txtAddAmount">
                    </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddMoney" class="btn btn-default" data-dismiss="modal">@T("Account.Wallet.Cancel")</button>
                    <button type="button" class="btn btn-primary" style="margin:5px;"
                            id="btnCountinueAddMoney" onclick="countinueAddMoney();">@T("Account.Wallet.Countinue")</button>
                </div>
            </div>
        </div>
    </div>

