﻿@model CustomerOrderListModel
@{
    Layout = "_ColumnsTwo";
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Orders })
}

<div class="page account-page order-list-page">


    <div class="page-body">

        <div class="page-title">
            <h1>@*@T("Account.MyAccount") -*@ @T("Account.CustomerOrders")</h1>
        </div>
        @if (Model.RecurringOrders.Count > 0)
        {
            <div class="section recurring-payments">
                <div class="title">
                    <strong>@T("Account.CustomerOrders.RecurringOrders")</strong>
                </div>
                <form asp-route="CustomerOrders" method="post">
                    @{
                        var canRetryRecurringOrders = Model.RecurringOrders.Any(recurring => recurring.CanRetryLastPayment);
                    }
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col width="1" />
                                <col />
                                <col />
                                <col />
                                <col />
                                @if (canRetryRecurringOrders)
                                {
                                    <col />
                                }
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <span class="item-count">#</span>
                                    </th>
                                    <th class="start-date" data-hide="w410, w480, w580">
                                        @T("Account.CustomerOrders.RecurringOrders.StartDate")
                                    </th>
                                    <th class="cycle-info" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.CycleInfo")
                                    </th>
                                    <th class="next-payment">
                                        @T("Account.CustomerOrders.RecurringOrders.NextPayment")
                                    </th>
                                    <th class="total-cycles" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.TotalCycles")
                                    </th>
                                    <th class="cycles-remaining" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.CyclesRemaining")
                                    </th>
                                    <th class="initial-order" data-hide="w410, w480, w580, w768">
                                        @T("Account.CustomerOrders.RecurringOrders.InitialOrder")
                                    </th>
                                    @if (canRetryRecurringOrders)
                                    {
                                        <th class="retry">
                                            @T("Account.CustomerOrders.RecurringOrders.RetryLastPayment")
                                        </th>
                                    }
                                    <th class="cancel" data-hide="w410">
                                        @T("Account.CustomerOrders.RecurringOrders.Cancel")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var counter = 0;}
                                @foreach (var item in Model.RecurringOrders)
                                {
                                    counter++;
                                    <tr>
                                        <td>
                                            <span class="item-count">@counter</span>
                                        </td>
                                        <td class="start-date">
                                            @item.StartDate
                                        </td>
                                        <td class="cycle-info">
                                            @item.CycleInfo
                                        </td>
                                        <td class="next-payment">
                                            @item.NextPayment
                                        </td>
                                        <td class="total-cycles">
                                            @item.TotalCycles
                                        </td>
                                        <td class="cycles-remaining">
                                            @item.CyclesRemaining
                                        </td>
                                        <td class="initial-order">
                                            <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.InitialOrderId })">@string.Format(T("Account.CustomerOrders.RecurringOrders.ViewInitialOrder").Text, item.InitialOrderNumber)</a>
                                        </td>
                                        @if (canRetryRecurringOrders)
                                        {
                                            <td class="retry">
                                                @if (item.CanRetryLastPayment)
                                                {
                                                    <input type="submit" name="retryLastPayment_@(item.Id)" value="@T("Account.CustomerOrders.RecurringOrders.RetryLastPayment")" class="button-2 retry-recurring-order-button" />
                                                }
                                            </td>
                                        }
                                        <td class="cancel">
                                            @if (item.CanCancel)
                                            {
                                                <input type="submit" name="cancelRecurringPayment@(item.Id)" value="@T("Account.CustomerOrders.RecurringOrders.Cancel")" class="button-2 cancel-recurring-order-button" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            if (Model.RecurringPaymentErrors.Any())
            {
                <div class="message-error">
                    <ul>
                        @foreach (var error in Model.RecurringPaymentErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
        }
        @if (Model.Orders.Count > 0)
        {
            <div class="order-list">
                @foreach (var order in Model.Orders)
                {
                    <div class="section order-item">
                        @*                            onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')"
                        *@                            <div class="order_details">

                            @*                            <div class="orderLabelMobile">@T("Account.CustomerOrders.OrderStatus")</div>
                            *@                            <div class="row statusHead">
                                <img class="statusButton" src="/Themes/MallSkape/Content/img/greenCheck.png" />
                                <span class="order-status received_clr @order.OrderStatusEnum.ToString().ToLowerInvariant()">@order.OrderStatus</span>
                            </div>
                            <div class="details">
                                @*                                <div class="orderLabelMobile">@T("Account.CustomerOrders.OrderNumber")</div>
                                *@                                <span class="order-number"> @order.CustomOrderNumber</span>
                                @*                                <div class="orderLabelMobile">@T("Account.CustomerOrders.OrderDate")</div>*@
                                <span class="order-date">@order.CreatedOn.ToString()</span>
                                @*                                <div class="orderLabelMobile">@T("Account.CustomerOrders.DeliveryDate")</div>
                                *@                                <span class="order-del-date">@order.CreatedOn.ToString()</span>
                                @*                                <div class="orderLabelMobile">@T("Account.CustomerOrders.DeliveryAddress")</div>
                                *@
                            </div>
                        </div>
                        <a class="VieworderSummary" onclick="loadOrderSummary(@order.Id)">
                            @T("Account.CustomerOrders.Ordersummary.view.text")
                        </a>
                        <div class="buttons">

                            @*<a href="#ViewOrderDetail" rel="modal:open">
                                    <input type="button" value="@T("Account.CustomerOrders.rateAndReviewOrder")" class="button-2 order-details-button rate_rev_btn" />
                                </a>*@
                            @if (order.ShowRtingReviewButton)
                            {
                                @*                                <div class="reviewOrder">
                                *@ <a id="rat_rev_btn@(order.Id)" onclick="loadRatingReviewComp(@order.Id)">
                                    <input type="button" value="@T("Account.CustomerOrders.rateAndReviewOrder")" class="button-2 order-details-button rate_rev_btn" />
                                </a>
                            }
                            <div id="ViewOrderDetail" class="modal accountReviewPopup">
                                <div class="order-details-area">
                                    <ul class="billing-info">
                                        <li class="heading">
                                            <span class="order-summary">Order Summary</span> <br />
                                            <span class="head">@T("nb.deliverto")</span>
                                            @*  <span class="close" onclick="Billing.closePopup()">&times;</span>*@

                                        </li>

                                        <li>
                                            <div class="title home_add">
                                                <strong>Home</strong>
                                            </div>
                                        </li>
                                        <li class="name">
                                            Ishita swaj
                                        </li>
                                        <li class="name">
                                            #b2 Mohali, Sector 61
                                        </li>
                                        <li class="address1">
                                            789 house no.
                                        </li>
                                        <li class="phone">
                                            <span class="addressPhone">@T("Order.Phone"):</span> 87698769876
                                        </li>

                                        <li class="order-info">
                                            <span class="deliver">@T("nb.deliverTime")</span><br /><span class="order-date">20 July 2:00 PM</span>
                                        </li>

                                        @* @if (!String.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                                            {
                                                <li class="custom-attributes-view">
                                                    @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                                                </li>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                                            {*@
                                        <li class="order-info">
                                            <span class="deliver">@T("Order.OrderTotal")</span>  <span class="deliver2">@T("Order.OrderStatus")</span>
                                        </li>
                                        <li class="order-total">
                                            <strong>Rs 45</strong>  <span class="order-status">@T("nb.Received")</span>
                                        </li>
                                        <li class="itemsSummary">
                                            <span class="deliver">@T("nb.items")</span>
                                            <div class="item-summary text-right">
                                                <a href="#" class="button-2 summary">
                                                    @T("nb.viewSummary")<a>
                                                        <img class="blue_arrow" src="/Themes/MallSkape/Content/img/blue-arrowRight.png" />
                                                    </a>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="row RatingInfo">
                                    <div class="col-md-2 col-sm-3 ManRateImg">
                                        <img src="\Themes\Dukans\Content\img\ratingMan.png" />
                                    </div>
                                    <div class="col-md-10 col-sm-9">
                                        <h1 class="ratinghead">Your Rating to Agent</h1>
                                        <img class="rating" src="\Themes\Dukans\Content\img\ratingStar.png" />
                                        <p class="RatingNote">Additional note if any</p>
                                    </div>
                                </div>
                                <div class="row RatingStore">
                                    <div class="col-md-2 col-sm-3 StoreRateImg">
                                        <img src="\Themes\Dukans\Content\img\ratingStore.png" />
                                    </div>
                                    <div class="col-md-10 col-sm-9">
                                        <h1 class="ratingstorehead">Your Rating to Store</h1>
                                        <img class="ratingstoreImg" src="\Themes\Dukans\Content\img\ratingStar.png" />
                                        <p class="RatingStoreNote">Additional note if any</p>

                                    </div>
                                </div>
                            </div>
                            <input type="button" value="@T("Account.CustomerOrders.ReOrder")" class="button-2 order-details-button re_btn" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = order.Id })')" />



                            <!--Custom code added for Rating and cancel-->
                            @* @if (order.ShowRtingReviewButton)
                                {
                                    <input type="button" id="rat-rev-@order.Id" value="@T("Account.CustomerOrders.RatingReview.Button")" onclick="loadRatingReviewComp(@order.Id)" />
                                }
                                @if (order.OrderStatus == Nop.Core.Domain.Orders.OrderStatus.Received.ToString())
                                {
                                    <input type="submit" value="@T("Common.Cancel")" onclick="cancelOrder(@order.Id)" class="button-2 cancel-recurring-order-button" />
                                }
                                <!--End Custom code added for Rating and cancel-->
                                @if (order.IsReturnRequestAllowed)
                                {
                                    <input type="button" value="@T("Account.CustomerOrders.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = order.Id })')" />
                                }
                                <input type="button" value="@T("Account.CustomerOrders.OrderDetails")" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" />
                            *@
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerOrders.NoOrders")
            </div>
        }
    </div>
    <script type="text/javascript" asp-location="Footer">
        function loadRatingReviewComp(orderId) {
            displayAjaxLoading(true);
            var url = '@Url.Action("LoadRatingReview", "RatingReview")' + '?orderId=' + orderId;
            $('#dv-rating-review-container').load(url, function () {
                $('#dv-rating-review-container').show();
            });
        }
        function cancelOrder(orderId) {
            if (confirm('@(T("Account.CustomerOrders.CancelOrder.Confirm").Text)')) {
             var url = '@Url.Action("CancelOrder", "Order")' + '?orderId=' + orderId;
             location.href = url;
            }
        }

        function loadOrderSummary(orderId) {
            displayAjaxLoading(true);
            var url = '@Url.Action("NBOrderSummary", "Order")' + '?orderId=' + orderId;
            $('#dv-rating-review-container').load(url, function () {
                $('#dv-rating-review-container').show();
            });
        }
    </script>
    <!--End Custom code added for rating-->
    <script>
        $("#dv-rating-review-container").appendTo("footer");
    </script>
</div>
<!--<!--Custom code added for rating-->
<!--<div id="dv-rating-review-container" style="display:none;">-->
@*@await Component.InvokeAsync("RatingReview", new { showEmpty = true })*@
<!--</div>-->