﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="related-products-grid product-grid">
        <div class="title">
            <strong>@T("Products.RelatedProducts")</strong>
        </div>
        <div class="item-grid fiveItemSlider">
            @foreach (var item in Model)
            {
                <div class="item-box">@await Html.PartialAsync("_ProductBox", item)</div>
            }
        </div>
    </div>
}