@model CustomerUserSettingsModel

    <script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.CustomerSettings.AgentCountryEnabled)").click(toggleAgentCountryFormField);
        $("#@Html.IdFor(model => model.CustomerSettings.AgentStateProvinceEnabled)").click(toggleAgentStateProvinceFormField);
        $("#@Html.IdFor(model => model.CustomerSettings.AgentStreetAddressEnabled)").click(toggleAgentRequiredFormField);
        $("#@Html.IdFor(model => model.CustomerSettings.AgentStreetAddress2Enabled)").click(toggleAgentRequiredFormField);
        $("#@Html.IdFor(model => model.CustomerSettings.AgentZipPostalCodeEnabled)").click(toggleAgentRequiredFormField);
        $("#@Html.IdFor(model => model.CustomerSettings.AgentCityDdlEnabled)").click(toggleAgentCityDdlRequiredFormField);

        toggleAgentCountryFormField();
        toggleAgentStateProvinceFormField();
        toggleAgentRequiredFormField();
        toggleAgentCityDdlRequiredFormField();
    });

    function toggleAgentCountryFormField() {
        if ($('#@Html.IdFor(model => model.CustomerSettings.AgentCountryEnabled)').is(':checked')) {
            $('#pnlAgentCountryRequired').show();
            $('#pnlAgentStateProvinceEnabled').show();
            toggleAgentStateProvinceFormField();
        } else {
            $('#pnlAgentCountryRequired').hide();
            $('#pnlAgentStateProvinceEnabled').hide();
            //$('#pnlAgentCityDdlEnabled').hide();
            toggleAgentStateProvinceFormField();
        }
    }

    function toggleAgentStateProvinceFormField() {
        if ($('#@Html.IdFor(model => model.CustomerSettings.AgentCountryEnabled)').is(':checked') &&
            $('#@Html.IdFor(model => model.CustomerSettings.AgentStateProvinceEnabled)').is(':checked')) {
            $('#pnlAgentStateProvinceRequired').show();
            $('#pnlAgentCityDdlEnabled').show();
            toggleAgentCityDdlRequiredFormField();
        } else {
            $('#pnlAgentStateProvinceRequired').hide();
            $('#pnlAgentCityDdlEnabled').hide();
            toggleAgentCityDdlRequiredFormField();
        }
    }

    function toggleAgentCityDdlRequiredFormField() {
        if ($('#@Html.IdFor(model => model.CustomerSettings.AgentStateProvinceEnabled)').is(':checked') &&
            $('#@Html.IdFor(model => model.CustomerSettings.AgentCityDdlEnabled)').is(':checked')) {
            $('#pnlAgentCityDdlRequired').show();
        } else {
            $('#pnlAgentCityDdlRequired').hide();
        }
    }

    function toggleAgentRequiredFormField() {

        if ($('#@Html.IdFor(model => model.CustomerSettings.AgentStreetAddressEnabled)').is(':checked')) {
            $('#pnlAgentStreetAddressRequired').show();
        } else {
            $('#pnlAgentStreetAddressRequired').hide();
        }

        if ($('#@Html.IdFor(model => model.CustomerSettings.AgentStreetAddress2Enabled)').is(':checked')) {
            $('#pnlAgentStreetAddress2Required').show();
        } else {
            $('#pnlAgentStreetAddress2Required').hide();
        }

        if ($('#@Html.IdFor(model => model.CustomerSettings.AgentZipPostalCodeEnabled)').is(':checked')) {
            $('#pnlAgentZipPostalCodeRequired').show();
        } else {
            $('#pnlAgentZipPostalCodeRequired').hide();
        }
    }
    </script>

<div class="panel-group">
    <div class="panel-body">
        <p>
            <em>@T("NB.Admin.Configuration.Settings.AgentUser.AgentFormFields.Description")</em>
        </p>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="CustomerSettings.AgentStreetAddressEnabled" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="CustomerSettings.AgentStreetAddressEnabled" />
                <span asp-validation-for="CustomerSettings.AgentStreetAddressEnabled"></span>
            </div>
        </div>
        <nop-nested-setting asp-for="CustomerSettings.AgentStreetAddressEnabled">
            <div class="form-group" id="pnlAgentStreetAddressRequired">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerSettings.AgentStreetAddressRequired" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerSettings.AgentStreetAddressRequired" />
                    <span asp-validation-for="CustomerSettings.AgentStreetAddressRequired"></span>
                </div>
            </div>
        </nop-nested-setting>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="CustomerSettings.AgentStreetAddress2Enabled" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="CustomerSettings.AgentStreetAddress2Enabled" />
                <span asp-validation-for="CustomerSettings.AgentStreetAddress2Enabled"></span>
            </div>
        </div>
        <nop-nested-setting asp-for="CustomerSettings.AgentStreetAddress2Enabled">
            <div class="form-group" id="pnlAgentStreetAddress2Required">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerSettings.AgentStreetAddress2Required" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerSettings.AgentStreetAddress2Required" />
                    <span asp-validation-for="CustomerSettings.AgentStreetAddress2Required"></span>
                </div>
            </div>
        </nop-nested-setting>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="CustomerSettings.AgentZipPostalCodeEnabled" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="CustomerSettings.AgentZipPostalCodeEnabled" />
                <span asp-validation-for="CustomerSettings.AgentZipPostalCodeEnabled"></span>
            </div>
        </div>
        <nop-nested-setting asp-for="CustomerSettings.AgentZipPostalCodeEnabled">
            <div class="form-group" id="pnlAgentZipPostalCodeRequired">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerSettings.AgentZipPostalCodeRequired" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerSettings.AgentZipPostalCodeRequired" />
                    <span asp-validation-for="CustomerSettings.AgentZipPostalCodeRequired"></span>
                </div>
            </div>
        </nop-nested-setting>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="CustomerSettings.AgentCountryEnabled" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="CustomerSettings.AgentCountryEnabled" />
                <span asp-validation-for="CustomerSettings.AgentCountryEnabled"></span>
            </div>
        </div>
        <nop-nested-setting asp-for="CustomerSettings.AgentCountryEnabled">
            <div class="form-group" id="pnlAgentCountryRequired">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerSettings.AgentCountryRequired" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerSettings.AgentCountryRequired" />
                    <span asp-validation-for="CustomerSettings.AgentCountryRequired"></span>
                </div>
            </div>
        </nop-nested-setting>
        <div class="form-group" id="pnlAgentStateProvinceEnabled">
            <div class="col-md-4">
                <nop-label asp-for="CustomerSettings.AgentStateProvinceEnabled" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="CustomerSettings.AgentStateProvinceEnabled" />
                <span asp-validation-for="CustomerSettings.AgentStateProvinceEnabled"></span>
            </div>
        </div>
        <nop-nested-setting asp-for="CustomerSettings.AgentStateProvinceEnabled">
            <div class="form-group" id="pnlAgentStateProvinceRequired">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerSettings.AgentStateProvinceRequired" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerSettings.AgentStateProvinceRequired" />
                    <span asp-validation-for="CustomerSettings.AgentStateProvinceRequired"></span>
                </div>
            </div>
        </nop-nested-setting>
        <div class="form-group" id="pnlAgentCityDdlEnabled">
            <div class="col-md-4">
                <nop-label asp-for="CustomerSettings.AgentCityDdlEnabled" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="CustomerSettings.AgentCityDdlEnabled" />
                <span asp-validation-for="CustomerSettings.AgentCityDdlEnabled"></span>
            </div>
        </div>
        <nop-nested-setting asp-for="CustomerSettings.AgentCityDdlEnabled">
            <div class="form-group" id="pnlAgentCityDdlRequired">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerSettings.AgentCityDdlRequired" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerSettings.AgentCityDdlRequired" />
                    <span asp-validation-for="CustomerSettings.AgentCityDdlRequired"></span>
                </div>
            </div>
        </nop-nested-setting>
    </div>
</div>