@model GeneralCommonSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="PdfSettings.LogoPictureId_OverrideForStore" asp-parent-container="pdf-logo-picture" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PdfSettings.LogoPictureId" />
        </div>
        <div class="col-md-8" id="pdf-logo-picture">
            <nop-editor asp-for="PdfSettings.LogoPictureId" />
            <span asp-validation-for="PdfSettings.LogoPictureId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="PdfSettings.InvoiceFooterTextColumn1_OverrideForStore" asp-input="PdfSettings.InvoiceFooterTextColumn1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PdfSettings.InvoiceFooterTextColumn1" />
        </div>
        <div class="col-md-8">
            <nop-textarea asp-for="PdfSettings.InvoiceFooterTextColumn1" />
            <span asp-validation-for="PdfSettings.InvoiceFooterTextColumn1"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="PdfSettings.InvoiceFooterTextColumn2_OverrideForStore" asp-input="PdfSettings.InvoiceFooterTextColumn2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PdfSettings.InvoiceFooterTextColumn2" />
        </div>
        <div class="col-md-8">
            <nop-textarea asp-for="PdfSettings.InvoiceFooterTextColumn2" />
            <span asp-validation-for="PdfSettings.InvoiceFooterTextColumn2"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="PdfSettings.LetterPageSizeEnabled_OverrideForStore" asp-input="PdfSettings.LetterPageSizeEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PdfSettings.LetterPageSizeEnabled" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="PdfSettings.LetterPageSizeEnabled" />
            <span asp-validation-for="PdfSettings.LetterPageSizeEnabled"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="PdfSettings.DisablePdfInvoicesForPendingOrders_OverrideForStore" asp-input="PdfSettings.DisablePdfInvoicesForPendingOrders" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PdfSettings.DisablePdfInvoicesForPendingOrders" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="PdfSettings.DisablePdfInvoicesForPendingOrders" />
            <span asp-validation-for="PdfSettings.DisablePdfInvoicesForPendingOrders"></span>
        </div>
    </div>
</div>