@model ShippingSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowPickupInStore_OverrideForStore" asp-input="AllowPickupInStore" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowPickupInStore" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowPickupInStore" />
            <span asp-validation-for="AllowPickupInStore"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="AllowPickupInStore">
        <div class="form-group advanced-setting" id="pnlIgnoreAdditionalShippingChargeForPickupInStore">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="IgnoreAdditionalShippingChargeForPickupInStore_OverrideForStore" asp-input="IgnoreAdditionalShippingChargeForPickupInStore" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="IgnoreAdditionalShippingChargeForPickupInStore" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="IgnoreAdditionalShippingChargeForPickupInStore" />
                <span asp-validation-for="IgnoreAdditionalShippingChargeForPickupInStore"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlDisplayPickupPointsOnMap">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="DisplayPickupPointsOnMap_OverrideForStore" asp-input="DisplayPickupPointsOnMap" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="DisplayPickupPointsOnMap" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="DisplayPickupPointsOnMap" />
                <span asp-validation-for="DisplayPickupPointsOnMap"></span>
            </div>
        </div>
        <nop-nested-setting asp-for="DisplayPickupPointsOnMap">
            <div class="form-group advanced-setting" id="pnlGoogleMapsApiKey">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="GoogleMapsApiKey_OverrideForStore" asp-input="GoogleMapsApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="GoogleMapsApiKey" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="GoogleMapsApiKey" />
                    <span asp-validation-for="GoogleMapsApiKey"></span>
                </div>
            </div>
        </nop-nested-setting>
    </nop-nested-setting>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="FreeShippingOverXEnabled_OverrideForStore" asp-input="FreeShippingOverXEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="FreeShippingOverXEnabled" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="FreeShippingOverXEnabled" />
            <span asp-validation-for="FreeShippingOverXEnabled"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="FreeShippingOverXEnabled">
        <div class="form-group" id="pnlValueOfX">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="FreeShippingOverXValue_OverrideForStore" asp-input="FreeShippingOverXValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="FreeShippingOverXValue" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="FreeShippingOverXValue" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                <span asp-validation-for="FreeShippingOverXValue"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlValueOfXincltax">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="FreeShippingOverXIncludingTax_OverrideForStore" asp-input="FreeShippingOverXIncludingTax" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="FreeShippingOverXIncludingTax" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="FreeShippingOverXIncludingTax" />
                <span asp-validation-for="FreeShippingOverXIncludingTax"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="UseWarehouseLocation_OverrideForStore" asp-input="UseWarehouseLocation" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="UseWarehouseLocation" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="UseWarehouseLocation" />
            <span asp-validation-for="UseWarehouseLocation"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="ConsiderAssociatedProductsDimensions_OverrideForStore" asp-input="ConsiderAssociatedProductsDimensions" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ConsiderAssociatedProductsDimensions" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="ConsiderAssociatedProductsDimensions" />
            <span asp-validation-for="ConsiderAssociatedProductsDimensions"></span>
        </div>
    </div>
</div>