﻿@model Nop.Web.Areas.Admin.Models.Settings.RatingReviewSettingsModel
@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.RatingReview").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Rating Review settings");
}



<form asp-controller="Setting" asp-action="RatingReview" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.RatingReview")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_forum_settings_buttons" })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            @await Component.InvokeAsync("SettingMode")
            <div asp-validation-summary="All"></div>



            <div class="panel-group">

                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_ratingReview_settings_settings_top" })

                <div class="panel panel-default advanced-setting">
                    <div class="panel-heading">
                        @T("Admin.Configuration.Settings.RatingReview.BlockTitle.AgentSettings")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-2">
                                <nop-override-store-checkbox asp-for="AgentIsActive_OverrideForStore" asp-input="AgentIsActive" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AgentIsActive" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="AgentIsActive" />
                                <span asp-validation-for="AgentIsActive"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="AgentRequiresAdminApproval_OverrideForStore" asp-input="AgentRequiresAdminApproval" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AgentRequiresAdminApproval" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="AgentRequiresAdminApproval" />
                                <span asp-validation-for="AgentRequiresAdminApproval"></span>
                            </div>
                        </div>

                        @*<div class="form-group">
                                <div class="col-lg-2">
                                    <nop-override-store-checkbox asp-for="DislikeOption" asp-input="DislikeOption" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="DislikeOption" />
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="AgentAdditionalNotes_OverrideForStore" asp-input="AgentAdditionalNotes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AgentAdditionalNotes" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="AgentAdditionalNotes" />
                                <span asp-validation-for="AgentAdditionalNotes"></span>
                            </div>
                        </div>

                        @*Custom agent settings*@
                        @foreach (var agentOp in Model.AvailableAgnetReviewOptions)
                        {
                            <div class="form-group">
                                <div class="col-md-4">
                                    <input checked="checked" class="multi-store-override-option" data-for-input-selector="#agentOp-@agentOp.Id"
                                           data-val="true" data-val-required="The field is required."
                                           id="agentOp-@(agentOp.Id)_OverrideForStore" name="agentOp-@(agentOp.Id)_OverrideForStore"
                                           onclick="checkOverriddenStoreValue(this, '#agentOp-@agentOp.Id')" type="checkbox" value="true">
                                    <div class="label-wrapper"><label class="control-label" for="agentOp-@agentOp.Id">@agentOp.Name</label></div>
                                </div>
                                <div class="col-md-8">
                                    <input checked="@(agentOp.Active ? "checked" : null)" class="agent-check-box" data-val="@agentOp.Active" data-val-required="The @(agentOp.Name) field is required." id="agentOp-@agentOp.Id" name="agentOp-@agentOp.Id" type="checkbox" value="@agentOp.Id">
                                    <span class="field-validation-valid" data-valmsg-for="agentOp-@agentOp.Id" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        }
                        <input type="hidden" id="hdAgentActiveSettingIds" name="AgentActiveSettingIds" value="@Model.AgentActiveSettingIds" />
                        <script>
                            $('.agent-check-box').click(
                                function () {
                                    $('#hdAgentActiveSettingIds').val('');
                                    $('.agent-check-box').each(function () {
                                        var overid = "#agentOp-" + $(this).val() + "_OverrideForStore";
                                        if ($(this).is(':checked') && $(overid).is(':checked')) {
                                            $('#hdAgentActiveSettingIds').val($('#hdAgentActiveSettingIds').val() + $(this).val() + ',');
                                        }
                                    });
                                }
                            );
                        </script>

                        @*<div class="form-group">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="TookTooLong_OverrideForStore" asp-input="TookTooLong" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="TookTooLong" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="TookTooLong" />
                                    <span asp-validation-for="TookTooLong"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="Unprofessional_OverrideForStore" asp-input="Unprofessional" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Unprofessional" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Unprofessional" />
                                    <span asp-validation-for="Unprofessional"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="ItemDamaged_OverrideForStore" asp-input="ItemDamaged" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="ItemDamaged" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="ItemDamaged" />
                                    <span asp-validation-for="ItemDamaged"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="DeliveryManWearingMask_OverrideForStore" asp-input="DeliveryManWearingMask" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="DeliveryManWearingMask" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="DeliveryManWearingMask" />
                                    <span asp-validation-for="DeliveryManWearingMask"></span>
                                </div>
                            </div>*@

                        @*<div class="form-group">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="DidnotComeToDoor_OverrideForStore" asp-input="DidnotComeToDoor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="DidnotComeToDoor" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="DidnotComeToDoor" />
                                    <span asp-validation-for="DidnotComeToDoor"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="IgnoredDeliveryNote_OverrideForStore" asp-input="IgnoredDeliveryNote" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="IgnoredDeliveryNote" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="IgnoredDeliveryNote" />
                                    <span asp-validation-for="IgnoredDeliveryNote"></span>
                                </div>
                            </div>*@

                    </div>

                </div>

                <div class="panel panel-default advanced-setting">
                    <div class="panel-heading">
                        @T("Admin.Configuration.Settings.RatingReview.BlockTitle.MerchantSettings")
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-2">
                                <nop-override-store-checkbox asp-for="MerchantIsActive_OverrideForStore" asp-input="MerchantIsActive" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="MerchantIsActive" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="MerchantIsActive" />
                                <span asp-validation-for="MerchantIsActive"></span>
                            </div>
                        </div>

                        @*<div class="form-group">
                                <div class="col-md-2">
                                    <nop-override-store-checkbox asp-for="DislikeOption" asp-input="DislikeOption" />
                                    <nop-label asp-for="DislikeOption" />
                                </div>
                            </div>*@

                        <div class="form-group advanced-setting">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="MerchantRequiresAdminApproval_OverrideForStore" asp-input="MerchantRequiresAdminApproval" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="MerchantRequiresAdminApproval" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="MerchantRequiresAdminApproval" />
                                <span asp-validation-for="MerchantRequiresAdminApproval"></span>
                            </div>
                        </div>

                        <div class="form-group advanced-setting">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="MerchantAdditionalNotes_OverrideForStore" asp-input="MerchantAdditionalNotes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="MerchantAdditionalNotes" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="MerchantAdditionalNotes" />
                                <span asp-validation-for="MerchantAdditionalNotes"></span>
                            </div>
                        </div>

                        @*Custom merchant settings*@
                        @foreach (var merchantOp in Model.AvailableMerchantReviewOptions)
                        {
                            <div class="form-group">
                                <div class="col-md-4">
                                    <input checked="checked" class="multi-store-override-option over-merchant-check-box" data-for-input-selector="#merchantOp-@merchantOp.Id"
                                           data-val="true" data-val-required="The field is required."
                                           id="merchantOp-@(merchantOp.Id)_OverrideForStore" name="merchantOp-@(merchantOp.Id)_OverrideForStore"
                                           onclick="checkOverriddenStoreValue(this, '#merchantOp-@merchantOp.Id')" type="checkbox" value="true">
                                    <div class="label-wrapper"><label class="control-label" for="merchantOp-@merchantOp.Id">@merchantOp.Name</label></div>
                                </div>
                                <div class="col-md-8">
                                    <input checked="@(merchantOp.Active ? "checked" : null)" class="merchant-check-box" data-val="@merchantOp.Active" data-val-required="The @(merchantOp.Name) field is required." id="merchantOp-@merchantOp.Id" name="merchantOp-@merchantOp.Id" type="checkbox" value="@merchantOp.Id">
                                    <span class="field-validation-valid" data-valmsg-for="merchantOp-@merchantOp.Id" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        }
                        <input type="hidden" id="hdMerchantActiveSettingIds" name="MerchantActiveSettingIds" value="@Model.MerchantActiveSettingIds" />
                        <script>
                            $('.merchant-check-box, .over-merchant-check-box').click(
                                function () {
                                    $('#hdMerchantActiveSettingIds').val('');
                                    $('.merchant-check-box').each(function () {
                                        var overid = "#merchantOp-" + $(this).val() + "_OverrideForStore";
                                        if ($(this).is(':checked') && $(overid).is(':checked')) {
                                            $('#hdMerchantActiveSettingIds').val($('#hdMerchantActiveSettingIds').val() + $(this).val() + ',');
                                        }
                                    });
                                }
                            );
                        </script>

                        @*<div class="form-group">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="Quality_OverrideForStore" asp-input="Quality" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Quality" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Quality" />
                                    <span asp-validation-for="Quality"></span>
                                </div>
                            </div>

                            <div class="form-group advanced-setting">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="Packaging_OverrideForStore" asp-input="Packaging" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Packaging" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Packaging" />
                                    <span asp-validation-for="Packaging"></span>
                                </div>
                            </div>*@

                        @*<div class="form-group advanced-setting">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="ColdFood_OverrideForStore" asp-input="ColdFood" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="ColdFood" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="ColdFood" />
                                    <span asp-validation-for="ColdFood"></span>
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="Delivery_OverrideForStore" asp-input="Delivery" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Delivery" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Delivery" />
                                    <span asp-validation-for="Delivery"></span>
                                </div>
                            </div>*@

                        @*<div class="form-group advanced-setting">
                                <div class="col-md-4">
                                    <nop-override-store-checkbox asp-for="Price_OverrideForStore" asp-input="Price" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Price" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Price" />
                                    <span asp-validation-for="Price"></span>
                                </div>
                            </div>*@

                    </div>

                </div>

                <div class="panel panel-default advanced-setting">
                    <div class="panel-heading">
                        @T("Admin.Configuration.Settings.RatingReview.BlockTitle.ItemSettings")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-2">
                                <nop-override-store-checkbox asp-for="ItemIsActive_OverrideForStore" asp-input="ItemIsActive" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ItemIsActive" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="ItemIsActive" />
                                <span asp-validation-for="ItemIsActive"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="ItemRequiresAdminApproval_OverrideForStore" asp-input="ItemRequiresAdminApproval" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ItemRequiresAdminApproval" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="ItemRequiresAdminApproval" />
                                <span asp-validation-for="ItemRequiresAdminApproval"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="ItemAdditionalNotes_OverrideForStore" asp-input="ItemAdditionalNotes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ItemAdditionalNotes" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="ItemAdditionalNotes" />
                                <span asp-validation-for="ItemAdditionalNotes"></span>
                            </div>
                        </div>

                    </div>
                </div>

                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_ratingReview_settings_settings_bottom" })

            </div>

        </div>
    </div>
</form>