﻿@model StoreSetupModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.StoreSetup").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("StoreSetup");
}
<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.UsePercentage)").click(toggleUsePercentage);
        toggleUsePercentage();
        $("#@Html.IdFor(model => model.StoreOwnerProfitUsePercentage)").click(toggleStoreOwnerProfitUsePercentage);
        toggleUsePercentage();
        toggleStoreOwnerProfitUsePercentage();
    });

    function toggleUsePercentage() {
        if ($('#@Html.IdFor(model => model.UsePercentage)').is(':checked')) {
            $('#pnlDiscountPercentage').show();
            $('#pnlDiscountAmount').hide();
            $('#pnlMaximumDiscountAmount').show();
        } else {
            $('#pnlDiscountPercentage').hide();
            $('#pnlDiscountAmount').show();
            $('#pnlMaximumDiscountAmount').hide();
        }
    }
    function toggleStoreOwnerProfitUsePercentage() {
        if ($('#@Html.IdFor(model => model.StoreOwnerProfitUsePercentage)').is(':checked')) {
            $('#pnlStoreOwnerProfitPercentage').show();
            $('#pnlStoreOwnerProfitAmount').hide();
            $('#pnlMaximumStoreOwnerProfitAmount').show();
        } else {
            $('#pnlStoreOwnerProfitPercentage').hide();
            $('#pnlStoreOwnerProfitAmount').show();
            $('#pnlMaximumStoreOwnerProfitAmount').hide();
        }
        }
</script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
<form asp-controller="Setting" asp-action="StoreSetup" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.StoreSetup")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_StoreSetup_settings_buttons" })
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <div asp-validation-summary="All"></div>
            <div class="panel-group storeSetup">
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_StoreSetup_settings_top" })
                @* <div class="panel-heading accordion1">@T("Admin.Configuration.Settings.StoreSetup.keys") </div>*@
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">@T("Admin.Configuration.Settings.StoreSetup.keys")</div>
                <div id="collapse1" class="panel panel-collapse collapse in">
                    <div class="panel-container">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="ReportBugKey" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="ReportBugKey" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="AutofilterGoogleKey" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="AutofilterGoogleKey" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="NotificationAndroidKey" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="NotificationAndroidKey" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="NotificationIOSKey" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="NotificationIOSKey" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="NotificationWebKey" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="NotificationWebKey" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="GoogleAccountKey" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="GoogleAccountKey" />
                                <span asp-validation-for="GoogleAccountKey"></span>
                            </div>
                        </div><div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="NotificationUrl" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="NotificationUrl" />
                                <span asp-validation-for="NotificationUrl"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="WebUrl" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="WebUrl" />
                                <span asp-validation-for="WebUrl"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="CustomerApiNotificationKey" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="CustomerApiNotificationKey" />
                                <span asp-validation-for="CustomerApiNotificationKey"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="NotificationPushUrl" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="NotificationPushUrl" />
                                <span asp-validation-for="NotificationPushUrl"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="AccountBillingStripeApiKey" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="AccountBillingStripeApiKey" />
                                <span asp-validation-for="AccountBillingStripeApiKey"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2"> @T("Admin.Configuration.Settings.StoreSetup.permissions") </div>
                <div id="collapse2" class="panel panel-collapse collapse  in">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="IsReportBugOnline" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="IsReportBugOnline" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="IsAssignAgentEnable" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="IsAssignAgentEnable" />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="UsePercentage" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="UsePercentage" />
                                <span asp-validation-for="UsePercentage"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="UsePercentage">
                            <div class="form-group" id="pnlDiscountPercentage">
                                <div class="col-md-4">
                                    <nop-label asp-for="ServiceChargePercentage" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="ServiceChargePercentage" />
                                    <span asp-validation-for="ServiceChargePercentage"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnlMaximumDiscountAmount">
                                <div class="col-md-4">
                                    <nop-label asp-for="MaximumServiceChargeAmount" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="MaximumServiceChargeAmount" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                                    <span asp-validation-for="MaximumServiceChargeAmount"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                        <div class="form-group" id="pnlDiscountAmount">
                            <div class="col-md-4">
                                <nop-label asp-for="FlatAmount" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="FlatAmount" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                                <span asp-validation-for="FlatAmount"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="StoreOwnerProfitUsePercentage" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="StoreOwnerProfitUsePercentage" />
                                <span asp-validation-for="StoreOwnerProfitUsePercentage"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="StoreOwnerProfitUsePercentage">
                            <div class="form-group" id="pnlStoreOwnerProfitPercentage">
                                <div class="col-md-4">
                                    <nop-label asp-for="StoreOwnerProfitServiceChargePercentage" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="StoreOwnerProfitServiceChargePercentage" />
                                    <span asp-validation-for="StoreOwnerProfitServiceChargePercentage"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnlMaximumStoreOwnerProfitAmount">
                                <div class="col-md-4">
                                    <nop-label asp-for="StoreOwnerProfitMaximumServiceChargeAmount" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="StoreOwnerProfitMaximumServiceChargeAmount" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                                    <span asp-validation-for="StoreOwnerProfitMaximumServiceChargeAmount"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                        <div class="form-group" id="pnlStoreOwnerProfitAmount">
                            <div class="col-md-4">
                                <nop-label asp-for="StoreOwnerProfitFlatAmount" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="StoreOwnerProfitFlatAmount" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                                <span asp-validation-for="StoreOwnerProfitFlatAmount"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="AgentRegisterAllow" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="AgentRegisterAllow" />
                                <span asp-validation-for="AgentRegisterAllow"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="EnableMinOrderAmount" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="EnableMinOrderAmount" />
                                <span asp-validation-for="EnableMinOrderAmount"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3"> @T("Admin.Configuration.Settings.StoreSetup.Twilio") </div>
                <div id="collapse3" class="panel panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="UseTwilio" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="UseTwilio" />
                                <span asp-validation-for="UseTwilio"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="TwilioSenderId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="TwilioSenderId" />
                                <span asp-validation-for="TwilioSenderId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="TwilioAuthtoken" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="TwilioAuthtoken" />
                                <span asp-validation-for="TwilioAuthtoken"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="TwilioAccountsId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="TwilioAccountsId" />
                                <span asp-validation-for="TwilioAccountsId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="MashastraUserId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="MashastraUserId" />
                                <span asp-validation-for="MashastraUserId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="MashastraPassword" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="MashastraPassword" />
                                <span asp-validation-for="MashastraPassword"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="MashastraSenderId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="MashastraSenderId" />
                                <span asp-validation-for="MashastraSenderId"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4"> @T("NB.Admin.Configuration.Settings.StoreSetup.General") </div>
                <div id="collapse4" class="panel panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="StoreFront" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="StoreFront" />
                                <span asp-validation-for="StoreFront"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_StoreSetup_settings_bottom" })
            </div>
        </div>
    </div>
</form> 