﻿@using Nop.Core.Domain.Common
@model Nop.Web.Areas.Admin.Models.VendorGallery.VendorGalleryListSearchModel
@using Nop.Web.Areas.Admin.Models.VendorGallery
@inject AdminAreaSettings adminAreaSettings
@{

    //page title
    ViewBag.Title = T("Admin.VendorGallery").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Vendor Gallery");
}


<form asp-controller="VendorGallery" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.VendorGallery")
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_list_buttons" })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" @(Model.AvailableStores == null || Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.AvailableVendors == null || Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchVendorId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.AvailableGalleryType.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="GalleryTypeId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="GalleryTypeId" asp-items="Model.AvailableGalleryType" />
                                        <span asp-validation-for="GalleryTypeId"></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-products" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-products" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>*@
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
           {
               Name = "products-grid",
               UrlRead = new DataUrl("List", "VendorGallery", null),
               UrlUpdate = new DataUrl("BulkEditUpdate", "VendorGallery", null),
               SearchButtonId = "search-products",
               Length = Model.PageSize,
               LengthMenu = Model.AvailablePageSizes,
               Filters = new List<FilterParameter>
                    {
                        new FilterParameter(nameof(Model.SearchStoreId)),
                        new FilterParameter(nameof(Model.SearchVendorId)),
                        new FilterParameter(nameof(Model.GalleryTypeId))
                    },
               ColumnCollection = new List<ColumnProperty>
                    {
                        new ColumnProperty(nameof(VendorGalleryDataModel.Id))
                        {
                            Name = "products-grid",
                            UrlRead = new DataUrl("List", "VendorGallery", null),
                            UrlUpdate = new DataUrl("BulkEditUpdate", "VendorGallery", null),
                            SearchButtonId = "search-products",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                                   {
                           new FilterParameter(nameof(Model.SearchStoreId)),
                           new FilterParameter(nameof(Model.SearchVendorId)),
                           new FilterParameter(nameof(Model.GalleryTypeId))
                       },
                            ColumnCollection = new List<ColumnProperty>
                                   {
                           new ColumnProperty(nameof(VendorGalleryDataModel.Id))
                           {
                               IsMasterCheckBox = true,
                            Render = new RenderCheckBox("checkbox_product_reviews"),
                            ClassName =  NopColumnClassDefaults.CenterAll,
                            Width = "50",
                        },
                        new ColumnProperty(nameof(VendorGalleryDataModel.Store))
                        {
                            Title = T("Admin.Booking.Store").Text,
                            Width = "150"
                        },
                        new ColumnProperty(nameof(VendorGalleryDataModel.Vendor))
                        {
                            Title = T("Admin.Booking.List.Vendor").Text,
                            Width = "200",
                        },
                        new ColumnProperty(nameof(VendorGalleryDataModel.GalleryType))
                        {
                            Title = T("Admin.VendorGallery.Fields.GalleryType").Text,
                            Width = "200"
                        },
                        new ColumnProperty(nameof(VendorGalleryDataModel.VideoThumbnailUrl))
                        {
                            Title = T("Admin.VendorGallery.Fields.VideoThumbnailUrl").Text,
                            Width = "200",
                            Render = new RenderCustom("renderColumnVideoThumbnailUrl")
                        },
                        new ColumnProperty(nameof(VendorGalleryDataModel.GalleryCaption))
                        {
                            Title = T("Admin.VendorGallery.Fields.GalleryCaption").Text,
                            Width = "300",
                            Encode = false
                        },
                        new ColumnProperty(nameof(VendorGalleryDataModel.DisplayOrder))
                        {
                            Title = T("Admin.VendorGallery.Fields.DisplayOrder").Text,
                            Width = "20"
                        },
                         new ColumnProperty(nameof(VendorGalleryDataModel.Active))
                        {
                            Title = T("Admin.VendorGallery.Fields.Active").Text,
                            Width = "100",
                            Encode = false,
                            Editable=true,
                            EditType=EditType.Checkbox,
                            Render=new RenderBoolean()
                        }
                    }
           })
                        <script>
                         function renderColumnVideoThumbnailUrl(data, type, row, meta) {
                             if (row.VideoThumbnailUrl != null) {
                                 return '<p>'+row.VideoThumbnailUrl+'</p>';
                             } else {
                                 return '<img src="'+row.PictureThumbnailUrl+'" width="100px" height="100px" />';
                             }
                            }
                              //"delete selected" button
                            $("#delete-selected-action-confirmation-submit-button").bind("click", function () {
                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("DeleteSelected", "VendorGallery"))",
                                    data: postData,
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $('#deleteSelectedFailed-info').text(errorThrown);
                                        $("#deleteSelectedFailed").click();
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        updateTable('#products-grid');
                                    }
                                });
                                $('#delete-selected-action-confirmation').modal('toggle');
                                return false;
                            });
                        });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>


</form>
<nop-alert asp-alert-id="deleteSelectedFailed" />
