﻿@model MerchantModel

<div data-id="@Model.Id" class="col-sm-3 col-xs-12 restaurBox clearfix">
    <div class="box">
        <div class="img clearfix">
            <a href="javascript:void(0);" onclick="CallMerchant(@Model.Id)" class="imginclick" title="@Model.PictureModel.Title" imgInClick="@Model.PictureModel.ImageUrl"><img src="@Model.PictureModel.ImageUrl" alt="@Model.PictureModel.Title" /></a>
        </div>
        <div class="restaur_desc">
            @* <a href="javascript:void(0);" onclick="CallMerchant(@Model.Id)" title="@Model.PictureModel.Title" class="rest_logo imginclick" imgInClick="@Model.PictureModel.ImageUrl"></a>
                <span class="offer">25% Off</span>*@
            <a href="javascript:void(0);" onclick="CallMerchant(@Model.Id)" title="@Model.PictureModel.Title" class="rest_title">
                <h2>@Model.Name</h2>
            </a>
            <div class="restaurBoxAddress">
                @*@workContext.CurrentMerchantAddress*@
                <span class="merchant_desc">
                    @if (!string.IsNullOrEmpty(Model.Address1))
                    {
                        @Model.Address1; <text>,</text>
                    }
                    @if (!string.IsNullOrEmpty(Model.Address2))
                    {
                        @Model.Address2; <text>,</text>
                    }
                    @if (!string.IsNullOrEmpty(Model.City))
                    {
                        @Model.City; <text>,</text>
                    }
                    @if (!string.IsNullOrEmpty(Model.State))
                    {
                        @Model.State; <text>,</text>
                    }
                    @if (!string.IsNullOrEmpty(Model.State))
                    {
                        @Model.Zip;
                    }
                </span>
            </div>
            <div class="time_rating">
                <div class="openTime">
                    @if (Model.MerchantIsAvailable)
                    {
                        <em>@Model.Opentime -</em> <em> @Model.Closetime</em> 
                    }
                    else
                    {
                        @T("NB.Admin.Merchant.Closed")
                    }
                </div>
            </div>
            <div class="rate-wishlist">
                <div class="rating">
                    <div class="ratingli">
                        <span>
                            @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant), merchantId = Model.Id })
                        </span>
                    </div>
                    @*<div class="overallReview">
                        @await Html.PartialAsync("_MerchantOverallReview", Model)
                    </div>*@
                </div>
                @*<div class="addToWish"><i class="fa fa-heart"></i></div>*@
                <div class="addToWish heart-@Model.Id @(Model.InFavoritelist ? "active" : "")">
                    <button type="button" onclick="addRemoveMerchantToFavorite(@Model.Id, @(Model.IsMyaccountPage ? "true":"false"))" tabindex="0">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="diningText">
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <i class="icon icon-dine"></i>
                    @Html.Raw(Model.Description)
                }
            </div>
        </div>
    </div>
</div>

