﻿@using Nop.Core
@using Nop.Services.Configuration
@inject ISettingService settingService


@inject IWorkContext workContext
@{
    string cssVersion = settingService.GetSettingByKey("common.css.Version", "1.2");
    string jsVersion = settingService.GetSettingByKey("common.js.version", "1.0");
    var supportRtl = workContext.WorkingLanguage.Rtl;

    Html.AppendCssFileParts("~/Plugins/SevenSpikes.Core/Styles/perfect-scrollbar.min.css");

    if (supportRtl)
    {
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/1280.rtl.css");
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/1000.rtl.css");
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/768.rtl.css");
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/480.rtl.css");
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/mobile-only.rtl.css");
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/tables.rtl.css");
    }
    else
    {
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/1280.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/1000.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/768.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/480.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/mobile-only.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/tables.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/font.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/style.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/slick.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/slick-theme.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/owl.carousel.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/owl.carousel.min.css?v=" + cssVersion);
    }

    if (supportRtl)
    {
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/styles.rtl.css");
    }
    else
    {
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/line-awesome.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/styles.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/bootstrap.css");
        Html.AppendCssFileParts("~/Themes/VonzuuEats/Content/css/scrollable.css?v=" + cssVersion);

    }
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/VonzuuEats/Content/scripts/bootstrap.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/footable.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/perfect-scrollbar.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.theme.ex.min.js");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/VonzuuEats/Content/scripts/pavilion.js?v=" + jsVersion);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/VonzuuEats/Content/scripts/script.js?v=" + jsVersion);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/VonzuuEats/Content/scripts/slick.js?v=" + jsVersion);
    Html.AddScriptParts(ResourceLocation.Footer, "https://code.jquery.com/jquery-3.6.0.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/VonzuuEats/Content/scripts/owl.carousel.min.js?v=" + jsVersion);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/VonzuuEats/Content/scripts/owl.carousel.js?v=" + jsVersion);

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
     

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> 
}


