﻿@model WishlistModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Services.Catalog
@using Nop.Web.Factories
@using Nop.Core.Domain.Orders
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject IProductService productService
@inject IProductModelFactory productModelFactory
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.WishList })
}

<input type ="hidden" id="fldVendor" />
<input type="hidden" id="urladdtocart" />
<input type="hidden" id="fldproductId" />
<div class="page account-page address-list-page">
    <div class="page-title"><h1>@T("Account.CustomerWishList")</h1></div>
    <div class="page-body AccountWishlist">
        <div class="right-container">
            <div class="favMenuItemsBlock col-lg-12">
                <div class="menuItemsList row main-cat-row">
                    @if (Model.Items.Count > 0)
                    {
                        if (Model.Warnings.Count > 0)
                        {
                            <div class="message-error">
                                <ul>
                                    @foreach (var warning in Model.Warnings)
                                    {
                                        <li>@warning</li>
                                    }
                                </ul>
                            </div>
                        }
                        @foreach (var item in Model.Items)
                        {
                            var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = 1 });
                            bool InWishList = true;
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemBox clearfix menuItemBox_@item.ProductId">
                                <div class="menuItem clearfix">
                                    <div class="itemImg">
                                        <div class="wishlist_prod">
                                            @if (InWishList)
                                            {
                                                <div class="heart-@item.ProductId @(InWishList ? "active" : "") wishlist-remove"><button type="button" onclick="deleteFromWishList(@item.ProductId@addtowishlistlink" class="product-favorite wishlistlink_@item.ProductId" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>

                                            }
                                        </div>
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title">
                                        <span class="offer">@T("nb.offers")</span>
                                    </div>
                                    <div class="itemInfo">
                                        <div class="product-brand">
                                            <span>@T("nb.royal")</span>
                                        </div>
                                        <div class="product-title">
                                            <span>@item.ProductName</span>
                                        </div>
                                        <div class="description">
                                            @Html.Raw(item.ShortDescription)
                                        </div>
                                        <div class="product-weight">
                                            <span>@T("nb.kg")</span>
                                        </div>
                                        <div class="displayRating">
                                            @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Item), productId = item.ProductId })

                                        </div>
                                        <div class="bar clearfix">

                                            <div class="prices">
                                                <span class="price actual-price">@item.UnitPrice</span>
                                            </div>

                                            <div class="buttons ajax-cart-button-wrapper">
                                                <span class="minusQt">-</span>
                                                <span class="addQt">+</span>
                                                <div class="ajax-cart-button-wrapper qty-enabled" data-productid="1619" data-isproductpage="false">
                                                    @{ //prepare "Add to cart" AJAX link
                                                        var addtocartlink = "";
                                                        var shoppingCartTypeId = 1;
                                                        var quantity = 1;
                                                        var addToCartText = T("ShoppingCart.AddToCart").Text;

                                                        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.ProductId, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });

                                                    }
                                                    <input type="text" data-quantityproductid="1619" class="productQuantityTextBox" value="0">


                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="AddtoCart text-center">
                                        <button class="button-2 product-box-add-to-cart-button" onclick="addItemFromWishListToCart('@addtocartlink',@item.ProductId,@item.VendorId)"><img src="/Themes/VonzuuEats/Content/img/blue-bag.png" />@T("nb.Basket") </button>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $(".wishlistlink_@item.ProductId").click(function () {
                                 $(this).parents().find(".menuItemBox_@item.ProductId").addClass("item-remove");
                                });
                            </script>
                        }
                    }
                    else
                    {
                        <div class="no-data">
                            @T("Wishlist.CartIsEmpty")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>@T("NB.Wishlist.Popup.Message")</p>
        <button id="btnkeep" class="btnpopup" onclick="closeSpan()">@T("NB.Wishlist.Popup.Keep") </button>
        <button id="btnRemove" class="btnpopup" onclick="replaceProdutsTocart()">@T("NB.Wishlist.Popup.Remove")</button>
    </div>
</div>
<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<script>
    function funAddProductToCart(vendorId, addtocartlink, productId) {
        $("#fldVendor").val(vendorId);
        $("#urladdtocart").val(addtocartlink);
        $("#fldproductId").val(productId);
        $.ajax({
            type: 'GET',
            url: '/HomeMerchant/DisplayPopup',
            data: { vendorId: vendorId },
            cache: false,
            success: function (result) {
                if (!result) {
                    var modal = document.getElementById("myModal");
                    var span = document.getElementsByClassName("close")[0];
                    modal.style.display = "block";
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                }
                else {
                    AjaxCart.addproducttocart_catalog(addtocartlink);
                }
            }
        });
    }
</script>
<script>
    function closeSpan() {
        $("#myModal").hide();
    }
    function replaceProdutsTocart() {
        $("#myModal").hide();
        var vId = $("#fldVendor").val();
        var pId = $("#fldproductId").val();
        var addtocartLink = $("#urladdtocart").val();
        addItemFromWishListToCart(addtocartLink, pId,vId);
}
</script>

