﻿@model ProductOverviewModelMerchant
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}

    <div class="col-lg-6 col-md-6 col-xs-12 itemBox clearfix" attr-cat-id="@(Model.ProductCategory.Count>0? Model.ProductCategory.FirstOrDefault().CategoryId:0)">
    @foreach (var catg in Model.ProductCategory)
    {
        <span class="catIdL" catIdtt="@catg.CategoryId">
            @catg.CategoryId
        </span>                    
    }
    <div class="menuItem clearfix" data-productid="@Model.Id">
        <div class="itemImg">

            <div class="wishlist_prod">
                @if (!Model.ProductPrice.DisableWishlistButton) 
                {
                    if (Model.InWishList)
                    {
                        
                <div class="heart-@Model.Id @(Model.InWishList ? "active" : "")"> <button onclick="deleteFromWishList(@Model.Id,'@addtowishlistlink')" class="product-favorite wishlistlink_@Model.Id" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>
                       
                    }
                    else
                    {
                    <div class="heart-@Model.Id @(Model.InWishList ? "active" : "")"><button onclick="addToWhishList('@addtowishlistlink', 'heart-@Model.Id');return false;" class="product-favorite wishlistlink_@Model.Id" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>
                    }
                }
            </div>
            <img src="@Model.DefaultPictureModel.ImageUrl" />

        </div>
        
        <div class="itemInfo">
				<div class="product-title">
					<span>@Model.Name</span>
				</div>	
                <!--Added for tag-->
					@await Component.InvokeAsync("ProductTagsImages", new { showAll = false, productId = Model.Id })
				<!--End Added for tag-->
            
            @if (catalogSettings.ShowSkuOnCatalogPages && !string.IsNullOrEmpty(Model.Sku))
            {
                <p class="sku">
                    @Model.Sku
                </p>
            }


            @*Modified for rating*@
				<div class="displayRating">
                @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Item), productId = Model.Id })
				</div>
                @*End Modified for rating*@


            <p class="description">
                @Html.Raw(Model.ShortDescription)
            </p>

            <div class="bar clearfix">
                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_before", additionalData = Model.Id })
                <div class="prices">
                    @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                    {
                        <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                    }
                    <span class="price actual-price">@Model.ProductPrice.Price</span>
                    @if (Model.ProductPrice.DisplayTaxShippingInfo)
                    {
                        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                        //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                        //of course, you can modify appropriate locales to include VAT info there
                        <span class="tax-shipping-info">
                            @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </span>
                    }
                    @if (!string.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                    {
                        <div class="base-price-pangv">
                            @Model.ProductPrice.BasePricePAngV
                        </div>
                    }
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_middle", additionalData = Model.Id })
            <div class="buttons ajax-cart-button-wrapper">
                @if (!Model.ProductPrice.DisableBuyButton)
                {
                   
                        var addToCartText = T("ShoppingCart.AddToCart").Text;
                        if (Model.ProductPrice.IsRental)
                        {
                            addToCartText = T("ShoppingCart.Rent").Text;
                        }
                        if (Model.ProductPrice.AvailableForPreOrder)
                        {
                            addToCartText = T("ShoppingCart.PreOrder").Text;
                        }
                    <span class="minusQt">-</span>
                    <span class="addQt">+</span>
                    <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />
                }
                else
                {
                    <span>Sold Out</span>
                }
               
            </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_after", additionalData = Model.Id })
            </div>
        </div>
    </div>
    </div>