﻿@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
            {
            <div class="result">
                @Model.Result
            </div>
        }
    <form asp-route="CustomerChangePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="message-error"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="OldPassword" asp-postfix=":"></label>
                    <input asp-for="OldPassword" class="form-control form-control-lg" />
                    <nop-required />
                    <span asp-validation-for="OldPassword"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NewPassword" asp-postfix=":"></label>
                    <input asp-for="NewPassword" class="form-control form-control-lg" />
                    <nop-required />
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control form-control-lg" />
                    <nop-required />
                    <span asp-validation-for="ConfirmNewPassword"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">

                </div>
            </div>
        </div>

        <div class="buttons">
            <input type="submit" class="button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
        </div>
    </form>
    </div>
</div>