﻿@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers

@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}
<div class="page login-page">
    
    @await Html.PartialAsync("_ExternalAuthentication.Errors")
    <div class="page-body">
        <div class="customer-blocks">
            
            <div class="returning-wrapper fieldset">
                <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">

                    <div class="page-title">
                        <h1>@T("Account.Login.Welcome")</h1>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @if (Model.UsernamesEnabled)
                                {
                                    <label asp-for="Username" asp-postfix=":"></label>
                                    <input asp-for="Username" class="username form-control form-control-lg" autofocus="autofocus" />
                                    <span asp-validation-for="Username"></span>
                                }
                                else
                                {
                                    <label asp-for="Email" asp-postfix=":"></label>
                                    <input asp-for="Email" class="email form-control form-control-lg" autofocus="autofocus" />
                                    <span asp-validation-for="Email"></span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Password" asp-postfix=":"></label>
                                <input asp-for="Password" class="password form-control form-control-lg" />
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input asp-for="RememberMe" />
                                <label asp-for="RememberMe"></label>
                                <span class="forgot-password">
                                    <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    @if (Model.DisplayCaptcha)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="captcha-box">
                                        <nop-captcha />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="buttons">
                        <input class="button-1 login-button" type="submit" value="@T("Account.Login.LoginButton")" />
                        @if (Model.CheckoutAsGuest)
                        {

                            <input type="button" class="button-1 checkout-as-guest-button" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                            <input type="button" class="button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                        }
                        else
                        {
                            <input type="button" class="button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                        }
                    </div>
                </form>
            </div>
        </div>
        <div class="external-authentication">
            @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
        </div>
       
    </div>
</div>