﻿.menuItemsBlock .menuItemsList.haveNoImg .itemInfo .product-title img {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 2px;
}

.miniProductDetailsView .product-essential {
  height: auto;
  max-height: 500px;
}
.miniProductDetailsView .product-essential .gallery {
  margin-left:0;
  width: 30%;
}
.miniProductDetailsView .product-essential .overview {
  float: left;
  width: 70%;
  padding: 0 0 0 15px;
}
.miniProductDetailsView .prices {
  padding: 0 0 0 5px;
}
.variant-overview .add-to-cart-button {
    float:none;
}

.ajaxCart .miniProductDetailsView .attributes {
  margin: 5px;
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 640px) {
  .menuItemsBlock .menuItemsList .itemBox:nth-child(2n) {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 480px) {

}
