﻿@model CustomerNavigationModel
<div class="leftSide clearfix">

    <div class="panel clearfix">

        <div class="panelTop clearfix">
            

            <div class="userImgBox clearfix"><img src="/Themes/Vonzuu/Content/img/userDefaultImg.png" alt="User Default Image"></div>

            <div class="userInfo clearfix">
                <div class="emailName">
                    <span class="user_name">@Model.CustomerName</span>
                    <span class="getPhone">@Model.PhoneNumber</span>
                    <span class="user_email">@Model.Email</span>
                </div>
                <a href="/customer/info" id="personalInfo" class="active">Edit Profile</a>
            </div>
        </div>
    </div>

</div>
<div class="block block-account-navigation">
    <div class="title">
        <strong>@T("Account.Navigation")</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            @await Component.InvokeAsync("Widget", new { widgetZone = "account_navigation_before" })
            @foreach (var item in Model.CustomerNavigationItems)
            {
                <li class="@item.ItemClass">
                    <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                </li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "account_navigation_after" })
        </ul>
    </div>
</div>
