﻿@model FooterModel

@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Services.Configuration

@inject IStoreContext storeContext
@inject IWorkContext workContext
@inject ISettingService settingService

@{
    var storeId = storeContext.CurrentStore.Id;
    var footerLayout = settingService.GetSettingByKey("uptownthemesettings.footerlayout", "footer-1", storeId, true);
    var isFooter1 = string.Compare(footerLayout, "footer-1", StringComparison.InvariantCultureIgnoreCase) == 0;

    var removeCopyright = settingService.GetSettingByKey("uptownthemesettings.removecopyright", false, storeId, true);
    var removeDesignedBy = settingService.GetSettingByKey("uptownthemesettings.removedesignedby", false, storeId, true);
}

<div class="footer-disclaimer">
    @T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)
</div>
@if (Model.DisplayTaxShippingInfoFooter)
{
    var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
    <div class="footer-tax-shipping">
        @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
    </div>
}
@if (!removeCopyright)
{
    <div class="footer-powered-by">
        Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
        @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
            Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
    </div>

}
@if (!removeDesignedBy)
{
    <div class="footer-designed-by">
        Designed by <a href="http://www.nop-templates.com/" target="_blank">Nop-Templates.com</a>
    </div>
}
<div class="footer-store-theme">
    @await Component.InvokeAsync("StoreThemeSelector")
</div>

