﻿@using Nop.Core
@using Nop.Services.Configuration

@inject IStoreContext storeContext
@inject IWorkContext workContext
@inject ISettingService settingService

@{
    var storeId = storeContext.CurrentStore.Id;

    var twitterUrl = settingService.GetSettingByKey("storeinformationsettings.twitterlink", String.Empty, storeId, true);
    var instagramUrl = settingService.GetSettingByKey("uptownthemesettings.instagramurl", String.Empty, storeId, true);
    var facebookUrl = settingService.GetSettingByKey("storeinformationsettings.facebooklink", String.Empty, storeId, true);
    var googlePlusUrl = settingService.GetSettingByKey("storeinformationsettings.googlepluslink", String.Empty, storeId, true);
    var pinterestUrl = settingService.GetSettingByKey("uptownthemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = settingService.GetSettingByKey("uptownthemesettings.vimeourl", String.Empty, storeId, true);
    var youtubeUrl = settingService.GetSettingByKey("storeinformationsettings.youtubelink", String.Empty, storeId, true);

    var newsEnabled = settingService.GetSettingByKey("newssettings.enabled", false, storeId, true);
    var workingLanguageId = workContext.WorkingLanguage.Id;   
}


<ul class="header-social-icons">
    @if (!String.IsNullOrEmpty(twitterUrl))
    { 
        <li><a target="_blank" class="twitter" href="@twitterUrl"></a></li>
    }
    
    @if (!String.IsNullOrEmpty(instagramUrl))
    {
        <li><a target="_blank" class="instagram" href="@instagramUrl"></a></li>
    }
    
    @if (!String.IsNullOrEmpty(facebookUrl))
    {
        <li><a target="_blank" class="facebook" href="@facebookUrl"></a></li>
    }
    
    @if (!String.IsNullOrEmpty(googlePlusUrl))
    {
        <li><a target="_blank" class="google" href="@googlePlusUrl"></a></li> 
    }
    
    @if (!String.IsNullOrEmpty(pinterestUrl))
    {
        <li><a target="_blank" class="pinterest" href="@pinterestUrl"></a></li>
    }
    
    @if (!String.IsNullOrEmpty(vimeoUrl))
    {
        <li><a target="_blank" class="vimeo" href="@vimeoUrl"></a></li>
    }
    
    @if (!String.IsNullOrEmpty(youtubeUrl))
    {
        <li><a target="_blank" class="youtube" href="@youtubeUrl"></a></li>
    }
    
    @if (newsEnabled)
    {
        <li><a class="rss" target="_blank" href="@Url.RouteUrl("NewsRSS", new { languageId = workingLanguageId })"></a></li>
    }
    
</ul>