﻿@using Nop.Core
@using Nop.Services.Configuration
@using Nop.Services.Security
@using Nop.Core.Domain.Orders

@inject IStoreContext storeContext
@inject ISettingService settingService
@inject IPermissionService permissionService
@inject ShoppingCartSettings shoppingCartSettings

@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")

@{
    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
}

@{
    var currentStoreId = storeContext.CurrentStore.Id;
    var numberOfItemBoxesClass = String.Empty;
    if (isHomePage)
    {
        numberOfItemBoxesClass = settingService.GetSettingByKey("uptownthemesettings.HomePageItemBoxesPerRow", "home-items-per-row-four", currentStoreId, true).ToLowerInvariant();
    }
    else
    {
        numberOfItemBoxesClass = settingService.GetSettingByKey("uptownthemesettings.CatalogPagesItemBoxesPerRow", "items-per-row-three", currentStoreId, true).ToLowerInvariant();
    }
    var headerLayout = settingService.GetSettingByKey("uptownthemesettings.headerlayout", "header-1", currentStoreId, true);
    var isHeader2 = String.Compare(headerLayout, "header-2", true) == 0;
    var isOneColumn = settingService.GetSettingByKey("uptownthemesettings.iscategorypageonecolumn", false, currentStoreId, true);
    var columnsCass = isOneColumn ? "one-column" : "two-columns";

    var isShoppingCartEnabled = permissionService.Authorize(StandardPermissionProvider.EnableShoppingCart) && shoppingCartSettings.MiniShoppingCartEnabled;
}

<div class="master-wrapper-page @numberOfItemBoxesClass @columnsCass">
    @await Component.InvokeAsync("AdminHeaderLinks")

    <div class="overlayOffCanvas"></div>

    @await Html.PartialAsync("_Header")

    <script asp-location="Footer">
        AjaxCart.init(false, '.header .cart-wrapper .cart-qty', '.header-links .wishlist-qty', '.cart-wrapper');
    </script>

    <div class="responsive-nav-wrapper-parent">
        <div class="responsive-nav-wrapper">
            <div class="menu-title">
                <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
            </div>
            <div class="personal-button" id="header-links-opener">
                <span>@T("SevenSpikes.Themes.Common.Personal")</span>
            </div>
            <div class="account-links" id="account-links">
                <span>@T("Account.MyAccount")</span>
            </div>
            <div class="filters-button">
                <span>@T("SevenSpikes.Themes.Common.Filters")</span>
            </div>
            <div class="search-wrap">
                <span>@T("Search")</span>
            </div>
        </div>
    </div>

    <div class="main-slider-wrapper">

        @if (isHomePage)
        {
            @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" })
        }
        else
        {
            @await Component.InvokeAsync("Widget", new { widgetZone = "main_slider_not_on_home_page" })
        }

        @if (isHeader2)
        {
            <div class="header-menu-wrapper">
                <div class="header-menu">
                    <div class="close-menu">
                        <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
                    </div>
                    @{
                        var menuHtml = await Component.InvokeAsync("Widget", new { widgetZone = "theme_header_menu" });
                    }
                    @if (!String.IsNullOrEmpty(menuHtml.ToHtmlString()))
                    {
                        @menuHtml
                    }
                    else
                    {
                        @await Component.InvokeAsync("TopMenu")
                    }

                    @await Html.PartialAsync("_HeaderSocials")
                </div>
            </div>
        }

    </div>

    @if (IsSectionDefined("Breadcrumb"))
    {
        @RenderSection("Breadcrumb")
    }

    <div class="master-wrapper-content">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })
        @await Component.InvokeAsync("Widget", new { widgetZone = "uptown_color_squares" })
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
    @await Component.InvokeAsync("Footer")
</div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })

<input id="isShoppingCartEnabled" type="hidden" value="@isShoppingCartEnabled.ToString().ToLowerInvariant()" />