﻿/*=====================================================
    
    DESKTOP

=====================================================*/

@media all and (min-width: 1025px) {

/* GLOBAL STYLES */

  .master-wrapper-content {
    width: 980px;
    min-height: 300px;
    margin: 53px auto 0;
    padding-bottom: 30px;
  }
.html-shopping-cart-page .master-wrapper-content{
	min-height: 563px;
}
  .home-page-body .master-wrapper-content {
    margin-top: 0;
    z-index: 1010;
  }
    .customer-pages-body .master-wrapper-content {
        padding: 0;
    }
.product-details-page-body .center-1 {
	margin: 0 0 90px;
}
  .center-2 {
    float: right;
    width: 75%;
    margin: 0 0 0px;
  }

.page {
    clear: both;
    text-align: left;
    text-align: left;    
}

.center-2 .page .page-title {
	display: none;
}
.side-2 .page-title {
	margin: 0 0 15px;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	padding: 20px 25px;
}
.side-2 .page-title h1 {
	font-size: 18px;
	color: #ff0000;
	text-transform: uppercase;
}

  .searchFilterLeft input {
    width: 100% !important;
    padding: 0 15px !important;
  }

  .category-page-body .block-category-navigation,
  .manufacturer-page-body .block-manufacturer-navigation,
  .manufacturer-all-page-body .block-manufacturer-navigation,
  .vendor-all-page-body .block-vendor-navigation,
  .vendor-page-body .block-vendor-navigation {
    margin: -16px 0 0;
    background-color: #fff;
    padding-top: 15px;
  }
.category-page-body .block-category-navigation .title,
.manufacturer-page-body .block-manufacturer-navigation .title,
.manufacturer-all-page-body .block-manufacturer-navigation .title,
.vendor-all-page-body .block-vendor-navigation .title,
.vendor-page-body .block-vendor-navigation .title {
	display: none;
}
.category-page-body .page-title + .block-category-navigation .listbox,
.manufacturer-page-body .page-title + .block-manufacturer-navigation .listbox,
.manufacturer-all-page-body .page-title + .block-manufacturer-navigation .listbox,
.vendor-all-page-body .page-title + .block-vendor-navigation .listbox,
.vendor-page-body .page-title + .block-vendor-navigation .listbox {
	margin-top: 0;
}

.link-rss {
	display: block;
	float: right;
	margin: 5px 0 0;
}

/* GLOBAL FORMS */
/* GLOBAL TABLES */

.cart .subtotal {
    white-space: nowrap;
}
.order-details-page .data-table col:first-child,
.order-details-page .data-table th:first-child,
.order-details-page .data-table td:first-child {
	display: none !important; /*hides counter*/
}
.forums-table-section col:first-child,
.forums-table-section th:first-child,
.forums-table-section td:first-child {
	display: none !important; /*hides counter*/
}

/* NOTIFICATIONS & POPUPS */
/* HEADER */

.header {
	position: relative;
	z-index: 0;
	margin:0;
}
.header {
}


  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:visited,
  .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    font-size: 18px;
    font-family: 'MontserratRegular';
  }
  .html-not-found-page .navbar-inverse .navbar-nav > li > a,
  .html-wishlist-page .navbar-inverse .navbar-nav > li > a {
    font-size: 18px;
  }
  .html-home-page .navbar-inverse .navbar-nav > li > a,
  .html-home-page .navbar-inverse .navbar-nav > li > a:hover,
  .html-home-page .navbar-inverse .navbar-nav > li > a:visited,
  .html-home-page .navbar-inverse .navbar-nav > li > a:focus {
    color: #082938;
    font-size: 18px;
    font-family: 'MontserratRegular';
  }
  .html-registration-page .navbar-inverse .navbar-nav > li > a,
  .html-registration-page .navbar-inverse .navbar-nav > li > a:hover,
  .html-registration-page .navbar-inverse .navbar-nav > li > a:visited,
  .html-registration-page .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    font-size: 18px;
    font-family: 'MontserratRegular';
  }
  .marchengDetails-page .navbar-inverse .navbar-nav > li > a,
  .html-product-details-page .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-size: 18px;
    font-family: 'MontserratRegular';
  }

.html-home-page .navbar-inverse .navbar-nav > li > a.btn {
  padding: 10px 15px;
}
  
.header .center {
  width: 980px;
  margin: auto;
}

.header-upper {
	height: 42px;
	background-color: #f6f6f6;
}

.header-links-wrapper,
.header-selectors-wrapper {
	position: relative;
	float: right;
	height: 42px;
	margin: 0 0 0 20px;
	transition: all 0.2s ease;
}
.header-links-wrapper label,
.header-selectors-wrapper label {
	display: block;
	padding: 0 0 0 20px;
	background-image: url('../img/header-sprite-2.png');
	background-repeat: no-repeat;
	line-height: 42px;
}
.header-links-wrapper label {
	background-position: left 0;
}
.header-selectors-wrapper label {
	background-position: left -40px;
}
.header-links,
.header-selectors {
	/*display: none;
	position: absolute;
	left: -15px;
	z-index: 1020;
	min-width: 150px;
	background-color: #fff;
	border-top: 3px solid #ff0000;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease;*/
}
.header-links-wrapper:hover > div,
.header-selectors-wrapper:hover > div,
.header-selectors-wrapper > div.active {
	display: block;
}
.header-links ul {
}
.header-links li {
    padding: 0 8px;
    display: inline-block;
}
.header-links li:first-child {
	padding-top: 4px;
}
.header-links li:last-child {
	padding-bottom: 4px;
}
.header-links li:hover {
	background-color: #f9f9f9;
}
.header-links a {
	display: block;
	padding: 10px 0 10px 24px;
	font-size: 13px;
}
.header-links .ico-account {
	background-position: left -5px;
}
.header-links .ico-register {
	background-position: left -53px;
}
.header-links .ico-login,
.header-links .ico-logout {
	background-position: left -101px;
}
.header-links .ico-inbox {
	background-position: left -149px;
}
.header-links .ico-wishlist {
	background-position: left -197px;
}
.header-selectors {
	text-align: center;
}
.header-selectors > div {
	border-top: 1px solid #f6f6f6;
	padding: 15px;
}
.header-selectors > div:first-child {
	border-top: none;
}
.header-selectors select {
	border-color: #e9e9e9;
}

.header-middle {
	background-color: #fff;
	padding: 20px 0;
}
.header-middle .center {
	display: table;
}
.header-logo {
	display: table-cell;
	width: 20%;
	padding: 0 24px 0 0;
	vertical-align: middle;
}

.header-menu-parent {
	display: table-cell;
	vertical-align: middle
}
.header-menu {
	position: relative;
	z-index: 1010;
	text-align: left;
}
.header-menu > ul {
	font-size: 0;
}
.header-menu > ul > li {
	display: inline-block;
	vertical-align: middle;
}
.header-menu > ul > li > a,
.header-menu > ul > li > span {
	display: block;
	padding: 5px 20px;
	font-size: 14px; /*reset zeroing*/
	font-weight: bold;
	color: #231f20;
	text-transform: uppercase;
	cursor: pointer;
}

 




.flyout-cart-wrapper {
	position: relative;
	display: table-cell;
	width: 190px; /*prevents the cell from expanding when header menu is empty*/
	padding: 0 0 0 32px;
	vertical-align: middle;
	text-align: right;
}
.cart-trigger {
	display: inline-block;
	position: relative;
	height: 52px;
	border: 1px solid #f0f0f0;
	padding: 0 19px 0 18px;
	line-height: 52px;
	font-size: 13px;
	color: #777;
	white-space: nowrap;
	transition: all 0.2s ease;
}
.cart-trigger:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -32px;
	width: 32px;
	height: 52px;
	background: #f6794d url('../img/flyout-cart.png') center no-repeat;
}
.cart-trigger .cart-qty,
.cart-trigger .cart-label {
	font-weight: bold;
	color: #555;
	transition: all 0.2s ease;
}
.flyout-cart {
	/* display: none; */
	position: static;
	right: 0;
	z-index: 1;
	width: 350px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	background: #fff;
}
.flyout-cart-wrapper:hover .cart-trigger {
	border-color: #ff0000;
	background-color: #f6794d;
	color: #fff;
}
.flyout-cart-wrapper:hover .cart-qty,
.flyout-cart-wrapper:hover .cart-label {
	color: #fff;
}
.flyout-cart-wrapper:hover .flyout-cart {
	display: block;
}
.mini-shopping-cart {
	text-align: left;
}
.mini-shopping-cart .count {
	display: none;
}
.mini-shopping-cart .item {
	padding: 25px 20px;
}
.mini-shopping-cart .attributes {
	margin: 10px 0;
}
.mini-shopping-cart .totals {
	text-align: right;
}
.mini-shopping-cart .buttons {
	overflow: hidden;
	padding: 12px 15px;
	text-align: right;
}
.mini-shopping-cart input.cart-button {
	float: left;
	width: 49%;
}
.mini-shopping-cart input.checkout-button {
	float: right;
	width: 49%;
}
.mini-shopping-cart input[type="button"]:only-child {
	float: none;
	width: auto;
}

.header-lower {
	background-color: #6b0500;
	padding: 9px 0;
}
.header-lower .center {
	position: relative;
	height: 47px; /*equals to search-button height. added to bulletproof category navigation stack*/
}
.category-navigation-title {
	position: absolute;
	bottom: -9px;
	left: 0;
	z-index: 2;
	width: 245px;
	height: 55px;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	padding: 0 20px;
	font-size: 15px;
	line-height: 53px;
	font-weight: bold;
	color: #231f20;
	text-transform: uppercase;
	cursor: pointer;
}
.category-navigation-title:after {
	content: "";
	position: absolute;
	top: 19px;
	right: 19px;
	width: 17px;
	height: 15px;
	background: #f6794d url('../img/category-nav.png') center no-repeat;
}
.home-page-body .category-navigation-title {
	cursor: auto;
}
.category-navigation-list-wrapper {
	position: absolute;
	top: 54px;
	left: 0;
	z-index: 1;
	width: 245px;
}
.home-page .category-navigation-list-wrapper {
	position: static;
	margin: -31px 0 0;
}
.category-navigation-list {
    display: none;
	border: 1px solid #e9e9e9;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
	background-color: #fff;
}
.home-page-body .category-navigation-list {
	position: relative; /*prevent flyout z-index conflict with owl-carousel*/
	z-index: 2; /*prevent flyout z-index conflict with owl-carousel*/
}
.home-page .category-navigation-list {
	box-shadow: none;
}
.category-navigation-list .plus-button,
.category-navigation-list .back-button {
	display: none;
}
.category-navigation-list > li {
	position: relative;
	border-top: 1px solid #f6f6f6;
}
.category-navigation-list > li:first-child {
	border: none;
}
.category-navigation-list > li > a,
.category-navigation-list > li > span {
	display: block;
	min-height: 46px; /*chrome line-height fix*/
	padding: 13px 20px;
}
.category-navigation-list > li:hover > a,
.category-navigation-list > li:hover > span {
	background-color: #f9f9f9;
	color: #ff0000;
}
.categories-in-side-panel .root-category-items {
	display: none; /*side navigation disables header menu categories*/
}
.categories-in-side-panel .root-category-items.store-locator {
	display: inline-block !important; /*store locator always visible*/
}
.category-navigation-list > li.store-locator {
	display: none; /*store locator in side panel always hidden*/
}
.category-navigation-list > li > .sublist-wrap,
.header-menu > ul > li > .sublist-wrap { /*this is the flyout panel*/
	display: none;
	position: absolute;
	top: -14px;
	left: 243px;
	width: 736px;
}
.header-menu > ul > li > .sublist-wrap {
	top: auto;
	left: 0;
	width: 980px;
	margin: 0 0 0 -196px; /*depends on logo cell width, which is always fixed*/
}
.category-navigation-list > li:first-child > .sublist-wrap {
	top: 0;
}
.category-navigation-list > li:hover > .sublist-wrap,
.header-menu > ul > li:hover > .sublist-wrap { /*this is the flyout opening*/
	display: block;
}
.category-navigation-list > li > .sublist-wrap > .sublist,
.header-menu > ul > li > .sublist-wrap > .sublist { /*this is the inner list inside the flyout panel*/
	overflow: hidden;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	padding: 15px;
}
.category-navigation-list > li > .sublist-wrap > .sublist > li,
.header-menu > ul > li > .sublist-wrap > .sublist > li { /*this is a subcategory item (contains a list)*/
	float: left;
	width: 25%;
	padding: 10px;
	font-size: 13px;
}
.category-navigation-list > li > .sublist-wrap > .sublist > li:nth-child(4n+6),
.header-menu > ul > li > .sublist-wrap > .sublist > li:nth-child(4n+6) {
	clear: both; /*this clears the 6th, and after that every 4th element, edit nth child number if "back button" is removed from the markup*/
}
.category-navigation-list > li > .sublist-wrap > .sublist > li > a,
.header-menu > ul > li > .sublist-wrap > .sublist > li > a { /*this is a subcategory item title (list title)*/
	display: block;
	margin: 0 0 10px;
	border-bottom: 3px solid #ff0000;
	padding: 0 0 5px;
	font-weight: bold;
	text-transform: uppercase;
}
.category-navigation-list > li > .sublist-wrap > .sublist > li > .sublist-wrap > .sublist li,
.header-menu > ul > li > .sublist-wrap > .sublist > li > .sublist-wrap > .sublist li { /*this is a sub-subcategory item*/
	padding: 6px 0;
}
.category-navigation-list > li > .sublist-wrap > .sublist > li > .sublist-wrap > .sublist li a:hover,
.header-menu > ul > li> .sublist-wrap > .sublist > li > .sublist-wrap > .sublist li a:hover {
	color: #ff0000;
}
.category-navigation-list > li > .sublist-wrap > .sublist > li > .sublist-wrap > .sublist ul,
.header-menu > ul > li > .sublist-wrap > .sublist > li > .sublist-wrap > .sublist ul { /*deeper level subcategories remain hidden*/
	display: none;
}

.category-navigation-list.sticky-flyout {
	position: relative;
}
.category-navigation-list.sticky-flyout > li {
	position: static;
}
.category-navigation-list.sticky-flyout > li > .sublist-wrap {
	top: 0 !important;
}

.store-search-box {
	float: right;
	clear: right;
	margin: 0;
}
.store-search-box .search-box-button {
	margin: 0 0 0 5px;
}
.ui-autocomplete {
	z-index: 1015;
}
.store-search-box.full-width input.search-box-text {
	width: 918px;
}

/* RESPONSIVE RESET */

.responsive-nav-wrapper-parent {
	display: none;
}
.menu-title, .close-menu,
.header-menu .back-button {
	display: none;
}
.overlayOffCanvas {
	display: none !important;
}

/* HOMEPAGE COLUMNS */

.two-columns-area {
	margin: 0 0 50px;
}
.two-columns-area > .center {
	width: 980px;
	margin: auto;
}
.two-columns-area > .center:after {
	content: "";
	display: block;
	clear: both;
}
.two-colums-area-left {
	position: relative;
	z-index: 1;
	float: left;
	width: 245px;
}
.two-colums-area-right {
	position: relative;
	z-index: 0;
	float: right;
	width: 708px;
}
.slider-fullwidth {
	margin-top: -60px;
}
.slider-right-column {
	margin-top: -35px;
}
.slider-right-column
.category-navigation-list-wrapper {
	position: static;
	margin-top: -26px;
}
.slider-right-column
.category-navigation-list {
	box-shadow: none;
}

.two-columns-area .jCarouselMainWrapper:only-of-type {
	margin: 20px 0 0;
}
.two-columns-area .slider-wrapper ~ .jCarouselMainWrapper,
.two-columns-area.slider-fullwidth .jCarouselMainWrapper {
	margin: 45px 0 0 !important;
}

/* HOMEPAGE CAROUSELS */

.two-columns-area .home-page-product-grid {
	display: block;
	margin: 45px 0 0;
	border: 1px solid #e9e9e9;
	background-color: #fff;
}
.two-columns-area.slider-right-column
.home-page-product-grid:first-child {
	margin-top: 0;
}
.two-columns-area .home-page-product-grid .title {
	margin: 0;
	border: none;
	padding: 15px 20px;
	font-size: 16px;
	text-align: center;
}
.two-columns-area .home-page-product-grid .item-box {
	width: 100%;
	margin: 0;
}
.two-columns-area .home-page-product-grid .product-item {
	border: none;
	padding: 0 !important;
}
.two-columns-area .home-page-product-grid .product-rating-box,
.two-columns-area .home-page-product-grid .buttons-upper,
.two-columns-area .home-page-product-grid .buttons-lower {
	display: none !important;
}
.two-columns-area .owl-carousel .prices {
	margin: 0; /*this is not applied until the carousel is rendered*/
}
.two-columns-area .owl-carousel .owl-controls {
	padding: 18px 20px;
	text-align: center;
	font-size: 0;
}
.two-columns-area .owl-carousel .owl-dot {
	display: inline-block;
	margin: 0 5px;
}
.two-columns-area .owl-carousel .owl-dot span {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #c9c9c9;
}
.two-columns-area .owl-carousel .owl-dot.active span {
	background-color: #f6794d;
}

.bestsellers {
	/* float: left; */
	/* width: 66%; */
}
.bestsellers:only-child {
	float: none;
	width: auto;
}
.bestsellers .owl-prev {
	right: 37px;
	left: auto;
}
.bestsellers .product-item {
	height: 170px; /*use fixed height to prevent browser differences*/
}
.bestsellers .picture a {
	max-height: 128px; /*prevents image overflow when there is no rich blog carousel enabled*/
	overflow: hidden;
}
.bestsellers .picture a img {
	max-height: 100%; /*prevents image cropping when there is no rich blog carousel enabled*/
}
.homepage-middle-wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.product-grid.bestsellers .item-box:hover .buttons-lower input,
.product-grid.bestsellers .item-box:hover .buttons-lower button {
	background-color: #888; /*long inheritance path to override default buy button*/
}
.product-grid.bestsellers .item-box .buttons-lower input:hover,
.product-grid.bestsellers .item-box .buttons-lower button:hover {
	background-color: #f6794d; /*long inheritance path to override default buy button*/
} 

/* FOOTER */

.footer {
	text-align: left;
}
.footer .center {
	width: 980px;
	margin: auto;
}
.footer .center:after {
	content: "";
	display: block;
	clear: both;
}
  .footer-upper {
    padding: 40px 0px 0px 0px;
  }
.footer-block ul {
	background-color: transparent;
}
.newsletter {
	float: left;
}
.newsletter .title {
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.newsletter-subscribe {
	display: inline-block;
	vertical-align: middle;
}
.newsletter-validation {
	display: none;
}
.social-sharing {
	float: right;
	margin: 0;
	line-height: 47px;
}
.social-sharing li {
	vertical-align: middle;
}
.footer-middle {
	padding: 60px 0 30px;
}
  .footer-block {
    /*	float: left;
	width: 25%;*/
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
    .footer-block a {
      padding: 10px;
    }
    .footer-block.customer-service {
      width: 21%;
    }
  .footer-block.follow-us {
    width: 29%;
  }
  .footer-block .title {
    margin: 0 0 12px;
    border: none;
    padding: 0;
  }
.footer-block .title:after {
	display: none;
}
.footer-block ul {
	display: block !important;
	border: none;
}
  .footer-block li {
    padding: 2px 0;
  }
.footer-block.quick-contact li {
	padding: 6px 0 16px;
}
.footer-block .social {
    margin-top:0;
}
  .footer-block.quick-contact span {
    padding: 0 0 0 28px;
  }
  .footer-lower {
    background-color: #f4f8fa;
    padding: 10px 0;
    text-align: center;
  }
.footer-lower .center {
	border-top: 1px solid #e9e9e9;
	padding: 30px 0;
}

/* LEFT/RIGHT COLUMN */


.block .view-all {
	margin: 12px 0 4px;
}

.block-category-navigation {
	display: none;
}
.category-page-body .block-category-navigation {
	display: block;
}
.block-category-navigation .listbox {
	display: none !important;
}
.block-category-navigation .listbox.category-page-navigation {
	display: block !important;
}

.block-recently-viewed-products {
	font-size: 0;
}
.block-recently-viewed-products .product-picture {
	display: inline-block;
	width: 25%;
	vertical-align: middle;
}
.block-recently-viewed-products .product-name {
	display: inline-block;
	width: 75%;
	padding: 0 0 0 15px;
	vertical-align: middle;
	font-size: 14px; /*reset zeroing*/
}
.recently-viewed-products-page-body .block-recently-viewed-products,
.product-tags-all-page-body .block-popular-tags {
	display: none;
}
.recently-viewed-products-page-body .block-recently-viewed-products + .block,
.product-tags-all-page-body .block-popular-tags + .block {
	border-top-color: #e9e9e9;
}


/* CATEGORY PAGE & GRIDS */

.breadcrumb {
	margin-top: -10px;
	text-align: left;
}
.breadcrumb li > * {
	margin-left: 0;
}
.breadcrumb a:hover {
	color: #ff0000;
}

.sub-category-item .title,
.manufacturer-item .title,
.vendor-item .title {
	width: auto;
}
.sub-category-details,
.manufacturer-details,
.vendor-details {
	display: block;
}
.manufacturer-details,
.vendor-details {
	padding: 38% 0;
	text-align: center;
	transition: all 0.4s ease;
}
.manufacturer-details .view-all:hover,
.vendor-details .view-all:hover {
	color: #231f20;
}

.product-grid .item-box .product-item {
	padding: 0 0 45px;
}
.product-grid .item-box .buttons-upper {
	position: absolute;
	bottom: 15px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 30px;
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	overflow: hidden;
	transition: all 0.2s ease;
}
.product-grid .item-box .buttons-lower {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 45px;
	border-width: 1px;
	border-style: solid;
	border-color: #f0f0f0 #e9e9e9 #e9e9e9;
	background-color: #fff;
	transition: all 0.2s ease;
}
.product-grid .item-box:hover .buttons-lower {
	bottom: -29px;
	z-index: 0;
}
.product-grid .item-box:hover .buttons-lower button {
	background-color: #f6794d;
}
.product-grid .item-box:hover .buttons-lower button span {
	background-color: #f6794d;
	color: #fff;
}
.product-grid .item-box:hover .buttons-lower button span:before {
	opacity: 0;
}
.product-grid .item-box:hover .buttons-lower button span:after {
	opacity: 1;
}

.center-1 .product-grid .item-box {
	width: 23.5%;
}
.center-1 .product-grid .item-box:nth-child(3n+1) {
	clear: none;
	margin-left: 2%;
}
.center-1 .product-grid .item-box:nth-child(4n+1) {
	clear: both;
	margin-left: 0;
}

/* PRODUCT PAGE */

.product-essential {
	padding: 35px;
}
  .gallery {
    width: auto;
    height: 231px;
    margin: 10px auto;
    background: #f4f3f3;
    border: none;
  }
.gallery .thumb-item {
	width: 23%;
	height: 80px;
	margin: 0 1% 10px;
}
.overview {
	width: 54%;
}
.overview .stock {
	display: inline-block;
	margin: 0 10px 0 0;
}
.variant-overview .stock {
	display: inline-block;
	margin: 0 10px 10px 0;
}
.overview .back-in-stock-subscription {
	display: inline-block;
	margin: 0 0 15px;
}
.product-social-buttons {
	bottom: -35px;
}
.overview-bottom .delivery,
.variant-overview .delivery {
	right: -35px;
	bottom: -35px;
}

.group-product .product-social-buttons {
	margin: 0;
}
.product-variant-line {
	padding: 35px;
}

.attributes dt {
	float: left;
	clear: left;
	margin-right: 10px;
}
.attributes dt label {
	line-height: 38px;
}
.attributes dd {
	float: left;
	margin-right: 10px;
}
.attribute-item > div {
	display: inline-block;
	margin: 0 10px 0 0;
	white-space: nowrap;
}
.giftcard label {
	display: inline-block;
	min-width: 120px;
	margin: 0 10px 0 0;
}

/* REVIEW PAGE */
/* WISHLIST & COMPARE LIST */

.compare-products-page .clear-list {
	position: absolute;
	top: -30px;
	right: 0;
	color: #ff0000;
	text-transform: none;
}
.compare-products-page .clear-list:hover {
	text-decoration: underline;
}
.compare-products-page .table-wrapper {
	overflow: hidden;
}
.compare-products-table {
	display: table;
}
.compare-products-table .remove-product td {
	border-top-color: #e9e9e9;
	padding-bottom: 0;
}
.compare-products-table .product-picture td,
.compare-products-table .product-name td,
.compare-products-table .product-price td {
	border-top: 0;
}
.compare-products-table .short-description td,
.compare-products-table .full-description td {
	vertical-align: top;
}
.compare-products-table .picture {
	display: block;
	width: 145px;
}
.compare-products-table-mobile {
	display: none;
}

/* TOPICS */
/* CONTACT PAGE & EMAILaFRIEND */
/* REGISTRATION, LOGIN, MY ACCOUNT */

#check-availability-button {
	display: block;
	margin: 15px auto -15px;
}
.account-page #check-availability-button {
	margin: 15px 0 -15px;
}
.account-page #username-availabilty {
	text-align: left;
}

  .center-2 .account-page .page-title {
    display: block;
    text-transform: capitalize;
  }

/*.block-account-navigation {
	margin: 0 !important;
}*/
/*.block-account-navigation .list {
	text-align: left;
}*/
/*.block-account-navigation .list li {
    margin:0;
}*/
.block-account-navigation .list a:hover {
	max-width: 500px; /*this releases the width, set to some big value*/
}
/*.block-account-navigation .list a:hover,
.block-account-navigation .list a.active {
	padding: 0 30px 0 0;*/ /*IE9 fix, otherwise this line should be in the main <a> definition in styles.css, not in hover/active and not in @1024px*/
/*}*/
.account-page .form-fields,
.account-page .edit-address {
	margin: 0;
}
.account-page .vat-status,
.account-page .vat-note {
	text-align: left;
}
.account-page .buttons {
	text-align: left;
}
.account-page ul.info {
	text-align: left;
}




  
  .order-item:first-child
  .reward-points-page th,
  .reward-points-page td {
    text-align: left;
  }

/* SHOPPING CART & CHECKOUT */

.order-progress {
	position: absolute;
	top: 5px;
	right: 0;
	background-color: #f6f6f6;
}
.order-progress li {
	margin: 0 2px;
}
.order-progress li:first-child a {
	padding-left: 20px;
}
.order-progress li:first-child a:before {
	display: none;
}
.order-progress li:last-child a {
	padding-right: 24px;
}
.order-progress li:last-child a:after {
	display: none;
}
.shopping-cart-page .page-title,
.checkout-page .page-title {
	min-height: 37px; /*chrome line-height fix*/
	padding: 0 0 5px;
}

.shopping-cart-page .tax-shipping-info {
	text-align: right;
}

.cart-footer .cart-collaterals {
	width: 100%;
	margin: 0;
}
.cart-footer  .totals {
	width: 100%;
	margin: 0;
	text-align: center;
}

.cart-collaterals .hint {
	margin: 0 0 25px;
}
.cart-collaterals .shipping label {
	display: inline-block;
	width: 25%;
	margin: 0;
}
.cart-collaterals .shipping label + select,
.cart-collaterals .shipping label + input {
	width: 75%;
}
.cart-collaterals .shipping .buttons {
	text-align: left;
}
.cart-collaterals .coupon-code {
	width: auto;
}
.cart-collaterals .coupon-code:after {
	content: "";
	display: block;
	clear: both;
}
.cart-collaterals .coupon-code input[type="text"] {
	float: left;
	width: 63%;
	margin: 0 1%;
}
.cart-collaterals .coupon-code input[type="submit"] {
	float: left;
	width: 33%;
	margin: 0 1%;
}

.checkout-page .address-item {
	width: 30%;
	margin: 4% 0 0 5%;
}
.checkout-page .address-item:nth-child(2n+1) {
	clear: none;
	margin-left: 5%;
}
.checkout-page .address-item:nth-child(3n+1) {
	clear: both;
	margin-left: 0;
}
.checkout-page .address-item:nth-child(-n+3) {
	margin-top: 0;
}
.checkout-page .address-item:only-child {
	text-align: left;
}
.checkout-page .enter-address {
	margin: 0;
}
  .checkout-page .enter-address + .buttons {
    padding: 10px 0;
    text-align: left;
  }
.checkout-page .enter-address + .buttons.centered {
	text-align: center;
}
.section.shipping-method,
.section.payment-method {
	text-align: left;
}
  .section.shipping-method .buttons,
  .section.payment-method .buttons,
  .section.payment-info .buttons,
  .section.order-completed .buttons {
    text-align: left;
    padding-left: 37px;
  }
.payment-method .payment-description {
}
.payment-info .info tr {
	display: table-row;
	margin: 0;
}
.payment-info .info td {
	display: table-cell;
	margin: 0;
	padding: 5px;
	text-align: left;
}
.payment-info .info td:first-child {
	width: 150px;
}
.payment-info .info td:only-child {
	width: auto !important;
	padding: 0;
}
.payment-info .info td label {
	font-weight: normal;
}
.payment-info .info td select {
	margin: 0;
}

.order-details-page .actions input {
	width: 190px;
}

#opc-confirm_order .totals {
    -pie-box-shadow: 0 7px 11px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 7px 11px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 7px 11px rgba(0, 0, 0, 0.18);
    box-shadow: 0 7px 11px rgba(0, 0, 0, 0.18);
    border: 1px solid #e7e7e7;
    background: #fff;
    padding: 10px 40px;
    float: right;
    margin: 25px 0 10px;
    width: 400px;
}
#opc-confirm_order .terms-of-service {
	width: 40%;
	margin-left: auto;
}
#opc-confirm_order div.buttons {
	text-align: right;
}

/* SEARCH & SITEMAP */

.basic-search .inputs.reversed label {
	text-align: left;
}
.advanced-search .inputs,
.advanced-search .inputs label:first-child,
.advanced-search .price-range {
	text-align: left;
}
.advanced-search .price-range input {
	margin: 0 10px 0 0;
}

/* BLOG & NEWS */

.news-items .buttons {
	text-align: left;
}
.news-items .read-more:hover:after {
	width: 30px;
}
.news-item-page .inputs:first-child label {
    display: inline-block;
    position: absolute;
	top: 0;
    left: 0;
	width: 90px;
	margin: 0;
    line-height: 40px;  
    text-align: right;
}
.new-comment textarea {
	display: block;
	margin: auto;
}

/* FORUM & PROFILE */

.forums-main-page
.topic-block-body {
	max-width: 580px;
}
.forum-breadcrumb {
	max-width: 580px;
}
.forums-header {
	margin: 0;
}
.forum-search-box {
	position: absolute;
	top: 0;
	right: 0;
}
.forums-main-page .forum-search-box {
	top: 65px;
}
.forum-search-box .search-box-text {
	width: 330px !important;
}
.forum-search-box .advanced {
	text-align: right;
}

.forums-header + 
.forums-table-section {
	margin-top: 80px;
}
.forum-page .forum-name,
.forum-topic-page .topic-name {
	margin-top: 60px;
}

.forum-actions,
.topic-actions {
	overflow: hidden;
}
.forum-actions .actions,
.topic-actions .actions {
	float: left;
	margin: 2px 0;
}
.forum-actions .actions a,
.topic-actions .actions a {
	margin: 0 15px 0 0;
}
.forum-actions .pager,
.topic-actions .pager {
	float: right;
	max-width: 450px;
}
.forum-actions .pager.upper,
.topic-actions .pager.upper {
	margin: 0;
}
.topic-post .post-time label {
	display: inline;
}
.pager.lower {
	float: right;
	margin: 0;
}

/*.forum-edit-page .inputs.reversed {
	text-align: left;
}*/
.forum-edit-page textarea,
.private-message-send-page textarea {
	height: 180px;
}
.private-messages-page td.date {
	white-space: nowrap;
}

.registration-page .form-fields,
.login-page .inner-wrapper,
.external-authentication,
.password-recovery-page .page-body,
.registration-page .message-error,
.account-page .message-error {
	padding: 30px 60px;
}
.write-review form {
	padding: 30px 60px;
}
.topic-password {
	padding: 30px 60px;
}
.contact-page form,
.email-a-friend-page form,
.apply-vendor-page form,
.contact-page .result,
.email-a-friend-page .result,
.apply-vendor-page .result {
	padding: 30px 60px;
}

/* REGISTRATION, LOGIN, MY ACCOUNT */

.registration-page .form-fields,
.login-page .inner-wrapper,
.external-authentication,
.password-recovery-page .page-body,
.registration-page .message-error,
.account-page .message-error {
	padding: 30px 0;
}
.account-page .fieldset .title,
.account-page .section .title {
	padding: 40px 60px 0;
}
  .account-page .form-fields,
  .account-page .buttons,
  .account-page .add-button,
  .account-page .edit-address,
  .account-page ul.info,
  .account-page ul.details,
  .account-page .description,
  .reward-points-overview,
  .account-page .no-data {
    font-family: 'MontserratRegular';
  }
.account-page .table-wrapper {
	padding: 0 60px;
}
  .html-account-page.html-order-list-page .table-wrapper {
    padding: 0;
  }
}