﻿@model HeaderLinksModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using System.Text.Encodings.Web

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var currentStore = storeContext.CurrentStore;
    var storeId = currentStore.Id;

    //Check if the setting ShowLoginPoup is true or false.
    bool shouldShowLoginInPopup = settingService.GetSettingByKey("PavilionThemeSettings.ShowLoginPopup", false, storeId, true);

    //Check if we should show the login popup.
    if (shouldShowLoginInPopup)
    {
        var reCaptchaVersion1 = "Version1";


        bool isReCaptchaV1EnabledOnLoginPage = (settingService.GetSettingByKey("captchasettings.enabled", false, storeId, true) &&
                                                settingService.GetSettingByKey("captchasettings.showonloginpage", false, storeId, true) &&
                                                (reCaptchaVersion1.Equals(settingService.GetSettingByKey("captchasettings.recaptchaversion", reCaptchaVersion1, storeId, true), StringComparison.InvariantCultureIgnoreCase)));

        // Since the LoginPopup is added via Ajax, reCaptcha v1 could not be loaded and won't work.
        // So we better not show the LoginPopup if reCaptcha v1 is enabled on the login page
        // http://stackoverflow.com/questions/23174979/google-recaptcha-doesnt-get-loaded-when-bootstrap-call-the-remote-modal
        if (isReCaptchaV1EnabledOnLoginPage)
        {
            shouldShowLoginInPopup = false;
        }
        else
        {
            bool isSSLEnabled = currentStore.SslEnabled;
            bool isSSLForcedOnAllPages = settingService.GetSettingByKey("securitysettings.forcesslforallpages", false, storeId, true);

            //Check if SSL is Enabled for Current Store and if it is forced for all pages so we do not show the Login Popup in that case.
            bool isSSLEnabledAndNotForcedOnAllPages = isSSLEnabled && !isSSLForcedOnAllPages;

            if (isSSLEnabledAndNotForcedOnAllPages)
            {
                shouldShowLoginInPopup = false;
            }
        }
    }
}
@if (Model.IsAuthenticated)
{
    Html.AppendPageCssClassParts("userIsLogin");
}

<div id="navbarCollapse" class="collapse navbar-collapse headerlinks">
    <ul class="nav navbar-nav">
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_before" })
        @if (Model.IsAuthenticated)
        {
            <li class="custNam"><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@T("Account.MyAccount")</a></li>
            <li class="logoutTxt"><a href="@Url.RouteUrl("Logout")" class="btn"><span>@T("Account.Logout")</span></a></li>
        }
        else
        {
            //Check if the setting Agent registertion is true or false.
            bool agentRegisterAllow = settingService.GetSettingByKey("setting.storesetup.AgentRegisterAllow", false, storeId);

            if (agentRegisterAllow)
            {
                <li><a href="@Url.RouteUrl("AgentRegister")">@T("NB.Account.AgentRegister")</a></li>
            }
            <li class="header-phone">@T("NB.Phone.Number")</li>
            <li>
                @await Component.InvokeAsync("LanguageSelector")
            </li>

            <li class="header-login">
                <a href="@Url.RouteUrl("Login")" class="btn @if (shouldShowLoginInPopup){<text>modal-login</text>}"
                   data-loginUrl="@Url.Action("Login", "Customer")"><span> @T("Account.Login") </span></a>
            </li>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_after" })
    </ul>

    <div class="header-menu">
        @await Component.InvokeAsync("TopMenu")
    </div>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
</div>
