﻿@model Nop.Web.Models.RatingReview.DisplayRatingsModel
@if (Model.ReviewType == ((int)Nop.Core.Domain.RatingReview.ReviewType.Item))
{
    if (Model.RatingPercent > 0)
    {
        <div class="product-review-box">
            <div class="rating" style="float:left">
                <div style="width: @(Model.RatingPercent)%">
                </div>
            </div>
        </div>
        }
    }
    else
    {  
            <i class="fa fa-star"></i>
            <em>@(string.Format(T("RatingReview.DisplayRatings.Text").Text, ((Model.RatingPercent / 20).ToString("0.0"))))</em>
        
    }