@model BlogPostModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="SeName" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeName" />
            <span asp-validation-for="SeName"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="MetaTitle" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="MetaTitle" />
            <span asp-validation-for="MetaTitle"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="MetaKeywords" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="MetaKeywords" />
            <span asp-validation-for="MetaKeywords"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="MetaDescription" />
        </div>
        <div class="col-md-8">
            <nop-textarea asp-for="MetaDescription"></nop-textarea>
            <span asp-validation-for="MetaDescription"></span>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#@Html.IdFor(model => model.SeName)').on('input change', function () {
                var parameters = {
                    entityId: '@Model.Id',
                    entityName: 'BlogPost',
                    seName: $(this).val()
                };
                warningValidation('@Url.Action("UrlReservedWarning", "Common")', '@Html.NameFor(model => model.SeName)', parameters);
            });
        });
    </script>
</div>
