﻿@model RestauratTrakingInfo
@if (Model.RestaurantId > 0)
{
    var ratingPercent = (Model.RestAverageRating * 100) / 5;
    <div class="merchant_rider_info">
        <div class="col-md-2 thmb">
            <img src="@Model.PictureModel.ImageUrl" width="30" />
        </div>
        <div class="col-md-7 store_info">
            <h4>@Model.RestauratName</h4>
            <div class="product-review-box">
                <div class="rating">
                    <div style="width: @(ratingPercent)%">
                    </div>
                </div>
                <span class="rate_count">(@Model.RestRatingCount)</span>
            </div>
        </div>
        <div class="col-md-3 contact_query">
            <a href="tel:@Model.RestPhone"><i class="fa fa-phone"><span>@Model.RestPhone</span></i></a>
            <a href="#"><i class="fa fa-question"><span>@Model.RestHelpLink</span></i></a>
        </div>
    </div>
}
 