﻿@model RiderTrakingInfo

@if (Model.RidertId > 0)
{
    var ratingPercent = (Model.RiderAverageRating * 100) / 5;
 
<div class="merchant_rider_info">
    <input type="hidden" id="riderId" value="@Model.RidertId" />
    <div class="col-md-2 thmb">
        <img src="@Model.PictureUrl" width="30" />
    </div>
    <div class="col-md-7 store_info">
        <h4>@Model.RiderName</h4>
        <div class="product-review-box">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
            <span class="rate_count">(@Model.RiderRatingCount)</span>
        </div>
    </div>
    <div class="col-md-3 contact_query">
        <a href="tel:@Model.RiderPhone"><i class="fa fa-phone"><span>@Model.RiderPhone</span></i></a>
    </div>
</div>
}  