﻿@model IList<OrderedStatusTracking>
@using Nop.Core.Domain.Orders
@if (Model.Any())
{
    <div class="progress-track">
        <ul id="progressbar">
            @foreach (var status in Model)
            {
                var activeClass = status.IsUpdate ? "active" : "low-opacity";
                <li class="@(activeClass) order-status-record" id="status-@(status.StatusId)">
                    <div class="progress-steps">
                        <h4>@status.StatusTitle</h4>
                        <p>@status.MiniDescription</p>
                    </div>
                    <!-- Handle Cancel Status-->
                    @if (status.StatusId == (int)OrderStatus.Cancelled)
                    {
                        if (status.IsUpdate)
                        {
                            <!-- Here means order is Canceled. So lets Show and highlight Cancelled status only-->
                            <script>
                                $('.order-status-record').removeClass('active');
                                $('.order-status-record').addClass('low-opacity');
                                var element = $('#status-@((int)OrderStatus.Cancelled)');
                                element.removeClass('low-opacity');
                                element.addClass('active');
                                element.show();
                            </script>
                        }
                        else
                        {
                            <script>
                                var element = $('#status-@(status.StatusId)');
                                element.hide();
                            </script>
                        }
                    }
                </li>
            }
        </ul>
    </div> 
}
