﻿@model CustomerWalletListModel
@using Nop.Services.Catalog
@using Nop.Core
@using System.Text.RegularExpressions;
@inject IPriceFormatter priceFormatter
@inject IWorkContext workContext
@{
    Layout = "_ColumnsTwo";
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-wallet-list-page");

    var currencyCode = priceFormatter.FormatPrice(0, true, workContext.WorkingCurrency);
    currencyCode = Regex.Replace(currencyCode, @"\d", "");
    currencyCode = currencyCode.Replace(".", "");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.MyWallet })
}
<script>
    var hidepopoverv = false;
    function hidepopover() {
        hidepopoverv = true;
        $('#btnAddMoney').popover('hide');
    }
    function countinueAddMoney() {
        if ($("#txtAddAmount").val() != "" && parseInt($("#txtAddAmount").val()) > 0 && parseInt($("#txtAddAmount").val()) == $("#txtAddAmount").val()) {
            $.post("/ShoppingCart/AddWalletAmount", { walletAmount: $("#txtAddAmount").val() }, function (data) {
                 if (data.success) {
                      window.setTimeout(function () {
                location.href = '/onepagewalletcheckout/'+ $("#txtAddAmount").val() +'/';
            }, 1000);
                 }
                },'JSON');
        }
        else {
            alert('@T("Admin.Account.Wallet.InvalidWalletAmount.Message")');
        }
    }
    $(document).ready(function () {

            var title = '<h1 style="font-weight:bold;font-size:18px;"><b id="boldTitle">@T("Account.CustomerAddMoneyToWallet")</b></h1>';
        $('#btnAddMoney').popover({ title: title, content: '', html: true, placement: "bottom" });

        $('#btnAddMoney').click(function () {
            if (hidepopoverv) {
                $('#btnAddMoney').popover('toggle');
            }
            $("#boldTitle").css("font-weight", "bold");
            var vcontent = '<div class="form-group">';
            vcontent += '<input type="number" class="form-control input-sm" style="height:35px;" id="txtAddAmount" onkeypress="return onlyNumberKey(event)" /><br /></div>';
            vcontent += '<button id="btnCancelAddMoney" onclick="hidepopover();" class="btn btn-default">@T("Account.Wallet.Cancel")</button>';
            vcontent += '<button class="btn btn-default" style="margin:5px;" id="btnCountinueAddMoney" onclick="countinueAddMoney();">@T("Account.Wallet.Countinue")</button>';
                $('.popover-content').html(vcontent);
                hidepopoverv = false;
        });
    });
</script>
<div class="page account-page order-list-page acc_wallet">
    <div class="page-title">
        <h1> @T("NB.Account.CustomerWallets")</h1>
    </div>
    <div class="page-body">
        <div class="wallet_balance">
            <h3> @T("Account.Wallet.CurrentWalletBalance")</h3><span>@Model.BalanceAmount</span>
        </div>
        @if (Model.Wallets.Count > 0)
        {
            @*<h2 style="padding:10px;font-weight:bold;">@T("Account.Wallet.AllTransactionDetails")</h2>*@
            <div class="wallet-order-list">
                <div class="table table-hover">
                    @foreach (var wallet in Model.Wallets)
                    {
                        <div class="section order-item">

                            <span class="wallet-icon"><i class="fa fa-money" aria-hidden="true"></i></span>

                            @if (wallet.Credited)
                            {
                                <div class="wallet-status-time">
                                    <label class="wallet-amount-status">@T("Account.Wallet.AmountAdded")</label>
                                    <span class="wallet-time">@wallet.TransactionOnUtc</span>
                                </div>

                                <div class="alert alert-success" width="25%">
                                    @wallet.DisplayAmount
                                </div>
                            }
                            else
                            {
                                <div class="wallet-status-time">
                                    <label class="wallet-amount-status">@T("Account.Wallet.AmountPaid")</label>
                                    <span class="wallet-time">@wallet.TransactionOnUtc</span>
                                </div>
                                <div class="alert alert-danger" width="25%">
                                    @wallet.DisplayAmount
                                </div>
                            }
                        </div>
                        @*<div class="section order-item">
                                <div class="order_details">
                                    <i class="fa fa-money" style="font-size:35px;padding-top:5px;" aria-hidden="true"></i>
                                    <strong>@T("Account.Wallet.AmountAdded")</strong>
                                    @wallet.TransactionOnUtc.ToStoreTimeFormat()
                                    <span> @wallet.DisplayAmount</span>
                                </div>
                            </div>*@
                    }
                </div>
            </div>
            <input type="button" id="btnAddMoney" value="@T("Account.CustomerAddMoneyToWallet")" data-toggle="modal" data-target="#addMoneyToWallet" class="button-2 order-details-button add-to-wallet" />
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerOrders.NoWallets")
            </div>
            <input type="button" id="btnAddMoney" value="@T("Account.CustomerAddMoneyToWallet")" data-toggle="modal" data-target="#addMoneyToWallet" class="button-2 order-details-button add-to-wallet" />
        }
    </div>
</div>
<!-- Modal -->
<div class="modal" id="addMoneyToWallet" tabindex="-1" role="dialog" aria-labelledby="addMoneyToWalletLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addMoneyToWalletLabel">
                    @T("Account.CustomerAddMoneyToWallet")
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal_desc">
                    <span class="currencySym">@(currencyCode)</span><input type="number" class="form-control input-sm" id="txtAddAmount" placeholder="0.00" onkeypress="return onlyNumberKey(event)" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelAddMoney" class="btn btn-default" data-dismiss="modal">@T("Account.Wallet.Cancel")</button>
                <button type="button" class="btn btn-primary" id="btnCountinueAddMoney" onclick="countinueAddMoney();">
                    @T("Account.Wallet.Countinue")
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#btnAddMoney').click(function () {
        $('#addMoneyToWallet').appendTo('body');
    });
</script>