﻿@model OrderDetailsModel
@{
    if (!Model.PrintMode)
    {
        Layout = "_ColumnsOne";
    }
    else
    {
        Layout = "_Print";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");
}
@{
    var addressTypeClass = "add_type_other";
    if (Model.BillingAddress.Landmark != null && Model.BillingAddress.Landmark.Equals(T("NB.Address.Home").ToString()))
    {
        addressTypeClass = "add_type_home";
    }
    else if (Model.BillingAddress.Landmark != null && Model.BillingAddress.Landmark.Equals(T("NB.Address.Office").ToString()))
    {
        addressTypeClass = "add_type_office";
    }
}
@if (Model.PrintMode)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            window.print();
        });
    </script>
}
<div class="page order-details-page">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            <h1>@T("Order.OrderInformation")</h1>
            <a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="button-2 print-order-button">@T("Order.Print")</a>
            @if (!Model.PdfInvoiceDisabled)
            {
                <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="button-1 pdf-invoice-button">@T("Order.GetPDFInvoice")</a>
            }
        </div>
    }
<div class="page-body">
    @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_top", additionalData = Model.Id })
    @*<div class="order-overview">

            @await Component.InvokeAsync("TopicBlock", new { systemName = "orderDetailAddress" })


            @await Component.InvokeAsync("Widget", new { widgetZone  = "orderdetails_page_overview", additionalData = Model.Id })
        </div>*@

    <section class="order-details-area">

        @*******Order status Area Starts****** *@
        <ul class="order_id_status">
            <li class="col-md-3">
                <h3> @T("Nb.Order.Id") </h3>
                <span class="order_id_details"><label>@T("Order.Order#")</label>@Model.CustomOrderNumber</span>
            </li>
            <li class="col-md-3">
                <h3>@T("Nb.Order.DateTime")</h3>
                <span class="order_id_details order-date"> @Model.CreatedOn.ToString("D")</span>
            </li>
            <li class="col-md-3">
                <h3>@T("Order.OrderStatus")</h3>
                <span class="order_id_details order_status @Model.OrderStatus"> @Model.OrderStatus</span>
            </li>
            <li class="col-md-3">
                <h3>@T("Order.OrderAmount")</h3>
                <span class="order_id_details order_total">@Model.OrderTotal</span>
            </li>
        </ul>
        @* ******Order status Area Ends****** *@

        @*******Address Area Starts****** *@
        <div class="address_section">
            <ul class="billing-info col-md-6">
                <li>
                    <h3>@T("Nb.Order.Delivery.Address")</h3>
                </li>
                <li class="title home_add @(addressTypeClass)">
                    <strong>@Model.BillingAddress.Landmark</strong>
                </li>
                <li class="name">
                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                </li>
                @if (Model.BillingAddress.StreetAddressEnabled)
                {
                    <li class="address1">
                        @Model.BillingAddress.Address1  @Model.BillingAddress.Address2
                    </li>
                }
                @if (Model.BillingAddress.PhoneEnabled)
                {
                    <li class="phone">
                        <span class="addressPhone">@T("Order.Phone"):</span> @Model.BillingAddress.PhoneNumber
                    </li>
                }
                @*  <li class="email">
                        <span class="label">@T("Order.Email"):</span> @Model.BillingAddress.Email
                    </li>*@

                @*  @if (Model.BillingAddress.FaxEnabled)
                    {
                        <li class="fax">
                            <span class="label">@T("Order.Fax"):</span> @Model.BillingAddress.FaxNumber
                        </li>
                    }
                    @if (Model.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.BillingAddress.Company))
                    {
                        <li class="company">
                            @Model.BillingAddress.Company
                        </li>
                    }*@
                @* @if (!String.IsNullOrEmpty(Model.BillingAddress.Address2))
                    {
                        <li class="address2">
                            @Model.BillingAddress.Address2
                        </li>
                    }*@
                @*@if (Model.BillingAddress.CityEnabled || Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled)
                    {
                        <li class="city-state-zip">
                            @if (Model.BillingAddress.CityEnabled)
                            {
                                @Model.BillingAddress.City
                            }
                            @if (Model.BillingAddress.CityEnabled && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                            {
                                <text>,</text>
                            }
                            @if (Model.BillingAddress.StateProvinceEnabled)
                            {
                                @Model.BillingAddress.StateProvinceName
                            }
                            @if (Model.BillingAddress.ZipPostalCodeEnabled)
                            {
                                @Model.BillingAddress.ZipPostalCode
                            }
                        </li>
                    }
                    @if (Model.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.BillingAddress.CountryName))
                    {
                        <li class="country">
                            @Model.BillingAddress.CountryName
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(Model.VatNumber))
                    {
                        <li class="vat">
                            <span class="label">
                                @T("Order.VATNumber")
                            </span>
                            <span class="value">
                                @Model.VatNumber
                            </span>
                        </li>
                    }*@
                @if (!String.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                {
                    <li class="custom-attributes-view">
                        @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                    </li>
                }
                @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                {
                    @* <li class="title">
                            @T("Order.Payment")
                        </li>
                        <li class="payment-method">
                            <span class="label">
                                @T("Order.Payment.Method"):
                            </span>
                            <span class="value">
                                @Model.PaymentMethod
                            </span>
                        </li>*@
                    @*  if (!Model.PrintMode)
                        {
                            <li class="payment-method-status">
                                <span class="label">
                                    @T("Order.Payment.Status"):
                                </span>
                                <span class="value">
                                    @Model.PaymentMethodStatus
                                </span>
                            </li>
                        }*@
                    if (!Model.PrintMode && Model.CanRePostProcessPayment)
                    {
                        @*Complete payment (for redirection payment methods)*@
                        <li class="repost">
                            <form asp-route="OrderDetails" method="post">
                                <input type="submit" name="repost-payment" value="@T("Order.RetryPayment")" class="button-2 re-order-button" />
                                <p class="hint">
                                    <em>@T("Order.RetryPayment.Hint")</em>
                                </p>
                            </form>
                        </li>
                    }
                }
                @if (Model.CustomValues != null)
                {
                    foreach (var item in Model.CustomValues)
                    {
                        <li class="custom-value">
                            <span class="label">
                                @item.Key:
                            </span>
                            <span class="value">
                                @(item.Value != null ? item.Value.ToString() : "")
                            </span>
                        </li>
                    }
                }
            </ul>
            @*Restauran detail and addresss*@
            <ul class="billing-info col-md-6">
                <li>
                    <h3>@T("NB.Order.RestaurantName")</h3>
                </li>
                <li class="title home_add">
                    @Model.MerchantName
                </li>

                <li>
                    @Model.MerchantAddress
                </li>
            </ul>

        </div>
        @*******Address Area Ends****** *@



        @*
            @if (Model.IsShippable)
            {
                <ul class="shipping-info">
                    <li class="title">
                        @(Model.PickUpInStore ? T("Order.PickupAddress") : T("Order.ShippingAddress"))
                    </li>
                    @if (!Model.PickUpInStore)
                    {
                        <li class="name">
                            @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                        </li>
                        <li class="email">
                            @T("Order.Email"): @Model.ShippingAddress.Email
                        </li>
                        if (Model.ShippingAddress.PhoneEnabled)
                        {
                            <li class="phone">
                                @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber
                            </li>
                        }
                        if (Model.ShippingAddress.FaxEnabled)
                        {
                            <li class="fax">
                                @T("Order.Fax"): @Model.ShippingAddress.FaxNumber
                            </li>
                        }
                        if (Model.ShippingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.Company))
                        {
                            <li class="company">
                                @Model.ShippingAddress.Company
                            </li>
                        }
                        if (Model.ShippingAddress.StreetAddressEnabled)
                        {
                            <li class="address1">
                                @Model.ShippingAddress.Address1
                            </li>
                        }
                        if (Model.ShippingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                        {
                            <li class="address2">
                                @Model.ShippingAddress.Address2
                            </li>
                        }
                        if (Model.ShippingAddress.CityEnabled ||
                            Model.ShippingAddress.StateProvinceEnabled ||
                            Model.ShippingAddress.ZipPostalCodeEnabled)
                        {
                            <li class="city-state-zip">
                                @if (Model.ShippingAddress.CityEnabled)
                                {
                                    @Model.ShippingAddress.City
                                }
                                @if (Model.ShippingAddress.CityEnabled && (Model.ShippingAddress.StateProvinceEnabled || Model.ShippingAddress.ZipPostalCodeEnabled))
                                {
                                    <text>,</text>
                                }
                                @if (Model.ShippingAddress.StateProvinceEnabled)
                                {
                                    @Model.ShippingAddress.StateProvinceName
                                }
                                @if (Model.ShippingAddress.ZipPostalCodeEnabled)
                                {
                                    @Model.ShippingAddress.ZipPostalCode
                                }
                            </li>
                        }
                        if (Model.ShippingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                        {
                            <li class="country">
                                @Model.ShippingAddress.CountryName
                            </li>
                        }
                        if (!String.IsNullOrEmpty(Model.ShippingAddress.FormattedCustomAddressAttributes))
                        {
                            <li class="custom-attributes-view">
                                @Html.Raw(Model.ShippingAddress.FormattedCustomAddressAttributes)
                            </li>
                        }
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.PickupAddress.Address1))
                        {
                            <li class="address1">
                                @Model.PickupAddress.Address1
                            </li>
                        }
                        if (!string.IsNullOrEmpty(Model.PickupAddress.City) || !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                        {
                            <li class="city-state-zip">
                                @if (!string.IsNullOrEmpty(Model.PickupAddress.City))
                                {
                                    @Model.PickupAddress.City
                                }
                                @if (!string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                {
                                    <text>,</text>
                                    @Model.PickupAddress.ZipPostalCode
                                }
                            </li>
                        }
                        if (!string.IsNullOrEmpty(Model.PickupAddress.CountryName))
                        {
                            <li class="country">
                                @Model.PickupAddress.CountryName
                            </li>
                        }
                    }
                    <li class="title">
                        @T("Order.Shipping")
                    </li>
                    <li class="shipping-method">
                        <span class="label">
                            @T("Order.Shipping.Name"):
                        </span>
                        <span class="value">
                            @Model.ShippingMethod
                        </span>
                    </li>
                    @if (!Model.PrintMode)
                    {
                        <li class="shipping-status">
                            <span class="label">
                                @T("Order.Shipping.Status"):
                            </span>
                            <span class="value">
                                @Model.ShippingStatus
                            </span>
                        </li>
                    }
                </ul>

            }*@
    </section>
    <section class="rating_section">
        @if (Model.AgentReviewModel != null)
        {
            <div class="col-md-6 rating_Info">
                <div class="col-md-2 col-sm-12 rating_thmb">
                    <img src="\Themes\VonzuuEats\Content\img\rating_agent.png" />
                </div>
                <div class="col-md-10 col-sm-12">
                    <h3 class="rating_head">@T("NB.OrderDetail.RatingAgent")</h3>
                    <span class="rating_star">
                        <i class="fa fa-star"> </i>
                        <span class="rating_count">@Model.AgentReviewModel.RatingStar</span>
                    </span>
                    <p class="rating_note">@Model.AgentReviewModel.AdditionalNote</p>
                </div>
            </div>
        }
        @if (Model.MerchantReviewModel != null)
        {
            <div class="col-md-6 rating_Info">
                <div class="col-md-2 col-sm-12 rating_thmb">
                    <img src="\Themes\VonzuuEats\Content\img\rating_restaurant.png" />
                </div>
                <div class="col-md-10 col-sm-12">
                    <h3 class="rating_head">@T("NB.OrderDetail.RatingStore")</h3>
                    <span class="rating_star">
                        <i class="fa fa-star"> </i>
                        <span class="rating_count">@Model.MerchantReviewModel.RatingStar</span>
                    </span>
                    <p class="rating_note">@Model.MerchantReviewModel.AdditionalNote</p>
                </div>
            </div>
        }
    </section>

    @if (Model.Items.Count > 0)
    {
        @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_beforeproducts", additionalData = Model.Id }) 

<section class="products_section">
    <div class="title">
        <h3>@T("Nb.Order.ItemSummary")</h3>
    </div>
    <div class="table-wrapper">
        <table class="data-table item_summary_table">
            @*<colgroup>
                    <col />
                    @if (Model.ShowSku)
                    {
                        <col width="1" />
                    }
                    <col />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                </colgroup>*@
            <thead>
                <tr>
                    <th></th>
                    @* @if (Model.ShowSku)
                        {
                            <th class="sku" data-hide="w410, w480, w580, w768">
                                @T("Order.Product(s).SKU")
                            </th>
                        }*@
                    <th class="name" style="width:75%">
                        <span class="productMobileName">@T("Order.ItemSummary")</span>
                        <span class="productName">@T("Order.Product(s).Name")</span>
                    </th>
                    <th class="price" data-hide="w410, w480, w580">
                        @T("Order.Product(s).Price")
                    </th>
                    @*<th class="quantity" data-hide="w410, w480, w580">
                            @T("Order.Product(s).Quantity")
                        </th>*@
                    <th class="total" data-hide="w410">
                        @T("Order.Product(s).Total")
                    </th>
                </tr>
            </thead>
            <tbody>
                @{var counter = 0;}
                @foreach (var item in Model.Items)
                {
                    counter++;
                    <tr>
                        <td style="display:none">
                            <span class="item-count">@counter</span>
                        </td>
                        <td class="product">
                            @if (!Model.PrintMode)
                            {
                                @*<em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>*@
                                <em>@item.ProductName</em>
                            }
                            else
                            {
                                @item.ProductName
                            }
                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                            {
                                <div class="attributes">
                                    @Html.Raw(item.AttributeInfo)
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(item.RentalInfo))
                            {
                                <div class="rental-info">
                                    @Html.Raw(item.RentalInfo)
                                </div>
                            }
                            @if (item.DownloadId > 0)
                            {
                                <div class="download">
                                    <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                </div>
                            }
                            @if (item.LicenseId > 0)
                            {
                                <div class="download license">
                                    <a href="@Url.RouteUrl("GetLicense", new {orderItemId = item.OrderItemGuid})">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                </div>
                            }
                            @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_product_line", additionalData = item.Id })
                        </td>
                        <td class="unit-price">
                            @item.UnitPrice X  @item.Quantity
                        </td>
                        <td class="total">
                            @item.SubTotal
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="section totals">
        <div class="total-info">
            <table class="cart-total">
                <tbody>
                    <tr>
                        <td class="cart-total-left">
                            <label>@T("nb.Order.SubTotal") </label>
                        </td>
                        <td class="cart-total-right">
                            <span>@Model.OrderSubtotal</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart-total-left">
                            <label>@T("NB.Order.DeliveryAmount") </label>
                        </td>
                        <td class="cart-total-right">
                            <span><strong>@Model.DeliveryAmount</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart-total-left">
                            <label>@T("NB.Order.TipAmount")</label>
                        </td>
                        <td class="cart-total-right">
                            <span>@Model.TipAmount</span>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                    {
                        <tr class="order_discount">
                            <td class="cart-total-left">
                                <label>@T("Order.TotalDiscount") </label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.OrderTotalDiscount</span>
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                    {
                        <tr class="order_discount">
                            <td class="cart-total-left">
                                <label>@T("Order.SubTotalDiscount") </label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.OrderSubTotalDiscount</span>
                            </td>
                        </tr>
                    }
                    @if (Model.IsShippable)
                    {
                        <tr>
                            <td class="cart-total-left">
                                <label>@T("Order.Shipping") </label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.OrderShipping</span>
                            </td>
                        </tr>
                    }
                     @*@if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                    {
                        <tr>
                            <td class="cart-total-left">
                                <label>@T("Order.PaymentMethodAdditionalFee") </label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.PaymentMethodAdditionalFee</span>
                            </td>
                        </tr>
                    }
                    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                    {
                        foreach (var taxRate in Model.TaxRates)
                        {
                            <tr style="display:none;">
                                <td class="cart-total-left">
                                    <label>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate) </label>
                                </td>
                                <td class="cart-total-right">
                                    <span>@taxRate.Value</span>
                                </td>
                            </tr>
                        }
                    }
                    @if (Model.DisplayTax)
                    {
                        <tr style="display:none;">
                            <td class="cart-total-left">
                                <label>@T("Order.Tax"): @(Model.AppliedTaxRates)</label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.Tax</span>
                            </td>
                        </tr>
                    }
                    @if (Model.GiftCards.Count > 0)
                    {
                        foreach (var gc in Model.GiftCards)
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <label>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode) </label>
                                </td>
                                <td class="cart-total-right">
                                    <span>@gc.Amount</span>
                                </td>
                            </tr>
                        }
                    }
                   <tr style="display:none;">
                        <td class="cart-total-left">
                            <label>@T("NB.Order.ServiceChargeAmountDukan")</label>
                        </td>
                        <td class="cart-total-right">
                            <span>@Model.ServiceChargeAmount</span>
                        </td>
                    </tr>
                    @if (Model.RedeemedRewardPoints > 0)
                    {
                        <tr>
                            <td class="cart-total-left">
                                <label>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints) </label>
                            </td>
                            <td class="cart-total-right">
                                <span>@Model.RedeemedRewardPointsAmount</span>
                            </td>
                        </tr>
                    }*@
                    <tr class="order_subTotal">
                        <td class="cart-total-left">
                            <label><span class="total_txt">@T("Order.OrderTotal")</span> <span class="tax_include">@T("NB.Include.GST")</span></label>
                        </td>
                        <td class="cart-total-right">
                            <span><strong>@Model.OrderTotal</strong></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


    @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_afterproducts", additionalData = Model.Id })

    <div class="section options" style="display:none;">
        @if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
        {
            var inclTax = Model.PricesIncludeTax;
            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
            //of course, you can modify appropriate locales to include VAT info there
            <div class="tax-shipping-info">
                @T(inclTax ? "Order.TaxShipping.InclTax" : "Order.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
        {
            <div class="selected-checkout-attributes">
                @Html.Raw(Model.CheckoutAttributeInfo)
            </div>
        }
        @if (!Model.PrintMode)
        {
            <div class="actions">
                @if (Model.IsReOrderAllowed)
                {
                    <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')" />
                }
                @if (Model.IsReturnRequestAllowed)
                {
                    <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                }
            </div>
        }
    </div>

}
    @if (!Model.PrintMode)
    {
        if (Model.Shipments.Count > 0)
        {
            <div class="section shipments">
                <div class="title">
                    <strong>@T("Order.Shipments")</strong>
                </div>
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col width="1" />
                            <col width="1" />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="item-count">#</span>
                                </th>
                                <th class="shipment-id" data-hide="w410, w480, w580, w768">
                                    @T("Order.Shipments.ID")
                                </th>
                                <th class="tracking-number">
                                    @T("Order.Shipments.TrackingNumber")
                                </th>
                                <th class="shipping-date" data-hide="w410, w480, w580">
                                    @T("Order.Shipments.ShippedDate")
                                </th>
                                <th class="delivery-date" data-hide="w410, w480, w580">
                                    @T("Order.Shipments.DeliveryDate")
                                </th>
                                <th class="view-details" data-hide="w410">
                                    @T("Order.Shipments.ViewDetails")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var counter = 0;}
                            @foreach (var item in Model.Shipments)
                            {
                                counter++;
                                <tr>
                                    <td>
                                        <span class="item-count">@counter</span>
                                    </td>
                                    <td class="shipment-id">
                                        @item.Id.ToString()
                                    </td>
                                    <td class="tracking-number">
                                        @item.TrackingNumber
                                    </td>
                                    <td class="shipped-date">
                                        @if (item.ShippedDate.HasValue)
                                        {
                                            @item.ShippedDate.Value.ToString("D")
                                        }
                                        else
                                        {
                                            @T("Order.Shipments.ShippedDate.NotYet")
                                        }
                                    </td>
                                    <td class="delivery-date">
                                        @if (item.DeliveryDate.HasValue)
                                        {
                                            @item.DeliveryDate.Value.ToString("D")
                                        }
                                        else
                                        {
                                            @T("Order.Shipments.DeliveryDate.NotYet")
                                        }
                                    </td>
                                    <td class="view-details">
                                        <a href="@Url.RouteUrl("ShipmentDetails", new { shipmentId = item.Id })" title="@T("Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    @if (!Model.PrintMode)
    {
        if (Model.OrderNotes.Count > 0)
        {
            <div class="section order-notes">
                <div class="title">
                    <strong>@T("Order.Notes")</strong>
                </div>
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="created-on">
                                    @T("Order.Notes.CreatedOn")
                                </th>
                                <th class="note">
                                    @T("Order.Notes.Note")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderNotes)
                            {
                                <tr>
                                    <td class="created-on">
                                        @item.CreatedOn.ToString()
                                    </td>
                                    <td class="note">
                                        @Html.Raw(item.Note)
                                        @if (item.HasDownload)
                                        {
                                            <p class="download">
                                                <a href="@Url.RouteUrl("GetOrderNoteFile", new { ordernoteid = item.Id })">@T("Order.Notes.Download")</a>
                                            </p>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_bottom", additionalData = Model.Id })
</div>
</div>
