﻿@model OrderDetailsModel
@{
    if (!Model.PrintMode)
    {
        Layout = "_ColumnsOne";
    }
    else
    {
        Layout = "_Print";
    }
    //title
    Html.AddTitleParts(T("Nb.PageTitle.OrderTracking").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");

    //signalR js
    Html.AddScriptParts("~/lib/signalr/signalr.js");
}
@{
    var addressTypeClass = "add_type_other";
    if (Model.BillingAddress.Landmark != null && Model.BillingAddress.Landmark.Equals(T("NB.Address.Home").ToString()))
    {
        addressTypeClass = "add_type_home";
    }
    else if (Model.BillingAddress.Landmark != null && Model.BillingAddress.Landmark.Equals(T("NB.Address.Office").ToString()))
    {
        addressTypeClass = "add_type_office";
    }
}
@if (Model.PrintMode)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            window.print();
        });
    </script>
}

<div class="page order-details-page">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            <h1>@T("Order.OrderInformation")</h1>
            @if (!Model.PdfInvoiceDisabled)
            {
                <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="button-2 pdf-invoice-button">@T("Order.GetPDFInvoice")</a>
            }
        </div>
    }
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_top", additionalData = Model.Id })
        <div class="order-details-area">
            <ul>
                <li>
                    <div class="title">
                        <strong>@T("Nb.Order.Id")</strong>
                    </div>
                </li>
                <li>
                    <span class="label">@T("Order.Order#"):</span><strong>@Model.CustomOrderNumber</strong>
                </li>
            </ul>
            <ul>
                <li class="order-info">
                    <span class="deliver">@T("Nb.Order.DateTime")</span><br />
                    <span class="order-date"> @Model.CreatedOn.ToString("D")</span>
                </li>
            </ul>

            <ul class="billing-info">
                <li class="heading">
                    <span class="head">@T("Nb.Order.Delivery.Address")</span>
                    <span class="close" onclick="Billing.closePopup()">&times;</span>

                </li>
                <li>
                    <div class="title home_add @(addressTypeClass)">
                        <strong>@Model.BillingAddress.Landmark</strong>
                    </div>
                </li>

                <li class="name">
                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                </li>

                @if (Model.BillingAddress.StreetAddressEnabled)
                {
                    <li class="address1">
                        @Model.BillingAddress.Address1  @Model.BillingAddress.Address2
                    </li>
                }
                @if (Model.BillingAddress.PhoneEnabled)
                {
                    <li class="phone">
                        <span class="addressPhone">@T("Order.Phone"):</span> @Model.BillingAddress.PhoneNumber
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                {
                    <li class="custom-attributes-view">
                        @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                    </li>
                }
                @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                {
                    <li class="order-info">
                        <span class="deliver">@T("Order.OrderTotal")</span>  <span class="deliver2">@T("Order.OrderStatus")</span>
                    </li>
                    <li class="order-total">
                        <span class="deliver">@Model.OrderTotal</span>  <span class="deliver2 order-status @Model.OrderStatus"> @Model.OrderStatus</span>
                    </li>
                }
            </ul>

            @*Restauran detail and addresss*@
            <ul class="billing-info">
                <li class="heading">
                    <span class="head">@T("NB.Order.RestaurantName")</span>
                </li>

                <li class="name">
                    @Model.MerchantName
                </li>

                <li class="address1">
                    @Model.MerchantAddress
                </li>
            </ul>
        </div>

        <br />
        <div class="order_tracking_area">
            <div style="width: 100%; display: table;">
                <div style="display: table-row">
                    <div style="width: 70%; display: table-cell;">
                        @if (Model.ShowOrderTracking)
                        {
                            <!--Live tracking map-->
                            <ul>
                                <li>
                                    <!-- OrderType: 1 = "Delivery", 2 = "Takeaway" --->
                                    @if (Model.OrderTypeId == 1)
                                    {
                                        <span class="deliver">@T("NB.Order.LiveTracking")</span>
                                        @await Html.PartialAsync("_NBRiderLiveTracking", Model.LiveTrackingModel)
                                    }
                                    else
                                    {
                                        <span class="deliver">@T("NB.Order.Tracking.OrderType.Takeaway.Title")</span>
                                    }
                                </li>
                            </ul>
                        }
                    </div>
                    <div style="width: 30%; display: table-cell;">
                        <ul>
                            <li>
                                <table>
                                    <tr>
                                        <td>
                                            <!--Merchant info-->
                                            <div id="tracking-merchant-info">
                                                @await Html.PartialAsync("_TrackingRestaurantInfo", Model.LiveTrackingModel.RestauratTrakingInfo)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <hr />
                                        </td>
                                    </tr>
                                    @if (Model.OrderTypeId == 1)
                                    {
                                        <tr>
                                            <td>
                                                <!--Rider info-->
                                                <div id="tracking-rider-info">
                                                    @await Html.PartialAsync("_TrackingRiderInfo", Model.LiveTrackingModel.RiderTrakingInfo)
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <hr />
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            <!--Order status info-->
                                            <div id="tracking-orderstatus-info">
                                                @await Html.PartialAsync("_TrackingOrderStatusInfo", Model.OrderedTrackingStatuses)
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <script>
               //++++ SignalR ++++

                connection.on("updateTrackingProgress", (orderId) => {

                    //check this order
                    if (@Model.Id == parseInt(orderId)) {

                        //update riderInfo/orderStatusInfo panels
                         console.log('updateTrackingProgress: Invoked');
                         $.ajax({
                         cache: false,
                         type: "GET",
                         url: "@(Url.Action("UpdateTrackingProgress", "Order"))",
                         data: { orderId: orderId},
                         success: function (data) {
                                  if (data.success) {
                                      //update panels
                                      $("#tracking-rider-info").html(data.riderInfoHtml);
                                      $("#tracking-rider-info").fadeIn(5000);
                                      $("#tracking-orderstatus-info").html("");
                                      $("#tracking-orderstatus-info").html(data.orderStatusInfoHtml);
                                      $("#tracking-orderstatus-info").fadeIn(5000);
                                      //update order status in destal section
                                      $(".order-status").html(data.orderStatus);
                                      $(".order-status").addClass(data.orderStatus);

                                      //if order delivered than stop ajax calling
                                      //if (data.isOrderDelivered) {
                                      //    setTimeout(function () {
                                      //        displayBarNotification('Your order has been delivered!', 'success', 3500)
                                      //    }, 2000);
                                      //}
                                  }else {
                                      console.log('Order Progress update Error: ' + data.message);
                                  }

                             },
                             error: function () {
                                 alert("Error while retrieving order progress!");
                             }
                         });
                    }
                });

            //---- SignalR ----
            </script>
        </div>

        @*Items Summary*@
        <ul>
            <li class="itemsSummary">
                <span class="deliver">@T("Nb.Order.ItemSummary")</span>
            </li>
        </ul>
        @if (Model.Items.Count > 0)
        {
            <div class="section products">
                <div class="title">
                    <strong>@T("Order.Product(s)")</strong>
                </div>
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col />
                            @if (Model.ShowSku)
                            {
                                <col width="1" />
                            }
                            <col />
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                @* @if (Model.ShowSku)
                                    {
                                        <th class="sku" data-hide="w410, w480, w580, w768">
                                            @T("Order.Product(s).SKU")
                                        </th>
                                    }*@
                                <th class="name" style="width:75%">
                                    <span class="productMobileName">@T("Order.ItemSummary")</span>
                                    <span class="productName">@T("Order.Product(s).Name")</span>
                                </th>
                                <th class="price" data-hide="w410, w480, w580">
                                    @T("Order.Product(s).Price")
                                </th>
                                <th class="quantity" data-hide="w410, w480, w580">
                                    @T("Order.Product(s).Quantity")
                                </th>
                                <th class="total" data-hide="w410">
                                    @T("Order.Product(s).Total")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var counter = 0;}
                            @foreach (var item in Model.Items)
                            {
                                counter++;
                                <tr>
                                    <td>
                                        <span class="item-count">@counter</span>
                                    </td>
                                    @* @if (Model.ShowSku)
                                        {
                                            <td class="sku">
                                                @item.Sku
                                            </td>
                                        }*@
                                    <td class="product">
                                        @if (!Model.PrintMode)
                                        {
                                            @*<em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>*@
                                            <em>@item.ProductName</em>
                                        }
                                        else
                                        {
                                            @item.ProductName
                                        }
                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <div class="attributes">
                                                @Html.Raw(item.AttributeInfo)
                                            </div>
                                        }
                                        @if (!String.IsNullOrEmpty(item.RentalInfo))
                                        {
                                            <div class="rental-info">
                                                @Html.Raw(item.RentalInfo)
                                            </div>
                                        }
                                        @if (item.DownloadId > 0)
                                        {
                                            <div class="download">
                                                <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                            </div>
                                        }
                                        @if (item.LicenseId > 0)
                                        {
                                            <div class="download license">
                                                <a href="@Url.RouteUrl("GetLicense", new {orderItemId = item.OrderItemGuid})">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                            </div>
                                        }
                                    </td>
                                    <td class="unit-price">
                                        @item.UnitPrice
                                    </td>
                                    <td class="quantity">
                                        @item.Quantity
                                    </td>
                                    <td class="total">
                                        @item.SubTotal
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="section options">
                @if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                {
                    var inclTax = Model.PricesIncludeTax;
                    //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                    //of course, you can modify appropriate locales to include VAT info there
                    <div class="tax-shipping-info">
                        @T(inclTax ? "Order.TaxShipping.InclTax" : "Order.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
                    <div class="selected-checkout-attributes">
                        @Html.Raw(Model.CheckoutAttributeInfo)
                    </div>
                }
                @if (!Model.PrintMode)
                {
                    <div class="actions">
                        @if (Model.IsReOrderAllowed)
                        {
                            <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')" />
                        }
                        @if (Model.IsReturnRequestAllowed)
                        {
                            <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                        }
                    </div>
                }
            </div>

            <div class="section totals">
                <div class="total-info">
                    <table class="cart-total">
                        <tbody>
                            <tr>
                                <td class="cart-total-left">
                                    <label>@T("nb.Order.SubTotal"):</label>
                                </td>
                                <td class="cart-total-right">
                                    <span>@Model.OrderSubtotal</span>
                                </td>
                            </tr>
                            @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.SubTotalDiscount"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderSubTotalDiscount</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.IsShippable)
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.Shipping"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderShipping</span>
                                    </td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.PaymentMethodAdditionalFee"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.PaymentMethodAdditionalFee</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                            {
                                foreach (var taxRate in Model.TaxRates)
                                {
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@taxRate.Value</span>
                                        </td>
                                    </tr>
                                }
                            }
                            @if (Model.DisplayTax)
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.Tax"): @(Model.AppliedTaxRates)</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.Tax</span>
                                    </td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("Order.TotalDiscount"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderTotalDiscount</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.GiftCards.Count > 0)
                            {
                                foreach (var gc in Model.GiftCards)
                                {
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@gc.Amount</span>
                                        </td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td class="cart-total-left">
                                    <label>@T("NB.Order.DeliveryAmount"):</label>
                                </td>
                                <td class="cart-total-right">
                                    <span><strong>@Model.DeliveryAmount</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart-total-left">
                                    <label>@T("NB.Order.ServiceChargeAmountDukan")</label>
                                </td>
                                <td class="cart-total-right">
                                    <span>@Model.ServiceChargeAmount</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart-total-left">
                                    <label>@T("NB.Order.TipAmount")</label>
                                </td>
                                <td class="cart-total-right">
                                    <span>@Model.TipAmount</span>
                                </td>
                            </tr>
                            @if (Model.RedeemedRewardPoints > 0)
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.RedeemedRewardPointsAmount</span>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="cart-total-left">
                                    <label>@T("Order.OrderTotal"):</label>
                                </td>
                                <td class="cart-total-right">
                                    <span><strong>@Model.OrderTotal</strong></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
