﻿@using Nop.Core
@using Nop.Services.Configuration;
@using Nop.Services.Common;
@using Nop.Core.Domain.NB;
@inject ISettingService settingservice
@inject IWorkContext workContext
@inject IStoreContext storeContext
@inject IGenericAttributeService genericAttributeService
@model List<MerchantModel>
@{
    bool BookTable = false;
    var storeFront = settingservice.GetSettingByKey("storeinformationsettings.isstorefront", false);
    var googleAccountKey = storeContext.GoogleMapAccountKey;
    string locDistanceFormat = settingservice.GetSettingByKey<string>("Merchant.Location.Distance.Format", "mi", workContext.GetCurrentStoreId, true);

    //get customer searched location latlng
    var customersSearchLatLng = genericAttributeService.GetAttribute(workContext.CurrentCustomer, NopNbDomainDefaults.SearchedLocationLatLongAttribute, workContext.GetCurrentStoreId, "");
    string customerLat = string.Empty; string customerLng = string.Empty;
    if (!string.IsNullOrEmpty(customersSearchLatLng))
    {
        string[] coordinatesArray = customersSearchLatLng.Split(new string[] { " " }, StringSplitOptions.None);
        if (coordinatesArray.Length > 0)
        {
            customerLat = coordinatesArray[0];
            customerLng = coordinatesArray[1];
        }
    }
}
@if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsBookTableEnable != null)
{
    BookTable = workContext.CurrentMerchant.IsBookTableEnable.Value;
}
@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="col-md-12 col-sm-12 col-xs-12 restaurInfo clearfix">
            <div class="col-md-6">
                <div class="leftArrowBtnHome"><a href="/"><i class="fa fa-long-arrow-left"></i></a></div>
                <div class="restaurNameInfo">
                    <h2>
                        @item.Name
                    </h2>
                    <div class="topAddress">
                        <p>
                            @workContext.CurrentMerchantAddress
                        </p>
                        @if (!storeFront)
                        {
                            <div class="GeoMap" style="color:blue">GeoLocation --- @item.Geolocation </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="merchant_right_items">
                    <li class="merchant_avail">
                        @{
                            if (!storeFront)
                            {
                                <span>
                                    @if (item.MerchantIsAvailable)
                                    {
                                        <em>@item.Opentime -</em> <em> @item.Closetime</em>
                                    }
                                    else
                                    {
                                        @T("NB.Admin.Merchant.Closed")
                                    }
                                </span>
                            }
                        }
                    </li>
                    <li class="rest_distance">
                        <span id="rest_distance_span">0 KM</span>
                    </li>
                    <li class="rest_delivery">
                        <span>Delivery</span>
                    </li>
                    <li class="merchant_rate">
                        <span>@await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant), merchantId = item.Id })</span>
                    </li>
                    <li class="rest_wishlist">
                        <span class="addToWish heart-@item.Id @(item.InFavoritelist ? "active" : "")">
                            <button onclick="addRemoveMerchantToFavorite(@item.Id)" tabindex="0">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </button>
                        </span>
                    </li>
                </ul>
                @*<a class="callButton" href="tel:@item.PhoneNo"> <i class="fa fa-phone" aria-hidden="true"></i>  @T("nb.call")</a>
        <div class="directionButton">
            <form action="http://maps.google.com/maps" method="get" target="_blank">
                <input type="hidden" name="daddr" value="@item.Latvalue,@item.LongValue" />
                <input type="submit" value="@T("nb.direction")" />
            </form>
        </div>*@

            </div>
            <div class="bar clearfix">
                <div class="diningText">
                    @if (!string.IsNullOrEmpty(item.Description))
                    {
                        @Html.Raw(item.Description)
                    }
                </div>
            </div>
            <script>
                ; (function (window, $, undefined) {

                    var RESET_CLASS = 'reset-style';

                    $.fn.multiTextToggleCollapse = function (settings) {
                        var defalutConfig = {
                            line: 4,
                        };

                        var config = $.extend(defalutConfig, settings);

                        var $wrapBox = this;
                        var wrapBox = $wrapBox[0];
                        var text = $wrapBox.text();
                        var textHeight = parseInt($wrapBox.css("height"));

                        var lineHeightStr = $wrapBox.css("line-height"); // normal 12px 1.2 120% 1.2em
                        var fontSize = parseInt($wrapBox.css("font-size")); // 12px -> 12

                        var strategyMode = {
                            "normal": function () {
                                return fontSize;
                            },
                            "px": function (num) {
                                return +num;
                            },
                            "em": function (num) {
                                return num * fontSize;
                            },
                            "%": function (num) {
                                return num / 100 * fontSize;
                            },
                            "void": function (num) {
                                return num * fontSize;
                            }
                        };

                        var num = (lineHeightStr.match(/\d+(.\d+)?/) || [1])[0]; // 12px -> 12
                        var unit = lineHeightStr.replace(num, '') || 'void'; // 12px -> px

                        var lineHeight = strategyMode[unit](num).toFixed(2);

                        $wrapBox.addClass('tool-multiwrapbox');

                        var visibleHeight = config.line * lineHeight;
                        visibleHeight = Math.ceil(visibleHeight);
                        if (textHeight <= visibleHeight) {
                            return;
                        }

                        wrapBox.style.cssText = ';height:' + visibleHeight + 'px;';

                        var textBox = document.createElement("div");

                        textBox.className = "multi-text";
                        textBox.innerHTML = text;

                        var collapseBtn = document.createElement("span");

                        collapseBtn.className = "after-op op-btn op-collapse";
                        collapseBtn.innerHTML = "Read Less";

                        textBox.appendChild(collapseBtn);

                        var dots = document.createElement("span");

                        dots.className = "after-dots";
                        dots.innerHTML = "...";

                        var expandBtn = document.createElement("span");

                        expandBtn.className = "after-op op-btn";
                        expandBtn.innerHTML = "More";
                        var btnWrapBox = document.createElement("div");

                        btnWrapBox.className = "multi-text_after";
                        btnWrapBox.style.cssText = ';top:' + (config.line - 1) * lineHeight + 'px;';

                        btnWrapBox.appendChild(dots);
                        btnWrapBox.appendChild(expandBtn);

                        $wrapBox.html('');
                        $wrapBox.append(textBox);
                        $wrapBox.append(btnWrapBox);


                        var $btnWrapBox = $(btnWrapBox);

                        expandBtn.onclick = function () {
                            $btnWrapBox.hide();
                            $wrapBox.addClass(RESET_CLASS);
                        };

                        collapseBtn.onclick = function () {
                            $btnWrapBox.show();
                            $wrapBox.removeClass(RESET_CLASS);
                        };
                    };

                }(this, jQuery));



                $(".diningText p").multiTextToggleCollapse({
                    line: 2
                });
            </script>
            <div class="rightInfo clearfix">
                @*<div id="moreInfo" style="display: none">
                        <h2 class="bTableTitle">@T("book.table.text")</h2>
                        <img src="/Themes/VonzuuEats/Content/img/tables1.png?2121" class="bTableImg" />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @await Component.InvokeAsync("BookTable")
                            </div>
                        </div>
                    </div>*@
                @{
                    bool AvailableSchedules = false;
                }
                @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsAvailableSchedulesEnable != null)
                {
                    AvailableSchedules = workContext.CurrentMerchant.IsAvailableSchedulesEnable.Value;
                }
                @if (AvailableSchedules)
                {
                    <div class="schedulesText">
                        <em>@T("available.schedules.text")</em>
                        <ul class="avlSchList">
                            @foreach (var item_ in item.AvailableSchedules)
                            {
                                <li><span>@item_.ScheduleName:</span> @item_.ScheduleFromTime - @item_.ScheduleToTime</li>
                            }
                        </ul>
                    </div>
                    <div class="phoneNum">
                        <i class="fa fa-mobile"></i> @item.PhoneNo
                    </div>
                }
                <ul class="ratingTimeList">
                    @{
                        bool RatingPercent = false;
                    }
                    @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.RatingPercent != null)

                    {
                        RatingPercent = workContext.CurrentMerchant.RatingPercent.Value;
                    }
                    @if (RatingPercent)
                    {
                        <li class="ratingli">
                            <span>@await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant), merchantId = item.Id })</span> @T("number.ratings.text")
                        </li>
                    }
                    @{
                        bool DeliveryTime = false;
                    }
                    @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsDeliveryTimeEnable != null)
                    {
                        DeliveryTime = workContext.CurrentMerchant.IsDeliveryTimeEnable.Value;
                    }
                    @if (DeliveryTime)
                    {
                        <li>
                            <span>@workContext.CurrentMerchant.ExpDeliveryTime </span>@T("delivery.time.text") <!--Delivery Time-->
                        </li>
                    }
                    @{
                        bool CostFor = false;
                    }
                    @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsCostForEnable != null)
                    {
                        CostFor = workContext.CurrentMerchant.IsCostForEnable.Value;
                    }
                    @if (CostFor)
                    {
                        <li>
                            <span>@workContext.CurrentMerchant.CostFor</span> @T("cost.person.text")
                        </li>
                    }
                </ul>
            </div>
        </div>

        //distance calulation
        <script>
            $(document).ready(function () {
                getDistance();
            });

            function getDistance() {
                if ('@(customerLat)' != '' && '@(customerLng)' != '' && '@(item.Latvalue)' != '' && '@(item.LongValue)' != '') {

                    var latitude1 = parseFloat(@(customerLat));
                    var longitude1 = parseFloat(@(customerLng));
                    var latitude2 = parseFloat(@(item.Latvalue));
                    var longitude2 = parseFloat(@(item.LongValue));

                    var distance = google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng(latitude1, longitude1), new google.maps.LatLng(latitude2, longitude2));
                    if ('@(locDistanceFormat.ToLower())' == 'km') {
                        distance = (distance / 1000).toFixed(1) + ' km';
                    } else {
                        distance = distance.toFixed(1) + ' mm';
                    }
                    console.log(distance);
                    $('#rest_distance_span').html(distance);
                }
            }
        </script>
    }
}
<script src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&libraries=geometry" defer></script>