﻿@using Nop.Services.Vendors;
@using Nop.Core;
@using System.Globalization;
@model MiniShoppingCartModel
@inject IVendorService vendorService;
@inject IWorkContext workContext;
@{
    var vendorInfo = vendorService.GetVendorById(workContext.CurrentMerchantId);
    var ordType = 1;
    if (vendorInfo.IsDelivery == true && vendorInfo.IsTakeAway == true)
    {
        ordType = 1;
    }
    else if (vendorInfo.IsDelivery == true && vendorInfo.IsTakeAway == false)
    {
        ordType = 1;
    }
    else if (vendorInfo.IsDelivery == false && vendorInfo.IsTakeAway == true)
    {
        ordType = 2;
    }
    string ordSchDate = "";
    string ordSchTime = "0";
    var ordComm = "";
    if (workContext.CurrentOrderDetails != null)
    {
        if (workContext.CurrentOrderDetails.OrderType != null)
        {
            ordType = workContext.CurrentOrderDetails.OrderType.Value;

            if (vendorInfo.IsDelivery == true && vendorInfo.IsTakeAway == false)
            {
                ordType = 1;
            }
            else if (vendorInfo.IsDelivery == false && vendorInfo.IsTakeAway == true)
            {
                ordType = 2;
            }
            var obj = workContext.CurrentOrderDetails;
            if (ordType == 1)
            {
                obj.OrderType = 1;
            }
            else
            {
                obj.OrderType = 2;
            }
            workContext.CurrentOrderDetails = obj;
        }
        else
        {
            var obj = workContext.CurrentOrderDetails;
            if (ordType == 1)
            {
                obj.OrderType = 1;
            }
            else
            {
                obj.OrderType = 2;
            }
            workContext.CurrentOrderDetails = obj;
        }
        if (workContext.CurrentOrderDetails.ScheduleDate != null)
        {
            ordSchDate = workContext.CurrentOrderDetails.ScheduleDate.Value.ToShortDateString();
        }
        if (workContext.CurrentOrderDetails.ScheduleTime != null)
        {
            DateTime time = DateTime.Today.Add(workContext.CurrentOrderDetails.ScheduleTime.Value);
            ordSchTime = time.ToString("h:mm tt");
        }
        if (workContext.CurrentOrderDetails.OrderNote != null)
        {
            ordComm = workContext.CurrentOrderDetails.OrderNote.ToString();
        }
    }
}
<div id="flyout-cart" class="js-flyout-cart">
    <div class="head clearfix">
        <div class="bar clearfix">
            <h2>@T("NB.Flyout.Cart.Order.Summary")</h2>
            <div class="count">
                @if (Model.TotalProducts == 0)
                {
                    @T("ShoppingCart.Mini.NoItems")
                }
                else
                {
                    @Html.Raw(string.Format($"<a href=\"{Url.RouteUrl("ShoppingCart")}\">{string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts)}</a>"))
                }
            </div>
        </div>
    </div>
    <script>
        $(function () {
            function checkRadioBtn() {
                $(".deliveryTakeBox li input + label").click(function () {
                    $(".deliveryTakeBox li input").removeAttr("checked");
                    $(this).siblings("input").attr({ "checked": "checked" });
                });
            }
            checkRadioBtn();

            $(window).ajaxComplete(function () {
                checkRadioBtn();
            });
        });
    </script>
    <div class="deliveryTakeBox">
        <ul class="dtsList clearfix">
            <li>
                @if (vendorInfo.IsDelivery)
                {<input type="radio" onclick="setOrderType(1,@vendorInfo.DeliveryTime);" value="Delivery" id="orderTypeDelivery" name="orderTyp" @(ordType == 1 ? Html.Raw("checked=\"checked\"") : null) />
                    <label for="orderTypeDelivery">@T("delivery.button.text")</label>
                }
            </li>
            <li>
                @if (vendorInfo.IsTakeAway)
                {
                    <input type="radio" onclick="setOrderType(2,@vendorInfo.TakeAwayTime);" value="Takeaway" id="orderTypeTakeAway" name="orderTyp" @(ordType == 2 ? Html.Raw("checked=\"checked\"") : null) />
                    <label for="orderTypeTakeAway">@T("takeaway.button.text")</label>
                }
            </li>
        </ul>
        <div id="dispalySchedule" style="display:none">
            <a href="#" class="scheduleClose"></a>
            <h2>@T("choose.delivery.takeaway.time")</h2>
            <label>@T("delivery.takeaway.date")</label>
            <input type="text" id="inputSchBookingDate" class="form-control datepicker" click="notify()" placeholder="@T("delivery.schedule.date")" value="@ordSchDate" />
            <br />
            <label>@T("delivery.takeaway.time")</label>
            <select id="ddlSchTimings"><option value="@ordSchTime">--@T("delivery.min.select")--</option></select>
            <div class="buttons">
                <a class="scheduleClose btn">@T("nb.btn.cancel")</a>
                <a id="btnSetTime">@T("delivery.takeaway.submit")</a>
            </div>
        </div>
    </div>
    @if (Model.TotalProducts > 0)
    {
        <div class="itemListAarea">
            <div class="itemList clearfix">
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    var item = Model.Items[i];
                    <div class="bar clearfix @(i == 0 ? "first" : null)">
                        <div class="product">
                            @if (Model.ShowProductImages)
                            {
                                <div class="picture">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    </a>
                                </div>
                            }
                            <div class="cart_prod_desc">
                                <span>@item.ProductName</span>
                                <span class="cart_qty">250 gm</span>
                                <em class="qty_price">@item.Quantity X @item.UnitPrice</em>
                                <span class="soldBy"><strong>Sold by</strong> <a href="">Stirling Chickens</a></span>
                            </div>
                            <div class="cartCount">
                                <i class="icon icon-minus-1">
                                    <input type="button" value="-" class="minusIcon1" onclick="AjaxCart.removeproductfromtocart_catalog('/removeproductfromtocart/catalog/' + '@item.ProductId' + '/1/1');return false;" />
                                </i>
                                <small>@item.Quantity</small>
                                <i class="icon icon-add">
                                    <input type="button" value="+" class="plushIcon1" onclick="AjaxCart.addproductitemtocart_catalog('/addproductitemtocart/catalog/' + '@item.ProductId' + '/1/1');return false;" />
                                </i>
                            </div>
                            <div class="minicart_list_bot">
                                <div class="minicart_qty_price">@item.Quantity X @item.UnitPrice</div>
                                <i class="icon icon-cancel">
                                    <input type="button" value="Remove" class="closeIcon1" onclick="AjaxCart.removeproducttocart_catalog('/removeproducttocart/catalog/' + '@item.Id' + '/1/1');return false;" />
                                </i>
                                @*@if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="addonItem clearfix">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }*@
                                <div class="price"><span>@item.UnitPriceWithQuantity</span></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <div class="foot clearfix">
        <form id="mini-shopping-cart-form" action="">
            @if (Model.TermsOfServiceOnShoppingCartPage)
            {
                <div id="mini-cart-terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                    <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                </div>
                <div class="terms-of-service" style="display: none;">
                    <input id="termsofservice_minicart" type="checkbox" name="termsofservice_minicart" />
                    <label for="termsofservice_minicart">@T("Checkout.TermsOfService.IAccept")</label>
                    @if (Model.TermsOfServicePopup)
                    {
                        <a class="read" id="read-terms-mini-cart">@T("Checkout.TermsOfService.Read")</a>
                        <script type="text/javascript" asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#read-terms-mini-cart').live('click',
                                                function(e) {
                                                    e.preventDefault();
                                                    displayPopupContentFromUrl(
                                                        '@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })',
                                                        '@T("Checkout.TermsOfService")');
                                                });
                                        });
                        </script>
                    }
                    else
                    {
                        <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                    }
                </div>
            }
            @*Display for takeaway and dinnine*@
            <div class="orderCommentsArea">
                <textarea id="orderComments" placeholder="@T("Checkout.AdditionalNote.Placeholder.IE")">@Html.Raw(ordComm)</textarea>
            </div>
            <div class="cart-collaterals">
                <div class="deals">
                    @await Html.PartialAsync("_DiscountBoxCustom", Model.DiscountBox)
                    @await Component.InvokeAsync("TipForAgent", new { isForCheckout = true })
                    @await Html.PartialAsync("_GiftCardBoxCustom", Model.GiftCardBox)
                </div>
            </div>
            <div class="checkout-buttons" style="display: none;">
                <div class="foot clearfix">
                    @*                <div class="buttonBlock clearfix">
                            @{
                                var checkoutUrl = "";
                                if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                                {
                                    checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                                }
                                else
                                {
                                    checkoutUrl = Url.RouteUrl("Checkout");
                                }
                                if (Model.TermsOfServicePopup)
                                {
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#checkout_mini_cart').live("click",function () {
                                                //terms of service
                                                var termOfServiceOk = true;
                                                if ($('#termsofservice_minicart').length > 0) {
                                                    //terms of service element exists
                                                    if (!$('#termsofservice_minicart').is(':checked')) {
                                                        $("#mini-cart-terms-of-service-warning-box").dialog();
                                                        termOfServiceOk = false;
                                                    } else {
                                                        termOfServiceOk = true;
                                                    }
                                                }
                                                if (termOfServiceOk)
                                                {
                                                    setLocation('@checkoutUrl');
                                                }
                                                return termOfServiceOk;
                                            });
                                        });
                                    </script>
                                    <button type="button" id="checkout_mini_cart" name="checkout" value="checkout" class="button checkoutBtn" style="display:none;">
                                        @T("Checkout.Button") <img src="/Themes/KaroLocal/Content/images/rightBtnArrow1.png">
                                    </button>
                                }
                                else
                                {
                                    <button type="button" id="checkout_mini_cart" name="checkout" value="checkout" class="button checkoutBtn" onclick="setLocation('@checkoutUrl')" style="display:none;">
                                        @T("Checkout.Button") <img src="/Themes/KaroLocal/Content/images/rightBtnArrow1.png">
                                    </button>
                                }
                            }
                        </div>
                    *@
                </div>
            </div>
        </form>
        <div class="cartTotalDetail">
            <table class="cart-total">
                <tbody>
                    <tr class="OrderTotalsInMiniC">
                        <td colspan="2">
                            <div class="totals">
                                @await Component.InvokeAsync("OrderTotals", new { isEditable = true, isMiniCart = true })
                                <div class="total-info">
                                    <table>
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("NB.Order.DeliveryAmount")</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.DeliveryAmountString</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("NB.ShoppingCart.Totals.Voucher.Discount"):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span class="value-summary">₹0.00</span>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="toPay">
                        <td width="50%" class="cart-total-left">
                            <label>@T("NB.toPay")</label>
                        </td>
                        <td width="50%" class="cart-total-right">
                            <span>@Model.SubTotal</span>
                        </td>
                    </tr>
            </table>
        </div>
        <div class="buttonBlock clearfix">
            @{
                var checkoutUrl = "";
                if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                {
                    checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                }
                else
                {
                    checkoutUrl = Url.RouteUrl("Checkout");
                }
                if (Model.TermsOfServicePopup)
                {
                   
                    <button type="button" id="checkout_mini_cart" name="checkout" value="checkout" class="button checkoutBtn">
                        @T("Checkout.Button") <img src="/Themes/IndiaExpress/Content/img/rightBtnArrow1.png">
                    </button>
                }
                else
                {
                    <div class="miniCartIcon"><img src="/Themes/KaroLocal/Content/images/shoppingCartM.png"></div>
                    <button type="button" id="checkout_mini_cart" name="checkout" value="checkout" class="button checkoutBtn" onclick="setLocation('@checkoutUrl')" style="display:none;">
                        @T("Checkout.Button")
                    </button>
                }
            }
        </div>
    </div>
    <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#checkout_mini_cart').live("click",function () {
                                        //terms of service
                                        var termOfServiceOk = true;
                                        if ($('#termsofservice_minicart').length > 0) {
                                            //terms of service element exists
                                            if (!$('#termsofservice_minicart').is(':checked')) {
                                                $("#mini-cart-terms-of-service-warning-box").dialog();
                                                termOfServiceOk = false;
                                            } else {
                                                termOfServiceOk = true;
                                            }
                                        }
                                        if (termOfServiceOk)
                                        {
                                            setLocation('@checkoutUrl');
                                        }
                                        return termOfServiceOk;
                                    });
                                });

         
    </script>
    <!--Custom code-->
    <script type="text/javascript">
        if ($("#dv-cross-sell-products").length > 0) {
            $(".checkout-buttons").remove();
            $(".terms-of-service").remove();
            $("#dv-cross-sell-products").load('/checkout/getcrosssellproducts');
        }
        else {
            $(".checkout-buttons").show();
            $(".terms-of-service").show();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$(".fancy-text").fancybox();

            fillTiming();
            checkMerchantTiming();
            $("#orderSchedule").click(function () {
				if($("body .schedulerOverLay").length===0){
					$("body").append("<div class='schedulerOverLay'></div>");
				}
				$("body").addClass("orderSchedulePActive");
                $("#dispalySchedule").show();

            });
            $("#btnSetTime").click(function () {
                var schDate = $("#inputSchBookingDate").val();
                var schTime = $("#ddlSchTimings").val();
                SetOrderScheduleDateTime(schDate, schTime);

				$("body").removeClass("orderSchedulePActive");
                $("#dispalySchedule").hide();
				$(".schedulerOverLay").remove();
            });

			$(".scheduleClose").click(function(){
				$("body").removeClass("orderSchedulePActive");
                $("#dispalySchedule").hide();
				$(".schedulerOverLay").remove();
			});

            $("#orderComments").focusout(function () {
                var ordComm = $("#orderComments").val();
                //if (ordComm != String.empty)
                    SetOrderComments(ordComm);
            });
        });
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({
                minDate: new Date()
            }
            ).change(dateChanged)
                .on('changeDate', dateChanged); //Initialise any date pickers
        });
        function fillTiming() {
            $("#ddlSchTimings").empty();
         $.ajax({
                    cache: false,
                    type: "GET",
             url: "@(Url.Action("GetAvailableScheduleTimings", "HomeMerchant"))",
             //data: { "date": ev.target.value },
             success: function (data) {
                 $("#ddlSchTimings").append($("<option></option>").val("-Select-").html("--Select--"));
                 $.each(data.AvailableTimings, function (id, option) {

                     if (option.Value == "@(ordSchTime)") {
                         $("#ddlSchTimings").append($("<option selected=\"selected\"></option>").val(option.Text).html(option.Value));
                     }
                     else {
                         $("#ddlSchTimings").append($("<option></option>").val(option.Text).html(option.Value));
                     }
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');
                    }
                });
        }
         function checkMerchantTiming() {
        var localTime=formatAMPM(new Date);
        $.ajax({
          cache: false,
          type: "GET",
          url: "/HomeMerchant/CheckMerchantTiming?localTime="+localTime,
            success: function (result) {
                if (result) {
                    $("#checkout_mini_cart").show();
                }
                else {
                    $("#checkout_mini_cart").hide();
                    if($("#checkout_mini_cart").css("display") ==="none"){
                        if($("body .outhoursPopup").length === 0){
                            $("body").append('<div class="outhoursPopup"><div class="outhoursTitle">@T("nb.Outside.opening.hours.title")</div><div class="outhoursClose"></div><div class="outhoursDetails">@T("nb.Sorry.Outside.opening.hours.text")</div></div><div class="outhoursOverLay"></div>');
                        }
                    }
                    $(document).on("click", "body .outhoursClose", function(){
                        $("body .outhoursPopup,body .outhoursOverLay").remove();
                    });
                    $("body .outhoursPopup,body .outhoursOverLay").show();
                }
          }});
        }
        function formatAMPM(date) {
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours + ':' + minutes + ' ' + ampm;
          return strTime;
        }

        $(function () {
            $(document).on("change", "#inputSchBookingDate", function () {
                var currentTodaySd = new Date();
                var currentDateSd =("0" + (currentTodaySd.getMonth() + 1)).slice(-2) + '/' + ("0" + currentTodaySd.getDate()).slice(-2) + '/' + currentTodaySd.getFullYear();
                if ($(this).val() == currentDateSd) {
                    var currentTimeSd = currentTodaySd.getHours() + 1 + ":" + currentTodaySd.getMinutes();
                    function am_pm_to_hours(insertTime) {
                        var time=insertTime;
                        var hours = Number(time.match(/^(\d+)/)[1]);
                        var minutes = Number(time.match(/:(\d+)/)[1]);
                        var AMPM = time.match(/\s(.*)$/)[1].toLowerCase();
                        if (AMPM == "pm" && hours < 12) hours = hours + 12;
                        if (AMPM == "am" && hours == 12) hours = hours - 12;
                        var sHours = hours.toString();
                        var sMinutes = minutes.toString();
                        if (hours < 10) sHours = "0" + sHours;
                        if (minutes < 10) sMinutes = "0" + sMinutes;
                        return sHours + ':' + sMinutes;
                    }
                    $("#dispalySchedule select option + option").each(function () {
                        if (currentTimeSd >= am_pm_to_hours($(this).attr("value"))) {
                            $(this).remove();
                        }
                    })
                }else{
                    fillTiming();
                }
            });
        })
         function checkMerchantTiming() {
        var localTime=formatAMPM(new Date);
        $.ajax({
          cache: false,
          type: "GET",
          url: "/HomeMerchant/CheckMerchantTiming?localTime="+localTime,
            success: function (result) {
                if (result) {
                    $("#checkout_mini_cart").show();
                }
                else {
                    $("#checkout_mini_cart").hide();
                    if($("#checkout_mini_cart").css("display") ==="none"){
                        if($("body .outhoursPopup").length === 0){
                            $("body").append('<div class="outhoursPopup"><div class="outhoursTitle">@T("nb.Outside.opening.hours.title")</div><div class="outhoursClose"></div><div class="outhoursDetails">@T("nb.Sorry.Outside.opening.hours.text")</div></div><div class="outhoursOverLay"></div>');
                        }
                    }
                    $(document).on("click", "body .outhoursClose", function(){
                        $("body .outhoursPopup,body .outhoursOverLay").remove();
                    });

                    $("body .outhoursPopup,body .outhoursOverLay").show();
                }
          }});
        }
    </script>
    <script type="text/javascript">
        function setOrderType(type, ordTime) {
            displayAjaxLoading(true);
            $.post("Home/SetOrderTypeWithTime", { orderType: type, orderTime: ordTime }, function () {
                $.get("ShoppingCart/ReloadShoppingCart", {}, function (response) {
                    $(".js-flyout-cart").each(function () {

                        $(this).html(response);
                    });
                    displayAjaxLoading(false);
                });
            });
        }
    </script>
    <script type="text/javascript">
        function SetOrderScheduleDateTime(schOrderDate, schOrderTime) {
            $.post("Home/SetOrderScheduleDateTime", { scheduleDate: schOrderDate, scheduleTime: schOrderTime }, function () {
                checkMerchantTiming();
            });
        }
    </script>
    <script type="text/javascript">
        function SetOrderComments(ordComments) {
            $.post("Home/SetOrderComments", { orderComments: ordComments });
        }
    </script>

    <script type="text/javascript">
        if ($(".cartTotalDetail").length <= 0)
            $(".html-checkout-page .cart-collaterals").append($(".cartTotalDetail"));
    </script>

</div>
