﻿@using Nop.Core
@using Nop.Services.Configuration;
@inject ISettingService settingservice
@inject IWorkContext workContext
@model List<MerchantModel>
@{
    bool BookTable = false;
    var storeFront = settingservice.GetSettingByKey("storeinformationsettings.isstorefront", false);
}
@if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsBookTableEnable != null)
{
    BookTable = workContext.CurrentMerchant.IsBookTableEnable.Value;
}
@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 restaurInfo clearfix">
                @*<div class="leftArrowBtnHome"><a href="/"></a></div>*@
                <div class="leftArrowBtnHome"><a href="/"><i class="fa fa-long-arrow-left"></i></a></div>
                <div class="leftInfo clearfix">
                    <div class="restaurNameInfo">
                        <h2>
                            @item.Name
                            @if (true)
                            {
                            }
                        </h2>
                        <div class="bar clearfix">
                            <div class="row AvailRate">
                                <img class="image1" src="/Themes/MommyValet/Content/img/white-watch.png" />
                                @{
                                    if (!storeFront)
                                    {
                                        if (item.MerchantIsAvailable)
                                        {
                                            <span> @T("NB.Admin.Merchant.Available") </span>
                                        }
                                        else
                                        {
                                            <span> @T("NB.Admin.Merchant.Notavailable") </span>
                                        }
                                    }
                                }

                                <img class="image2" src="/Themes/MommyValet/Content/img/white-star.png" />
                                <span>@await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant) })</span>

                            </div>
                            <div class="diningText">
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    @Html.Raw(item.Description)
                                }
                            </div>
                            <div class="topAddress row">
                                <p>
                                    @workContext.CurrentMerchantAddress
                                </p>
                                <a class="callButton" href="tel:@item.PhoneNo"> <i class="fa fa-phone" aria-hidden="true"></i>  @T("nb.call")</a>
                                @*                                @item.PhoneNo*@

                                <button onclick="getLocation()">Get Direction</button>
                                <div id="mapholder"></div>

                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKuUGMz8-xYyc6t1YWUhygrrkB4-WAFeY"></script>
                            
                                <script>
                                    var x = document.getElementById("demo");
                                    function getLocation() {
                                        if (navigator.geolocation) {
                                            navigator.geolocation.getCurrentPosition(showPosition, showError);
                                        } else {
                                            x.innerHTML = "Geolocation is not supported by this browser.";
                                        }
                                    }

                                    function showPosition(position) {
                                        var lat = @item.Latvalue;
                                        var lon = @item.LongValue;
                                        var latlon = new google.maps.LatLng({ "lat":@item.Latvalue, "lng":@item.LongValue})
                                        var mapholder = document.getElementById('mapholder')
                                        mapholder.style.height = '250px';
                                        mapholder.style.width = '500px';

                                        var myOptions = {
                                            center: latlon, zoom: 14,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                                            mapTypeControl: false,
                                            navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
                                        }

                                        var map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
                                        var marker = new google.maps.Marker({ position: latlon, map: map, title: "You are here!" });
                                    }

                                    function showError(error) {
                                        switch (error.code) {
                                            case error.PERMISSION_DENIED:
                                                x.innerHTML = "User denied the request for Geolocation."
                                                break;
                                            case error.POSITION_UNAVAILABLE:
                                                x.innerHTML = "Location information is unavailable."
                                                break;
                                            case error.TIMEOUT:
                                                x.innerHTML = "The request to get user location timed out."
                                                break;
                                            case error.UNKNOWN_ERROR:
                                                x.innerHTML = "An unknown error occurred."
                                                break;
                                        }
                                    }
                                </script> 


                                <button class="DirectionButton"><img src="/Themes/MommyValet/Content/img/white-arrowRight.png" />@T("nb.direction")</button>
                                @if (!storeFront)
                                {
                                    <div class="GeoMap" style="color:blue">GeoLocation --- @item.Geolocation </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
                <div class="rightInfo clearfix">
                    <div id="moreInfo" style="display: none">
                        <h2 class="bTableTitle">@T("book.table.text")</h2>
                        <img src="/Themes/MommyValet/Content/img/tables1.png?2121" class="bTableImg" />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @await Component.InvokeAsync("BookTable")
                            </div>
                        </div>
                    </div>
                    @{
                        bool AvailableSchedules = false;
                    }
                    @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsAvailableSchedulesEnable != null)
                    {
                        AvailableSchedules = workContext.CurrentMerchant.IsAvailableSchedulesEnable.Value;
                    }
                    @if (AvailableSchedules)
                    {
                        <div class="schedulesText">
                            @*<em>@T("available.schedules.text")</em>*@
                            <ul class="avlSchList">
                                @foreach (var item_ in item.AvailableSchedules)
                                {
                                    <li><span>@item_.ScheduleName:</span> @item_.ScheduleFromTime - @item_.ScheduleToTime</li>
                                }
                            </ul>
                        </div>
                        @* <div class="phoneNum">
                                <i class="fa fa-mobile"></i> @item.PhoneNo
                            </div>*@
                    }
                    <ul class="ratingTimeList">
                        @{
                            bool RatingPercent = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.RatingPercent != null)

                        {
                            RatingPercent = workContext.CurrentMerchant.RatingPercent.Value;
                        }
                        @if (RatingPercent)
                        {
                            <li class="ratingli">
                                <span>@await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant) })</span> @T("number.ratings.text")
                            </li>
                        }
                        @{
                            bool DeliveryTime = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsDeliveryTimeEnable != null)
                        {
                            DeliveryTime = workContext.CurrentMerchant.IsDeliveryTimeEnable.Value;
                        }
                        @if (DeliveryTime)
                        {
                            <li>
                                <span>@workContext.CurrentMerchant.ExpDeliveryTime </span>@T("delivery.time.text") <!--Delivery Time-->
                            </li>
                        }
                        @{
                            bool CostFor = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsCostForEnable != null)
                        {
                            CostFor = workContext.CurrentMerchant.IsCostForEnable.Value;
                        }
                        @if (CostFor)
                        {
                            <li>
                                <span>@workContext.CurrentMerchant.CostFor</span> @T("cost.person.text")
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}
