﻿@model ShoppingCartModel.GiftCardBoxModel
@using Nop.Core
@inject IWebHelper webHelper

@if (Model.Display)
{
    var storeLocation = webHelper.GetStoreLocation();

    <div class="giftcard-box">
        <div class="title">
            <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
        </div>
        <div class="hint">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</div>
        <div class="coupon-code">
            <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code" />
            <input type="button" name="applygiftcardcouponcode" id="applygiftcardcouponcode"
                   value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button apply-gift-card-coupon-code-button" style="width: 100px;padding-left: 6px;" />
        </div>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#giftcardcouponcode').bind("keydown",function (event) {
                if (event.keyCode == 13) {
                    saveGiftCardCouponCode();
                    return false;
                }
            });
            $('#applygiftcardcouponcode').bind("click",function () {
                saveGiftCardCouponCode();
                    return false;
            });
            $('.rmv-gift-cpn').bind("click", function () {
                var giftcodeid = $(this).attr('id').split('-')[1];
                removeGiftCardCouponCode(giftcodeid);
                return false;
            });
            var saveGiftCardCouponCode = function () {
                $.ajax({
                        cache: false,
                        url: '@(storeLocation)shoppingcart/applygiftcardcustom/',
                        data: $('#mini-shopping-cart-form').serialize(),
                        type: 'post',
                    success: function (response) {
                            if (response.success) {
                                $('#flyout-cart').html(response.html);
                            }
                        },
                        error: function () {
                            alert('An error occurred');
                        }
                    });
            }
          
            var removeGiftCardCouponCode = function (giftcodeid) {
                $.ajax({
                    cache: false,
                    url: '@(storeLocation)shoppingcart/removegiftcardcodecustom/',
                    data: { giftCardId: giftcodeid},
                        type: 'post',
                        success: function (response) {
                            if (response.success) {
                                $('#flyout-cart').html(response.html);
                            }
                        },
                        error: function () {
                            alert('An error occurred');
                        }
                    });
            }
        });
    </script>
}