﻿<div class="header stickyHeader">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upperBg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-upper">
                       @* <div class="header-selectors-wrapper">
                            @await Component.InvokeAsync("TaxTypeSelector")
                            @await Component.InvokeAsync("CurrencySelector")
                            @await Component.InvokeAsync("LanguageSelector")
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
                        </div>*@
                        <div class="header-links-wrapper">
                            @await Component.InvokeAsync("HeaderLinks")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-lower">
                    <div class="header-logo ">
                        @await Component.InvokeAsync("Logo")
                    </div>
                    <div class="header-address">
                        <ul>
                            <li class="topLocation">
                                <a href="#" class="topAddress dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">560004, Bangalore</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">560004, Bangalore</a>
                                    <a class="dropdown-item" href="#">560003, Punjab</a>
                                    <a class="dropdown-item" href="#">560002, Delhi</a>
                                    <a class="dropdown-item" href="#">560001, Mumbai</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="wishlistCart">
                        @await Component.InvokeAsync("HeaderLinks")
                        @await Component.InvokeAsync("FlyoutShoppingCart")
                    </div>
                    <div class="menu-toggle"><i class="fa fa-bars"></i></div>
                    <div class="search-box store-search-box">
                        @await Component.InvokeAsync("SearchBox")

                    </div>

                </div>
                </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
