﻿@model ProductOverviewModelMerchant
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}

<div class="col-lg-12 col-md-6 col-xs-6 itemBox clearfix" attr-cat-id="@(Model.ProductCategory.Count>0? Model.ProductCategory.FirstOrDefault().CategoryId:0)">
    @*@foreach (var catg in Model.ProductCategory)
    {
        <span class="catIdL" catIdtt="@catg.CategoryId">
            @catg.CategoryId
        </span>
    }*@
    <div class="product-item menuItem clearfix" data-productid="@Model.Id">
        <div class="itemImg picture">
            <div class="productWishlist">
                @if (!Model.ProductPrice.DisableWishlistButton)
                {
                    if (Model.InWishList)
                    {
                        <div class="heart-@Model.Id @(Model.InWishList ? "active" : "") heartIcon"> <button onclick="deleteFromWishList(@Model.Id,'@addtowishlistlink')" class="product-favorite wishlistlink_@Model.Id" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>
                    }
                    else
                    {
                        <div class="heart-@Model.Id @(Model.InWishList ? "active" : "") heartIcon"><button onclick="addToWhishList('@addtowishlistlink', 'heart-@Model.Id');return false;" class="product-favorite wishlistlink_@Model.Id" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>
                    }
                }
            </div>
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
            </a> 

            @*<a href="#" title="@Model.DefaultPictureModel.Title"></a>*@
            @*@Url.RouteUrl("Product", new { SeName = Model.SeName })*@
        </div>
        <div class="details">
            <div class="brand_name">
                @if (Model.SpecificationAttributeModels.Count > 0)
                {
                    foreach (var specificationAttribute in Model.SpecificationAttributeModels)
                    {
                        if (specificationAttribute.SpecificationAttributeName != null && specificationAttribute.SpecificationAttributeName == "Brand Name")
                        {
                            @specificationAttribute.ValueRaw
                        }
                    }
                }
            </div>
            <div class="product-title">
                <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">@Model.Name</a>
            </div>
            @*<a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})"></a>*@
            <!--<span class="foodType">-->
            <!--Added for tag-->
            @*@await Component.InvokeAsync("ProductTagsImages", new { showAll = false, productId = Model.Id })*@
            <!--End Added for tag-->

            @if (catalogSettings.ShowSkuOnCatalogPages && !string.IsNullOrEmpty(Model.Sku))
            {
                <p class="sku">
                    @Model.Sku
                </p>
            }
            @*Modified for rating*@
            @*@if (Model.ReviewOverviewModel.AllowCustomerReviews)
        {
            var ratingPercent = 0;
            if (Model.ReviewOverviewModel.TotalReviews != 0)
            {
                ratingPercent = ((Model.ReviewOverviewModel.RatingSum*100)/Model.ReviewOverviewModel.TotalReviews)/5;
            }
            <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                <div class="rating">
                    <div style="width: @(ratingPercent)%">
                    </div>
                </div>
            </div>
        }*@
            <div class="displayRating">
                @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Item), productId = Model.Id })
            </div>
            @*End Modified for rating*@

            <div class="description">
                @Html.Raw(Model.ShortDescription)
            </div>
            <div class="productVal">@Model.ShortDescription</div>
            <div class="bar clearfix price_quickview">
                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_before", additionalData = Model.Id })
                <div class="prices">
                    <span class="price actual-price">@Model.ProductPrice.Price</span>
                    @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                    {
                        <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                    }
                    @if (Model.ProductPrice.DisplayTaxShippingInfo)
                    {
                        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                        //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                        //of course, you can modify appropriate locales to include VAT info there
                        <span class="tax-shipping-info">
                            @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </span>
                    }
                    @if (!string.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                    {
                        <div class="base-price-pangv">
                            @Model.ProductPrice.BasePricePAngV
                        </div>
                    }
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_middle", additionalData = Model.Id })
                <div class="buttons ajax-cart-button-wrapper">
                    @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                    @if (!Model.ProductPrice.DisableBuyButton)
                    {
                        var addToCartText = T("ShoppingCart.AddToCart").Text;
                        if (Model.ProductPrice.IsRental)
                        {
                            addToCartText = T("ShoppingCart.Rent").Text;
                        }
                        if (Model.ProductPrice.AvailableForPreOrder)
                        {
                            addToCartText = T("ShoppingCart.PreOrder").Text;
                        }
                        @*<span class="minusQt">-</span>
                    <span class="addQt">+</span>
                    <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />*@
                        <a href="#quickViewBox-@Model.Id" rel="modal:open" class="button-2 product-box-quick-view">@T("NB.Button.Quick.View")</a>
                    }
                    else
                    {
                        <span>Sold Out</span>
                    }
                    @* @if (!Model.ProductPrice.DisableAddToCompareListButton)
                {
                    <input type="button" value="@T("ShoppingCart.AddToCompareList")" title="@T("ShoppingCart.AddToCompareList")" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" />
                }
                @if (!Model.ProductPrice.DisableWishlistButton)
                {
                    <input type="button" value="@T("ShoppingCart.AddToWishlist")" title="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;" />
                } *@
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_after", additionalData = Model.Id })
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="quickViewBox-@Model.Id">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal_img">
                    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <a href="#" rel="modal:close" class="close">&times;</a>
                </div>
                <div class="modal_desc">
                    @if (Model.SpecificationAttributeModels.Count > 0)
                    {
                        foreach (var specificationAttribute in Model.SpecificationAttributeModels)
                        {
                            if (specificationAttribute.SpecificationAttributeName != null && specificationAttribute.SpecificationAttributeName == "Brand Name")
                            {
                                @specificationAttribute.ValueRaw
                            }
                        }
                    }
                    <h2 class="product-title">
                        <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">@Model.Name</a>
                    </h2>
                    <div class="productVal">@Model.ShortDescription</div>
                    <div class="prices">
                        <span class="price actual-price">@Model.ProductPrice.Price</span>
                        @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                        {
                            <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                        }
                        <span class="tax_include">@T("NB.Cart.Total.Inclusive.Tax")</span>
                        @if (Model.ProductPrice.DisplayTaxShippingInfo)
                        {
                            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                            //of course, you can modify appropriate locales to include VAT info there
                            <span class="tax-shipping-info">
                                @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </span>
                        }
                        @if (!string.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                        {
                            <div class="base-price-pangv">
                                @Model.ProductPrice.BasePricePAngV
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer main">
                <div class="col-md-12 col-xs-12">
                    <a href="#" rel="modal:close" class="btn btn-secondary"> @T("NB.Product.Detail.Cancel")</a>
                </div>
                <div class="col-md-12 col-xs-12">
                    <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title" class="btn see_product_detail">@T("NB.Product.Detail.See.Product.Details")</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("a.product-box-quick-view").click(function () {
        $("this").modal({
            fadeDuration: 1000,
            fadeDelay: 0.50
        });
    });
</script>