﻿@using Nop.Core 
@using Nop.Services.Helpers
@using Nop.Services.Configuration
@using Nop.Web.Framework.UI
@inject IWorkContext workContext
@inject ISettingService settingService
@inject IThemeContext themeContext
@inject IUserAgentHelper userAgentHelper
@{
    string cssVersion = settingService.GetSettingByKey("common.css.Version", "1.2");
    var supportRtl = workContext.WorkingLanguage.Rtl;
    var themeName = themeContext.WorkingThemeName;

    //add main CSS file
    if (supportRtl)
    {
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/styles.rtl.css?v=" + cssVersion);
    }
    else
    {
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/styles.css?v=" + cssVersion);
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/bootstrap.min.css?v=" + cssVersion);
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/slick.css?v=" + cssVersion);
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/slick-theme.css?v=" + cssVersion);
    }
    //add jQuery UI css file
    Html.AppendCssFileParts("~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css?v=" + cssVersion);


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script>
    $("a.product-box-quick-view").click(function () {
            $("this").modal({
                fadeDuration: 1000,
                fadeDelay: 0.50
            });
        });

    </script>
}