﻿@model IList<Nop.Plugin.Atluz.Razorpay.Models.AtluzLicenseModel>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Atluz Razorpay Licenses";
    Html.AppendCssFileParts("~/Plugins/Atluz.Razorpay/Content/custom.css");
}

<form method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            License - Atluz Razorpay
            <small><i class="fa fa-arrow-circle-left"></i><a href="@Url.RouteUrl("Plugin.Atluz.Razorpay.Configure")">back to configuration</a></small>
        </h1>
        @if (Model.Count() > 0)
        {
            <div class="pull-right">
                <button type="submit" name="saveSettings" id="saveSettings" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
        }
    </div>
    @if (Model.Count() > 0)
    {
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Licenses Details
                        </div>
                        <div class="panel-body">
                            <p>
                                Please generate License Key for each Store from the order details section at <a href="https://store.atluz.com/order/history" target="AtluzStoreOrderHistory">https://store.atluz.com/order/history</a>. It will need Store URL(as given below) and Plugin version (plugin version can be found on the plugin list page of your store) to generate the License Key.
                                <a href="https://store.atluz.com/license-key-faq" target="AtluzStoreFAQ">FAQs</a>
                            </p>
                            <p>Ask us more at <a href="https://store.atluz.com/contactus" target="AtluzStoreContactUs">https://store.atluz.com/contactus</a></p>
                        </div>
                    </div>
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        <div class="panel">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="@Model[i].StoreURL" />
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="hidden" asp-for="@Model[i].StoreURL" />
                                        <div class="form-text-row">@Model[i].StoreURL</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="@Model[i].LicenseKey" />
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <nop-editor asp-for="@Model[i].LicenseKey" />
                                            @if (Model[i].IsValid && Model[i].IsTrial)
                                            {
                                                <span class="input-group-addon">
                                                    <i class="fa fa-warning false-icon text-yellow" title="Trial License. Please purchase the license before trial period expires."></i>
                                                </span>
                                            }
                                            <span class="input-group-addon">
                                                @if (!Model[i].IsValid)
                                                {
                                                    <i class="fa fa-close false-icon" title="Invalid License Key"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-check true-icon text-green" title="Valid License Key"></i>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</form>