﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid bestsellers">
        <div class="title">
            <strong>@T("Bestsellers")</strong>
            <a href="#" class="showMoreBtn">Show More</a>
        </div>
        <div class="item-grid fiveItemSlider">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}