﻿/*******************************Lato***********************************/
/* lato-100 - latin */
@font-face {
  font-family: 'LatoLighter';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/lato-v17-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-100.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-100.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-100italic - latin */
@font-face {
  font-family: 'LatoLighterItalic';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/lato-v17-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-100italic.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-100italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: 'LatoLight';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lato-v17-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-300.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
  font-family: 'LatoLightItalic';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/lato-v17-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-300italic.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'LatoRegular';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'LatoRegularItalic';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lato-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-italic.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'LatoBold';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
/* lato-700italic - latin */
@font-face {
  font-family: 'LatoBoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/lato-v17-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-700italic.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoBlack';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900italic - latin */
@font-face {
  font-family: 'LatoBlackItalic';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/lato-v17-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('fonts/lato-v17-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/lato-v17-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/lato-v17-latin-900italic.woff') format('woff'), /* Modern Browsers */ url('fonts/lato-v17-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/lato-v17-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/******************************************************************/





/* COMMON */
.content {
  padding-bottom: 55px;
  padding-top: 5px;
}

ul, ol {
  margin-bottom: 0;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.float-lg-left {
  float: left;
}

.float-lg-right {
  float: right;
}

.v-center {
  display: flex;
  align-items: center;
}

.please-wait {
  background: url('images/ajax_loader_small.gif') no-repeat;
  padding-left: 20px;
}

.alert {
  margin-bottom: 0;
  border-radius: 0 0 3px 3px;
}

.alert-success {
  border-color: #02A91E;
}

.callout.callout-success, .alert-success,
.label-success, .modal-success .modal-body {
  background-color: #17b76d !important;
}

.field-validation-error, .validation-summary-errors {
  color: red;
}

.field-validation-valid.warning,
.field-validation-custom.warning {
  color: #fff;
  background-color: #f39c12;
  margin: 5px 0;
  display: block;
  padding: 5px;
  border-radius: 3px;
  border-left: 5px solid #c87f0a;
}

ul.common-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
}

.fa.true-icon {
  color: #007FCC;
  font-size: 20px;
}

.fa.false-icon {
  color: #D22D2D;
  font-size: 20px;
}

.new-item-notification {
  width: 25px;
  height: 25px;
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  background-color: #dd4b39;
  display: inline-block;
  color: #fff;
  border-radius: 15px;
  line-height: 24px;
  text-align: center;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  margin-left: 10px;
}

  .new-item-notification span {
    font-size: 15px;
  }

.info-box {
  min-height: 106px;
}

.info-box-icon {
  min-height: 106px;
}

.btn-back-top {
  display: none;
  right: 40px;
  bottom: 40px;
  position: fixed;
  width: 61px;
  height: 55px !important;
  z-index: 1000;
}

  .btn-back-top::before {
    content: "";
    display: block;
    position: relative;
    left: 5px;
    top: 20px;
    width: 22px;
    height: 22px;
    border-right: 6px solid white;
    border-top: 6px solid white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

.dropdown-menu button {
  border: none;
  padding: 3px 20px;
  text-align: left;
}

.dropdown-menu li:hover {
  background: rgba(0,0,0,0.1);
}

  .dropdown-menu li:hover button {
    background-color: transparent !important;
  }

.scroll-wrapper {
  overflow-x: scroll;
}

/*COLLAPSIBLE BLOCKS*/
#ajaxBusy span.no-ajax-loader {
  background: none;
}

.panel.collapsible-panel {
  margin-bottom: 10px;
  border-top: 3px solid #d2d6de;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

  .panel.collapsible-panel textarea {
    resize: vertical;
  }

  .panel.collapsible-panel .sub-panel, .panel.collapsible-panel .panel.sub-panel {
    margin-bottom: 5px;
  }

  .panel.collapsible-panel > .panel-heading, .panel-heading {
    padding-right: 30px;
    position: relative;
    cursor: pointer;
  }

  .panel.collapsible-panel > .panel-heading, .panel-heading {
    background-color: #f5f6f8;
    color: #444;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 20px;
  }

.panel-group.storeSetup .panel-heading {
  border-top: 3px solid #d2d6de;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
}

.panel-group .panel.panel-collapse {
}

  .panel-group .panel.panel-collapse .panel-container {
    padding: 30px;
  }

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
}

.panel-group.storeSetup .panel-heading:after {
  content: '\2212';
  color: #444;
  font-weight: bold;
  float: right;
  font-size: 21px;
  margin-top: -4px;
}

.panel-group.storeSetup .panel-heading.collapsed:after {
  content: "\002B";
}


.panel.collapsible-panel > .panel-heading span {
  font-size: 18px;
  font-family: LatoBold;
}

.panel.collapsible-panel .panel-heading i.toggle-icon {
  position: absolute;
  right: 15px;
  top: 28px;
  font-size: 12px;
}

.panel.collapsible-panel .panel-container .panel-group {
  margin-bottom: 0;
}

.panel.collapsible-panel .panel-container {
  overflow: hidden;
}

.panel.collapsible-panel .panel-heading div.icon-container {
  width: 45px;
  position: absolute;
  left: 0;
  top: 11px;
  text-align: center;
  display: none;
}

.panel.collapsible-panel .panel-heading i.panel-icon {
  font-size: 14px;
  padding-right: 0 !important;
}

.panel.collapsible-panel .panel-container.collapsed {
  display: none;
}

/*Search block collapse*/
.search-row {
  padding-left: 50px;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
}

.panel-search .search-body.closed {
  display: none;
}

.panel-search .search-body {
  display: block;
  margin-top: 15px;
}

.icon-search {
  position: absolute;
  left: 0;
  top: 3px;
  text-align: center;
  width: 50px;
}

  .icon-search i {
    font-size: 18px;
    padding-right: 0 !important;
  }

.icon-collapse {
  position: absolute;
  right: 0;
  top: 3px;
  text-align: center;
  width: 42px;
}

  .icon-collapse i {
    font-size: 20px;
    padding-right: 0 !important;
    font-weight: bold;
  }

.search-text {
  font-size: 18px;
}

/*DISCOUNT*/
.requirement-container {
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px dashed #8c949a;
  display: table;
}

  .requirement-container.requirement-group {
    border: none;
    border-left: 2px solid #8c949a;
  }

  .requirement-container .requirement-heading {
    padding: 7px 10px 3px 10px;
    line-height: 24px;
  }

  .requirement-container.requirement-group > .requirement-heading {
    height: 30px;
    line-height: 30px;
    display: table;
    background: #eeeeee;
    padding: 0px 2px 0px 10px;
  }

  .requirement-container .requirement-heading .btn-link {
    padding: 0 3px;
    margin-left: 50px;
    font-size: 15px;
    color: #367fa9;
    float: right;
    text-decoration: none;
  }

  .requirement-container.requirement-group > .requirement-heading .btn-link {
    padding: 3px 10px 3px 0px;
  }

  .requirement-container .requirement-body {
    padding: 10px 20px 8px 10px;
    min-height: 35px;
  }

  .requirement-container.requirement-group > .requirement-body {
    padding: 10px 0 5px 20px;
  }

  .requirement-container .requirement-product-names.filled {
    clear: both;
    max-width: 600px;
    padding-top: 5px;
  }

.requirement-data-buttons {
  margin-top: 5px;
}

.requirement-container .requirement-data-buttons {
  margin-top: 0;
  float: left;
}

.requirement-container .requirement-data-input {
  float: left;
  margin-right: 5px;
}

.requirement-container .requirement-label-col {
  width: auto;
}

.requirement-container .requirement-data-col {
  width: auto;
}

.requirement-container .requirement-data-buttons button {
  margin-top: 0;
}

.requirement-container .requirement-messages-col {
  margin-left: 0;
}

.interaction-type select {
  width: 70px;
  height: 26px;
  line-height: 25px;
  font-size: 12px;
  margin-top: 2px;
}

.panel-add-requirement {
  margin-top: 20px;
}

/*MODAL WINDOWS*/
.modal-content {
  text-align: left;
}

.modal-body {
  font-size: 14px;
}

/*override font-awesome styles*/
.fa {
  padding-right: 5px !important;
}

/* KENDO */
table.adminContent {
  border-collapse: collapse;
  color: #333;
  font-size: 14px;
  margin: 0;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}

.k-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}

.k-multiselect .k-button {
  white-space: normal;
}

.k-button:hover, .k-button:focus, .k-button.k-state-focused {
  background-color: #e7e7e7;
  background-image: none;
  color: #333;
  border-color: #adadad;
  text-decoration: none;
}

.k-button:active {
  color: #333;
  background-color: #e7e7e7;
  border-color: #adadad;
}

.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.k-grid .k-button, .k-grid tbody td > .k-grid-delete, table .btn {
  margin: 2px;
}

.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default {
  border: none;
  height: 40px;
  padding-right: 2px;
  background: #fff;
}

.k-picker-wrap.k-state-hover {
  background: #fff;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select {
  border-radius: 0;
  border: none;
}

.k-numeric-wrap.k-state-default > .k-select {
  background-color: #fff;
  border: none;
  height: 34px;
  width: 22px;
  opacity: 1;
}

.k-picker-wrap.k-state-default > .k-select {
  border: 0px solid #d2d6de;
  height: 40px;
  width: 4.5em;
  padding-left: 1px;
  -moz-box-sizing: content-box;
  border-radius: 0 5px 5px 0;
  background: #eee;
  padding: 0;
  line-height: 40px;
}

.k-picker-wrap.k-state-hover > .k-select {
  border-color: #afafaf;
}

.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  height: 40px;
  border-radius: 5px;
  border: 0px solid #d2d6de;
  text-indent: 0.7em;
  color: #555;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  padding: 0 0;
  margin: 0 0;
}

.k-picker-wrap.k-state-focused.k-state-selected,
.k-numeric-wrap.k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  -webkit-box-shadow: inset 0 0 3px 4px #5FA6D2;
  box-shadow: inset 0 0 3px 4px #5FA6D2;
}

.k-state-active, .k-state-active:hover,
.k-active-filter, .k-tabstrip .k-state-active {
  border-color: #c5c5c5 !important;
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected, .k-marquee-color {
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  border-color: #00c0ef;
  box-shadow: none;
  padding-bottom: 0;
}

.k-numerictextbox .k-link {
  height: 16px;
  border: 1px solid #d2d6de;
  border-radius: 0;
}

  .k-numerictextbox .k-link:hover {
    border-color: #afafaf;
  }

    .k-numerictextbox .k-link:hover + .k-link {
      border-top-color: #afafaf;
    }

.k-numeric-wrap .k-link + .k-link {
  margin-top: -1px;
  height: 15px;
  border-radius: 0;
}

.k-numeric-wrap.k-state-disabled,
.k-picker-wrap.k-state-disabled {
  border-radius: 0;
  border: none;
  opacity: 1;
  height: 34px;
}

  .k-numeric-wrap.k-state-disabled .k-input,
  .k-picker-wrap.k-state-disabled .k-input {
    background-color: #eee;
    cursor: not-allowed;
  }

.k-numerictextbox .k-link.k-state-selected {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  background: #fff;
}

.k-numerictextbox .k-i-arrow-n,
.k-numerictextbox .k-i-arrow-s {
  position: absolute;
  left: 0px;
  font-size: 0;
  font-weight: 400;
  height: 17px;
  background: none;
  position: relative;
  top: 0px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
}

.k-numerictextbox .k-select .k-i-arrow-n:before,
.k-numerictextbox .k-select .k-i-arrow-s:before {
  color: #444;
  font-family: 'Glyphicons Halflings';
  height: 17px;
  line-height: 17px;
  font-size: 9px;
}

.k-numerictextbox .k-link .k-i-arrow-n:before {
  content: "\e113";
}

.k-numerictextbox .k-link .k-i-arrow-s:before {
  content: "\e114";
}

.k-picker-wrap .k-select .k-i-calendar:before,
.k-picker-wrap .k-select .k-i-clock:before {
  font: normal normal normal 14px/1 FontAwesome;
  height: 17px;
  line-height: 17px;
}

.k-picker-wrap .k-i-calendar,
.k-picker-wrap .k-i-clock {
  background: none;
}

.k-calendar-container.k-group {
  padding: 0;
  border-radius: 0;
  background: #fff;
}

.k-calendar th {
  padding: .4em .45em .4em .8em;
}

.k-picker-wrap .k-i-calendar:before {
  content: "\f073";
}

.k-picker-wrap .k-i-clock:before {
  content: "\f017";
}

.k-datetimepicker .k-picker-wrap .k-icon {
  padding: 0 3px;
}

.ui-tooltip {
  z-index: 10005;
}

.k-multiselect.k-header {
  border-color: #d2d6de;
  border-radius: 0;
}

  .k-multiselect.k-header.k-state-hover, .k-multiselect.k-header.k-state-focused {
    border-color: #3c8dbc !important;
  }

.k-multiselect-wrap {
  min-height: 34px;
}

  .k-multiselect-wrap > .k-input {
    height: 36px;
  }

  .k-multiselect-wrap li {
    line-height: 33px;
  }

.k-list-container {
  border-color: #DEDEDE;
  background-color: #FFFFFF;
}

.form-horizontal .form-group .k-dropdown,
.k-grid .k-dropdown {
  cursor: default;
  width: 100% !important;
  height: 32px;
}

  .form-horizontal .form-group .k-dropdown .k-dropdown-wrap,
  .k-grid .k-dropdown .k-dropdown-wrap {
    background: #fff;
    box-shadow: none;
    padding: 0 8px;
    border: 1px solid #d2d6de;
    border-radius: 0;
  }

    .form-horizontal .form-group .k-dropdown .k-dropdown-wrap .k-select,
    .k-grid .k-dropdown .k-dropdown-wrap .k-select {
      width: 20px;
    }

    .form-horizontal .form-group .k-dropdown .k-dropdown-wrap.k-state-border-down,
    .k-grid .k-dropdown .k-dropdown-wrap.k-state-border-down {
      border-color: #3c8dbc !important;
    }

    .form-horizontal .form-group .k-dropdown .k-dropdown-wrap .k-input,
    .k-grid .k-dropdown .k-dropdown-wrap .k-input {
      height: 32px;
      line-height: 32px;
      display: block;
      padding: 0;
    }

      .form-horizontal .form-group .k-dropdown .k-dropdown-wrap .k-input .image {
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
      }

.k-animation-container .k-list-container {
  border: 1px solid #3c8dbc !important;
  box-shadow: none;
}

.k-animation-container .image {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.k-popup .k-list .k-item.k-state-hover {
  background: #3c8dbc;
  border-color: #367fa9;
  color: #fff;
  box-shadow: none;
}

.k-popup .k-list .k-item.k-state-focused {
  box-shadow: none;
}

.k-grid-header .k-header {
  white-space: normal;
  background-image: none;
  background-color: #f4f4f4;
  border: 1px solid #eae7e7;
  border-left: none;
  font-weight: bold;
  padding: 10px 8px;
}

  .k-grid-header .k-header:last-child {
    border-right: none;
  }

.k-grid.k-widget {
  overflow-x: auto;
  border: 1px solid #e8e8e8;
  border-top: none;
}

  .k-grid.k-widget .k-grid-toolbar {
    background: #f1f1f1;
    border-top: 1px solid #e8e8e8;
    border-bottom: none;
  }

    .k-grid.k-widget .k-grid-toolbar .k-button {
      background: #ffffff;
    }

.k-grid table td {
  border: none;
  border-top: 1px solid #f3f3f3;
  border-right: 1px solid #eae7e7;
}

.k-grid table tr.k-alt td {
  background-color: #fbfbfb;
}

.k-grid table tr:first-child > td {
  border-top: none;
}

.k-grid table tr:hover > td {
  background: #f4f4f4;
}

.k-grid.k-widget .k-pager-wrap {
  border: none;
  border-top: 1px solid #ededed;
  background: #f4f4f4;
  padding: 8px 8px 6px 8px;
}

.k-grid.k-widget .checkbox, .table th .checkbox {
  min-height: 0;
  padding-top: 0;
}

.k-window-titlebar {
  height: 2em;
}

/*GRID FOOTER*/
.k-grid .k-pager-numbers {
  margin: 0 0 0 -1px;
}

.k-pager-numbers .k-link {
  background: #ffffff;
  border: 1px solid #ddd;
  margin-right: -1px;
  border-radius: 0;
  height: 32px;
  line-height: 31px;
  min-width: 31px;
}

.k-pager-numbers .k-state-selected {
  border-radius: 0;
  margin: 0px;
  background: #3c8dbc;
  height: 32px;
  line-height: 31px;
  min-width: 30px;
}

.k-pager-wrap > .k-link {
  border-radius: 0;
  margin: 0;
  margin-left: -1px;
  height: 32px;
  line-height: 31px;
  background: #ffffff;
  border: 1px solid #ddd;
  min-width: 30px;
}

.k-pager-wrap .k-link:hover {
  background-color: #eee;
  border-color: #ddd;
}

.k-pager-sizes {
  padding-top: 0;
}

  .k-pager-sizes .k-dropdown-wrap.k-state-default {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0;
    height: 32px;
  }

  .k-pager-sizes .k-dropdown-wrap.k-state-focused {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
  }

  .k-pager-sizes .k-dropdown-wrap .k-input {
    height: 28px;
    line-height: 28px;
  }

  .k-pager-sizes .k-widget.k-dropdown {
    margin-top: 0;
    width: auto !important;
    min-width: 60px;
  }

.k-list .k-state-focused, .k-list .k-state-hover {
  border-radius: 0;
  background: #3c8dbc;
}

/* HEADER */
.main-header {
  max-height: 150px;
  background: #FFF;
}

  .main-header #imgLogo {
    margin: 0 0 10px 20px !important;
    object-fit: contain;
  }
  /*.main-header a img { width: 216px !important; margin: 0 10px 10px 10px !important; height: 58px !important; }*/
  .main-header a img {
    width: 230px !important;
    margin: 0 10px 10px 10px !important;
    height: 95px !important;
  }

  .main-header .logo {
    padding: 0;
  }

  .main-header .logo-lg {
    background: url(images/logo.png?v=1.2) no-repeat 50% 50%;
    height: 50px;
  }

  .main-header .logo-mini {
    background: url(images/logo-mini.png?v=1.2) no-repeat left center;
    height: 77px;
  }

.sidebar-collapse .main-header .logo-mini {
  display: block;
}

.sidebar-collapse .main-header .logo_main {
  display: none;
}
/* SIDE BAR */
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
  white-space: normal;
}

  .sidebar-menu .treeview-menu > li > a {
    padding: 5px 15px;
    transition: max-height 0.5s ease-out;
  }

.sidebar-form {
  border: none !important;
  overflow: visible;
  margin: 10px 15px 0 !important;
}

.skin-blue .sidebar-form input[type="text"] {
  border-radius: 2px;
}

.treeview-menu > li.current-active-item > a {
  color: #fff;
}

.admin-search-box {
  background: url(images/search-icon.png) no-repeat 97% 8px;
  padding-right: 30px;
  background-size: 20px;
}

/*CSS loader */
div.dataTables_wrapper {
  position: relative;
  margin-bottom: -10px;
}

  div.dataTables_wrapper div.dataTables_processing {
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-top: auto;
    z-index: 50;
    background: rgba(255,255,255,0.7);
    -ms-border-radius: 3px;
    border-radius: 3px;
  }

    div.dataTables_wrapper div.dataTables_processing .fa {
      padding-right: 0 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      color: #000;
      font-size: 30px;
    }

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}

.dataTables_wrapper thead { /*background-color: #f4f4f4;*/
}

.dataTables_wrapper tbody td {
  vertical-align: middle !important;
}

/* NAV BAR */
.navbar-custom-menu > .navbar-nav > li {
  height: 50px;
}

.navbar-custom-menu li.account-info {
  line-height: 50px;
  color: #fff;
  padding: 0 15px;
}

/* NAV TABS */
.nav-tabs {
  border-bottom: 0
}

.nav > li > a > img {
  margin-right: 8px;
  vertical-align: baseline
}

.nav-tabs-custom {
  margin-bottom: 5px;
  box-shadow: none
}

  .nav-tabs-custom .tab-pane > .panel {
    border: none;
    box-shadow: none
  }

    .nav-tabs-custom .tab-pane > .panel .panel-body {
      padding: 5px
    }

  .nav-tabs-custom + .panel, .panel + .nav-tabs-custom {
    margin-top: 5px
  }

  .nav-tabs-custom .nav-tabs-custom {
    border-bottom: 1px solid #ddd;
    box-shadow: none
  }

  .nav-tabs-custom > .nav-tabs {
    border-bottom-color: #ddd
  }

    .nav-tabs-custom > .nav-tabs > li.active > a {
      border-left-color: #ddd;
      border-right-color: #ddd
    }

  .nav-tabs-custom > .tab-content {
    border: 2px solid #e5e7f0;
    margin: 0 -15px;
    padding: 0 15px 10px;
    border-left: 0;
    border-right: 0;
    padding: 15px 15px 0;
  }

.nav-tabs > li > a {
  border: #e5e7f0 solid 2px !important;
  border-radius: 6px 6px 0 0;
  border-bottom: 0px;
  color: #000 !important;
  font-family: 'LatoRegular';
  font-size: 13px;
  padding: 6px 6px;
}

.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li > a:hover {
  background-color: #43aea8 !important;
  color: #fff !important;
  border: #43aea8 solid 2px !important
}

.nav-tabs-custom > .nav-tabs > li {
  border-top: 0px
}

.nav-tabs-customer-statistics .chart, .nav-tabs-order-statistics .chart {
  height: 300px
}

/* CONTENT HEADER */
.content-header > h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'LatoBold';
}

  .content-header > h1 > small {
    color: #0076BB;
    font-weight: normal;
    margin-left: 6px;
    text-transform: capitalize;
  }

    .content-header > h1 > small .fa-arrow-circle-left {
      font-size: 14px;
      margin-right: 1px;
    }

.content-header .btn {
  margin-bottom: 5px;
  height: 40px;
  line-height: 40px;
  margin: 0 0 5px 10px;
}

.content-header .btn-group .dropdown-menu input,
.content-header .btn-group .dropdown-menu button,
.content-header .btn-group .dropdown-menu a {
  display: block;
  background: none;
  border: none;
  margin: 0;
  padding: 3px 20px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}

.content-header .pull-right .dropdown-menu {
  right: 0;
  left: auto;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

/* FORM ELEMENTS */
.form-horizontal .label-wrapper {
  display: table;
  float: right;
  min-height: 28px;
  margin: 5px 0 5px 5px;
  max-width: 92%;
  text-align: right;
  clear: none;
}

  .form-horizontal .label-wrapper .control-label {
    display: table-cell;
    float: left;
    margin: 5px 0 0 0;
    padding: 0;
  }

  .form-horizontal .label-wrapper .ico-help {
    display: table-cell;
    color: #162166;
    font-size: 22px;
    padding-left: 5px;
    float: right;
  }

  .form-horizontal .label-wrapper i.fa {
    width: 8px;
    padding: 0 !important;
  }

    .form-horizontal .label-wrapper i.fa:before {
      position: absolute;
      top: 12px;
    }

.form-horizontal span.required {
  color: #ff2e2e;
  margin-left: 6px;
  font-size: 16px;
  font-weight: bold;
  height: 4px;
}

.form-group {
  margin-bottom: 10px;
}

table#wallet-grid > tbody > tr > td:nth-child(4) {
  color: green;
}

.raw .custom-time {
  margin: 6px 0px 3px 0px;
}

  .raw .custom-time input#CustomDuration {
    width: 82px;
    margin-right: 10px;
  }

.Slots .slotMain,
.Slots .slot {
  padding: 0;
}
/*don't show the default input spinners*/
.form-group input[type=number]::-webkit-outer-spin-button,
.form-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group input[type=number] {
  -moz-appearance: textfield;
}

.form-group input[type=checkbox] {
  margin-top: 18px;
}

.form-group .checkbox input[type=checkbox] {
  margin-top: 3px;
}

.form-group .please-wait {
  margin-top: 10px;
}

.form-group > div > a {
  display: inline-block;
  padding-top: 6px;
}

.form-group .callout {
  padding: 8px 15px;
  margin-left: -20px !important;
}

.form-group .attributes label {
  font-weight: normal;
}

.form-horizontal .attributes select {
  width: 300px !important;
  max-width: 100%;
  border-radius: 0;
  border-color: #d2d6de;
  height: 34px;
}

.form-group .attributes .qty-box {
  width: 48px;
  display: inline-block;
}

.form-horizontal .attributes .input-group-required {
  width: 320px;
}

.form-horizontal .k-autocomplete, .form-horizontal .k-combobox,
.form-horizontal .k-numerictextbox, .form-horizontal .k-dropdown,
.form-horizontal .k-selectbox, .form-horizontal .k-textbox,
.form-horizontal .k-colorpicker,
.form-horizontal .k-timepicker, .form-horizontal .k-datetimepicker,
.form-horizontal .k-datepicker {
  width: 400px !important;
  max-width: 100%;
  border-color: #d2d6de;
  height: 40px;
  margin: 3px 0;
  padding: 0;
}

.k-grid-edit-row > td > .k-numerictextbox {
  width: 100% !important;
  min-width: 150px !important;
}

.k-grid .k-dropdown {
  width: 100% !important;
  min-width: 120px !important;
  background: none;
}

.k-grid .k-textbox {
  width: 100% !important;
  min-width: 150px !important;
}

.tag-editor {
  border: 1px solid #d2d6de !important;
  line-height: 26px !important;
}

.form-text-row {
  padding-top: 6px;
}

#order-panels .form-text-row {
  padding-top: 12px;
}

.btn-search {
  margin-top: 10px;
  min-width: 150px;
  padding: 7px 10px;
  font-size: 18px;
  height: 40px !important;
}

.content .panel.panel-default.panel-search .label-wrapper {
  float: right;
  min-height: 35px;
}

.panel-search .form-control {
  clear: both;
  max-width: inherit;
  height: 40px;
  border: 0px solid #e5e7f0;
  border-radius: 5px;
  margin: 3px 0 0 0;
}

.form-control:focus {
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
}

.panel-search .k-multiselect.k-header {
  max-width: 423px;
}

.panel-popup .btn-search {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.dropdown-toggle.bg-purple {
  border-left: 1px solid #AA89CE;
}

.input-group .input-group-btn .input-group-btn-hint {
  font-size: 14px;
  white-space: normal;
  max-width: 330px;
}

.custom-input-group.input-group-short .custom-input-group-btn,
.input-group.input-group-short .input-group-btn {
  width: auto;
}

.main .slotName {
  padding-right: 20px;
}

.main .slotStore {
  padding-left: 9px;
}

.custom-input-group.input-group-short .bootstrap-touchspin {
  float: left;
  margin-right: 3px;
  width: 200px;
}

.input-group.input-group-short .k-widget {
  margin-right: 10px;
}

.input-group.input-group-short .input-group-text {
  margin-right: 10px;
}

.input-group-required {
  width: 100%;
}

.input-group {
  padding: 5px 0;
}

.input-group-required .input-group-btn {
  font-size: inherit;
  vertical-align: top;
  width: 1.5%;
}

input[type=file].form-control {
  height: auto;
}

.dropdown-menu a:hover {
  text-decoration: none;
}

.dropdown-menu > li > a > .fa {
  margin-right: 0;
}

.editor-settings-modal-dialog {
  width: 985px;
  max-width: 95%;
}

  .editor-settings-modal-dialog .modal-body {
    position: relative;
    padding: 5px 23px 15px 23px;
  }

  .editor-settings-modal-dialog .form-group input[type=checkbox] {
    margin-top: 4px;
  }

  .editor-settings-modal-dialog .panel-group {
    margin-bottom: 0;
  }

  .editor-settings-modal-dialog .panel-body, .editor-settings-modal-dialog .panel-heading {
    padding: 10px 5px;
  }

  .editor-settings-modal-dialog .col-md-4 {
    padding: 7px;
  }

.store-scope-configuration .label-wrapper {
  float: left;
  margin-right: 10px;
}

/* PRODUCT EDIT/CREATE */
.form-group + .nav-tabs-localized-fields {
  margin-top: 15px;
}

.attribute-picture-selection-block .checkbox {
  display: inline-block;
}

.attribute-picture-selection-block label {
  padding-left: 0;
  padding-right: 20px;
}

/* TINY MCE */
.mce-panel {
  border-color: #d2d6de !important;
}

.mce-container {
  max-width: 100%;
}

  .mce-container label {
    max-width: inherit;
  }

.mce-fullscreen {
  z-index: 10000 !important;
}

/* QQ */
.skin-blue .qq-upload-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #00a65a;
  border-color: #008d4c;
  float: left;
  margin-right: 5px;
}

.qq-upload-list {
  float: left;
}

  .qq-upload-list .qq-upload-success, .qq-upload-list .qq-upload-fail {
    margin-right: 5px !important;
  }

  .qq-upload-list li.qq-upload-success {
    background-color: #3c8dbc !important;
  }

/*order list statuses*/
.order-list span.order-status {
  padding: .2em .6em .3em;
  border-radius: .25em;
  color: #2e2e2e;
}

.order-list span.order-status-pending {
  background-color: #f39c12;
  color: #fff;
}

.order-list span.order-status-processing {
  background-color: #00c0ef;
  color: #fff;
}

.order-list span.order-status-complete {
  background-color: #00a65a;
  color: #fff;
}

.order-list span.order-status-cancelled {
  background-color: #dd4b39;
  color: #fff;
}

/*grid color statuses*/
span.grid-report-item {
  padding: .2em .6em .3em;
  border-radius: .25em;
  color: #2e2e2e;
}

  span.grid-report-item.yellow {
    background-color: #f39c12;
    color: #fff;
  }

  span.grid-report-item.blue {
    background-color: #00c0ef;
    color: #fff;
  }

  span.grid-report-item.green {
    background-color: #00a65a;
    color: #fff;
  }

  span.grid-report-item.red {
    background-color: #dd4b39;
    color: #fff;
  }

span.grid-report-item {
  padding: .2em .6em .3em;
  border-radius: .25em;
  color: #2e2e2e;
}

  span.grid-report-item.recieved {
    background-color: #d4f9f6;
    color: #43aea8;
  }

  span.grid-report-item.confirmed {
    background-color: #c6c3fd;
    color: #241a5a;
  }

  span.grid-report-item.delivered {
    background-color: #00a65a;
    color: #fff;
  }

  span.grid-report-item.cancelled {
    background-color: #f9d7d7;
    color: #ff0000;
  }

/*SETTINGS*/
.theme-selection-block .checkbox {
  float: left;
}

  .theme-selection-block .checkbox label {
    padding-left: 0;
    padding-right: 20px;
  }

    .theme-selection-block .checkbox label img {
      width: 175px;
    }

    .theme-selection-block .checkbox label span {
      display: block;
    }

      .theme-selection-block .checkbox label span input {
        margin: 0 5px 8px 0;
      }

/*nested settings*/
.parent-setting.opened {
  margin-bottom: 0;
  position: relative;
}

  .parent-setting.opened > div:first-child {
    padding-bottom: 5px;
  }

  .parent-setting.opened div[class^="col-md-"] + div[class^="col-md-"] {
    padding-left: 30px;
    height: auto;
    position: static;
    padding-bottom: 5px;
  }

    .parent-setting.opened div[class^="col-md-"] + div[class^="col-md-"]:before,
    .parent-setting.opened + .nested-setting .form-group div[class^="col-md-"] + div[class^="col-md-"]:before,
    .parent-setting.opened + .nested-setting .form-group:last-child div[class^="col-md-"] + div[class^="col-md-"]:before {
      border-left: 1px solid #c1c1c1;
    }

  .parent-setting.opened div + div:before {
    position: absolute;
    height: 100%;
    content: "";
    margin-left: -14px;
    top: 31px;
    z-index: 10;
  }

  .parent-setting.opened div + div input[type=checkbox] {
    margin-left: -15px;
    z-index: 100;
    position: relative;
  }

.basic-settings-mode .parent-setting.opened + .nested-setting .form-group.parent-setting.parent-setting-advanced.opened div + div input[type=checkbox] {
  margin-left: 0;
}

.parent-setting.opened + .nested-setting .form-group {
  margin-bottom: 0;
  position: relative;
}

  .parent-setting.opened + .nested-setting .form-group > div[class^="col-md-"]:first-child {
    padding-bottom: 5px;
  }

  .parent-setting.opened + .nested-setting .form-group:last-child > div[class^="col-md-"]:first-child {
    padding-bottom: 0;
  }

  .parent-setting.opened + .nested-setting .form-group div[class^="col-md-"] + div[class^="col-md-"] {
    position: static;
    padding-left: 30px;
    padding-bottom: 5px;
    height: auto;
  }

  .parent-setting.opened + .nested-setting .form-group:last-child div[class^="col-md-"] + div[class^="col-md-"] {
    padding-bottom: 0;
  }

  .parent-setting.opened + .nested-setting .form-group div[class^="col-md-"] + div[class^="col-md-"]:before {
    position: absolute;
    height: 100%;
    content: "";
    margin-left: -14px;
  }

  .parent-setting.opened + .nested-setting .form-group.parent-setting div[class^="col-md-"] + div[class^="col-md-"]:before {
    position: absolute;
    height: 36px;
    content: "";
    margin-left: -14px;
    margin-top: -18px;
  }

  .parent-setting.opened + .nested-setting .form-group.parent-setting.opened > div[class^="col-md-"] + div[class^="col-md-"]:after {
    display: none;
  }

  .parent-setting.opened + .nested-setting .form-group:last-child {
    margin-bottom: 5px;
  }

  .parent-setting.opened + .nested-setting .form-group > div[class^="col-md-"] + div[class^="col-md-"]:after {
    border-bottom: 1px solid #c1c1c1;
    content: "";
    position: absolute;
    width: 10px;
    display: block;
    margin-left: -14px;
    top: 30px;
  }

  .parent-setting.opened + .nested-setting .form-group:last-child div[class^="col-md-"] + div[class^="col-md-"] {
    border-left: none;
  }

    .parent-setting.opened + .nested-setting .form-group:last-child div[class^="col-md-"] + div[class^="col-md-"]:before {
      position: absolute;
      height: 31px;
      content: "";
      margin-left: -14px;
    }

.basic-settings-mode .parent-setting.parent-setting-advanced.opened div[class^="col-md-"] + div[class^="col-md-"]:before {
  display: none;
}

.basic-settings-mode .parent-setting.opened + .nested-setting .form-group.parent-setting.parent-setting-advanced.opened div[class^="col-md-"] + div[class^="col-md-"]:before {
  display: block;
  margin-top: -33px;
}

.basic-settings-mode .parent-setting.opened + .nested-setting .form-group.parent-setting.parent-setting-advanced.opened > div[class^="col-md-"] + div[class^="col-md-"]:after {
  display: block;
}

/*advanced settings*/
.basic-settings-mode .advanced-setting {
  display: none !important;
}

.advanced-settings-mode .basic-setting {
  display: none !important;
}

.onoffswitch {
  position: relative;
  width: 130px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #367fa9;
  border-radius: 3px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

  .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 32px;
    padding: 0;
    line-height: 32px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
  }

  .onoffswitch-inner:before {
    content: attr(data-locale-advanced);
    padding-left: 10px;
    background-color: #3c8dbc;
    color: #FFFFFF;
  }

  .onoffswitch-inner:after {
    content: attr(data-locale-basic);
    padding-right: 10px;
    background-color: #efefef;
    color: #3380ad;
    text-align: right;
  }

.onoffswitch-switch {
  display: block;
  width: 16px;
  margin: 6.5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 95px;
  border: 1px solid #367fa9;
  border-radius: 15px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/*bootstrap touchspin*/
.bootstrap-touchspin { /*max-width: 300px;*/
  width: 100%;
}

  .bootstrap-touchspin input {
    height: auto;
    display: table-cell !important;
    min-height: 40px
  }

button.btn.bootstrap-touchspin-up, button.btn.bootstrap-touchspin-down {
  height: 40px;
  top: 2px;
}

.bootstrap-touchspin-postfix {
  border-left: none
}

.input-group-btn-vertical {
  top: 0
}

.bootstrap-touchspin .input-group-btn-vertical i {
  left: 6px
}
/*
.input-group-addon.bootstrap-touchspin-postfix { background-color: #eee; height: 34px; padding-right: 30px }*/
.input-group-addon.bootstrap-touchspin-postfix {
  background-color: #eee;
  height: 40px;
  position: absolute;
  left: 0;
  z-index: 9;
  line-height: 41px;
  margin: 0 0 0;
  border: 0;
  text-align: center;
  display: block;
  width: 45px;
  padding: 0;
  border-radius: 5px 0 0 5px !important;
}

.priceBox {
  margin: 10px 0 0 0;
}

  .priceBox input.form-control {
    padding: 0 0 0 55px;
  }

.bootstrap-touchspin .input-group-btn-vertical {
  right: -5px;
  height: 42px;
  z-index: 11;
  margin: 3px 0;
}

  .bootstrap-touchspin .input-group-btn-vertical > .btn {
    background: #f1f5f7;
    border: 2px solid #e5e7f0;
    border-radius: 0;
    height: auto;
    font-size: 0;
    width: 56px
  }

    .bootstrap-touchspin .input-group-btn-vertical > .btn:before {
      color: #9ba6b2;
      line-height: 20px;
      font: normal normal normal 30px/1 FontAwesome;
      line-height: 15px;
    }

    .bootstrap-touchspin .input-group-btn-vertical > .btn:hover {
      background: #eee
    }

.btn.bootstrap-touchspin-up.glyphicon.glyphicon-chevron-up {
  border-radius: 0 5px 0 0;
  top: 0;
}

.btn.bootstrap-touchspin-down.glyphicon.glyphicon-chevron-down {
  border-radius: 0 0 5px 0
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  margin-top: 19px
}

.glyphicon-chevron-up:before {
  content: "\f106";
}

.glyphicon-chevron-down:before {
  content: "\f107";
}

/* THROBBER */
.throbber-header {
  font-size: 145%;
}

.throbber {
  display: none;
}

  .throbber .curtain {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3e4d45;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 9999;
  }

  .throbber .curtain-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

    .throbber .curtain-content div {
      text-align: center;
      padding: 250px;
      color: #FFF;
    }
/*AJAX loading*/
#ajaxBusy {
  display: none;
  right: 0;
  position: fixed;
  top: 0;
  width: auto;
  z-index: 100000;
}

  #ajaxBusy span {
    background: url(images/ajax-loading.gif) no-repeat;
    width: 40px;
    height: 40px;
    float: right;
    margin: 9px 9px 0px 0px;
  }

/*Upload picture block*/
.upload-picture-block {
  display: table-row;
  width: 100%;
}

  .upload-picture-block .qq-upload-success {
    word-break: break-all;
  }

  .upload-picture-block .picture-container {
    display: table-cell;
    vertical-align: top;
  }

  .upload-picture-block .upload-button-container {
    display: table-cell;
    padding-left: 25px;
    vertical-align: middle;
  }

    .upload-picture-block .upload-button-container .margin-t-5 {
      background: #252d3a;
      margin: 15px 0 0 0 !important;
      border-radius: 5px;
      padding: 0;
    }

    .upload-picture-block .upload-button-container .uploadTxt {
      line-height: 36px;
      font-family: LatoBold
    }
/*fix for inline-block buttons*/
.content-header .pull-right > .btn, .content-header .pull-right > .btn-group {
  float: left;
  margin-left: 3px;
}


/* JQUERY DATA TABLES */
.button-column {
  text-align: center;
}

.table > tbody > tr > td.button-column {
  padding: 2px;
}

  .table > tbody > tr > td.button-column .btn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 12px;
  }

div.dataTables_wrapper div.dataTables_length {
  margin: 5px 5px 0 5px;
}

.dataTables_length select {
  margin: 10px;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
  margin-top: 10px;
}

div.dataTables_wrapper .data-tables-refresh > div {
  float: none;
  margin-top: 2px;
  width: auto;
}

.table-bordered {
  border: 0;
}

  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th {
    border: 1px solid #eae7e7;
    vertical-align: top;
  }

  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #eae7e7;
  }

.dataTables_scrollBody .dataTables_wrapper {
  width: 95%;
  margin-left: 3%;
}

.dataTables_scroll > .dataTables_scrollBody > .table,
.dataTables_scroll > .dataTables_scrollHead > .dataTables_scrollHeadInner > .table {
  padding-left: 0 !important;
}

div.dataTables_wrapper div.dataTables_paginate {
  text-align: center;
}

.summaryHead.content-header {
  padding-left: 0px;
}

.panel {
  padding-left: 0px;
}

.summaryBox {
  height: auto;
  padding: 15px;
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}

.panel .summaryCol {
  width: 32%;
  float: left;
  height: auto;
  padding: 5px 0 5px 0;
}

  .panel .summaryCol .summaryLbl {
    float: left;
    font-size: 16px;
    width: 45%;
  }

  .panel .summaryCol .summaryAmnt {
    float: left;
    font-size: 16px;
    font-weight: bold;
  }

.panel-group .panel + .panel.topSpace {
  clear: both;
  float: left;
  margin-top: 20px;
  width: 100%;
}

/*Notification poupup css*/
.orderPopupBox .modal-dialog {
  width: 550px;
  margin: 30px auto;
  font-family: LatoRegular;
  font-size: 17px;
  -webkit-transform: translate(0,50%) !important;
  -ms-transform: translate(0,50%) !important;
  -o-transform: translate(0,50%) !important;
  transform: translate(0,50%) !important;
}
/*.orderPopupBox {
  overflow-x: hidden;
  overflow-y: hidden;
}*/
  .orderPopupBox .modal-content {
    border-radius: 10px !important;

  }

  .orderPopupBox .modal-content table {
    width: 100%;
  }

    .orderPopupBox .modal-content table td {
      padding: 10px;
      color: #000;
    }

      .orderPopupBox .modal-content table td label {
        font-weight: bold;
        font-size: 17px;
        margin: 0;
      }

.orderPopupBox .modal-title {
  display: inline-block;
  font-family: LatoRegular;
}

  .orderPopupBox .modal-title p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

.orderPopupBox button.close {
  width: 36px;
  color: #a7acbf;
  height: 36px;
  border: 2px solid #eeedf2;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  opacity: 1;
  font-size: 27px;
  line-height: 31px;
  font-weight: normal;
}

.orderPopupBox .modal-content .modal-body {
  background: #f1f5f8;
}

  .orderPopupBox .modal-content .modal-body .totalNum {
    font-size: 30px;
  }

  .orderPopupBox .modal-content .modal-body .totalText {
    font-size: 20px;
    font-weight: 600;
  }

.orderPopupBox .modal-content .btn.btn-secondary {
  background: #7c7c7c;
}

.orderPopupBox .modal-content .btn {
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 20px;
}

/*++Table Alert popup++*/
.tablePopupHead {
  text-align: center;
}

.tablePopupTitle {
  font-weight: bold;
}

.tablePopupBody {
  font-size: 20px;
}

.tablePopupFooter {
  display: flex;
  justify-content: center;
}
/*--Table Alert popup--*/
/*
#product-tags-image-mapping-grid .tag_thmbs img { height: 60px; }
.table_box { width: 23.5%; display: inline-block; border: 1px solid #ddd; text-align: center; padding: 20px; margin: 0 5px 15px; background: #f5f5f5 }
  .table_box.table_active { background: #f0fbcf }
  .table_box i { font-size: 30px; }
.table_icons ul { margin: 0; padding: 0; }
  .table_icons ul li { list-style: none; display: inline-block; width: 32% }
.table_name { font-size: 20px; text-transform: capitalize; font-family: LatoRegular; padding: 10px 0; }
.table_toggle { background: transparent }
h3.modal-title { display: inline-block; font-size: 20px; font-weight: bold; }
.modal-dialog { width: 500px; margin: 10% auto; }*/

#product-tags-image-mapping-grid .tag_thmbs img {
  height: 60px;
}

.table_box {
  width: 47%;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 1.2% 1.4%;
  background: #ECEFF4;
  border-radius: 5px;
}

.alertBox.table_box {
  width: 22.8%;
  height: 125px;
  margin: 1% 0.9874% 1%;
}

.table_box.table_active {
  background: #ECEFF4
}

.table_box input[type="checkbox"].check-box {
  box-shadow: none;
}

.table_box i {
  font-size: 30px;
}

.table_icons {
  float: left;
  text-align: center;
  width: 55%;
}

.table_name {
  float: left;
  text-align: center;
  line-height: 60px;
  width: 20%;
  text-transform: uppercase;
  font-weight: normal;
  background: #c5c7c6;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

.alertBox .table_name {
  width: 50%;
  height: 30px;
  border-radius: 0 20px;
  line-height: 30px;
  padding: 0;
}

.table_active .table_name {
  background: #5abf59;
}

.alertBox .table_icons {
  display: block;
  clear: both;
  width: 100%;
  padding: 10px 0 0 0;
}

.table_icons ul {
  margin: 12px 0;
  padding: 0;
  display: inline-block;
  height: 36px;
  width: 75%;
}

.alertBox .table_icons ul {
  margin: 17px 0;
  padding: 0;
}

.table_icons ul li {
  width: 30%;
  list-style: none;
  display: inline-block;
  width: 32%
}

  .table_icons ul li a i::before {
    content: "";
    width: 36px;
    height: 36px;
    background: url(../admin/images/table_icons_sprite_sml.png) no-repeat left top;
    display: block;
  }

  .table_icons ul li a:hover i::before {
    background-position-y: -36px;
    transition: all 0.5s ease-in-out
  }

  .table_icons ul li a i.fa-money-bill::before, .table_icons ul li a i.fa-money::before {
    background-position-x: -49px;
  }

  .table_icons ul li a i.fa-bookmark::before, .table_icons ul li a i.fa-phone::before, .far.fa-phone-square {
    background-position-x: -100px;
  }

  .table_icons ul li a i.far.fa-phone-square::before {
    background-position: -100px 36px;
  }

  .table_icons ul li a i.fa.fa-exclamation-triangle::before {
    background-position: -49px 36px;
  }

.table_active .table_icons ul li a i::before {
  background-position-y: -36px;
}

.table_name label {
  margin: 0;
  font-weight: normal;
  font-family: LatoBold;
  font-size: 16px;
}

.table_toggle {
  float: right;
  text-align: left;
  width: 25%;
  background: transparent
}

h3.modal-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.modal-dialog {
  width: 500px;
  margin: 10% auto;
}


/* Switch 1 Specific Styles Start */

input[type="checkbox"].check-box {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 25px;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: #fff;
  margin: 10px 0 0;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
}

  input[type="checkbox"].check-box:checked {
    background: #fff;
  }

  input[type="checkbox"].check-box:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 35px;
    border-radius: 20px;
    background: #d8d8d8;
    -webkit-transform: scale(.6);
    transform: scale(.6);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    top: -5px;
    left: -10px;
  }

  input[type="checkbox"].check-box:checked:after {
    left: calc(100% - 50px);
    background: #46b044;
  }

.addAmnt {
  border: 1px solid #ddd;
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
}

.modal .input-sm {
  border: 1px solid #ddd;
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
}

.addAmnt span.currency {
  height: 50px;
  width: auto;
  padding: 0 13px;
  font-weight: bold;
  color: #000;
  float: left;
  line-height: 48px;
}

.addAmnt #txtAddAmount {
  border: 0;
  height: 48px;
  border-radius: 0 4px 4px 0;
  width: 92%;
  font-size: 18px;
  padding: 0 10px;
  margin: 0;
  float: right;
  background: #fff;
}

label {
  margin: 7px 0;
}

.table_type_box {
  display: block;
}

#table-orders label {
  float: right;
}

/*************Custom Code Starts****************/
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #ffffff;
}

.main-sidebar {
  padding-top: 100px;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
  color: #252d3a;
  background: #f1f5f7;
  border-radius: 0 30px 30px 0;
}

.skin-blue .wrapper {
  background-color: #f1f5f7;
}

.skin-blue .sidebar a {
  color: #9ba6b2;
}

.account-info {
  font-size: 16px;
  font-family: LatoBold;
  text-transform: capitalize;
  padding: 25px 15px;
}

  .account-info::before {
    float: left;
    content: "";
    height: 40px;
    font-size: 16px;
    font-family: LatoBold;
    text-transform: capitalize;
    background: #252d3a url(images/user_icon.png) no-repeat center;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    margin: 0;
    margin: -8px 5px 0 0;
  }

.skin-blue .sidebar .account-info a {
  color: #43aea8;
  font-size: 13px;
  font-family: LatoRegular
}

.sidebar-collapse .account-info {
  display: none
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn, .skin-blue .sidebar-form input[type="text"] {
  box-shadow: none;
  background-color: #f1f5f7;
  border: 1px solid transparent;
  height: 35px;
  border-radius: 30px;
  box-shadow: 0 2px 5px 1px rgba(218,220,230,.5);
}

.language-selector {
  position: relative;
  display: flex;
  width: 125px;
  height: 42px;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 5px 30px -5px #ddd;
  display: none;
}

  .language-selector select {
    flex: 1;
    font-size: 14px;
    color: #252d3a;
    padding: 0 17px;
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
    font-family: LatoBold
  }

  .language-selector::after {
    content: '\f078';
    color: #d7dbe0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em 0 0;
    background: #fff;
    cursor: pointer;
    pointer-events: none;
    line-height: 42px;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 42px
  }

.sidebar-menu {
  font-size: 15px;
  color: #9ba6b2;
  font-family: LatoBold;
  padding: 0px 0 0 0
}

  .sidebar-menu:hover {
    overflow: inherit
  }

  .sidebar-menu > li > a {
    padding: 15px 5px 15px 15px;
    margin: 5px 0
  }

  .sidebar-menu li a i.nav-icon {
    width: 30px;
    height: 24px;
    padding: 0 !important;
    float: left;
    margin: 0 5px 0 0
  }

  .sidebar-menu li a i.fa-cube,
  .sidebar-menu li a i.fa-cubes {
    width: 30px;
    height: 24px;
    font-size: 24px
  }

  .sidebar-menu li a i.nav-icon:before {
    content: "";
    display: block;
    width: 30px;
    height: 24px;
    background: url(images/navigation_sprite.png) no-repeat left top
  }

  .sidebar-menu li a i.icon-desktop:before {
    background-position: -3px -12px
  }

  .sidebar-menu li a:hover i.icon-desktop:before {
    background-position: -44px -12px
  }

  .sidebar-menu li a i.icon-catalog:before {
    background-position: -3px -64px
  }

  .sidebar-menu li a:hover i.icon-catalog:before {
    background-position: -44px -64px
  }

  .sidebar-menu li a i.icon-sales:before {
    background-position: -3px -121px
  }

  .sidebar-menu li a:hover i.icon-sales:before {
    background-position: -44px -121px
  }

  .sidebar-menu li a i.icon-users:before {
    background-position: -3px -182px
  }

  .sidebar-menu li a:hover i.icon-users:before {
    background-position: -44px -182px
  }

  .sidebar-menu li a i.icon-promotions:before {
    background-position: 0 -240px
  }

  .sidebar-menu li a:hover i.icon-promotions:before {
    background-position: -40px -240px
  }

  .sidebar-menu li a i.nav-icon.icon-content:before { /*background-position: -3px -299px;*/
    content: "\f1b3";
    background: none
  }

  .sidebar-menu li a:hover i.nav-icon.icon-content:before { /*background-position: -41px -299px;*/
  }

  .sidebar-menu li a i.icon-configuration:before {
    background-position: -3px -359px
  }

  .sidebar-menu li a:hover i.icon-configuration:before {
    background-position: -44px -359px
  }

  .sidebar-menu li a i.nav-icon.icon-system:before {
    content: "\f1b2";
    background: none
  }

  .sidebar-menu li a:hover i.nav-icon.icon-system:before {
  }

  .sidebar-menu li a i.icon-reports:before {
    background-position: -3px -417px
  }

  .sidebar-menu li a:hover i.icon-reports:before {
    background-position: -44px -417px
  }

  .sidebar-menu li a i.icon-rating:before {
    background-position: -3px -478px
  }

  .sidebar-menu li a:hover i.icon-rating:before {
    background-position: -44px -478px
  }

.skin-blue .main-header .navbar .sidebar-toggle {
  color: #252d3a;
}

  .skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #252d3a;
  }

.skin-blue .main-header .navbar .nav > li > a {
  color: #252d3a;
}

.skin-blue .main-header .navbar {
  background-color: #f1f5f7;
  height: 100px;
  border-bottom: 2px solid #dbdee0;
  margin-bottom: 0;
  padding: 25px 15px 0 0;
  margin-top: -105px;
}

.sidebar-mini.sidebar-collapse .main-header .navbar {
  margin-left: 50px;
  margin-top: -77px;
  height: 77px;
  padding: 15px 15px 0 0;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  color: #8b9cb7;
  margin: -12px 0 0 0;
  font-size: 25px;
}

.skin-blue .main-header .navbar .nav > li > a,
.skin-blue .main-header .navbar .nav > li > span {
  color: #252d3a;
  font-family: LatoBold;
  text-transform: capitalize;
  font-size: 14px;
  height: 42px;
  display: block;
  margin: 0 0 0 10px;
  padding: 0 20px;
  line-height: 42px
}

  .skin-blue .main-header .navbar .nav > li > a.logout {
    border-radius: 25px;
    background: #fff url(images/logout_btn.png) no-repeat 20px center;
    padding: 0 20px 0 50px;
    box-shadow: 0 5px 30px -5px #ddd
  }

  .skin-blue .main-header .navbar .nav > li > a.gearBtn {
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 5px 30px -5px #ddd;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
  }

    .skin-blue .main-header .navbar .nav > li > a.gearBtn .fa.fa-gears {
      line-height: 40px;
      text-align: center;
      width: 40px;
    }

  .skin-blue .main-header .navbar .nav > li > a.logout:hover {
    color: #000
  }

  .skin-blue .main-header .navbar .nav > li > a.publicStore {
    display: none
  }

  .skin-blue .main-header .navbar .nav > li > a.bell_icon {
    background: #fff;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    margin: 0 15px 0 0;
    padding: 0;
    text-align: center;
    line-height: 42px
  }

    .skin-blue .main-header .navbar .nav > li > a.bell_icon .notification-bell {
      display: inline-block;
      width: 26px;
      height: 32px;
      line-height: 46px;
      margin: 6px 0 0 0
    }

      .skin-blue .main-header .navbar .nav > li > a.bell_icon .notification-bell:before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 32px;
        background: url("images/bell-icon.png") no-repeat center center;
        background-size: 23px
      }

.notification-icon:after {
  position: absolute;
  content: attr(data-count);
  margin-left: -6.8775px;
  margin-top: -6.8775px;
  padding: 0 4px;
  min-width: 13.755px;
  height: 13.755px;
  line-height: 13.755px;
  background: #43aea8;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 11.004px;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notificationBox li {
  width: 500px;
  max-height: 400px;
  overflow-y: auto;
  margin: 0;
  padding: 0px;
}

.notificationBox th,
.notificationBox td {
  text-align: center !important;
}

.notificationBox tbody tr {
  cursor: pointer;
}

.notification-icon {
  font-size: 19px;
}

.notificationBox .closeNoti {
  position: absolute;
  top: -11px;
  left: -12px;
  border-radius: 50%;
  padding: 0;
  width: 25px;
  height: 25px;
  line-height: 20px;
  z-index: 999;
  text-align: center;
  border: 1px solid #ccc;
  background: #eaeaea;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.notificationBox .table {
  margin-bottom: 0px;
}

.dropdown-menu.notificationBox {
  padding: 0;
  margin: 0;
}


.flexer, .progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.trackProfile {
  margin: 0 0 20px 0;
  padding: 5px 0 15px 15px;
}

  .trackProfile h4 {
    color: #000;
    font-size: 16px;
    text-align: left;
    padding: 5px 0 20px 41px;
    font-weight: 600;
  }

  .trackProfile .col-md-6 img {
    width: 100%;
    background: #fff;
    padding: 5%;
  }

  .trackProfile .proName {
    font-size: 18px;
  }

  .trackProfile .row {
    margin: 0 -10px;
  }

  .trackProfile .col-md-6 {
    padding: 0 10px;
  }

  .trackProfile .proRating,
  .trackProfile .proVic {
    font-size: 16px;
    margin: 4px 0;
  }

    .trackProfile .proRating span {
      padding: 0 0 0 7px;
    }

      .trackProfile .proRating span img {
        background: none;
        padding: 0;
      }

  .trackProfile .proVic {
  }

    .trackProfile .proVic span {
      padding: 0 0 0 7px;
      color: #67809f;
    }

.progress-indicator {
  margin: 0 0 1em;
  padding: 0;
  font-size: 16px;
}

  .no-flexer, .progress-indicator.stacked {
    display: block;
  }

  .progress-indicator > li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbb;
    display: block;
  }

  .progress-indicator.stacked > li {
    text-indent: -10px;
    text-align: center;
    display: block;
  }

  .progress-indicator > li {
    color: #ababab;
  }

#timeline-speaker-example .time {
  position: relative;
  left: -80px;
  top: 30px;
  font-size: 130%;
  text-align: right;
  opacity: 0.6;
}

.current-time .time {
  opacity: 1;
}

.progress-indicator > li .bubble {
  border-radius: 1000px;
  width: 16px;
  height: 16px;
  background-color: #3b569b;
  display: block;
  margin: 0 0 0 15px;
  border-bottom: 1px solid #888;
}

.progress-indicator > li .bubble {
  background-color: #ababab;
}

.progress-indicator > li.done-time .bubble {
  background-color: #3b569b;
}

.progress-indicator > li.current-time .bubble {
  background-color: #fe1c1c;
}

.bubble {
  padding: 0;
}

.progress-indicator > li .bubble:after, .progress-indicator > li .bubble:before {
  display: block;
  position: absolute;
  top: 15px;
  width: 100%;
  height: 3px;
  content: '';
}

.progress-indicator > li .bubble:after, .progress-indicator > li .bubble:before {
  background-color: #ababab;
}

.progress-indicator > li.done-time .bubble:after, .progress-indicator > li.done-time .bubble:before,
.progress-indicator > li.current-time .bubble:after, .progress-indicator > li.current-time .bubble:before {
  background-color: #3b569b;
}

.progress-indicator > li:last-child .bubble:after, .progress-indicator > li:last-child .bubble:before {
  display: none;
}

.progress-indicator > li.done-time,
.progress-indicator > li.current-time {
  color: #000;
}



.progress-indicator > li .bubble:before {
  left: 0;
}

.progress-indicator > li:first-child .bubble:after, .progress-indicator > li:first-child .bubble:before {
  width: 50%;
  margin-left: 50%;
}

.progress-indicator.stacked > li .bubble:after, .progress-indicator.stacked > li .bubble:before {
  left: 22.6px;
  margin-left: -1.5px;
  width: 3px;
  height: 100%;
}

.progress-indicator > li .bubble:after {
  right: 0;
}

.progress-indicator.stacked .stacked-text {
  position: absolute;
  z-index: 10;
  top: 0;
  margin-left: 60% !important;
  width: 45% !important;
  display: inline-block;
  text-align: left;
  line-height: 1.2em;
}

.stacked-text {
  top: 0;
  left: -50px;
}

.subdued {
  font-size: 80%;
  opacity: 0.6;
}

.subdued {
  font-size: 10px;
  display: block;
}

.current-time .sub-info {
  font-size: 60%;
  line-height: 0.2em;
  text-transform: capitalize;
  color: #6988be;
}

.time {
  position: relative;
  left: -80px;
  top: -21px;
  font-size: 16px;
  text-align: right;
}

.contIcon {
  margin: 9px 0 0 0;
  font-size: 16px;
}

  .contIcon a {
    display: inline-block;
    width: 13px;
    height: 12px; /* border-radius: 50%; */
    margin: 0 10px 0 35px;
  }

  .contIcon .phoneI {
    background: url(/images/uploaded/phoneIcon11.png) no-repeat center
  }

  .contIcon .chatI {
    background: #67809f url(/images/uploaded/chatIconIcon1.png) no-repeat center;
  }

.plm0 {
  padding: 0 25px 9px 25px;
  border: 1px solid #ccc;
  margin: 0 0 0 -8px;
}

.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
  margin: 0 10px 0 0;
  font-size: 21px;
}

.box.box-info {
  border-top: none;
}

.box {
  border-radius: 10px;
}

.skin-blue .sidebar-menu .treeview-menu > li.active > a, .skin-blue .sidebar-menu .treeview-menu > li > a:hover {
  color: #252d3a;
}

.box-header {
  color: #000;
  background: #f5f6f8
}

  .box-header.with-border {
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    height: 60px;
    line-height: 45px;
    padding: 10px 25px
  }

.collapsed-box .box-header {
  border-radius: 10px;
}

.box.box-info {
  border: 0;
  box-shadow: 0 5px 30px -5px #ddd;
  border-radius: 10px
}

.box-header .box-title i {
  display: none
}

.box-header .box-title {
  font-size: 16px;
  font-family: LatoBold;
  color: #000;
  line-height: 40px;
  text-transform: uppercase
}

.btn.btn-box-tool {
  height: 45px;
}

.btn-default {
  background-color: #252d3a;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 40px;
  line-height: 27px
}

.data-tables-refresh .btn-default {
  background: #fff;
  border: 2px solid #e5e7f0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  line-height: 53px;
  padding: 0
}

  .data-tables-refresh .btn-default i {
    margin: 0 !important;
    padding: 0 !important
  }

    .data-tables-refresh .btn-default i::before {
      content: "\f2f9";
      color: #9ba6b2;
      font-size: 25px
    }

.alert.alert-warning.alert-dismissable {
  background-color: #fff2da !important;
  color: #d8a34e !important;
  border-color: #fff2da
}

  .alert.alert-warning.alert-dismissable a {
    background-color: #fff2da !important;
    color: #d8a34e !important;
    border-color: #fff2da
  }

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
  color: #9aa6b1;
  font-size: 13px;
  font-family: LatoBold;
  text-transform: uppercase
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #fff
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  color: #9aa6b1;
  font-size: 15px;
  font-family: LatoRegular;
  border-top: 1px solid #eae7e7
}

div.dataTables_scrollBody > table > tbody > tr:first-child > th,
div.dataTables_scrollBody > table > tbody > tr:first-child > td {
  border-top: 0
}

.paginate_button.previous a, .paginate_button.next a {
  border-radius: 50px !important;
  border: #e4e6ef solid 2px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px;
  line-height: 33px;
  padding: 0;
}

.pagination > li > a {
  background: none;
  border: 0;
  font-size: 18px;
  color: #000;
  padding: 9px 10px;
  font-family: LatoRegular
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: transparent;
  border: 0;
  color: #337ab7
}

.k-i-arrow-w {
  background-position: 0 -305px
}

.k-icon.k-i-arrow-e {
  background-position: 0 -272px
}

.tableFooter {
  background: #f5f6f8;
  margin: 20px -20px 0;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 5px
}

.data-tables-refresh {
  padding: 0 0 15px
}

.tableFooter .float-lg-right.text-center {
  color: #000;
  font-family: LatoRegular;
  font-size: 14px;
  text-transform: uppercase
}

.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  padding: 2px !important;
  background: transparent;
}

.treeview-menu > li {
  margin: 10px 0
}

  .treeview-menu > li a:after {
    content: "";
    position: absolute;
    left: 20px;
    z-index: 100;
    top: -20%;
    width: 2px;
    height: 50%;
    background: #8aa4af
  }

.sidebar-menu .treeview-menu > li > a {
  padding: 0 15px;
  transition: max-height 0.5s ease-out;
}

.treeview-menu > li:hover a:after,
.treeview-menu > li.current-active-item a:after {
  background: #252d3a
}

.treeview-menu > li > a > i.fa.fa-genderless {
  margin-left: 1px;
}

.bg-blue {
  background-color: #252d3a !important
}

.btn {
  border-radius: 5px;
  border: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-family: LatoBold;
}

  .btn.btn-flat {
    border-radius: 5px;
  }

  .btn .las.la-plus {
    margin: 9px 5px 0 0;
    display: inline;
    float: left
  }

button.btn.btn-info.pwdChangeBtn {
  height: 40px;
  margin: -10px 0 0 0;
  box-shadow: 1px 1px 6px -2px rgb(50 50 50 / 64%);
}

.content-header .btn .la-plus::before {
  font-size: 22px
}

.la-check::before {
  font-size: 34px;
  color: #9ba6b2
}

.panel.panel-default.panel-search {
  border: 0;
  background: none
}

  .panel.panel-default.panel-search .panel-body {
    padding: 0
  }

/************************Custom Dropdown*************************/
h1 {
  color: #252d3a
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: green;
  background-image: none;
  border: 1px solid black;
  font-family: LatoRegular
}

  select option {
    font-family: Lato
  }

.select {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  overflow: hidden;
  padding: 0;
  border-radius: 5px;
  margin: 0;
  -webkit-box-shadow: 1px 1px 6px -2px rgb(50 50 50 / 64%);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgb(50 50 50 / 64%);
}

.content .panel.panel-default.panel-search .select {
  padding: 0;
}

.select.fa.currenySymboldd span {
  position: absolute;
  margin: 2px 0 0 2px;
  font-size: 16px;
  background: #f7f8f9;
  border-right: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  height: 46px;
  width: 52px;
  text-align: center;
  line-height: 42px;
  color: #65697b
}

.select select.form-control {
  padding: 0 20px 0 12px;
  max-width: 100%;
  height: 44px;
  border-radius: 5px;
  margin: 0;
}

.select.currenySymboldd select.form-control {
  padding: 0 20px 0 60px
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer
}

  select::-ms-expand {
    display: none
  }

.select::after {
  content: "\f107";
  position: absolute;
  top: 0;
  right: 0;
  background: #f1f5f7;
  pointer-events: none;
  border: 0px solid #e5e7f0;
  border-radius: 0 5px 5px 0;
  color: #aaafc2;
  width: 55px;
  text-align: center;
  font-size: 30px;
  height: 44px;
  padding: 0;
  margin: 0;
  line-height: 40px;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

div.dataTables_wrapper div.dataTables_length label::after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  top: 23px;
  right: 38%;
  pointer-events: none;
  color: #aaafc2;
  width: 25px;
  text-align: center;
  font-size: 25px;
  height: 44px;
  padding: 0;
  margin: 0;
  line-height: 40px;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.content .panel.panel-default.panel-search .select::after {
  top: 0;
  height: 44px;
}

.select.k-multiselectBox::after {
  top: 8px;
  right: 3px;
}

.select.fa.k-multiselectBox {
}

.select .form-control:focus {
  border: 0px solid #e5e7f0;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
}

.select:hover::after {
  color: #43aea8
}



.panel-body h3 {
  text-transform: uppercase;
  margin: 0 0 30px 0;
  font-size: 18px;
  font-family: LatoBold
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
  background-color: #ff0012 !important
}


.content .panel.panel-default.panel-search {
  box-shadow: none;
  margin: 0 0 30px 0;
}

.content .panel.panel-default {
  padding-left: 0px;
  box-shadow: 0 5px 30px -5px #ddd;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
}

  .content .panel.panel-default .panel-default > .panel-heading {
    font-size: 18px;
  }

.panel-default > .panel-heading {
  color: #000;
  background-color: #f5f6f8;
  border-radius: 10px;
  padding: 20px 20px
}

.panel-default > .panel-header {
  color: #000;
  background-color: #f5f6f8;
  border-radius: 20px 20px 0 0;
  padding: 20px 20px
}

.product-list .panel-default > .panel-heading {
  color: #000;
  background-color: #f5f6f8;
  border-radius: 20px 20px 0 0;
  padding: 20px 20px
}

.product-list #products-grid_wrapper {
  background: none
}

  .product-list #products-grid_wrapper .margin-t-5 {
    margin: 0 -25px -10px !important
  }

.panel-default > .panel-heading.opened {
  border-radius: 10px 10px 0 0
}

div.dataTables_wrapper div.dataTables_length select {
  height: 40px
}

.list_heading {
  font-family: LatoBold;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0
}

.skin-blue .main-header .navbar .nav > li > a.bell_icon {
  background: #fff;
  border-radius: 50px;
  width: 42px;
  height: 42px;
  margin: 0 15px 0 0;
  padding: 0;
  text-align: center;
  line-height: 42px
}

  .skin-blue .main-header .navbar .nav > li > a.bell_icon .notification-bell {
    display: inline-block;
    width: 26px;
    height: 32px;
    line-height: 46px;
    margin: 6px 0 0 0
  }

    .skin-blue .main-header .navbar .nav > li > a.bell_icon .notification-bell:before {
      content: "";
      display: inline-block;
      width: 26px;
      height: 32px;
      background: url("images/bell-icon.png") no-repeat center center;
      background-size: 23px
    }



/*************Custom Checkboxes***************/


.cb_container {
  display: block;
  position: relative;
  padding-left: 60px;
  margin: 10px 0 5px 0;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  line-height: 34px;
  width: auto;
  float: left
}

  /* Hide the browser's default checkbox */
  .cb_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
  }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -5px;
  left: 20px;
  height: 34px;
  width: 34px;
  background-color: #fff;
  border: #e5e7f0 solid 2px;
  border-radius: 5px
}

/* On mouse-over, add a grey background color */
.cb_container:hover input ~ .checkmark {
  background-color: #ccc
}

/* When the checkbox is checked, add a blue background */
.cb_container input:checked ~ .checkmark {
  background-color: #fff
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none
}

/* Show the checkmark when checked */
.cb_container input:checked ~ .checkmark:after {
  display: block
}

/* Style the checkmark/indicator */
.cb_container .checkmark:after {
  left: 9px;
  top: 0px;
  width: 12px;
  height: 23px;
  border: solid #6f747d;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}


.save-before-edit {
  color: #606162;
  text-align: center;
  font-size: 18px;
  font-family: LatoRegularItalic;
  padding: 0 0 15px 0
}

#btnAddNewProduct {
  background: #252d3a;
  float: right;
  display: block;
  margin: 0 20px 10px 0
}

#products-grid_wrapper {
  background: #fff;
  border-radius: 20px;
  padding: 10px 10px 0;
  margin: 0 -15px 0;
  clear: both
}

  #products-grid_wrapper.dataTables_wrapper thead,
  #products-grid_wrapper .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent
  }

  #products-grid_wrapper .margin-t-5 {
    margin: 0 -10px 0 !important
  }

.data-tables-refresh {
  padding: 0
}

.margin-t-5 {
  background: #f4f5f7;
  margin: 15px -10px 0 !important;
  border-radius: 0 0 10px 10px;
  padding: 10px 0;
}

.panel-body {
  padding: 15px
}



.pic_add .form-group {
  margin: 10px 5px 0 5px;
}

  .pic_add .form-group .upload-picture-block .picture-container {
    float: left;
  }

  .pic_add .form-group .upload-picture-block .upload-button-container {
    margin: 0px;
    padding: 0px;
    float: left;
  }

.pic_edit td img {
  width: 60px;
  height: 60PX;
}

.pic_edit .pagination > li > a, .pagination > li > span {
  padding: 3px 3px;
}

.pic_pgntn .col-lg-3 {
  padding: 0px;
  width: 31%;
}


.picture_uploader {
  float: left;
  width: auto;
}

.picture_ico_help {
  float: left;
  margin: 2.5% 0 0 10px;
  position: relative;
}

.remove-image-button.pull-left.margin-t-5 {
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 0 !important;
}

  .remove-image-button.pull-left.margin-t-5 .btn.bg-red {
    width: 100%;
    border-radius: 0 0 8px 8px;
    margin: 0;
    height: 37px;
    background: #f44336 !important;
    font-size: 12px;
    text-transform: uppercase;
    font-family: lato;
    line-height: 38px;
    font-weight: bold;
  }


.picture_uploader {
  float: left;
  width: auto;
}

.picture_ico_help {
  float: left;
  margin: 2.5% 0 0 10px;
  position: relative;
}

.picture-container {
  border: 2px solid #252d3a;
  border-radius: 10px;
  height: 130px;
  line-height: normal;
  display: inline-block;
  float: left !important;
  width: 146px;
  margin: 10px 0 0 4px;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  ;
}

.qq-upload-button-selector {
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 40px;
  line-height: normal;
  display: inline-block;
  float: none !important;
}


.qq-upload-list {
  display: none;
}

.uploaded-image {
  height: 89px;
  width: auto;
}

  .uploaded-image img {
    border-radius: 8px 8px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.picture-container .uploaded-image img.uploaded_img {
  border: 2px solid #e5e7f0;
  border-bottom: 0px;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  width: 100px;
  height: 90px;
}

.picture-container .remove-button {
  border: 0px;
  padding: 10px 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
  text-transform: uppercase;
}

.qq-upload-button-selector.qq-upload-button.fa::before {
  content: "\f067";
  border: 2px solid #ccc;
  padding: 10px 13px;
  border-radius: 50%;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: block;
  color: #ccc;
  cursor: pointer;
  margin: 15% auto;
}

.upload-button-container .qq-upload-button {
  background: none;
  padding: 0 !important;
  margin: 0;
  border-radius: 5px;
  border: 0;
  height: 40px;
  line-height: 36px;
  font-size: 16px;
  font-family: LatoBold;
  width: 146px !important;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) { /* border-top-right-radius: 0; */ /* border-bottom-right-radius: 0; */
  clear: both;
  max-width: inherit;
  height: 40px;
  border: 0px solid #e5e7f0;
  border-radius: 5px;
  margin: 0 0px 10px 0
}

textarea#Geofancing {
  height: 120px;
}
.form-group .Geo .label-wrapper i.fa:before {
right: 0px;
}
.panel-footer {
  background-color: transparent;
  border-top: 0;
}

.panel-group .panel-footer {
  display: inline-block;
  width: 100%;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
  background-color: #5EA8FF !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
  background-color: #43DCBE !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
  background-color: #FFC063 !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
  background-color: #FE798E !important;
}

.small-box {
  border-radius: 5px;
  margin: 15px 0;
}

td.thmbsImg {
  text-align: center;
}

  td.thmbsImg img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

.form-control {
  border-radius: 5px;
  border: 0;
  border-color: #d2d6de;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  margin: 0 0 6px 0;
  height: 40px
}

.form-horizontal .form-group .k-dropdown {
  height: 40px;
  background: transparent;
  margin: 0 0px 10px 0
}

  .form-horizontal .form-group .k-dropdown .k-dropdown-wrap {
    border-radius: 5px;
    border: 0;
    border-color: #d2d6de;
    -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
    margin: 0;
    height: 40px;
  }

    .form-horizontal .form-group .k-dropdown .k-dropdown-wrap .k-input, .k-grid .k-dropdown .k-dropdown-wrap .k-input {
      height: 40px;
      line-height: 40px;
    }

    .form-horizontal .form-group .k-dropdown .k-dropdown-wrap .k-select, .k-grid .k-dropdown .k-dropdown-wrap .k-select {
      padding: 0 5px;
      line-height: 38px;
      background: #fff url(images/icon-navigation.png) no-repeat 0 17px;
    }

span.k-icon.k-i-arrow-s {
  background: none;
}

input[type=checkbox], input[type=radio] {
  margin: 10px 0 0;
}

.content .panel.panel-default.panel-search .form-horizontal .k-datetimepicker, .form-horizontal .k-datepicker {
  width: 100% !important;
  clear: both;
  display: block;
}

.panel-search .k-multiselect.k-header {
  max-width: 100% !important;
  clear: both;
  display: block;
  height: 40px;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  border: 0;
  margin: 0;
}

.content .panel.panel-default.panel-search .input-group {
  padding: 0;
  clear: both;
}

.content .panel.panel-default.panel-search .k-picker-wrap.k-state-default > .k-select {
  background: #fff;
  border: 0;
  height: 40px;
  width: 4.5em;
  padding-left: 1px;
  -moz-box-sizing: content-box;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  padding: 0;
}

  .content .panel.panel-default.panel-search .k-picker-wrap.k-state-default > .k-select .k-icon.k-i-calendar {
    line-height: 45px;
    height: 40px;
  }

.content .panel.panel-default.panel-search .k-picker-wrap .k-input, .k-numeric-wrap .k-input {
  height: 40px;
  border-radius: 5px;
  border: 0;
  text-indent: 0.7em;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  color: #555;
  padding: 0;
}

.content .panel.panel-default.panel-search .k-multiselect-wrap {
  min-height: 40px;
  border: 0;
  border-radius: 5px;
  height: 40px;
}

  .content .panel.panel-default.panel-search .k-multiselect-wrap li {
    line-height: 33px;
    border-radius: 5px;
  }

button#go-to-order-by-number {
  height: 42px;
  margin: -8px 0 0 0;
}

.content .panel.panel-default.panel-search .btn-search {
  float: left;
  height: 45px;
  margin: 15px 0 5px 0;
}

.skin-blue .sidebar-form {
  border: 0;
}

.select.fa .k-widget.k-multiselect.k-header {
  max-width: 100% !important;
}

.addedAmount {
  margin: 7px 0 0 0;
  display: block;
  font-family: 'LatoBold';
}

#table-setting .form-group {
  margin: 0;
}

#language-panels .panel-body {
  padding: 15px
}

#language-panels .dataTables_wrapper {
  position: relative;
  margin-bottom: 30px;
}

.k-multiselect.k-header {
  border-radius: 5px;
  border: 0;
  -webkit-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 6px -2px rgba(50, 50, 50, 0.64);
  height: 40px;
  margin: 0 0;
}

.k-multiselect-wrap {
  min-height: 40px;
  height: 40px;
}

label#bartenderamount {
  margin: 12px 0;
}

.sidebar-collapse .sidebar-menu > li > a {
  padding: 15px 5px 15px 15px;
  margin: 5px 0;
  height: 55px;
}

.skin-blue .sidebar-menu > li > a {
  border-left: 0;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  background: #fff;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  width: 200px;
  background: #252d3a;
  color: #fff;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  color: #252d3a;
  background: #fff;
}

li.dropdown.dropdown-notifications {
  display: none;
}

.content-header {
  padding: 25px 15px 10px;
}
/*#permissionTable { width: 100%; display: initial; }
  #permissionTable .permissionHead.sticky { position: fixed; top: 0; background: #fff; z-index: 9; width: 1110px; }
  #permissionTable .per_col:nth-child(1) { display: inline-block; width: 18%; }
  #permissionTable .permissionHead { position: absolute; background: #fff; margin: 0; width: 1110px; overflow-x: scroll; }
  #permissionTable .permissionBody { position: relative; margin: 85px 0 0 0; clear: both; display: block; width: 1110px; }
  #permissionTable .per_row { display: block; clear: both; width: 100%;   }
  #permissionTable .permissionHead .per_row { display: block; clear: both; width: 100%; min-height: 85px; float: left; height: auto; max-height: 85px; border-bottom: 1px solid #E8EBEF; }
  #permissionTable .per_col { display: inline-block; border-left: 1px solid #E8EBEF; width: 9%; height: 85px; float: left; padding: 5px; max-height: 85px; min-height: 85px; font-size: 13px; }
  #permissionTable thead.permissionHead.sticky th:nth-child(n), #permissionTable tbody.permissionBody td:nth-child(n) {  }
  #permissionTable thead.permissionHead.sticky th:nth-child(1), #permissionTable tbody td:nth-child(1) {width:200px; }*/
/*button#addResourceString { margin-top: 10px; min-width: 150px; font-size: 16px; height: 40px; line-height: 40px; }
*/ .volumeDis_tab_cont {
  width: 100%;
  padding: 10px 0 10px 0;
}

  .volumeDis_tab_cont .volumeDis_tab_head {
    font-size: 18px;
    color: #f6b12f;
    padding: 0 0 5px 0;
    text-transform: capitalize;
    border-bottom: 2px solid;
  }

.volumeDis_tab {
  width: 100%;
  box-shadow: 3px 3px 9px -7px rgba(50, 50, 50, 0.64);
  border: 0
}

  .volumeDis_tab th {
    font-family: LatoBold;
    f
  }

  .volumeDis_tab th, .volumeDis_tab td {
    padding: 10px;
  }

  .volumeDis_tab .brand_name {
    font-family: LatoBold
  }

.leftBtns {
  float: left;
}

select.form-control {
  border: none;
  color: #000;
  padding: 0 25px 0 15px;
  -webkit-appearance: none;
  cursor: pointer;
  line-height: 40px; /*background: #fff url(images/icon-navigation.png) no-repeat 90% 50%;*/
}

/*************Custom Code Ends****************/



























/*#permissionTable .permissionHead.sticky { position: fixed; top: 0; background: #fff; z-index: 9; width: 74.4%; }*/
@media (max-width: 1200px) { /* HEADER */
  .skin-blue .content-header {
    clear: both;
  }

  .main-header .navbar-custom-menu {
    float: none;
  }

    .main-header .navbar-custom-menu > .navbar-nav {
      float: none;
    }

  /*FORM ELEMENTS*/
  .form-horizontal .label-wrapper .ico-help {
    display: none;
  }

  .form-horizontal .panel-popup .ico-help {
    display: block;
  }

  .form-horizontal .panel-popup .form-group input[type=checkbox] {
    margin-top: 10px;
  }

  .form-control {
    margin-bottom: 3px;
  }
  /* KENDO */
  .k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker,
  .k-colorpicker, .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox, .k-datetimepicker {
    margin-bottom: 3px;
  }

  .k-grid.k-widget > table {
    min-width: 400px;
  }

  /*nested settings*/
  .parent-setting.opened {
    margin-bottom: 5px;
    position: static;
    height: auto !important;
  }

    .parent-setting.opened > div[class^="col-md-"]:first-child {
      padding-bottom: 0;
    }

    .parent-setting.opened div[class^="col-md-"] + div[class^="col-md-"] {
      padding-bottom: 0;
    }

    .parent-setting.opened div[class^="col-md-"] + div[class^="col-md-"] {
      padding-left: 15px;
      height: auto;
    }

      .parent-setting.opened div[class^="col-md-"] + div[class^="col-md-"]:before {
        display: none;
      }

      .parent-setting.opened div[class^="col-md-"] + div[class^="col-md-"] input[type=checkbox] {
        margin-left: 0;
      }

    .parent-setting.opened + .nested-setting .form-group {
      margin-bottom: 5px;
      height: auto !important;
    }

      .parent-setting.opened + .nested-setting .form-group div[class^="col-md-"] + div[class^="col-md-"] {
        position: static;
        padding-left: 15px;
        height: auto;
      }

        .parent-setting.opened + .nested-setting .form-group div[class^="col-md-"] + div[class^="col-md-"]:before {
          display: none;
        }

      .parent-setting.opened + .nested-setting .form-group > div[class^="col-md-"] + div[class^="col-md-"]:after {
        display: none;
      }

      .parent-setting.opened + .nested-setting .form-group:last-child div[class^="col-md-"] + div[class^="col-md-"]:before {
        display: none;
      }

      .parent-setting.opened + .nested-setting .form-group > div[class^="col-md-"]:first-child {
        padding-bottom: 0;
      }

      .parent-setting.opened + .nested-setting .form-group div[class^="col-md-"] + div[class^="col-md-"] {
        padding-bottom: 0;
      }

  .dataTables_scrollBody .dataTables_wrapper {
    width: 100%;
    margin-left: 0;
  }

  div.dataTables_wrapper div.dataTables_info {
    margin-top: 0;
  }

  div.dataTables_wrapper .data-tables-refresh {
    margin-top: 8px;
  }

  .float-lg-left {
    float: none;
  }

  .float-lg-right {
    float: none;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  div.dataTables_wrapper div.dataTables_length label::after {
    right: 45%;
  }
}
@media (min-width: 768) and (max-width: 1023px) {
  div.dataTables_wrapper div.dataTables_length label::after {
    right: 42%;
  }
}
@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length label::after {
    right: 39%;
  }
}
@media (max-width: 992px) {
 
  /*FORM ELEMENTS*/
  .form-horizontal .label-wrapper {
    float: none;
    margin-bottom: 3px;
    margin-top: 5px;
  }

  .form-horizontal .panel-popup .label-wrapper {
    float: right;
  }

    .form-horizontal .panel-popup .label-wrapper .control-label {
      padding-top: 0;
    }

  .form-horizontal .panel-popup .form-group input[type=checkbox] {
    margin-top: 10px;
  }

  .form-group input[type=checkbox] {
    margin-top: 2px;
  }

  .form-group .callout {
    margin-left: 0 !important;
    margin-top: 5px !important;
  }

  .panel-search .form-control {
    max-width: 100%;
  }

  div.dataTables_wrapper div.dataTables_length {
    margin-right: 0;
  }


  /************Custom Responsive Code starts**************/
  .skin-blue .main-header .navbar .nav > li > a.bell_icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

    .skin-blue .main-header .navbar .nav > li > a.bell_icon .notification-bell:before {
      width: 26px;
      height: 18px;
      background-size: 15px;
    }

  .skin-blue .main-header .navbar .nav > li > a.logout {
    border-radius: 15px;
    background: #fff url(images/logout_btn.png) no-repeat 20px center;
    padding: 0 20px 0 50px;
    box-shadow: 0 5px 30px -5px #ddd;
    background-size: 18px;
    height: 30px;
    line-height: 32px;
  }

  .skin-blue .main-header .navbar .nav > li > a.gearBtn {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

    .skin-blue .main-header .navbar .nav > li > a.gearBtn .fa.fa-gears {
      line-height: 30px;
      text-align: center;
      width: 30px;
    }

  .main-header .navbar-custom-menu {
    float: right;
    padding: 7px 10px 0 0;
  }

  .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
    background-color: #43aea8 !important;
    color: #fff !important;
    border-radius: 0;
    border: #43aea8 solid 2px !important;
  }

  .alertBox.table_box {
    width: 100%;
  }

  .table_name {
    width: 50%;
    height: 30px;
    line-height: 30px;
    border-radius: 0 20px;
  }

  .table_icons {
    width: 100%;
    clear: both;
    margin: 10px 0 0 0;
  }

  .table_toggle {
    text-align: center;
    width: 100%;
    clear: both;
  }

  .skin-blue .main-header .navbar {
    height: 95px;
    margin-top: -105px;
  }
  /************Custom Responsive Code Ends**************/
}

@media (max-width: 767px) {
  /* COMMON */

  .modal-dialog {
    width: 90%;
    margin: 10% auto;
  }

  .addAmnt #txtAddAmount {
    width: 87%;
  }
  /* HEADER */
  .main-header {
    max-height: 200px;
  }

  /* FORM ELEMENTS */
  .form-horizontal .panel-popup .label-wrapper {
    float: left;
  }

  div.dataTables_wrapper div.dataTables_length {
    text-align: center;
  }

  .panel .summaryCol {
    width: 100%;
  }

    .panel .summaryCol .summaryLbl {
      width: 50%;
    }

  .table_box {
    width: 97%;
  }
}

@media (min-width: 1367px) {
  .orderPopupBox .modal-dialog {
    top: -25%;
  }
  div.dataTables_wrapper div.dataTables_length label::after {
    right: 41%;
  }


  }
  @media (max-width: 572px) {
    .upload-picture-block .picture-container {
      display: block;
      vertical-align: top;
    }

    .upload-picture-block .upload-button-container {
      display: block;
      padding-left: 0;
      vertical-align: top;
    }

    div.dataTables_wrapper div.dataTables_length {
      text-align: center;
    }

    .float-lg-left {
      float: none;
    }

    .float-lg-right {
      float: none;
    }
  }
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .orderPopupBox .modal-dialog {
    top: -48%;
  }

  .orderPopupBox .modal-content .modal-body {
    height: 464px;
    overflow-y: scroll;
  }
}
