﻿@using Nop.Core
@using Nop.Services.Configuration;
@inject ISettingService settingservice
@inject IWorkContext workContext
@model List<MerchantModel>
@inject IStoreContext storeContext
@{
    var googleAccountKey = storeContext.GoogleMapAccountKey;
    string locDistanceFormat = settingservice.GetSettingByKey<string>("Merchant.Location.Distance.Format", "mi", workContext.GetCurrentStoreId, true);
}
@if (Model.Count > 0)
{
    @foreach (var merchant in Model)
    {
        @await Html.PartialAsync("_MerchantBox", merchant)
    }
}
<script>
//controller = "HomeMerchant", action = "Index"
 function CallMerchant (id) {
     $.ajax({
         cache: false,
         url: '/HomeMerchant/SetMerchant?merchantid=' + id,
         data: {},
                type: 'post',
         success: function (response) {
             location.href = '@Url.RouteUrl("HomeMerchantPage")';
         },
         error: function () {
            alert('An error occurred');
         }
     });
 }
</script>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
     function initLocDistance(a, b, c) {
        if ($("#latLongForDist").length > 0 && $("#latLongForDist").val() != '') {
            var geoLoc = $("#latLongForDist").val().replace(",", "").replace("(", "").replace(")", "").split(' ');
            //Get Distance
            $.ajax({
                url: 'https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=' + geoLoc[0] + ',' + geoLoc[1] + '&destinations=' + a + ',' + b + '&key=@(googleAccountKey)',
                type: 'GET',
                success: function (res) {

                    var result = res;
                    console.log(result);
                    var rest = result.rows[0].elements[0].distance.text;
                    if ('@(locDistanceFormat.ToLower())' == 'km') {
                        rest = (result.rows[0].elements[0].distance.value/1000).toFixed(1)+' km';
                    }
                    $(c).html(rest);
                }
            });
        }
    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
    $(".displaydist").each(function () {
        var venlatCls = $(this).find(".venlatCls").html();
        var venlongCls = $(this).find(".venlongCls").html();
        var distanceInMilesCls = $(this).find(".distanceInMilesCls");
        initLocDistance(venlatCls, venlongCls, distanceInMilesCls);
    });
</script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&callback=initMap">
</script>