﻿@model HeaderLinksModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using System.Text.Encodings.Web

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var currentStore = storeContext.CurrentStore;
    var storeId = currentStore.Id;

    //Check if the setting ShowLoginPoup is true or false.
    bool shouldShowLoginInPopup = settingService.GetSettingByKey("PavilionThemeSettings.ShowLoginPopup", false, storeId, true);

    //Check if we should show the login popup.
    if (shouldShowLoginInPopup)
    {
        var reCaptchaVersion1 = "Version1";


        bool isReCaptchaV1EnabledOnLoginPage = (settingService.GetSettingByKey("captchasettings.enabled", false, storeId, true) &&
                                                settingService.GetSettingByKey("captchasettings.showonloginpage", false, storeId, true) &&
                                                (reCaptchaVersion1.Equals(settingService.GetSettingByKey("captchasettings.recaptchaversion", reCaptchaVersion1, storeId, true), StringComparison.InvariantCultureIgnoreCase)));

        // Since the LoginPopup is added via Ajax, reCaptcha v1 could not be loaded and won't work.
        // So we better not show the LoginPopup if reCaptcha v1 is enabled on the login page
        // http://stackoverflow.com/questions/23174979/google-recaptcha-doesnt-get-loaded-when-bootstrap-call-the-remote-modal
        if (isReCaptchaV1EnabledOnLoginPage)
        {
            shouldShowLoginInPopup = false;
        }
        else
        {
            bool isSSLEnabled = currentStore.SslEnabled;
            bool isSSLForcedOnAllPages = settingService.GetSettingByKey("securitysettings.forcesslforallpages", false, storeId, true);

            //Check if SSL is Enabled for Current Store and if it is forced for all pages so we do not show the Login Popup in that case.
            bool isSSLEnabledAndNotForcedOnAllPages = isSSLEnabled && !isSSLForcedOnAllPages;

            if (isSSLEnabledAndNotForcedOnAllPages)
            {
                shouldShowLoginInPopup = false;
            }
        }
    }
}
@*@if (Model.IsAuthenticated)
{
    Html.AppendPageCssClassParts("userIsLogin");
}*@

    <div id="navbarCollapse" class="collapse navbar-collapse headerlinks">
        <ul class="nav navbar-nav">


            @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_before" })

            <li>
                @await Component.InvokeAsync("LanguageSelector")
            </li>
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>

            @if (Model.IsAuthenticated)
            {
        <li class="custNam">
            @*<a class="RegisterClass orangeNav" href="@Url.RouteUrl("CustomerInfo")">
            <img class="AccountImage" src="/Themes/Snaxa/Content/img/account-2.png">
        </a>*@
            <div class="dropdown AccountDropdown whiteNav">
                <span class="accountSelects dropdown-toggle AccountDropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <a href="javascript:void(0)">
                        @Model.CustomerName <i class="fa fa-angle-down"></i>

                    </a>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="@Url.RouteUrl("CustomerInfo")" class=""><span>@T("Account.MyAccount")</span></a>
                    <a href="@Url.RouteUrl("Logout")" class=""><span>@T("Account.Logout")</span></a>
                </div>
            </div>
        </li>
            }
            else
            {
                //Check if the setting Agent registertion is true or false.
                bool agentRegisterAllow = settingService.GetSettingByKey("setting.storesetup.AgentRegisterAllow", false, storeId);
                @if (Model.WishlistEnabled)
                {
                    @* <li class="headerWish">
                    <a href="@Url.RouteUrl("Wishlist")"><i class="fa fa-heart-o" aria-hidden="true"></i><span>@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span></a>
                </li>*@
                    <li class="wishList">
                        <a href="/customer/wishlist" class="ico-wishlist">
                            <span class="wishlist-label"><i class="fa fa-heart-o" aria-hidden="true"></i><span>@T("Wishlist")</span></span>
                            <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                        </a>
                    </li>

                }
                if (agentRegisterAllow)
                {
                    <li><a href="@Url.RouteUrl("AgentRegister")">@T("NB.Account.AgentRegister")</a></li>
                }

                <li><a href="@Url.RouteUrl("Register")">@T("Account.RegisterDukan")</a></li>
                <li>
                    <a href="@Url.RouteUrl("Login")">@T("Account.Login")</a>
                </li>
            }
            @if (Model.WishlistEnabled)
            {
                <li class="wishList">
                    <a href="/customer/wishlist" class="ico-wishlist">
                        <span class="wishlist-label"><i class="fa fa-heart-o" aria-hidden="true"></i><span>@T("Wishlist")</span></span>
                        <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                    </a>
                </li>
            }
            @*@if (Model.AllowPrivateMessages)
        {
            var unreadMessagesCount = "0";
            if (!String.IsNullOrEmpty(Model.UnreadPrivateMessages)) {
                unreadMessagesCount = Model.UnreadPrivateMessages;
            }
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">(@unreadMessagesCount)</span>
                </a>
            </li>
        }
        @if (Model.WishlistEnabled)
        {
            <li>
                <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                    <span class="wishlist-label">@T("Wishlist")</span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink">
                <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                    <span class="cart-label">@T("ShoppingCart")</span>
                    <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </a>
            </li>
        }*@
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_after" })
        </ul>
        @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
        {
            //new private message notification
            <script type="text/javascript">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
            });
            </script>
        }
    </div>
