﻿@using Nop.Core
@using Nop.Services.Configuration


@inject IStoreContext storeContext
@inject ISettingService settingService
@inject IWorkContext workContext

@{
    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var actionName = Url.ActionContext.RouteData.Values["action"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) &&
                        actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);

    var currentStore = storeContext.CurrentStore;
    int storeId = currentStore.Id;
    bool isHomeSliderFullWidth = settingService.GetSettingByKey("pavilionthemesettings.ishomepagemainsliderfullwidth", false, storeId, true);
    bool stickyCategoryMenuFlyout = settingService.GetSettingByKey("pavilionthemesettings.StickyCategoryMenuFlyout", true, storeId, true);
    bool showCategoriesInSideMenu = settingService.GetSettingByKey("pavilionthemesettings.ShowCategoriesInSideMenu", true, storeId, true);
}
@await Component.InvokeAsync("AdminHeaderLinks")
<div class="blackBg">
    <header class="header clearfix">
        @await Component.InvokeAsync("Widget", new { widgetZone = "header" })

        <div class="header-upper" style="display:none">
            <div class="center">
                @await Component.InvokeAsync("AdminHeaderLinks")
                @{
                    var taxTypeSelectorHtml = await Component.InvokeAsync("TaxTypeSelector");
                    var currencySelectorHtml = await Component.InvokeAsync("CurrencySelector");
                    var languageSelectorHtml = await Component.InvokeAsync("LanguageSelector");
                    var headerSelectorWidgetHtml = await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" });
                }

                @if (!String.IsNullOrEmpty(taxTypeSelectorHtml.ToHtmlString()) ||
                !String.IsNullOrEmpty(currencySelectorHtml.ToHtmlString()) ||
                !String.IsNullOrEmpty(languageSelectorHtml.ToHtmlString()) ||
                !String.IsNullOrEmpty(headerSelectorWidgetHtml.ToHtmlString()))
                {
                    @*@<div class="header-selectors-wrapper">
                            <label>@T("SevenSpikes.Themes.Pavilion.Header.Preferences")</label>
                            <div class="header-selectors">
                                @taxTypeSelectorHtml
                                @currencySelectorHtml
                                @languageSelectorHtml
                                @headerSelectorWidgetHtml
                            </div>
                        </div>
                        <div class="header-selector-widget" style="display: none;">@headerSelectorWidgetHtml</div> *@
                }

            </div>
        </div>

        <nav class="navbar navbar-inverse">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="topAddressSelection">
                <div class="dropdown">
                    <button id="dLabel" class="dropdown-select" type="button">@if (!string.IsNullOrEmpty(workContext.EnteredDeliveryAddress))
                    {@workContext.EnteredDeliveryAddress}</button>
                </div>
            </div>

            <!-- Collection of nav links, forms, and other content for toggling -->
            @await Component.InvokeAsync("HeaderLinks")
        </nav>
    </header>
    </div>
    @if (isHomePage)
    {
        var homePageSliderCss = isHomeSliderFullWidth ? "slider-fullwidth" : "slider-right-column";

        <div class="two-columns-area @homePageSliderCss" style="display:none">
            @if (isHomeSliderFullWidth)
            {
                @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" });
                @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_search_widget" })
            }

            <div class="center">
                <div class="two-colums-area-left">
                    @if (showCategoriesInSideMenu && !isHomeSliderFullWidth)
                    {
                        <div class="category-navigation-list-wrapper">
                            <ul class="category-navigation-list @if (stickyCategoryMenuFlyout){<text>sticky-flyout</text>}"></ul>
                        </div>
                    }
                    @await Component.InvokeAsync("HomepageProducts")
                </div>
                <div class="two-colums-area-right">
                    @if (!isHomeSliderFullWidth)
                    {
                        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" });
                        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_search_widget" })

                    }
                    @await Component.InvokeAsync("Widget", new { widgetZone = "homepage_slider_after" })
                </div>
            </div>
        </div>
    }
