﻿@model CustomerNavigationModel
<div class="block block-account-navigation">
    <div class="Main-head">
        <span class="res-head">@T("Account.MyAccount")</span>
    </div>
    <div class="listbox-resp"> 
        <div class="listbox">
            <ul class="list">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })

                @foreach (var item in Model.CustomerNavigationItems)
                {
                    <li class="@item.ItemClass">
                        <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                    </li>
                }

                <li class="customer-termsPrivacy">
                    <a href="/termsconditionvonzuu" target="_blank" class=" ">@T("NB.Account.TermsPrivacy")</a>
                </li>
                <li class="customer-logout">
                    <a href="@Url.RouteUrl("Logout")" class=" ">@T("NB.Account.Logout")</a>
                </li>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
            </ul>
        </div>
    </div>
</div>
<script>
    $(".res-head").click(function() {
        $(".listbox-resp").toggleClass("menuOpen");
        style.cssText = "-webkit-transition: all 0.5s ease-in-out;";
    });

 

    $('.block-account-navigation .list a').click(function () {
        var $this = $(this);
        $this.siblings().removeClass();
        if ($this.hasClass('active')) {
            $this.removeClass('active').addClass('inactive')
            $this.siblings().removeClass('.active').addClass('inactive')
        } else {
            $this.removeClass('inactive').addClass('active');
        }

    })






</script>