@model Nop.Web.Areas.Admin.Models.NB.QRCodeModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.QRCode.Edit").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("QRCode");
}

<form asp-controller="NBQRCode" asp-action="EditQRCode" method="post" id="qRCode-form" class="nbqRCodeWrap">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.QRCode.Edit")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="NBQRCode">@T("NB.Admin.QRCode.BackToQRCode")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="qrcode-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateQRCode", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="qrcode-delete" />