﻿@model QRCodeSearchModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.QRCode").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("QRCode");
}
@{
    const string hideSearchBlockAttributeName = "QRCodeList.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}
<form asp-controller="NBQRCode" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.QRCode")
        </h1>
        <div class="pull-right">
            <a asp-action="CreateQRCode" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">

                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchVendorId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-qRCode" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "qRCode-grid",
                       UrlRead = new DataUrl("QRCodeList", "NBQRCode", null),
                       SearchButtonId = "search-qRCode",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.SearchVendorId))
                            },
                       ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(QRCodeModel.Id))
                                {
                                    IsMasterCheckBox = true,
                                    Render = new RenderCheckBox("checkbox_qRCode"),
                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                    Width = "50",
                                },
                               new ColumnProperty(nameof(QRCodeModel.VendorName))
                                {
                                    Title = T("NB.Admin.Catalog.QRCode.List.Fields.VendorName").Text,
                                    Width = "100"
                                },
                                new ColumnProperty(nameof(QRCodeModel.PDFLink))
                                {
                                    Title = T("NB.Admin.Catalog.QRCode.List.Fields.PDFLink").Text,
                                    Width = "200",
                                    Render = new RenderCustom("renderPDFLink")
                                },
                               new ColumnProperty(nameof(QRCodeModel.Id))
                               {
                                   Title = T("Admin.Common.Edit").Text,
                                   Width = "100",
                                   ClassName =  NopColumnClassDefaults.Button,
                                   Render = new RenderButtonEdit(new DataUrl("EditQRCode"))
                               },
                       }
                   })
                        <script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "NBQRCode"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#deleteSelectedFailed-info').text(errorThrown);
                                            $('#deleteSelectedFailed').click();
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            updateTable('#qRCode-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });

                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function renderPDFLink(data, type, row, meta) {
        return '<a class="btn btn-default bg-blue" href="/Admin/NBQRCode/CreatePDFFile?qrCodeId=' + row.Id +'">PDF</a >';
    }
</script>