﻿@model CustomerOrderListModel
@{
    Layout = "_ColumnsTwo";
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Orders })
}
<div class="page account-page order-list-page">
    <div class="page-body">
        <div class="page-title">
            <h1>@*@T("Account.MyAccount") -*@ @T("Account.CustomerOrders")</h1>
        </div>
        @if (Model.RecurringOrders.Count > 0)
        {
            <div class="section recurring-payments">
                <div class="title">
                    <strong>@T("Account.CustomerOrders.RecurringOrders")</strong>
                </div>
                <form asp-route="CustomerOrders" method="post">
                    @{
                        var canRetryRecurringOrders = Model.RecurringOrders.Any(recurring => recurring.CanRetryLastPayment);
                    }
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col width="1" />
                                <col />
                                <col />
                                <col />
                                <col />
                                @if (canRetryRecurringOrders)
                                {
                                    <col />
                                }
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <span class="item-count">#</span>
                                    </th>
                                    <th class="start-date" data-hide="w410, w480, w580">
                                        @T("Account.CustomerOrders.RecurringOrders.StartDate")
                                    </th>
                                    <th class="cycle-info" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.CycleInfo")
                                    </th>
                                    <th class="next-payment">
                                        @T("Account.CustomerOrders.RecurringOrders.NextPayment")
                                    </th>
                                    <th class="total-cycles" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.TotalCycles")
                                    </th>
                                    <th class="cycles-remaining" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.CyclesRemaining")
                                    </th>
                                    <th class="initial-order" data-hide="w410, w480, w580, w768">
                                        @T("Account.CustomerOrders.RecurringOrders.InitialOrder")
                                    </th>
                                    @if (canRetryRecurringOrders)
                                    {
                                        <th class="retry">
                                            @T("Account.CustomerOrders.RecurringOrders.RetryLastPayment")
                                        </th>
                                    }
                                    <th class="cancel" data-hide="w410">
                                        @T("Account.CustomerOrders.RecurringOrders.Cancel")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var counter = 0;}
                                @foreach (var item in Model.RecurringOrders)
                                {
                                    counter++;
                                    <tr>
                                        <td>
                                            <span class="item-count">@counter</span>
                                        </td>
                                        <td class="start-date">
                                            @item.StartDate
                                        </td>
                                        <td class="cycle-info">
                                            @item.CycleInfo
                                        </td>
                                        <td class="next-payment">
                                            @item.NextPayment
                                        </td>
                                        <td class="total-cycles">
                                            @item.TotalCycles
                                        </td>
                                        <td class="cycles-remaining">
                                            @item.CyclesRemaining
                                        </td>
                                        <td class="initial-order">
                                            <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.InitialOrderId })">@string.Format(T("Account.CustomerOrders.RecurringOrders.ViewInitialOrder").Text, item.InitialOrderNumber)</a>
                                        </td>
                                        @if (canRetryRecurringOrders)
                                        {
                                            <td class="retry">
                                                @if (item.CanRetryLastPayment)
                                                {
                                                    <input type="submit" name="retryLastPayment_@(item.Id)" value="@T("Account.CustomerOrders.RecurringOrders.RetryLastPayment")" class="button-2 retry-recurring-order-button" />
                                                }
                                            </td>
                                        }
                                        <td class="cancel">
                                            @if (item.CanCancel)
                                            {
                                                <input type="submit" name="cancelRecurringPayment@(item.Id)" value="@T("Account.CustomerOrders.RecurringOrders.Cancel")" class="button-2 cancel-recurring-order-button" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            if (Model.RecurringPaymentErrors.Any())
            {
                <div class="message-error">
                    <ul>
                        @foreach (var error in Model.RecurringPaymentErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
        }
        @if (Model.Orders.Count > 0)
        {
            <div class="order-list">
                @foreach (var order in Model.Orders)
                {
                <div class="section order-item">
                    <a href="#" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')">
                        <div class="order_labels">
                            <label>@T("Account.CustomerOrders.OrderStatus")</label>
                            <label>@T("Account.CustomerOrders.OrderNumber")</label>
                            <label>@T("Account.CustomerOrders.OrderDate")</label>
                            <label>@T("Account.CustomerOrders.DeliveryDate")</label>
                            <label>@T("Account.CustomerOrders.DeliveryAddress")</label>
                            @*<label>@T("Account.CustomerOrders.OrderTotal")</label>*@
                        </div>
                        <div class="order_details">
                            <div class="orderLabelMobile">@T("Account.CustomerOrders.OrderStatus")</div>
                            <span class="order-status received_clr @order.OrderStatusEnum.ToString().ToLowerInvariant()">@order.OrderStatus</span>
                            <div class="orderLabelMobile">@T("Account.CustomerOrders.OrderNumber")</div>
                            <span class="order-number"> @order.CustomOrderNumber</span>
                            <div class="orderLabelMobile">@T("Account.CustomerOrders.OrderDate")</div>
                            <span class="order-date">@order.CreatedOn.ToString()</span>
                            <div class="orderLabelMobile">@T("Account.CustomerOrders.DeliveryDate")</div>
                            <span class="order-del-date">@order.OrderScheduleDate.ToString()</span>
                            <div class="orderLabelMobile">@T("Account.CustomerOrders.DeliveryAddress")</div>
                            @if (order.Address != null)
                            {
                        <div class="section address-item">
                            <div class="title home_add">
                                <strong>@order.Address.AddressType</strong>
                            </div>
                            <ul class="info">
                                <li class="email">
                                    <label>@T("Address.Fields.Email"):</label>
                                    @order.Address.Email
                                </li>
                                @if (!string.IsNullOrEmpty(order.Address.Address1))
                                {
                        <li class="address1">
                            @order.Address.Address1
                        </li>}
                                @if (!string.IsNullOrEmpty(order.Address.Address2))
                                {
                        <li class="address2">
                            @order.Address.Address2
                        </li>}
                                @if (!string.IsNullOrEmpty(order.Address.Landmark))
                                {
                        <li class="landmark">
                            @order.Address.Landmark
                        </li>}
                                @if (order.Address.PhoneEnabled)
                                {
                        <li class="phone">
                            <label>@T("Address.Fields.PhoneNumber"):</label>
                            @order.Address.PhoneNumber
                        </li>}
                                @if (order.Address.FaxEnabled)
                                {
                        <li class="fax">
                            <label>@T("Address.Fields.FaxNumber"):</label>
                            @order.Address.FaxNumber
                        </li>}
                                @if (order.Address.CompanyEnabled && !string.IsNullOrEmpty(order.Address.Company))
                                {
                        <li class="company">@order.Address.Company</li>}
                            </ul>
                        </div> }


                                            @*<span class="order-total">@order.OrderTotal</span>*@
                        </div>
                        @*<ul class="info ">
                <li><label class="order_labels"></label></li>
                <li><label class="order_labels"></label> </li>
                <li><label class="order_labels"></label> </li>
                <li><label class="order_labels"></label> </li>
                @*<a onclick="javascript:OpenWindow('/Tracking/OrderTrack.html?OrderId=@order.OrderGuId', 800, 320, true); return false;" href="javascript:void(0);">Click here For Track Your Order</a>
            </ul>*@
                                    
                        <div class="buttons">
                            <input type="button" value="@T("Account.CustomerOrders.rateAndReviewOrder")" class="button-2 order-details-button rate_rev_btn" />
                            @*<input type="button" value="@T("Account.CustomerOrders.ReOrder")" class="button-2 order-details-button re_btn" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = order.Id })')" />*@
                            <!--Custom code added for Rating and cancel-->
                            @* @if (order.ShowRtingReviewButton)
                {
                    <input type="button" id="rat-rev-@order.Id" value="@T("Account.CustomerOrders.RatingReview.Button")" onclick="loadRatingReviewComp(@order.Id)" />
                }
                @if (order.OrderStatus == Nop.Core.Domain.Orders.OrderStatus.Received.ToString())
                {
                    <input type="submit" value="@T("Common.Cancel")" onclick="cancelOrder(@order.Id)" class="button-2 cancel-recurring-order-button" />
                }
                <!--End Custom code added for Rating and cancel-->
                @if (order.IsReturnRequestAllowed)
                {
                    <input type="button" value="@T("Account.CustomerOrders.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = order.Id })')" />
                }
                <input type="button" value="@T("Account.CustomerOrders.OrderDetails")" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" />
                            *@
                        </div>
                    </a>
                </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerOrders.NoOrders")
            </div>
        }
    </div>
    <!--Custom code added for rating-->
    <div id="dv-rating-review-container" style="display:none;">
        @await Component.InvokeAsync("RatingReview", new { showEmpty = true })
    </div>
    <script type="text/javascript" asp-location="Footer">
        function loadRatingReviewComp(orderId) {
            var url = '@Url.Action("LoadRatingReview", "RatingReview")' + '?orderId=' + orderId;
            $('#dv-rating-review-container').load(url, function () {
                $('#dv-rating-review-container').show();
            });
        }
        function cancelOrder(orderId) {
            if (confirm('@(T("Account.CustomerOrders.CancelOrder.Confirm").Text)')) {
             var url = '@Url.Action("CancelOrder", "Order")' + '?orderId=' + orderId;
             location.href = url;
            }
        }
    </script>
    <!--End Custom code added for rating-->
</div>
