﻿@model ProductDetailsModel

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib/magnific-popup/magnific-popup.css");
 }

<div class="gallery">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
    <div class="picture">
        @if (Model.DefaultPictureZoomEnabled && Model.PictureModels.Count == 1)
        {  
            <script asp-location="Footer">
                $(document).ready(function() {
                    $('.gallery .picture > a').on('click', function(e) {
                        e.preventDefault();

                        $.magnificPopup.open({
                            items: [{ src: $(this).attr('href') }],
                            type: 'image',
                            removalDelay: 300,
                            tClose: '@T("Media.MagnificPopup.Close")',
                            tLoading: '@T("Media.MagnificPopup.Loading")'
                        });
                    });
                });
            </script>

            <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
            </a>
        }
        else
        {
            <a class="no-pointer">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
            </a>
        }

        @if (Model.PictureModels.Count > 1)
        {
            <div class="picture-thumbs-navigation-arrow picture-thumbs-prev-arrow">
                <span>@T("SevenSpikes.Themes.Uptown.Product.ImageThumbs.Prev")</span>
                <img src="@Model.DefaultPictureModel.ImageUrl" data-fullSizeImageUrl="@Model.DefaultPictureModel.FullSizeImageUrl" alt="Previous" />
            </div>
            <div class="picture-thumbs-navigation-arrow picture-thumbs-next-arrow">
                <span>@T("SevenSpikes.Themes.Uptown.Product.ImageThumbs.Next")</span>
                <img src="@Model.DefaultPictureModel.ImageUrl" data-fullSizeImageUrl="@Model.DefaultPictureModel.FullSizeImageUrl" alt="Next"/>
            </div>
        }
    </div>
    @if (Model.PictureModels.Count > 1)
    {
        <div class="picture-thumbs">
            @foreach (var picture in Model.PictureModels)
            {
                <a class="thumb-popup-link" href="@picture.FullSizeImageUrl" title="@picture.Title">
                    <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                </a>
            }
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
</div>