﻿@model ItemsListModel
<input type="hidden" id="storingOrder" value="5" />
<input type="hidden" id="viewMode" value="grid" />
@if (!string.IsNullOrEmpty(Model.Keywords) || Model.SelectedImageTags.Count > 0)
{
    <div class="topFilterShort">
        <div class="topFilterList">
            @if (!string.IsNullOrEmpty(Model.Keywords))
            {
                <div id="slctd-txtKeywords">@Model.Keywords <span onclick="AjaxFilter.removeKeywordsFilter('txtKeywords')">X</span></div>
            }

            @foreach (var item in Model.SelectedImageTags)
            {
                <div id="slctd-dvImageTags_@(item.Value)">@item.Text <span onclick="AjaxFilter.removeFilter(@(item.Value))">X</span></div>
            }

            <style>
                .menuItemsList.bestsellers { display: none !important; }
            </style>

            <div class="clearAll"><span onclick="AjaxFilter.clearAllFilter()">@T("Items.Filter.ClearAll")</span></div>
        </div>
    </div>

}

@*BestSeller Products --Start--*@
@*@await Component.InvokeAsync("HomepageBestSellers")*@
@*--End--*@
<div class="row marchentfilterBelow text-center">
    <div class="filtersSection">
        <div class="merchantHeadDropdown">
            <label class="headLabel">@T("Catalog.OrderBy") :</label>
            <div class="sortingList select fa"> 
                <nop-select asp-for="@Model.SortingList" asp-items="@Model.SortingList" />
            </div>
        </div>
        <div class="merchantHeadFilter">
            <a onclick="viewMode('grid');"> <img class="full" src="/Themes/Dukans/Content/img/window-blue.png" /></a>
            <a onclick="viewMode('list');"> <img class="half" src="/Themes/Dukans/Content/img/window-grey.png" /></a>
        </div>
    </div>
</div>


@*<div class="sortingList product">
    <nop-select asp-for="@Model.SortingList" asp-items="@Model.SortingList" />
    <div class="merchantHeadFilter">
        <a href="#"> <img class="full" src="/Themes/Dukans/Content/img/window-blue.png" /></a>
        <a href="#"> <img class="half" src="/Themes/Dukans/Content/img/window-grey.png" /></a>
    </div>
</div>*@
<div>@Model.CategoryName (@Model.PagingFilteringContext.TotalItems)</div>
@if (Model.Items.Count > 0)
{
    <div  class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
        @foreach (var product in Model.Items)
        {
            product.ViewMode = Model.PagingFilteringContext.ViewMode;
            @await Html.PartialAsync("_ProductBoxMerchant", product)
        }
    </div>
}
@{
    var pager = Html.CustomPager(Model.PagingFilteringContext).QueryParam("pagenumber");
}
@if (!pager.IsEmpty())
{
    <div class="pager">
        @pager
    </div>
}

<script>
    $("#SortingList").change(function () {
        $("#storingOrder").val($('#SortingList option:selected').val());
        AjaxFilter.filterItems(1);
    });
</script>

<script>
    function viewMode(data) {  
        var abc = $("#viewMode").val(data).val();
        AjaxFilter.filterItems(1);
    }
</script>