﻿@model ShoppingCartModel.DiscountBoxModel
@using Nop.Core
@inject IWebHelper webHelper
@if (true)
{
    var storeLocation = webHelper.GetStoreLocation();
    <div class="coupon-box">
        <div class="title">
            <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
        </div>
        <div class="hint">
            @T("ShoppingCart.DiscountCouponCode.Tooltip")
        </div>
        <div class="coupon-code">
            <input name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code" placeholder="@T("Admin.GiftCards.Fields.GiftCardCouponCode")" />
            <input type="button" name="applydiscountcouponcode" id="applydiscountcouponcode"
                   value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button apply-discount-coupon-code-button" />
        </div>
        @foreach (var message in Model.Messages)
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @message
            </div>
        }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
        {
            <div class="current-code">
                <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                @*empty value (little hack for FormValueExistsAttribute)*@
                <input type="button" id="removediscount-@discount.Id" value="@T("Common.Remove")" title="@T("Common.Remove")" class="remove-discount-button rmv-disc-cpn" />
            </div>
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#discountcouponcode').bind("keydown",function (event) {
                if (event.keyCode == 13) {
                    saveDiscountCouponCode();
                    return false;
                }
            });
            $('#applydiscountcouponcode').bind("click",function () {
                saveDiscountCouponCode();
                    return false;
            });
            $('.rmv-disc-cpn').bind("click",function () {
                var discountid = $(this).attr('id').split('-')[1];
                removeDiscountCouponCode(discountid);
                return false;
            });
            var saveDiscountCouponCode = function () {
                $.ajax({
                        cache: false,
                    url: '@(storeLocation)shoppingcart/applydiscountcouponcustom/',
                        data: $('#mini-shopping-cart-form').serialize(),
                        type: 'post',
                    success: function (response) {
                        if (response.success) {
                            $('#flyout-cart').html(response.html);
                            }
                        },
                        error: function () {
                            alert('An error occurred');
                        }
                    });
            }
            var removeDiscountCouponCode = function (discountid) {
                $.ajax({
                    cache: false,
                    url: '@(storeLocation)shoppingcart/removediscountcouponcustom/',
                    data: { discountId:discountid},
                        type: 'post',
                        success: function (response) {
                            if (response.success) {
                                $('#flyout-cart').html(response.html);
                            }
                        },
                        error: function () {
                            alert('An error occurred');
                        }
                    });
            }
        });
    </script>
}