﻿@model MerchantModel

<div data-id="@Model.Id" class="col-sm-3 col-xs-12 restaurBox clearfix">
    <div class="box">
        <div class="img clearfix">
            <a href="javascript:void(0);" onclick="CallMerchant(@Model.Id)" class="imginclick" title="@Model.PictureModel.Title" imgInClick="@Model.PictureModel.ImageUrl"></a>
        </div>
        <div class="addToWish heart-@Model.Id @(Model.InFavoritelist ? "active" : "")">
            <button onclick="addRemoveMerchantToFavorite(@Model.Id, @(Model.IsMyaccountPage ? "true":"false"))" tabindex="0">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </button>
        </div>
        <div class="restaur_desc">
            <a href="javascript:void(0);" onclick="CallMerchant(@Model.Id)" title="@Model.PictureModel.Title" class="rest_logo imginclick" imgInClick="@Model.PictureModel.ImageUrl"></a>
            @*<span class="offer">25% Off</span>*@
            <a href="javascript:void(0);" onclick="CallMerchant(@Model.Id)" title="@Model.PictureModel.Title" class="rest_title">
                <h2>@Model.Name</h2>
            </a>
            <div class="time_rating">
                <div class="Time">
                    <div class="openTime">
                        @if (Model.MerchantIsAvailable)
                        {
                            @T("NB.Admin.Merchant.Available")
                        }
                        else
                        {
                            <em>@Model.Opentime -</em> <em> @Model.Closetime</em>
                        }
                    </div>
                    @* <div class="row rating"><img class="watch" src="/Themes/MallSkape/Content/img/watch.png" />
                <em> @Model.RatingPercent</em></div>*@

                </div>
                <div class="rating">
                    <div class="ratingli">
                        <span>
                            @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant), merchantId = Model.Id })
                        </span>
                    </div>
                </div>
            </div>
            <div class="restaurBoxAddress">
                @*@workContext.CurrentMerchantAddress*@
                <span class="merchant_desc">
                    @if (!string.IsNullOrEmpty(Model.Address1))
                    {
                        @Model.Address1; <text>,</text>
                    }
                    @if (!string.IsNullOrEmpty(Model.Address2))
                    {
                        @Model.Address2; <text>,</text>
                    }
                    @if (!string.IsNullOrEmpty(Model.City))
                    {
                        @Model.City; <text>,</text>
                    }
                    @if (!string.IsNullOrEmpty(Model.State))
                    {
                        @Model.State; <text>,</text>
                    }
                    @if (!string.IsNullOrEmpty(Model.State))
                    {
                        @Model.Zip;
                    }
                </span>

            </div>
            <div class="diningText">

                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <i class="icon icon-dine"></i>
                    @Html.Raw(Model.Description)
                }

            </div>
            <a href="javascript:void(0);" onclick="CallMerchant(@Model.Id)" class="quick_view">@T("NB.Quick.View")</a>
            @{
                @* string[] venLtLngStrArr = Model.Geolocation?.Replace("{\"type\":\"MARKER\",\"coordinates\":{\"lat\":", "").Replace("\"lng\":", "").Replace("}}", "")?.Split(',');
            if (venLtLngStrArr != null && venLtLngStrArr.Length > 0)
            {
                <div class="displaydist">
                    <em>@T("nb.Distance")</em>
                    <div class="venlatCls" id="venlatPos">@venLtLngStrArr[0].ToString()</div>
                    <div class="venlongCls" id="venlongPos">@(venLtLngStrArr.Length > 1 ? venLtLngStrArr[1].ToString() : "")</div>
                    <div class="distanceInMilesCls" id="distanceInMiles"></div>
                </div>
            }*@
            }
            @* <ul class="merchentRatingTimeList">
            @{
                bool RatingPercent = false;
            }
            @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.RatingPercent != null)

            {
                RatingPercent = workContext.CurrentMerchant.RatingPercent.Value;
            }
            @if (RatingPercent)
            {
                <li class="ratingli">
                    @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant),merchantId = Model.Id }) Rating
                </li>
            }
        </ul>*@
            @*<div class="isDelivery">@Model.IsDelivery</div>
        <div class="isTakeAway">@Model.IsTakeAway</div>
        <div class="isDining">@Model.IsDining</div>*@
        </div>
    </div>
</div>