﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
        @*@await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })*@
        <div class="homeSliderOneItem">
            <div class="oneItemSlider">
                <div class="oneSlItem">
                    <img src="/Themes/AdilVMall/Content/images/sliderImgB1.jpg" />
                </div> 
            </div>
        </div>


        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers") 
        <div class="homeSliderOneItem">
            <div class="oneItemSlider">
                <div class="oneSlItem">
                    <img src="/Themes/AdilVMall/Content/images/sliderImgH1.jpg" />
                </div>
                <div class="oneSlItem">
                    <img src="/Themes/AdilVMall/Content/images/sliderImgH1.jpg" />
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("HomepageProducts")
        <div class="homeSliderOneItem">
            <div class="oneItemSlider">
                <div class="oneSlItem">
                    <img src="/Themes/AdilVMall/Content/images/sliderImgG1.jpg" />
                </div>
                <div class="oneSlItem">
                    <img src="/Themes/AdilVMall/Content/images/sliderImgG1.jpg" />
                </div>
            </div>
        </div>
        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")*@
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>


