﻿@using Nop.Core
@using Nop.Core.Domain.Customers
@model AddressModel
@inject IWorkContext workContext
@{
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}


<input asp-for="Id" type="hidden" />
<div class="checkAdressSt" style="display:none;"></div>
<div>
    @*@if (!workContext.CurrentCustomer.IsRegistered())
        {
            <div class="inputs">
                <input asp-for="FirstName" placeholder="@T("popup.name.text")" />
            </div>
            <div class="inputs">
                <input asp-for="Email" type="email" placeholder="@T("popup.email.text")" />
            </div>
        }
        else
        {*@
    <div class="inputs flname" style="display:none;">
        @*<div class="row">
                <div class="col-md-12">
                    <label for="BillingNewAddress_FirstName"><i class="colorBlue">*</i> Name:</label>
                </div>
            </div>*@

    </div>
    @*}*@
    <div class="page-body form-inputs">

        <div class="row add">
            <div class="col-md-12 padding-address">
                <div class="floating_labels">
                    <input asp-for="Address2" placeholder=" " />
                    <label asp-for="Address2">@T("nb.popup.address")</label>
                </div>
                <span asp-validation-for="Address2"></span>
            </div>
        </div>
        <div class="row add">
            <div class="col-md-6 addfieldLeft padding-address">
                <div class="floating_labels">
                    <input asp-for="HouseNumber" placeholder=" " />
                    <label asp-for="HouseNumber" asp-postfix="">@T("Account.Fields.House No.")</label>
                </div>
                <span asp-validation-for="HouseNumber"></span>
            </div>
            <div class="col-md-6 addfieldRight padding-address">
                <div class="floating_labels">
                    <input asp-for="Address1" placeholder=" " />
                    <label asp-for="Address1" asp-postfix="">@T("popup.door.text")</label>
                </div>
                <span asp-validation-for="Address1"></span>
            </div>
        </div>
        <div class="row add">
            <div class="col-md-6 addfieldLeft padding-address">
                <div class="floating_labels">
                    <input asp-for="Landmark" placeholder=" " />
                    <label asp-for="Landmark" asp-postfix="">@T("popup.landmark.text")</label>
                </div>
                <span asp-validation-for="Landmark"></span>
            </div>
            <div class="col-md-6 addfieldRight padding-address">
                <div class="floating_labels">
                    <input asp-for="ZipPostalCode" placeholder=" " />
                    <label asp-for="ZipPostalCode" asp-postfix="">@T("popup.postalcode.text")</label>
                </div>
                <span asp-validation-for="ZipPostalCode"></span>
            </div>
        </div>

        <div class="row FirstLastName">
            <div class="col-sm-6">
                <div id="FirstName" class="floating_labels">
                    <input asp-for="FirstName" type="text" placeholder="@T("nb.Firstname")" />
                    <label asp-for="FirstName">@T("nb.Firstname")</label>
                    <nop-required />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="LastName" class="floating_labels">
                    <input asp-for="LastName" type="text" placeholder="@T("nb.lastname")" />
                    <label asp-for="LastName">@T("nb.Firstname")</label>
                    <nop-required />
                    <span asp-validation-for="FirstName"></span>
                </div>

            </div>
        </div>
        <div class="col-md-12 padding-address">
            <div id="PhoneNumber" class="floating_labels">
                <input asp-for="PhoneNumber" type="text" placeholder="@T("Address.Fields.PhoneNumber")" />
                <label asp-for="PhoneNumber" asp-postfix="">@T("Address.Fields.PhoneNumber")</label>
            </div>
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="col-md-12 padding-address">
            <div id="Email" class="floating_labels">
                <input asp-for="Email" type="text" placeholder="@T("Address.Fields.Email")" />
                <label asp-for="Email" asp-postfix="">@T("Address.Fields.Email")</label>
            </div>
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div style="clear:both;">
        @if (Model.AddressTypes.Count > 0)
        {
            if (!Model.AddressTypeId.HasValue || Model.AddressTypeId == 0)
            {
                Model.AddressTypeId = Convert.ToInt32(Model.AddressTypes.FirstOrDefault().Value);
            }
            foreach (var item in Model.AddressTypes)
            {
                string style_class = "type-option-btn";
                if (item.Value == Model.AddressTypeId.ToString())
                {
                    style_class += " type-option-btn-selected";
                }
                <input type="button" id="address-type-@(item.Value)" class="@(@style_class)" onclick="Billing.setAddressType('@(item.Value)')" value="@item.Text" /> @*<a href="javascript:void(0);" class="@style_class" onclick="Billing.setAddressType(this,'@(item.Value)')">@item.Text</a>*@}
        }
        <input type="hidden" asp-for="AddressTypeId" id="hdAddressTypeId" />
    </div>
    <div class="address_type">
        <ul>
            <li>
                <label class="radio_container add_type_home">
                    @T("NB.Address.Home")
                    <input type="radio" asp-for="LocationType" value="1" id="chkbxHome" checked />
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="radio_container add_type_office">
                    @T("NB.Address.Office")
                    <input type="radio" asp-for="LocationType" value="2" id="chkbxOffice" />
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="radio_container add_type_other">
                    @T("NB.Address.Other")
                    <input type="radio" asp-for="LocationType" value="3" id="chkbxOther" />
                    <span class="checkmark"></span>
                </label>
            </li>
        </ul>


        <div class="newAddresMsg">
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <span style="color:red">@(Model.Message)</span>
            }
            <input type="hidden" asp-for="AddressTypeId" id="hdAddressTypeId" />
            <input type="hidden" asp-for="Latitude" id="hdLatitude" />
            <input type="hidden" asp-for="Longitude" id="hdLongitude" />
        </div>

    </div>
    <div class="edit-address" style="display:none;">
        @*}*@

        @if (Model.PhoneEnabled)
        {
            <div class="inputs isdPhoneNo" style="display:none;">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="BillingNewAddress_PhoneNumber"><i class="colorBlue">*</i> Phone number:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 pR0">
                        <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                        <nop-required />
                        <span asp-validation-for="ISDId"></span>
                    </div>
                    <div class="col-md-10 pL0">
                        <input asp-for="PhoneNumber" />
                        @if (Model.PhoneRequired)
                        {
                            <nop-required />
                        }
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
            </div>
        }



        @if (Model.CompanyEnabled)
        {
            <div class="inputs">
                <label asp-for="Company" asp-postfix=":"></label>
                <input asp-for="Company" />
                @if (Model.CompanyRequired)
                {
                    <nop-required />
                }
                <span asp-validation-for="Company"></span>
            </div>
        }
        <div class="inputs" style="display:none;">
            <label asp-for="CountryId" asp-postfix=":"></label>
            <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
            <nop-required />
            <span asp-validation-for="CountryId"></span>
        </div>



        <div class="inputs" style="display:none;">
            <label asp-for="StateProvinceId" asp-postfix=":"></label>
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span asp-validation-for="StateProvinceId"></span>
        </div>


        <div class="inputs" style="display:none">
            <label asp-for="City" asp-postfix=":"></label>
            <input asp-for="City" />
            @if (Model.CityRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="City"></span>
        </div>

        @*@if (Model.StreetAddress2Enabled)
            {*@

        @*}*@
        @*@if (Model.StreetAddressEnabled)
            {*@

        @if (Model.ZipPostalCodeEnabled)
        {
            <div class="inputs" style="display:none">
                <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                <input asp-for="ZipPostalCode" />
                @if (Model.ZipPostalCodeRequired)
                {
                    <nop-required />
                }
                <span asp-validation-for="ZipPostalCode"></span>
            </div>
        }

        @if (Model.FaxEnabled)
        {
            <div class="inputs">
                <label asp-for="FaxNumber" asp-postfix=":"></label>
                <input asp-for="FaxNumber" />
                @if (Model.FaxRequired)
                {
                    <nop-required />
                }
                <span asp-validation-for="FaxNumber"></span>
            </div>
        }
        @if (Model.CustomAddressAttributes.Count > 0)
        {
            @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
        }
    </div>


    <script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('BillingNewAddress_Address2')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);

        // Set initial restrict to the greater list of countries.
        //autocomplete.setComponentRestrictions(
            //{ 'country': ['nz'] });

    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //document.getElementById("address_attribute_2").value = place.geometry.location;
        //Added By Mah
        //var address1 = place.formatted_address;
        var latitude = place.geometry.location.lat();
        var longitude = place.geometry.location.lng();
        var latlng = new google.maps.LatLng(latitude, longitude);
        var geocoder = geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    //var address2 = results[0].formatted_address;
                    var pin = results[0].address_components[results[0].address_components.length - 1].long_name;
                    var country = results[0].address_components[results[0].address_components.length - 2].long_name;
                    var state = results[0].address_components[results[0].address_components.length - 3].long_name;
                    var city = results[0].address_components[results[0].address_components.length - 4].long_name;
                    //alert(country);
                    //document.getElementById('BillingNewAddress_CountryId').value = "United Kingdom";
                    //var s = document.getElementById('BillingNewAddress_CountryId');
                    //s.options[1].selected = true;
                    //document.getElementById('BillingNewAddress_CountryId').onchange();
                    //alert(state);
                    //document.getElementById('BillingNewAddress_StateProvinceId').value = state;
                    var textToFind = state;

                    var dd = document.getElementById('BillingNewAddress_StateProvinceId');
                    for (var i = 0; i < dd.options.length; i++) {
                        if (dd.options[i].text === textToFind) {
                            dd.selectedIndex = i;
                            break;
                        }
                    }
                    document.getElementById('hdLatitude').value = latitude;
                    document.getElementById('hdLongitude').value = longitude;
                    document.getElementById('BillingNewAddress_City').value = city;
                    //document.getElementById('BillingNewAddress_ZipPostalCode').value = pin;
                    GetLocation(false);
                }
            }
        });

    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }


    function GetLocation(callSave) {
         if ($("#hdbilling_address_id").val() == '') {
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById("BillingNewAddress_Address2").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                //debugger;
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                $.ajax({
                    url: "/checkout/CheckGeoArea?latlong=" + latitude + "%20" + longitude + "", success: function (result) {
                        $(".checkAdressSt").html(result);
                        if (!result) {
                            $("#BillingNewAddress_Address2").val("");
                            $("#BillingNewAddress_Address2").addClass("input-validation-error");
                            if ($("#BillingNewAddress_Address2").parent().find(".custom-error").length === 0) {
                                $("#BillingNewAddress_Address2").parent().append("<div class='custom-error' style='color:red; font-size:12px'>"+"@T("Address.OutOfDeliveryArea.Message")"+"</div>");
                            }
                        } else {
                            $("#BillingNewAddress_Address2").parent().find(".custom-error").remove();
                            $("#BillingNewAddress_Address2").removeClass("input-validation-error");

                            if (!(callSave === "undefined") && callSave) {
                                Billing.save();
                            }
                        }
                    }
                });


            } else {
                 $("#BillingNewAddress_Address2").val("");
                $("#BillingNewAddress_Address2").addClass("input-validation-error");
                if ($("#BillingNewAddress_Address2").parent().find(".custom-error").length === 0) {
                    $("#BillingNewAddress_Address2").parent().append("<div class='custom-error' style='color:red; font-size:12px'>"+"@T("Address.OutOfDeliveryArea.Message")"+"</div>");
                }
            }
        });
           }
        else {
            Billing.save();
        }
    };

     function CheckGeoArea(address,addId) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                //debugger;
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                $.ajax({
                    url: "/checkout/CheckGeoArea?latlong=" + latitude + "%20" + longitude + "", success: function (result) {
                        $(".checkAdressSt").html(result);
                        if (!result) {
                           alert('@T("Address.OutOfDeliveryArea.Message")');
                        } else {
                            Billing.selectAddress(addId);
                        }
                    }
                });
            }
        });
    };




    $(function () {
        $("#BillingNewAddress_Address2").blur(function () {
            if ($("#BillingNewAddress_Address2").val().length > 0 && $("#BillingNewAddress_Address1").val().length > 0) {
                $("#billing-buttons-container #billing-button-continue").addClass("active");
            }
        });

        $("#BillingNewAddress_Address1").blur(function () {
            if ($("#BillingNewAddress_Address2").val().length > 0 && $("#BillingNewAddress_Address1").val().length > 0) {
                $("#billing-buttons-container #billing-button-continue").addClass("active");
            }
        });

    });

    </script>
    <style>
        #autoComError { display: none; font-size: 12px; color: #f6794d; padding: 0 0 0 18px; }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKuUGMz8-xYyc6t1YWUhygrrkB4-WAFeY&libraries=places&callback=initAutocomplete" async defer></script>
