﻿@model CustomerOrderListModel
@{
    Layout = "_ColumnsTwo";
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Orders })
}
<div class="page account-page order-list-page">
    <div class="page-body">
        <div class="page-title">
            <h1>@*@T("Account.MyAccount") -*@ @T("Account.CustomerOrders")</h1>
        </div>
        @if (Model.RecurringOrders.Count > 0)
        {
            <div class="section recurring-payments">
                <div class="title">
                    <strong>@T("Account.CustomerOrders.RecurringOrders")</strong>
                </div>
                <form asp-route="CustomerOrders" method="post">
                    @{
                        var canRetryRecurringOrders = Model.RecurringOrders.Any(recurring => recurring.CanRetryLastPayment);
                    }
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col width="1" />
                                <col />
                                <col />
                                <col />
                                <col />
                                @if (canRetryRecurringOrders)
                                {
                                    <col />
                                }
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <span class="item-count">#</span>
                                    </th>
                                    <th class="start-date" data-hide="w410, w480, w580">
                                        @T("Account.CustomerOrders.RecurringOrders.StartDate")
                                    </th>
                                    <th class="cycle-info" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.CycleInfo")
                                    </th>
                                    <th class="next-payment">
                                        @T("Account.CustomerOrders.RecurringOrders.NextPayment")
                                    </th>
                                    <th class="total-cycles" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.TotalCycles")
                                    </th>
                                    <th class="cycles-remaining" data-hide="w410, w480, w580, w768, w980">
                                        @T("Account.CustomerOrders.RecurringOrders.CyclesRemaining")
                                    </th>
                                    <th class="initial-order" data-hide="w410, w480, w580, w768">
                                        @T("Account.CustomerOrders.RecurringOrders.InitialOrder")
                                    </th>
                                    @if (canRetryRecurringOrders)
                                    {
                                        <th class="retry">
                                            @T("Account.CustomerOrders.RecurringOrders.RetryLastPayment")
                                        </th>
                                    }
                                    <th class="cancel" data-hide="w410">
                                        @T("Account.CustomerOrders.RecurringOrders.Cancel")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var counter = 0;}
                                @foreach (var item in Model.RecurringOrders)
                                {
                                    counter++;
                                    <tr>
                                        <td>
                                            <span class="item-count">@counter</span>
                                        </td>
                                        <td class="start-date">
                                            @item.StartDate
                                        </td>
                                        <td class="cycle-info">
                                            @item.CycleInfo
                                        </td>
                                        <td class="next-payment">
                                            @item.NextPayment
                                        </td>
                                        <td class="total-cycles">
                                            @item.TotalCycles
                                        </td>
                                        <td class="cycles-remaining">
                                            @item.CyclesRemaining
                                        </td>
                                        <td class="initial-order">
                                            <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.InitialOrderId })">@string.Format(T("Account.CustomerOrders.RecurringOrders.ViewInitialOrder").Text, item.InitialOrderNumber)</a>
                                        </td>
                                        @if (canRetryRecurringOrders)
                                        {
                                            <td class="retry">
                                                @if (item.CanRetryLastPayment)
                                                {
                                                    <input type="submit" name="retryLastPayment_@(item.Id)" value="@T("Account.CustomerOrders.RecurringOrders.RetryLastPayment")" class="button-2 retry-recurring-order-button" />
                                                }
                                            </td>
                                        }
                                        <td class="cancel">
                                            @if (item.CanCancel)
                                            {
                                                <input type="submit" name="cancelRecurringPayment@(item.Id)" value="@T("Account.CustomerOrders.RecurringOrders.Cancel")" class="button-2 cancel-recurring-order-button" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            if (Model.RecurringPaymentErrors.Any())
            {
                <div class="message-error">
                    <ul>
                        @foreach (var error in Model.RecurringPaymentErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
        }
        @if (Model.Orders.Count > 0)
        {
            <div class="order-list">
                @foreach (var order in Model.Orders)
                {
                    <div class="section order-item">

                        <div class="order_details">
                            <div class="order-status @order.OrderStatusEnum.ToString().ToLowerInvariant()">@order.OrderStatus</div>

                            @*<div class="order-date">@order.CreatedOn.ToString()</div>*@
                            @*<div class="order-del-date">@order.CreatedOn.ToString()</div>*@
                            <div class="order-del-date">@T("NB.Account.CustomerOrders.OrderId") : @order.Id</div>

                            <div class="order-total">@T("NB.Account.CustomerOrders.Amount") : @order.OrderTotal</div>
                        </div>

                        <div class="buttons">
                            @*<input type="button" value="@T("Account.CustomerOrders.rateAndReviewOrder")" class="button-2 order-details-button rate_rev_btn" />
                                <a href="#quickViewBox-@order.Id" rel="modal:open" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')">   <input type="button" value="@T("NB.Account.CustomerOrders.ViewDetails")" class="button-2 order-details-button re_btn" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = order.Id })')" />  </a>*@

                            <a onclick="loadOrderSummary(@order.Id)" class="button-2 order-details-button view_order_btn">
                                @T("Account.CustomerOrders.Ordersummary.view.text")
                            </a>

                            @if (order.ShowRtingReviewButton)
                            {
                                <a id="rat_rev_btn@(order.Id)" onclick="loadRatingReviewComp(@order.Id)" href="#dv-rating-review-container" rel="modal:open">
                                    <input type="button" value="@T("Account.CustomerOrders.rateAndReviewOrder")" class="button-2 order-details-button rate_rev_btn" />
                                </a>
                            }
                        </div>

                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerOrders.NoOrders")
            </div>
        }
    </div>
    <!--Custom code added for rating-->
    <div id="dv-rating-review-container" style="display:none;">
        @*@await Component.InvokeAsync("RatingReview", new { showEmpty = true })*@
    </div>
    <script type="text/javascript" asp-location="Footer">
        function loadRatingReviewComp(orderId) {
            displayAjaxLoading(true);
            var url = '@Url.Action("LoadRatingReview", "RatingReview")' + '?orderId=' + orderId;
            $('#dv-rating-review-container').load(url, function () {
                $('#dv-rating-review-container').show();
            });
        }
        function cancelOrder(orderId) {
            if (confirm('@(T("Account.CustomerOrders.CancelOrder.Confirm").Text)')) {
             var url = '@Url.Action("CancelOrder", "Order")' + '?orderId=' + orderId;
             location.href = url;
            }
        }

        function loadOrderSummary(orderId) {
            displayAjaxLoading(true);
            var url = '@Url.Action("NBOrderSummary", "Order")' + '?orderId=' + orderId;
            $('#dv-rating-review-container').load(url, function () {
                $('#dv-rating-review-container').show();
            });
        }
    </script>
    <!--End Custom code added for rating-->
</div>

<!-- Modal -->
<div class="modal" id="rateReview">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal_img">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <a href="#" rel="modal:close" class="close">&times;</a>
                </div>
                <div class="modal_desc">

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" rel="modal:close" class="btn btn-secondary"> @T("NB.Product.Detail.Cancel")</a>

        </div>
    </div>
</div>