﻿@model HeaderLinksModel
@inject Nop.Core.IWebHelper webHelper

<div class="header-links">
    <ul>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li class="headerCart">
                <a href="@Url.RouteUrl("checkout")">
                    <div class="topBucketCount"><span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span><span> Items</span></div>
                </a>
            </li>
        }
        @if (Model.WishlistEnabled)
        {
            @*<li class="headerWish">
                <a href="@Url.RouteUrl("/customer/wishlist")"><span>@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span></a>
            </li>*@
            <li class="wishList">
                <a href="/customer/wishlist" class="ico-wishlist">
                    <span class="wishlist-label"><i class="fa fa-heart-o" aria-hidden="true"></i><span>@T("Wishlist")</span></span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
        }

        @if (Model.IsAuthenticated)
        {
            <li class="topLogin">
                <a href="#" class="ico-account dropdown-toggle userLogedIn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@*@T("Account.MyAccount")*@ @Model.CustomerName</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/customer/info">@T("Account.CustomerInfo")</a>
                    <a class="dropdown-item" href="/customer/addresses">@T("Account.CustomerAddress")</a>
                    <a class="dropdown-item" href="/customer/changepassword">@T("Account.ChangePassword")</a>
                    <a class="dropdown-item" href="/order/history">@T("Account.CustomerOrder")</a>
                    <a class="dropdown-item" href="/customer/wishlist">@T("NB.Account.Favourites")</a>
                    @*<a class="dropdown-item" href="/customer/downloadableproducts">Downloadable products</a>
                    <a class="dropdown-item" href="/backinstocksubscriptions/manage">Back in stock subscriptions</a>
                    <a class="dropdown-item" href="/rewardpoints/history">Reward points</a>*@
                    <a class="dropdown-item" href="/customer/productreviews">@T("PageTitle.CustomerProductReviews")</a>
                    <a class="dropdown-item" href="@Url.RouteUrl("Logout")"> @T("Account.Logout")</a>
                </div>
            </li>
        }
        else
        {
            var returnUrl = webHelper.GetRawUrl(Context.Request);

            <li class="topLogin"><a href="@Url.RouteUrl("Login", new { returnUrl })" class="ico-login">@T("Account.Login")</a> <a href="@Url.RouteUrl("Register", new { returnUrl })" class="ico-register">@T("Account.Register")</a></li>

        }


        <li class="language_sec">
            @await Component.InvokeAsync("LanguageSelector")
        </li>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })
    </ul>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script asp-location="Footer">
            $(document).ready(function () {
               @* displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);*@
            });
        </script>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.header').on('mouseenter', '.headerCart', function () {
                    $('#flyout-cart').addClass('flyout-cart');
                });
                $('.header').on('mouseleave', '.headerCart', function () {
                    $('#flyout-cart').removeClass('flyout-cart');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('flyout-cart');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('flyout-cart');
                });
            });
        </script>
    }
</div>

