﻿@model OTPVerificationModel
@using System.Text.Encodings.Web
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.OTPVerification").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
    var time = @Model.Timer;
    var otpDate = Convert.ToDateTime(@Model.Date);
    var curDate = Convert.ToDateTime(@Model.CurrentDate);
    var topDate = Convert.ToDateTime(otpDate.AddMinutes(time));
    var startTimer = string.Empty;
}

@if (topDate > curDate)
{
    startTimer = Convert.ToString((topDate - curDate).TotalSeconds);
}
else
{
    startTimer = "00:00";
<script>
        $(document).ready(function () {
            $("#resend").show();
        });
        $(document).ready(function () {
          alert("@T("NB.OtpExpired")");
            $("#time").hide();
        });
</script>
}


<section class="loginSection signupSection clearfix">

    <div class="loginBox signupBox">
        <div class="login-header">
            <h2>@T("nb.otp.verification")</h2>
            <p>@T("nb.otp.sent.phoneandemail")</p>
        </div>

        <div class="formDetails clearfix">
            <form asp-action="OTPVerification" method="post">
                <div asp-validation-summary="All" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="CustomerId" type="hidden" />
                                    <input asp-for="OTP" placeholder="@T("nb.enter.otp")" />
                                    <span asp-validation-for="OTP"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" class="button-1 register-next-step-button" value="@T("Account.VerifyOTP.Button")" name="verify-OTP-button" />
                </div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <span asp-for="Timer" id="time">00:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="button" id="resend" style="display:none" class="button-1 register-next-step-button" value="Resend" />
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function startTimer(duration, display, callback) {
            var timer = duration,
                minutes, seconds;

            var myInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;
                if (--timer < 0) {
                    timer = duration;
                    alert("@T("NB.OtpExpired")");
                    $("#time").hide();
                    $("#resend").show();

                    // clear the interal
                    clearInterval(myInterval);

                    // use the callback
                    if (callback) {
                        callback();
                    }
                }
            }, 1000);
        }

        window.onload = function () {
            var time = @Model.Timer;
            var otpSendDate = new Date('@Model.Date');
            var now = new Date('@Model.CurrentDate');
            var countDownDate = new Date();
            countDownDate = otpSendDate.setMinutes(otpSendDate.getMinutes() + time);
            var distance = countDownDate - now ;
            if (distance < 0) {
                alert("@T("NB.OtpExpired")");
            } else{
                display = document.querySelector('#time');
                startTimer(parseInt('@(startTimer)'), display, function () {
                    distance.getElementById('time').style.display = "none";
                    distance.getElementById('resend').style.display = "block";
                });
            }
        };

    </script>
</section>

<script>
    $("#resend").click(function () {
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("ResendOTP", "Customer"))",
            data: {"customerId": @Model.CustomerId},
            success: function (data) {
                location.reload();
                displayAjaxLoading(false);
            },
              error: function () {
                  alert("Failed To resend");
                }
            });
    });
</script>
