﻿@model RegisterModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<div class="col-md-6">


    <section class="loginSection signupSection clearfix">
        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
        {
            <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
            </script>
        }

        @if (Model.RestaurantRegisterAllow && Model.IsStoreRegisterAllowPackage)
        {
            <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.PackageId)").change(function () {
                var selectedItem = $(this).val();
                var ddlpackages = $("#@Html.IdFor(model => model.PackagePlanId)");
                var packageplansProgress = $("#packageplan-loading-progress");
                packageplansProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetPackagePlanByPackageId"))",
                    data: { "packageId": selectedItem, "addSelectPacagePlanItem": "true" },
                    success: function (data) {
                        ddlpackages.html('');
                        console.log(data)
                        $.each(data, function (id, option) {
                            ddlpackages.append($('<option></option>').val(option.Id).html(option.Name));
                        });
                        packageplansProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        packageplansProgress.hide();
                    }
                });
            });
        });
            </script>
        }


        <div class="loginBox signupBox">
            <div class="login-header">
                <h3>@T("NB.Register.Merchant")</h3>
                <p>@T("NB.Create.Account")</p>
            </div>
            <div class="regiTabLinks">
                <input type="button" id="btnCustomer" class="register-next-step-button active" value="@T("dukan.Register.as.customer")" name="btnCustomer" />
                <input type="button" id="btndeliveryAgent" class="register-next-step-button" value="@T("dukan.Register.as.deliveryAgent")" name="btndeliveryAgent" />
                <input type="button" id="btnSeller" class="register-next-step-button" value="@T("dukan.Register.as.seller")" name="btnSeller" />
                @if (Model.StoreRegisterAllow)
                {
                    <input type="button" id="btnStoreOwner" class="register-next-step-button" value="@T("NB.Register.storeOwner")" name="btnStoreOwner" />
                }

            </div>
            <div class="fieldBar clearfix ac-type-restaurantOwner">
                <div class="row">
                    <div class="col-md-12">
                        <input asp-for="RestaurantName" placeholder="@T("bazar.RestaurantName")" />
                        <nop-required />
                        <span asp-validation-for="RestaurantName"></span>
                    </div>
                </div>
            </div>
            <div class="formDetails clearfix">
                <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <input type="hidden" id="RegisterationType" asp-for="RegisterationType" />
                    @{
                        bool isCustomer = Model.RegisterationType == "Customer";
                        bool isRestaurantOwner = Model.RegisterationType == "RestaurantOwner";
                        bool isStoreOwner = Model.RegisterationType == "StoreOwner";
                    }
                    @if (Model.RestaurantRegisterAllow)
                    {
                        <div class="regiTabLinks">
                            <input type="button" id="btnCustomer" class="register-next-step-button active" value="@T("bazar.NB.Account.SignupAsCustomer.Button")" name="btnCustomer" />
                            <input type="button" id="btnRestaurantOwner" class="register-next-step-button" value="@T("bazar.NB.Account.SignupAsRestaurantOwner.Button")" name="btnRestaurantOwner" />
                        </div>
                    }
                    <div class="fieldset">
                        @if (Model.RestaurantRegisterAllow)
                        {
                            <div class="fieldBar clearfix ac-type-restaurantOwner" @(isRestaurantOwner ? "style=display:block;" : "style=display:none;")>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="floating_labels">
                                            <input asp-for="RestaurantName" placeholder="@T("bazar.RestaurantName")" />
                                            <span asp-validation-for="RestaurantName"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.GenderEnabled)
                        {
                            <div class="fieldBar clearfix ac-type-customer">
                                <label>@T("Account.Fields.Gender"):</label>
                                <nop-required />
                                <div class="gender">
                                    <span class="male">
                                        <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                        <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                    </span>
                                    <span class="female">
                                        <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                        <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                    </span>
                                </div>
                                <span asp-validation-for="Gender"></span>
                            </div>
                        }
                        <div class="fieldBar clearfix flname">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="floating_labels">
                                        <input asp-for="FirstName" placeholder=" " />
                                        <label asp-for="FirstName" asp-postfix="">@T("Account.Fields.FirstName")</label>
                                        <nop-required />
                                        <span asp-validation-for="FirstName"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="floating_labels">
                                        <input asp-for="LastName" placeholder=" " />
                                        <label asp-for="LastName" asp-postfix="">@T("Account.Fields.LastName")</label>
                                        <nop-required />
                                        <span asp-validation-for="LastName"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.UsernamesEnabled)
                        {
                            <div class="fieldBar clearfix flname">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="floating_labels">
                                            <input asp-for="Username" placeholder=" " />
                                            <label asp-for="Username" asp-postfix="">@T("Account.Fields.Username")</label>
                                            <nop-required />
                                            <span asp-validation-for="Username"></span>
                                            @if (Model.CheckUsernameAvailabilityEnabled)
                                            {
                                                @await Html.PartialAsync("_CheckUsernameAvailability")
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.DateOfBirthEnabled)
                        {
                            <div class="fieldBar date-of-birth">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>@T("Account.Fields.DateOfBirth"):</label>@if (Model.DateOfBirthRequired)
                                        {
                                            <nop-required />
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                         asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                         asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                         asp-begin-year="@(DateTime.Now.Year - 110)"
                                                         asp-end-year="@(DateTime.Now.Year)"
                                                         asp-selected-day="@Model.DateOfBirthDay"
                                                         asp-selected-month="@Model.DateOfBirthMonth"
                                                         asp-selected-year="@Model.DateOfBirthYear" />

                                        <span asp-validation-for="DateOfBirthDay"></span>
                                        <span asp-validation-for="DateOfBirthMonth"></span>
                                        <span asp-validation-for="DateOfBirthYear"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="floating_labels">
                                        <input asp-for="Email" placeholder=" " />
                                        <label asp-for="Email" asp-postfix="">@T("bazar.Enteryouremail")</label>
                                        <nop-required />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.EnteringEmailTwice)
                        {
                            <div class="fieldBar clearfix">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="floating_labels">
                                            <input asp-for="ConfirmEmail" placeholder=" " />
                                            <label asp-for="ConfirmEmail" asp-postfix="">@T("bazar.ConfirmEmail")</label>
                                            <nop-required />
                                            <span asp-validation-for="ConfirmEmail"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="fieldBar clearfix isdPhoneNo">
                            <div class="row">
                                <div class="col-sm-2 pR0">
                                    <div class="floating_labels">
                                        <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                                        @if (Model.CountryRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="CountryId"></span>
                                    </div>
                                </div>
                                <div class="col-md-10 pL0">
                                    <div class="floating_labels">
                                        <input asp-for="Phone" placeholder=" " />
                                        <label asp-for="Phone" asp-postfix="">@T("bazar.Enteryourphone")</label>
                                        <nop-required />
                                        <span asp-validation-for="Phone"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fieldBar clearfix ac-type-storeOwner" @(isStoreOwner ? "style=display:block;" : "style=display:none;")>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="floating_labels">
                                        <input asp-for="VenueName" placeholder=" " />
                                        <label asp-for="VenueName" asp-postfix="">@T("NB.Account.Fields.VenueName")</label>
                                        <nop-required />
                                        <span asp-validation-for="VenueName"></span>
                                        <span id="spanVenueName"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fieldBar clearfix ac-type-storeOwner" @(isStoreOwner ? "style=display:block;" : "style=display:none;")>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="floating_labels">
                                        <input asp-for="VenueURL" placeholder=" " />
                                        <label asp-for="VenueURL" asp-postfix="">@T("NB.Account.Fields.VenueURL")</label>
                                        <nop-required />
                                        <span asp-validation-for="VenueURL"></span>
                                        <span id="spanVenueUrl"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*Package custom code*@
                        @if (Model.RestaurantRegisterAllow && Model.IsStoreRegisterAllowPackage)
                        {
                            <div class="fieldBar clearfix ac-type-restaurantOwner @(isRestaurantOwner ? "style=display:block;" : "style=display:none;")>">
                                <label asp-for="PackageId" asp-postfix=":"></label>
                                <select asp-for="PackageId" asp-items="Model.AvailablePackages"></select>
                                <nop-required />
                                <span asp-validation-for="PackageId"></span>
                            </div>

                            <div class="fieldBar clearfix ac-type-restaurantOwner @(isRestaurantOwner ? "style=display:block;" : "style=display:none;")">
                                <label asp-for="PackagePlanId" asp-postfix=":"></label>
                                <select asp-for="PackagePlanId" asp-items="Model.AvailablePackagesPlan"></select>
                                <nop-required />
                                <span asp-validation-for="PackagePlanId"></span>
                                <span id="packageplan-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                            </div>
                            <input type="hidden" id="IsStoreRegisterAllowPackage" asp-for="IsStoreRegisterAllowPackage" />
                            <input type="hidden" id="RestaurantRegisterAllow" asp-for="RestaurantRegisterAllow" />
                        }


                        <div class="fieldBar clearfix ac-type-storeOwner" @(isStoreOwner ? "style=display:block;" : "style=display:none;")>
                            <label>@T("NB.Account.Fields.CompanySale"):</label>
                            @*<nop-required />*@
                            <div class="companysale">
                                <span class="food">
                                    <input type="radio" asp-for="CompanySale" value="Food" checked="@(Model.CompanySale == "Food")" id="companysale-food" />
                                    <label class="forcheckbox" for="companysale-food">@T("NB.Account.Fields.CompanySale.Food")</label>
                                </span>
                                <span class="cafe">
                                    <input type="radio" asp-for="CompanySale" value="Cafe" checked="@(Model.CompanySale == "Cafe")" id="companysale-cafe" />
                                    <label class="forcheckbox" for="companysale-cafe">@T("NB.Account.Fields.CompanySale.Cafe")</label>
                                </span>
                                <span class="other">
                                    <input type="radio" asp-for="CompanySale" value="Other" checked="@(Model.CompanySale == "Other")" id="companysale-other" />
                                    <label class="forcheckbox" for="companysale-other">@T("NB.Account.Fields.CompanySale.Other")</label>
                                </span>
                            </div>
                        </div>
                        @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                        {


                            <div class="form-fields">
                                @if (Model.CompanyEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label asp-for="Company" asp-postfix=":"></label> @if (Model.CompanyRequired)
                                                {
                                                    <nop-required />
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input asp-for="Company" />
                                                <nop-required />
                                                <span asp-validation-for="Company"></span>
                                            </div>
                                        </div>


                                    </div>
                                }
                                @if (Model.DisplayVatNumber)
                                {
                                    <div class="fieldBar clearfix">
                                        <nop-required />
                                        <input asp-for="VatNumber" placeholder="@T("Account.Fields.VatNumber")" />
                                        <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                    </div>
                                }
                            </div>

                        }
                        @*@if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
                        {


                            <div class="form-fields">
                                @if (Model.StreetAddressEnabled)
                                {
                                    <div class="fieldBar clearfix ac-type-customer">
                                        <input asp-for="StreetAddress" placeholder="@T("Account.Fields.StreetAddress")" />
                                        @if (Model.StreetAddressRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="StreetAddress"></span>
                                    </div>
                                }
                                @if (Model.StreetAddress2Enabled)
                                {
                                    <div class="fieldBar clearfix ac-type-customer">
                                        <input asp-for="StreetAddress2" placeholder="@T("Account.Fields.StreetAddress2")" />
                                        @if (Model.StreetAddress2Required)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="StreetAddress2"></span>
                                    </div>
                                }
                                @if (Model.ZipPostalCodeEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <input asp-for="ZipPostalCode" placeholder="@T("Account.Fields.ZipPostalCode")" />
                                        @if (Model.ZipPostalCodeRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="ZipPostalCode"></span>
                                    </div>
                                }
                                @if (Model.CityEnabled)
                                {
                                    <div class="fieldBar clearfix ac-type-customer">
                                        <input asp-for="City" placeholder="@T("Account.Fields.City")" />
                                        @if (Model.CityRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="City"></span>
                                    </div>
                                }
                                @if (Model.CountryEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <label asp-for="CountryId" asp-postfix=":"></label>
                                        <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                        @if (Model.CountryRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="CountryId"></span>
                                    </div>
                                }
                                @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <select asp-for="StateProvinceId" asp-items="Model.AvailableStates" placeholder="@T("Account.Fields.StateProvince")"></select>
                                        @if (Model.StateProvinceRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="StateProvinceId"></span>
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                    </div>
                                }
                            </div>

                        }*@
                        @if (Model.PhoneEnabled || Model.FaxEnabled)
                        {


                            <div class="form-fields">
                                @if (Model.PhoneEnabled)
                                {

                                }
                                @if (Model.FaxEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <label asp-for="Fax" asp-postfix=":"></label>
                                        <input asp-for="Fax" />
                                        @if (Model.FaxRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="Fax"></span>
                                    </div>
                                }
                            </div>

                        }
                        @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                        {


                            <div class="form-fields">
                                @if (Model.NewsletterEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <label asp-for="Newsletter" asp-postfix=":"></label>
                                        <input asp-for="Newsletter" />
                                        <span asp-validation-for="Newsletter"></span>
                                    </div>
                                }
                                @if (Model.CustomerAttributes.Count > 0)
                                {
                                    @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                                }
                            </div>

                        }
                        @if (Model.AllowCustomersToSetTimeZone)
                        {

                            <div class="form-fields">
                                <div class="fieldBar clearfix">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (Model.AllowCustomersToSetTimeZone)
                                            {
                                                @*<label asp-for="TimeZoneId" asp-postfix=":"></label>*@
                                                <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                                <nop-required />
                                                <span asp-validation-for="TimeZoneId"></span>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }


                        <div class="form-fields ac-type-customer">
                            <div class="fieldBar clearfix">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="floating_labels">
                                            <input asp-for="Password" placeholder=" " />
                                            <label asp-for="Password" asp-postfix="">@T("bazar.Password")</label>
                                            <nop-required />
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fieldBar clearfix">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="floating_labels">
                                            <input asp-for="ConfirmPassword" placeholder=" " />
                                            <label asp-for="ConfirmPassword" asp-postfix="">@T("bazar.ConfirmPassword")</label>
                                            <nop-required />
                                            <span asp-validation-for="ConfirmPassword"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box">
                                    <nop-captcha />
                                </div>
                            }
                            @if (Model.HoneypotEnabled)
                            {
                                @Html.Raw(Html.GenerateHoneypotInput())
                            }
                        </div>
                        <div class="form-fields">
                            <div class="fieldBar clearfix">
                                <div class="row">
                                    <div class="col-md-6">
                                        @*@if (Model.AcceptPrivacyPolicyEnabled)
                                        {
                                            <script type="text/javascript" asp-location="Footer">
                                                $(document).ready(function() {
                                                    $('#register-button').click(function() {
                                                        if ($('#accept-privacy-policy').is(':checked')) {
                                                            //do some stuff
                                                            return true;
                                                        } else {
                                                            //just show validation errors, dont post
                                                            alert(
                                                                '@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                                            return false;
                                                        }
                                                    });
                                                });
                                            </script>
                                            <div class="accept-privacy-policy">
                                                <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                                                <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                                <a class="read" id="read-privacyinfo" target="_blank" href="/readprivacy">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                            </div>
                                        }*@

                                        <div class="termsText">
                                            @T("NB.SigningUp.Agree.Text") @*<a class="read" href="/privacy" target="_blank">@T("NB.Account.Terms")</a>
                                            <a class="read" href="/terms" target="_blank">@T("NB.Account.Privacy")</a>*@
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="buttons">
                                            <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <div class="signupOptionBar clearfix">@T("bazar.nb.alreadyAccountText") <a href="/login">@T("bazar.nb.Login")</a></div>
        </div>
        @*@{
            var externalMethods = await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication");

            if (!String.IsNullOrEmpty(externalMethods.ToHtmlString()))
            {
                <div class="external-authentication">
                    @externalMethods
                </div>
            }
        }*@
        <script>
                 $(document).on('click',"#btnCustomer",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("Customer");
                    showHideRegisterFields();
                 });
    $(document).on('click',"#btndeliveryAgent",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("RestaurantOwner");
                    showHideRegisterFields();
                 });
    $(document).on('click',"#btnSeller",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("RestaurantOwner");
                    showHideRegisterFields();
    });
        $(document).on('click',"#btnStoreOwner",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("StoreOwner");
                    showHideRegisterFields();
                 });
                 function showHideRegisterFields() {
                    var type = $("#@Html.IdFor(model => model.RegisterationType)").val();

                     if (type == 'Customer') {
                        $("#@Html.IdFor(model => model.Password)").val("");
                        $("#@Html.IdFor(model => model.ConfirmPassword)").val("");
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).hide();
                        });
                        $('.ac-type-storeOwner').each(function () {
                            $(this).hide();
                        });
                        $('.ac-type-customer').each(function () {
                            $(this).show();
                        });
                    }
                     else if (type == 'RestaurantOwner') {
                         $("#@Html.IdFor(model => model.Password)").val("");
                        $("#@Html.IdFor(model => model.ConfirmPassword)").val("");
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).show();
                        });
                        $('.ac-type-storeOwner').each(function () {
                            $(this).hide();
                        });
                        $('.ac-type-customer').each(function () {
                            $(this).show();
                        });
                     }
                    else if (type == 'StoreOwner') {
                        $("#@Html.IdFor(model => model.Password)").val("StoreOwner@123");
                        $("#@Html.IdFor(model => model.ConfirmPassword)").val("StoreOwner@123");
                        $('.ac-type-storeOwner').each(function () {
                            $(this).show();
                        });
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).hide();
                        });
                        $('.ac-type-customer').each(function () {
                            $(this).hide();
                        });
                    }
                }
                $(document).ready(function () {
                    showHideRegisterFields();
                });


                $(document).ready(function() {
            $(document).on('click','.register-next-step-button',function () {
                $(".register-next-step-button").removeClass("active");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).addClass("active");
            });
            });
        </script>
        <script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.VenueName)").on('blur', function () {
            var venuename = $("#@Html.IdFor(model => model.VenueName)").val();
            if (venuename == null || venuename == '') {
                $("#spanVenueName").html('@T("NB.Account.Fields.VenueNameEmpty")');
            }
            else {
                var postData = {
                    venueName: venuename
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Customer/VenueNameExistCall",
                    data: postData,
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data) {
                            $("#spanVenueName").html('@T("NB.Account.Fields.Store.VenueNameAlreadyExist")');
                        }
                        else {
                            $("#spanVenueName").html('@T("NB.Account.Fields.Store.VenueNameValid")');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#spanVenueName").html('@T("NB.Account.Fields.Store.PleaseTry")');
                    }
                });
            }
        });

        $("#@Html.IdFor(model => model.VenueURL)").bind('keyup blur', function () {
            var node = $(this);
            node.val(node.val().replace(/[^a-z]/g, ''));
        }
        );

        $("#@Html.IdFor(model => model.VenueURL)").on('blur', function () {
            var venueURL = $("#@Html.IdFor(model => model.VenueURL)").val();
            if (venueURL == null || venueURL == '') {
                $("#spanVenueUrl").html('@T("NB.Account.Fields.VenueUrlEmpty")');
            }
            else {

                var postData = {
                    venueUrl: venueURL
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Customer/VenueUrlHostExistCall",
                    data: postData,
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data) {
                            $("#spanVenueUrl").html('@T("NB.Account.Fields.Store.VenueUrlAlreadyExist")');
                        }
                        else {
                            $("#spanVenueUrl").html('@T("NB.Account.Fields.Store.VenueUrlValid")');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#spanVenueUrl").html('@T("NB.Account.Fields.Store.PleaseTry")');
                    }
                });
            }
        });
    });
        </script>
    </section>



</div>
<div class="col-md-6">
    <section class="loginSection boostBox">
        <h2>@T("NB.Boost.Business.Mallskape")</h2>
        <div class="imageBoost"><img src="../Themes/MallSkape/Content/img/boost_bg.png"/></div>
    </section>
</div>
