﻿@model RegisterModel

<div class="fieldBar clearfix">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="IdProofDocId" asp-postfix=" "></label>
            <nop-editor asp-for="IdProofDocId" />
            <span asp-validation-for="IdProofDocId"></span>
        </div>
    </div>
</div>
<div class="fieldBar clearfix">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="RcBookDocId" asp-postfix=" "></label>
            <nop-editor asp-for="RcBookDocId" />
            <span asp-validation-for="RcBookDocId"></span>
        </div>
    </div>
</div>
<div class="fieldBar clearfix">
    <div class="info">
        @T("NB.Register.Rider.Document.UploadRules")
    </div>
</div>