﻿@model CustomerAddressListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
<div class="page account-page address-list-page">
    <div class="page-title">
        <h1>@T("NB.Account.CustomerAddresses")</h1>

    </div>

    <div class="page-body Accountaddress">
        <nop-antiforgery-token />
        @if (Model.Addresses.Count > 0)
        {
            <div class="address-list">
                @for (var i = 0; i < Model.Addresses.Count; i++)
                {
                    var address = Model.Addresses[i];
                    var addressTypeClass = "add_type_other";
                    if (address.Landmark != null && address.Landmark.Equals(T("NB.Address.Home").ToString()))
                    {
                        addressTypeClass = "add_type_home";
                    }
                    else if (address.Landmark != null && address.Landmark.Equals(T("NB.Address.Office").ToString()))
                    {
                        addressTypeClass = "add_type_office";
                    }

                    <div class="section address-item">
                        <div class="title home_add @(addressTypeClass)">
                            <strong>@address.Landmark</strong>
                        </div>
                        <ul class="info">
                            <li class="name">
                                @address.FirstName @address.LastName
                            </li>
                            <li class="email">
                                <label>@T("Address.Fields.Email"):</label>
                                @address.Email
                            </li>
                            @if (address.FaxEnabled)
                            {
                                <li class="fax">
                                    <label>@T("Address.Fields.FaxNumber"):</label>
                                    @address.FaxNumber
                                </li>
                            }
                            @if (address.CompanyEnabled && !string.IsNullOrEmpty(address.Company))
                            {
                                <li class="company">@address.Company</li>
                            }
                            @if (address.StreetAddressEnabled)
                            {
                                <li class="address1">
                                    @address.Address1
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(address.Address2))
                            {
                                <li class="address2">
                                    @address.Address2
                                </li>
                            }
                            @if (address.PhoneEnabled)
                            {
                                <li class="phone">
                                    <label>@T("Address.Fields.PhoneNumber"):</label>
                                    @address.PhoneNumber
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(address.FormattedCustomAddressAttributes))
                            {
                                <li class="custom-attributes-view">
                                    @Html.Raw(address.FormattedCustomAddressAttributes)
                                </li>
                            }
                        </ul>
                        <div class="buttons row">
                            <div class="col-md-6 addressEdit">
                                @* <button class="button-2 deliveryHere-address-button">@T("checkout.billingaddress.deliveryhere")</button> *@
                                <button class="button-2 edit_delete_btn delete-address-button" onclick="deletecustomeraddress(@(address.Id))"><i class="fa fa-trash-o"></i> </button>
                            </div>
                            <div class="col-md-6 addressEditBtn">
                                <button class="button-2 edit_delete_btn edit-address-button" onclick="location.href = '@(Url.RouteUrl("CustomerAddressEdit", new {addressId = address.Id}))'"> <i class="fa fa-pencil"></i></button>
                            </div>
                        </div>
                        <div class="makeDefault">
                            <label class="check_container">
                                @T("NB.Account.Make.Default.Address")
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>

                        </div>
                    </div>
                }
            </div>
            <div class="row addAddressbtnArea">
                <div class="col-md-12 addAddressMyAcc">
                    <input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("NB.AddNew.Address")" />
                </div>
            </div>
            <script type="text/javascript" asp-location="Footer">
                    function deletecustomeraddress(addressId) {
                        if (confirm('@T("Admin.Common.AreYouSure")')) {
                            var postData = {
                                addressId: addressId
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: 'POST',
                                url: '@Url.Action("AddressDelete", "Customer")',
                                data: postData,
                                dataType: 'json',
                                success: function(data) {
                                    location.href = data.redirect;
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('Failed to delete');
                                }
                            });
                        }
                    }
            </script>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerAddresses.NoAddresses")
            </div>

            <div class="row addAddressbtnArea">
                <div class="col-md-12 addAddressMyAcc">
                    <input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("NB.AddNew.Address")" />
                </div>
            </div>
        }

    </div>

</div>