﻿@model OTPVerificationModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.OTPVerification").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<section class="loginSection signupSection clearfix">

    <div class="loginBox signupBox">
        <div class="login-header">
            <h2>@T("nb.otp.verification")</h2>
            <p>@T("nb.otp.sent.phoneandemail")</p>
        </div>

        <div class="formDetails clearfix">
            <form asp-action="OTPVerification" method="post">
                <div asp-validation-summary="All" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="CustomerId" type="hidden" />
                                    <input asp-for="OTP" placeholder="@T("nb.enter.otp")" />
                                    <span asp-validation-for="OTP"></span>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                  
                <div class="buttons">
                    <input type="submit" class="button-1 register-next-step-button" value="@T("Account.VerifyOTP.Button")" name="verify-OTP-button" />
                </div>
            </form>
        </div>
    </div>

</section>