﻿@model RegisterModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");

}
<section class="loginSection signupSection clearfix">
    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
        </script>
    }
    <div class="loginBox signupBox">
        <div class="login-header">
            <h2>@T("nb.Register")</h2>
        </div>
        <div class="regiTabLinks">
            <input type="button" id="btnCustomer" class="register-next-step-button active" value="@T("dukan.Register.as.customer")" name="btnCustomer" />
            <input type="button" id="btndeliveryAgent" class="register-next-step-button" value="@T("dukan.Register.as.deliveryAgent")" name="btndeliveryAgent" />
            <input type="button" id="btnSeller" class="register-next-step-button" value="@T("dukan.Register.as.seller")" name="btnSeller" />
        </div>
        <div class="fieldBar clearfix ac-type-restaurantOwner">
            <div class="row">
                <div class="col-md-12">
                    <input asp-for="RestaurantName" placeholder="@T("bazar.RestaurantName")" />
                    <nop-required />
                    <span asp-validation-for="RestaurantName"></span>
                </div>
            </div>
        </div>
        <div class="formDetails clearfix">
            <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" id="frmregister">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <input type="hidden" id="RegisterationType" asp-for="RegisterationType" />
                @{
                    bool isCustomer = Model.RegisterationType == "Customer";
                    bool isRestaurantOwner = Model.RegisterationType == "RestaurantOwner";
                    bool isAgent = Model.RegisterationType == "Agent";
                }
                @if (Model.RestaurantRegisterAllow)
                {
                    <div class="regiTabLinks">
                        <input type="button" id="btnCustomer" class="register-next-step-button active" value="@T("bazar.NB.Account.SignupAsCustomer.Button")" name="btnCustomer" />
                        <input type="button" id="btnRestaurantOwner" class="register-next-step-button" value="@T("bazar.NB.Account.SignupAsRestaurantOwner.Button")" name="btnRestaurantOwner" />
                    </div>
                }
                <div class="fieldset">
                    @if (Model.RestaurantRegisterAllow)
                    {
                        <div class="fieldBar clearfix ac-type-restaurantOwner" @(isRestaurantOwner ? "style=display:block;" : "style=display:none;")>

                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="RestaurantName" placeholder="@T("bazar.RestaurantName")" />
                                    <nop-required />
                                    <span asp-validation-for="RestaurantName"></span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.GenderEnabled)
                    {
                        <div class="fieldBar clearfix nonAgentField">
                            <label>@T("Account.Fields.Gender"):</label>
                            @*<nop-required />*@
                            <div class="gender">
                                <span class="male">
                                    <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                </span>
                                <span class="female">
                                    <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                    <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                </span>
                            </div>
                        </div>
                    }
                    <div class="fieldBar clearfix flname">
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="FirstName" asp-postfix=" "></label>
                                <input asp-for="FirstName" placeholder="@T("bazar.FirstName")" />
                                <nop-required />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="LastName" asp-postfix=" "></label>
                                <input asp-for="LastName" placeholder="@T("bazar.LastName")" />
                                <nop-required />
                                <span asp-validation-for="LastName"></span>
                            </div>
                        </div>
                    </div>
                    @if (Model.DateOfBirthEnabled)
                    {
                        <div class="fieldBar date-of-birth nonAgentField">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@T("Account.Fields.DateOfBirth") </label>@if (Model.DateOfBirthRequired)
                                    {
                                        <nop-required />
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                     asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                     asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                     asp-begin-year="@(DateTime.Now.Year - 110)"
                                                     asp-end-year="@(DateTime.Now.Year)"
                                                     asp-selected-day="@Model.DateOfBirthDay"
                                                     asp-selected-month="@Model.DateOfBirthMonth"
                                                     asp-selected-year="@Model.DateOfBirthYear" />
                                    <span asp-validation-for="DateOfBirthDay"></span>
                                    <span asp-validation-for="DateOfBirthMonth"></span>
                                    <span asp-validation-for="DateOfBirthYear"></span>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="fieldBar clearfix isdPhoneNo">
                        <div class="row">
                            <div class="col-sm-2 pR0">
                                <label asp-for="ISDId" asp-postfix=" "></label>
                                <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                                @if (Model.CountryRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="CountryId"></span>
                            </div>
                            <div class="col-md-10 pL0">
                                <label asp-for="Phone" asp-postfix=" "></label>
                                <input asp-for="Phone" placeholder="@T("bazar.Enteryourphone")" onkeypress="return onlyNumberKey(event)" size="10" />
                                <nop-required />
                                <span asp-validation-for="Phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="fieldBar clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Email" asp-postfix=" "></label>
                                <input asp-for="Email" placeholder="@T("bazar.Enteryouremail")" />
                                <nop-required />
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>
                    @if (Model.EnteringEmailTwice)
                    {
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <label asp-for="ConfirmEmail" asp-postfix=" "></label>
                                    <input asp-for="ConfirmEmail" placeholder="@T("Account.Fields.ConfirmEmail")" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmEmail"></span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.UsernamesEnabled)
                    {
                        <div class="fieldBar clearfix">
                            <label asp-for="Username" asp-postfix=" "></label>
                            <input asp-for="Username" placeholder="@T("Account.Fields.Username")" />
                            <nop-required />
                            <span asp-validation-for="Username"></span>
                            @if (Model.CheckUsernameAvailabilityEnabled)
                            {
                                @await Html.PartialAsync("_CheckUsernameAvailability")
                            }
                        </div>
                    }
                    @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                    {
                        <div class="form-fields nonAgentField">
                            @if (Model.CompanyEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label asp-for="Company" asp-postfix=":"></label> @if (Model.CompanyRequired)
                                            {
                                                <nop-required />
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label asp-for="Company" asp-postfix=" "></label>
                                            <input asp-for="Company" placeholder="@T("Account.Fields.Company")" />
                                            <nop-required />
                                            <span asp-validation-for="Company"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.DisplayVatNumber)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="VatNumber" asp-postfix=" "></label>
                                    <label asp-for="VatNumber" asp-postfix=" "></label>
                                    <nop-required />
                                    <input asp-for="VatNumber" placeholder="@T("Account.Fields.VatNumber")" />
                                    <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                </div>
                            }
                        </div>
                    }
                    @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
                    {
                        <div class="form-fields">
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="fieldBar clearfix nonAgentField">
                                    <label asp-for="StreetAddress" asp-postfix=" "></label>
                                    <nop-required />
                                    <input asp-for="StreetAddress" placeholder="@T("Account.Fields.StreetAddress")" />
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="fieldBar clearfix nonAgentField">
                                    <label asp-for="StreetAddress2" asp-postfix=" "></label>
                                    <nop-required />
                                    <input asp-for="StreetAddress2" placeholder="@T("Account.Fields.StreetAddress2")" />
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            }
                            @if (Model.ZipPostalCodeEnabled)
                            {
                                <div class="fieldBar clearfix nonAgentField">
                                    <label asp-for="ZipPostalCode" asp-postfix=" "></label>
                                    <nop-required />
                                    <input asp-for="ZipPostalCode" placeholder="@T("Account.Fields.ZipPostalCode")" />
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="ZipPostalCode"></span>
                                </div>
                            }
                            @if (Model.CityEnabled)
                            {
                                <div class="fieldBar clearfix nonAgentField">
                                    <label asp-for="City" asp-postfix=" "></label>
                                    <input asp-for="City" placeholder="@T("Account.Fields.City")" />
                                    @if (Model.CityRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="City"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="fieldBar clearfix nonAgentField">
                                    <label asp-for="CountryId" asp-postfix=" "></label>
                                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                    @if (Model.CountryRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            }
                            @if (Model.RiderCountryEnabled)
                            {
                                <div class="fieldBar clearfix onlyAgentField">
                                    <label asp-for="RiderCountryId" asp-postfix=":"></label>
                                    <select asp-for="RiderCountryId" asp-items="Model.AvailableRiderCountries" style="color:black"></select>
                                    <span asp-validation-for="RiderCountryId"></span>
                                </div>
                            }
                            @if (Model.RiderStateProvinceEnabled)
                            {
                                <div class="fieldBar clearfix onlyAgentField">
                                    <label asp-for="RiderStateProvinceId" asp-postfix=":"></label>
                                    <select asp-for="RiderStateProvinceId" asp-items="Model.AvailableRiderStates" style="color:black"></select>
                                    <span asp-validation-for="RiderStateProvinceId"></span>
                                </div>
                            }
                            @if (Model.RiderCitiesEnabled)
                            {
                                <div class="fieldBar clearfix onlyAgentField">
                                    <label asp-for="RiderCityId" asp-postfix=":"></label>
                                    <select asp-for="RiderCityId" asp-items="Model.AvailableRiderCities" style="color:black"></select>
                                    <span asp-validation-for="RiderCityId"></span>
                                </div>
                            }

                            <div class="fieldBar clearfix onlyAgentField">
                                <label asp-for="VehicleNumber" asp-postfix=":"></label>
                                <input asp-for="VehicleNumber" />
                                <span asp-validation-for="VehicleNumber"></span>
                            </div>
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="fieldBar clearfix nonAgentField">
                                    <label asp-for="StateProvinceId" asp-postfix=" "></label>
                                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StateProvinceId"></span>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            }
                        </div>
                    }
                    @if (Model.PhoneEnabled || Model.FaxEnabled)
                    {
                        <div class="form-fields">
                            @if (Model.PhoneEnabled)
                            {

                            }
                            @if (Model.FaxEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="Fax" asp-postfix=" "></label>
                                    <input asp-for="Fax" placeholder="@T("Account.Fields.Fax")" />
                                    @if (Model.FaxRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Fax"></span>
                                </div>
                            }
                        </div>
                    }
                    @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                    {
                        <div class="form-fields">
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="Newsletter" asp-postfix=" "></label>
                                    <input asp-for="Newsletter" placeholder="@T("Account.Fields.Newsletter")" />
                                    <span asp-validation-for="Newsletter"></span>
                                </div>
                            }
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>
                    }
                    @if (Model.AllowCustomersToSetTimeZone)
                    {
                        <div class="form-fields">
                            <div class="fieldBar clearfix">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Model.AllowCustomersToSetTimeZone)
                                        {
                                            <label asp-for="TimeZoneId" asp-postfix=" "></label>
                                            <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                            <nop-required />
                                            <span asp-validation-for="TimeZoneId"></span>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <label asp-for="Password" asp-postfix=" "></label>
                                    <input asp-for="Password" placeholder="@T("Account.Fields.Password")" />
                                    <nop-required />
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <label asp-for="ConfirmPassword" asp-postfix=" "></label>
                                    <input asp-for="ConfirmPassword" placeholder="@T("Account.Fields.ConfirmPassword")" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                        @if (Model.HoneypotEnabled)
                        {
                            @Html.Raw(Html.GenerateHoneypotInput())
                        }
                    </div>
                    <div class="onlyAgentField">
                        @await Html.PartialAsync("_UploadDocuments", Model)
                    </div>
                    @if (Model.AcceptPrivacyPolicyEnabled)
                    {
                        <script type="text/javascript" asp-location="Footer">
                    $(document).ready(function() {
                        $('#register-button').click(function() {
                            if ($('#accept-privacy-policy').is(':checked')) {
                                //do some stuff
                                return true;
                            } else {
                                //just show validation errors, dont post
                                alert(
                                    '@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                return false;
                            }
                        });
                    });
                        </script>
                        <div class="accept-privacy-policy">
                            <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                            <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                            <a class="read" id="read-privacyinfo" href="/privacy">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                            @*@if (Model.AcceptPrivacyPolicyPopup)
                                {
                                    <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                    <script type="text/javascript" asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#read-privacyinfo').on('click',
                                            function(e) {
                                                displayPopupContentFromUrl(
                                                    '@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })',
                                                    '@T("Account.Fields.AcceptPrivacyPolicy")');
                                            });
                                    });
                                    </script>
                                }
                                                    else
                                                    {
                                                    <a class="read" id="read-privacyinfo" href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("privacyinfo") })">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                                    }*@
                        </div>
                    }
                </div>
                <div class="buttons">
                    <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                </div>
            </form>
        </div>

        <div class="signupOptionBar clearfix">@T("bazar.nb.alreadyAccountText") <a href="/login">@T("bazar.nb.Login")</a></div>
    </div>
    @*@{
            var externalMethods = await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication");

            if (!String.IsNullOrEmpty(externalMethods.ToHtmlString()))
            {
                <div class="external-authentication">
                    @externalMethods
                </div>
            }
        }*@
    <script>
                 $(document).on('click',"#btnCustomer",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("Customer");
                    showHideRegisterFields();
                 });
    $(document).on('click',"#btndeliveryAgent",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("Agent");
                    showHideRegisterFields();
                 });
    $(document).on('click',"#btnSeller",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("RestaurantOwner");
                    showHideRegisterFields();
                 });
                 function showHideRegisterFields() {
                    var type = $("#@Html.IdFor(model => model.RegisterationType)").val();

                    if (type == 'Customer') {
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).hide();
                        });
                        $('.nonAgentField').each(function () {
                            $(this).show();
                        });
                        $('.onlyAgentField').each(function () {
                            $(this).hide();
                        });
                    }
                    else if (type == 'RestaurantOwner') {
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).show();
                        });
                        $('.nonAgentField').each(function () {
                            $(this).show();
                        });
                        $('.onlyAgentField').each(function () {
                            $(this).hide();
                        });
                     }
                    else if (type == 'Agent') {
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).hide();
                        });
                        $('.nonAgentField').each(function () {
                            $(this).hide();
                        });
                        $('.onlyAgentField').each(function () {
                            $(this).show();
                        });
                    }
                }
                $(document).ready(function () {
                    showHideRegisterFields();
                    //set active tab on load - if it invalidate the form field and shows error.
                    $(".register-next-step-button").removeClass("active");
                    if ($("#@Html.IdFor(model => model.RegisterationType)").val() === 'Agent') {
                        $('#btndeliveryAgent').addClass('active');
                    } else if ($("#@Html.IdFor(model => model.RegisterationType)").val() === 'RestaurantOwner') {
                        $('#btnSeller').addClass('active');
                    } else {
                        $('#btnCustomer').addClass('active');
                    }
                });
                $(document).ready(function() {
            $(document).on('click','.register-next-step-button',function () {
                $(".register-next-step-button").removeClass("active");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).addClass("active");
            });
            });
    </script>
    <script>
        function onlyNumberKey(evt) {

            // Only ASCII charactar in that range allowed
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }
    </script>
</section>
@if (Model.RiderCountryEnabled && Model.RiderStateProvinceEnabled)
{
    <script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.RiderCountryId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.RiderStateProvinceId)");
                var postData = {
                    countryId: selectedItem,
                    addSelectStateItem: "true"
                };
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#statesAlert").click();
                    }
                });
            });
        });
    </script>
}

@if (Model.RiderStateProvinceEnabled)
{
    <script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.RiderStateProvinceId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.RiderCityId)");
                var postData = {
                    StateId: selectedItem,
                    addSelectStateItem: "true"
                };
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetCityByStateId", "Country"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        $("#@Html.IdFor(model => model.RiderCityId)").val('@Model.RiderCityId')
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#cityAlert").click();
                    }
                });
            });
            $("#@Html.IdFor(model => model.StateProvinceId)").change();
        });
    </script>
}





