﻿@model HeaderLinksModel
@inject Nop.Core.IWebHelper webHelper

<div class="header-links">
    <ul>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
        <li class="topPhoneno"><a href="tell:18601231000">1860 123 1000</a></li>
        <li class="topLocation">
            <a href="#" class="topAddress dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">560004, Bangalore</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">560004, Bangalore</a>
                <a class="dropdown-item" href="#">560003, Punjab</a>
                <a class="dropdown-item" href="#">560002, Delhi</a>
                <a class="dropdown-item" href="#">560001, Mumbai</a>
            </div>
        </li>
        @if (Model.IsAuthenticated)
        {
            <li class="topLogin"><a href="#" class="ico-account dropdown-toggle userLogedIn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@*@T("Account.MyAccount")*@ @Model.CustomerName</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/customer/info">Customer info</a>
                    <a class="dropdown-item" href="/customer/addresses">Addresses</a>
                    <a class="dropdown-item" href="/order/history">Orders</a>
                    <a class="dropdown-item" href="/customer/downloadableproducts">Downloadable products</a>
                    <a class="dropdown-item" href="/backinstocksubscriptions/manage">Back in stock subscriptions</a>
                    <a class="dropdown-item" href="/rewardpoints/history">Reward points</a>
                    <a class="dropdown-item" href="/customer/changepassword">Change password</a>
                    <a class="dropdown-item" href="/customer/productreviews">My product reviews</a>
                    <a class="dropdown-item" href="@Url.RouteUrl("Logout")"> @T("Account.Logout")</a>
                </div>
            </li>
        }
        else
        {
            var returnUrl = webHelper.GetRawUrl(Context.Request);

            <li class="topLogin"><a href="@Url.RouteUrl("Login", new { returnUrl })" class="ico-login">@T("Account.Login")</a> <a href="@Url.RouteUrl("Register", new { returnUrl })" class="ico-register">@T("Account.Register")</a></li>

        }
        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @if (Model.WishlistEnabled)
        {
            <li class="headerWish">
                <a href="@Url.RouteUrl("Wishlist")"><span>@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span></a>
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li class="headerCart">
                <a href="@Url.RouteUrl("ShoppingCart")">
                    <div class="topBucketCount"><span>@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems) Items</span></div>                    
                </a>
            </li>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })
    </ul>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script asp-location="Footer">
            $(document).ready(function () {
               @* displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);*@
            });
        </script>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.header').on('mouseenter', '.headerCart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '.headerCart', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });
            });
        </script>
    }
</div>
