@model WishlistModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Services.Catalog
@using Nop.Web.Factories
@using Nop.Core.Domain.Orders
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject IProductService productService
@inject IProductModelFactory productModelFactory
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.WishList })
}
<div class="page account-page address-list-page">
    <div class="page-body">
        <div class="page-title"><h1>@T("Account.CustomerWishList")</h1></div>
        <div class="right-container">
            <div class="favMenuItemsBlock col-lg-12">
                <div class="menuItemsList row main-cat-row">
                    @if (Model.Items.Count > 0)
                    {
                        if (Model.Warnings.Count > 0)
                        {
                            <div class="message-error">
                                <ul>
                                    @foreach (var warning in Model.Warnings)
                                    {
                                        <li>@warning</li>
                                    }
                                </ul>
                            </div>
                        }
                        @foreach (var item in Model.Items)
                        {
                            var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = 1 });
                            bool InWishList = true;
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 itemBox clearfix menuItemBox_@item.ProductId">
                                <div class="menuItem clearfix">
                                    <div class="itemImg">
                                        <div class="wishlist_prod">
                                            @if (InWishList)
                                            {
                                                <div class="heart-@item.ProductId @(InWishList ? "active" : "") wishlist-remove"><button type="button" onclick="deleteFromWishList(@item.ProductId,'@addtowishlistlink')" class="product-favorite wishlistlink_@item.ProductId" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>

                                            }
                                        </div>
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title">
                                    </div>
                                    <div class="itemInfo">
                                        <div class="product-title">
                                            <span>@item.ProductName</span>
                                        </div>
                                        <div class="product-qty">500 gm</div>

                                        <div class="displayRating">
                                            @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Item), productId = item.ProductId })

                                        </div>
                                        <div class="bar clearfix">

                                            <div class="prices">
                                                <span class="price actual-price">@item.UnitPrice</span>
                                            </div>

                                            <div class="buttons ajax-cart-button-wrapper">

                                                <div class="ajax-cart-button-wrapper qty-enabled" data-productid="1619" data-isproductpage="false">
                                                    @{ //prepare "Add to cart" AJAX link
                                                        var addtocartlink = "";
                                                        var shoppingCartTypeId = 1;
                                                        var quantity = 1;
                                                        var addToCartText = T("ShoppingCart.AddToCart").Text;

                                                        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.ProductId, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });

                                                    }
                                                    <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button" onclick="addItemFromWishListToCart('@addtocartlink',@item.ProductId,@item.VendorId)">


                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $(".wishlistlink_@item.ProductId").click(function () {
                                 $(this).parents().find(".menuItemBox_@item.ProductId").addClass("item-remove");
                                });
                            </script>
                        }
                    }
                    else
                    {
                        <div class="no-data">
                            @T("Wishlist.CartIsEmpty")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
