﻿@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body form-inputs">
        
        @if (!string.IsNullOrEmpty(Model.Result))
            {
            <div class="result">
                @Html.Raw(Model.Result)
            </div>
        }
        <form asp-route="CustomerChangePassword" method="post">           
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="row">

                    <div class="col-md-6">
                        <div class="floating_labels">
                            <input asp-for="OldPassword" type="text" id="OldPassword" placeholder=" " />
                            <label asp-for="OldPassword" asp-postfix="" for="POST-OldPassword">@T("Account.ChangePassword.Fields.OldPassword")</label>
                            <nop-required />
                        </div>
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="floating_labels">
                            <input asp-for="NewPassword" type="text" id="NewPassword" placeholder=" " />
                            <label asp-for="NewPassword" asp-postfix="" for="POST-NewPassword">@T("Account.ChangePassword.Fields.NewPassword")</label>
                            <nop-required />
                        </div>
                        <span asp-validation-for="NewPassword"></span>
                    </div>

                </div>
                <div class="row second">
                    <div class="col-md-6">
                        <div class="floating_labels">
                            <input asp-for="ConfirmNewPassword" type="password" id="ConfirmNewPassword" placeholder=" " />
                            <label asp-for="ConfirmNewPassword" asp-postfix="" for="POST-ConfirmNewPassword">@T("Account.ChangePassword.Fields.ConfirmNewPassword")</label>
                            <nop-required />
                        </div>
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 SaveButton">
                <input type="submit" class="button-1 change-password-button" value="@T("nb.save")" />
            </div>
        </form>
    </div>
</div> 