﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<div class="footer">
    <div class="footer-upper">
        <div class="container">
            <div class="row">
                <div class="footer-block col-12">
                  
                        <a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("nb.Help")</a>
                        <a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("nb.Contact")</a>
                        <a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("nb.Apply")</a>
                        <a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("nb.support")</a>
                    
                </div>
                <div class="footer-block col-md-12">
                    <div class="social">
                       
                        @await Component.InvokeAsync("SocialButtons")
                    </div>
                </div>
                
                </div>
            </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-info">
                        <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                        @if (Model.DisplayTaxShippingInfoFooter)
                        {
                            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                            <span class="footer-tax-shipping">
                                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </span>
                        }
                    </div>
                   @* @if (!Model.HidePoweredByNopCommerce)
                    {
                        <div class="footer-powered-by">
                            Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a>
                        </div>
                    }*@
                    @await Component.InvokeAsync("StoreThemeSelector")
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                //debugger
                //$(this).siblings('.list').slideToggle('slow');
            }
        });
        
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            //debugger
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>