﻿@model TipModel
@using Nop.Core
@inject IWebHelper webHelper

@{
    var storeLocation = webHelper.GetStoreLocation();
}
<div class="discount-tip">
    <div class="title">
        <strong>@T("NB.CheckOutPage.Tip")</strong>
    </div>
    <a href="#tip_box" rel="modal:open" id="btnaddTip">Add</a>
    @if (Model.SelectedTipAmountValue > 0)
    {
        <a href="javascript:void(0)" onclick="removeTipAmount();">Remove</a>
    }
</div>
@*<div class="tips-info">
        <div class="tipsLable">
            <label>@T("NB.CheckOutPage.Tip")</label>
        </div>
        <div class="tipicsRadio">
            @foreach (var tip in Model.Tips)
            {
                <input type="radio" @(tip.TipAmountValue == Model.SelectedTipAmountValue ? "checked" : "") name="tipAmount" value="@tip.TipAmountValue" /> @tip.TipAmount;
            }
        </div>
        <div class="tipicsInputs">
            <input type="text" id="txtTipAmount" name="txtTipAmount" placeholder="@T("NB.CheckOutPage.EnterTip")" />
            <input type="button" id="saveTipAmount" name="saveTipAmount" value="@T("NB.CheckOutPage.Tip.Button")" />
        </div>
    </div>*@
<script type="text/javascript">
    $(document).ready(function () {
            $("input[name='tipAmount']").bind("change",function(){
                $("#txtTipAmount").val($(this).val());
                saveTipAmount();
                return false;
            });
            $('#txtTipAmount').bind("keydown",function (event) {
                if (event.keyCode == 13) {
                    saveTipAmount();
                    return false;
                }
            });
            $('#saveTipAmount').bind("click",function () {
                saveTipAmount();
                return false;
            });
            $("#txtTipAmount").bind("keyup",function () {
                var $this = $(this);
                $this.val($this.val().replace(/[^\d.]/g, ''));
            });
            var saveTipAmount = function () {
                if ($("#txtTipAmount").val() == "") {
                    alert('@T("NB.CheckOutPage.Tip.ValidValue")');
                    return false
                }

                var postData = {
                    tipAmount: $("#txtTipAmount").val()
                };

                $.ajax({
                        cache: false,
                    url: '/shoppingcart/saveTipAmount/',
                        data: postData,
                        type: 'post',
                    success: function (response) {
                        if (response.success) {
                            $('#flyout-cart').html(response.html);
                            hidebtnaddTip();
                            }
                        },
                        error: function () {
                            alert('An error occurred');
                        }
                    });
        }
    });
</script>
<script>
    function hidebtnaddTip() {
        var x = document.getElementById("btnaddTip");
        x.style.display = "none";
    }
</script>
<div class="modal discount_tip_popup" id="tip_box">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>@T("NB.Popup.AddDriverTip.Heading")</h2>
                <a href="#" rel="modal:close" class="close">&times;</a>
            </div>
            <div class="modal-body">
                <div class="modal_desc">
                    <input type="text" id="txtTipAmount" name="txtTipAmount" placeholder="@T("NB.CheckOutPage.EnterTip")" />

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="saveTipAmount" name="saveTipAmount" value="@T("NB.CheckOutPage.Tip.Button")" />
            </div>
        </div>
    </div>
</div>

<script>
    function removeTipAmount() {
        $.ajax({
            cache: false,
            url: '/shoppingcart/RemoveTipAmount/',
            type: 'GET',
            success: function (response) {
                if (response.success) {
                    $('#flyout-cart').html(response.html);
                }
            },
            error: function () {
                alert('An error occurred');
            }
        });
    }
</script>
