﻿@model PhoneNumberConfirmationModel

@{
    Layout = "";

    var selectedCountry = Model.AvailableCallingCodes.First(model => model.Selected);
}

<div class="inputs country-dropdown">
    <div class="btn-group" id="selected-calling-code">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
            @selectedCountry.Code
        </button>
        <ul class="dropdown-menu">
            <li class="first"><input id="filter-country" type="text" placeholder="@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.SearchCountry")" /></li>
            @foreach (var item in Model.AvailableCallingCodes)
            {
                <li data-code="@item.Code" data-regex-pattern="@item.RegexPattern" data-two-letter-iso-code="@item.TwoLetterIsoCode">
                    @item.CountryName (@item.Code)
                </li>
            }
        </ul>
    </div>
    <input id="selected-country-two-letter-iso-code" name="SelectedCountryTwoLetterIsoCode" value="@selectedCountry.TwoLetterIsoCode" type="hidden" />
    <input asp-for="PhoneNumber" class="@(Model.HasValidPhoneNumber ? "valid-number" : "")" autofocus="autofocus" 
           placeholder="@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.Field.PhoneNumber")" />

    @if (Model.HasValidPhoneNumber)
    {
        <button type="button" id="delete-phonenumber" class="btn btn-danger btn-primary-sm">@T("Common.Delete")</button>
    }
</div>

<script>
    Resanehlab.documentReady(function () {
        $("#filter-country").keyup(function () {
            var filter = $(this).val().toLowerCase();
            if (filter.length) {

                $(this).parent("li").siblings("li").each(function () {
                    var text = $(this).text().toLowerCase();
                    if (text.indexOf(filter) != -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
            else {
                $(this).parent("li").siblings("li").show();
            }
        });

        $("#selected-calling-code ul li").click(function () {
            if (!$(this).hasClass("first")) {
                $("#selected-calling-code > button").html($(this).attr("data-code"));
                $("#selected-country-two-letter-iso-code").val($(this).attr("data-two-letter-iso-code"));
                $("#PhoneNumber").rules("remove", "phoneNumberRegexValidation");
                $("#PhoneNumber").rules("add", {
                    phoneNumberRegexValidation: $(this).attr("data-regex-pattern")
                });
            }
        });
    });
</script>