﻿@model RecoverEmailByUsernameModel

@{
    Layout = "";
}

<a class="recover-trigger">
    @T("Resanehlab.Plugin.Authentication.PhoneNumber.RecoverEmailByUsername.Info")
</a>
<div class="collapse" id="recover-box-collapse">
    <div class="recover-box">
        <div class="inputs">
            <input asp-for="Username" class="recover-box-username" placeholder="@T("Account.Login.Fields.UserName")" />
            <input type="button" class="button-1 recover-box-button btn-primary-sm" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.RecoverEmailByUsername.Recover")">
            <p class="recover-box-email"></p>
        </div>
    </div>
</div>

<script>
    Resanehlab.documentReady(function () {
        $(".recover-trigger").on("click", function () {
            $("#recover-box-collapse").slideToggle();
            $(this).toggleClass("open")
        });

        $(".recover-box-button").on("click", function () {
            $.ajax({
                cache: false,
                url: '@Url.Action("RecoverEmailByUsername", "PhoneAuthenticationCustomer")',
                data: { username: $(".recover-box-username").val() },
                type: 'post',
                beforeSend: function () {
                    $("#Username").addClass("loading");
                },
                success: function (response) {
                    $(".recover-box-email").removeClass("recover-error");
                    $(".recover-box-email").removeClass("recover-success");
                    $(".recover-box-email").text(response.message);
                    if (!response.success)
                        $(".recover-box-email").addClass("recover-error");
                    else
                        $(".recover-box-email").addClass("recover-success");
                },
                complete: function () {
                    $("#Username").removeClass("loading");
                },
                error: function (error) {
                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                }
            });
        });
    });
</script>
