﻿@model ManufacturerNavigationModel
@if (Model.Manufacturers.Count > 0)
{
    <!--<div class="block block-manufacturer-navigation">
        <div class="title">
            <strong>Brand</strong>
        </div>
        <div class="listbox">
            <div class="search_categories">
                <input type="search" name="Search By Brand" placeholder="Search By Brand" class="search-box-left" />
                <input type="submit" value="Search" class="search-button-left" />
            </div>
            <ul class="list">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")">
                        <input type="checkbox" id=" " /> <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })" name=" ">@manufacturer.Name</a>
                    </li>
                }
            </ul>-->
            @* @if (Model.TotalManufacturers > Model.Manufacturers.Count)
                {
                    <div class="view-all">
                        <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                    </div>
                }*@
        <!--</div>
    </div>-->
}

 
<div class="block block-manufacturer-navigation">
    <div class="title">
        <strong>@T("NB.ProductLeftFilter.Supplier")</strong>
    </div>
    <div class="listbox">
        <div class="search_categories">
            <input type="search" name="Search by Supplier" placeholder="Search by Supplier" class="search-box-left" />
            <input type="submit" value="Search" class="search-button-left" />
        </div>
        <ul class="list">
            <li class=" ">
                <input type="checkbox" id=" " /> <a href=" " name=" ">Mother Dairy Fruit & Vegetable</a>
            </li>

        </ul>

    </div>
</div>

<div class="block block-manufacturer-navigation">
    <div class="title">
        <strong>@T("NB.ProductLeftFilter.Price")</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            <li class=" ">
                <input type="checkbox" id=" " /> <a href=" " name=" ">Less than Rs 20 (60)</a>
            </li>
            <li class=" ">
                <input type="checkbox" id=" " /> <a href=" " name=" ">Rs 21 to Rs 50 (41)</a>
            </li>
            <li class=" ">
                <input type="checkbox" id=" " /> <a href=" " name=" ">Rs 51 to Rs 100 (14)</a>
            </li>
        </ul>
    </div>
</div>
<div class="block block-manufacturer-navigation">
    <div class="title">
        <strong>@T("NB.ProductLeftFilter.PackSize")</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            <li class=" ">
                <input type="checkbox" id=" " /> <a href=" " name=" ">250 GM</a>
            </li>
            <li class=" ">
                <input type="checkbox" id=" " /> <a href=" " name=" ">500 GM</a>
            </li>
            <li class=" ">
                <input type="checkbox" id=" " /> <a href=" " name=" ">1 KG</a>
            </li>
            <li class=" ">
                <input type="checkbox" id=" " /> <a href=" " name=" ">1.5 KG</a>
            </li>
        </ul>
    </div>
</div> 