﻿@model Nop.Plugin.Atluz.Razorpay.Models.PaymentProcessModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    Html.AppendCssFileParts("~/Plugins/Atluz.Razorpay/Content/custom.css");
}
<div style="height:450px;"></div>
<div class="atluz_outerbox">
    <div class="atluz_innerbox">
        <div id="confirmationWaiting" class="atluz_contentbox">
            <h2>Order ID: @Model.OrderId</h2><br />
            Please wait while we process the payment request.<br />
            Please Do Not refresh or navigate out of this page<br /><br />
            <div><img src="/Plugins/Atluz.Razorpay/Content/progressbar.gif" /></div>
        </div>
        <div id="confirmed" style="display: none;" class="atluz_contentbox">
            <h2>Order ID: @Model.OrderId</h2><br />
            Payment has been processed. Please wait...
            <br /><br />
            <div><img src="/Plugins/Atluz.Razorpay/Content/progressbar.gif" /></div>
        </div>
        <div id="confirmationFailed" style="display: none;" class="atluz_contentbox">
            <h2>Order ID: @Model.OrderId</h2><br />
            Sorry!!! we are unable to verify the payment status for now.<br /><br />
            Sometimes this process takes longer so please contact the site administrator for details<br />
            or visit order details after sometime.<br /><br />
            <div class="checkout-page">
                <input class="button-1" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = Model.OrderId })')" type="button" value="Order Details" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" asp-location="Footer">
    var _orderId = @Model.OrderId;
    var _counter = 0;
    var _threshold = @T("Plugin.Atluz.Razorpay.ConfirmScanThreshold");
    var _scanDelay = @T("Plugin.Atluz.Razorpay.ConfirmScanDelay");
    function checkStatus(){
        $.post('@Url.RouteUrl("Plugin.Atluz.Razorpay.GetOrderPaymentStatusId")',
            {
                orderId: _orderId
            },
            function (data) {
                if (data == @T("Plugin.Atluz.Razorpay.InvalidPaymentId")) {
                    window.location = '@Url.Action("Index", "Home", new { area = string.Empty })';
                }

                if(data == @T("Plugin.Atluz.Razorpay.AuthorizedPaymentId") || data == @T("Plugin.Atluz.Razorpay.PaidPaymentId")) {
                    $("#confirmationWaiting").hide();
                    $("#confirmed").show();
                    $("#confirmationFailed").hide();
                    window.location = '@Url.RouteUrl("CheckoutCompleted", new { orderId = Model.OrderId })';
                }
                else {
                    _counter = _counter + 1;
                    if(_counter >= _threshold){
                        $("#confirmationWaiting").hide();
                        $("#confirmed").hide();
                        $("#confirmationFailed").show();
                    }
                    else{
                        setTimeout(checkStatus, _scanDelay);
                    }
                }
            });
    }
</script>
<head>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <form>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script type="text/javascript">
            var options = {
                "key": "@Model.Key",
                "name": "@Model.Name",
                "amount": "@Model.Amount",
                "description": "@Model.Description",
                @if (!string.IsNullOrEmpty(Model.RazorpayOrderId))
                {
                    <text>
                        "order_id": "@Model.RazorpayOrderId",
                    </text>
                }
                @if (!string.IsNullOrEmpty(Model.ImgUrl))
                {
                    <text>
                        "image": "@Model.ImgUrl",
                    </text>
                }
                "prefill.name": "@Model.PrefillName",
                "prefill.email": "@Model.PrefillEmail",
                "prefill.contact": "@Model.PrefillContact",
                "handler": function (response) {
                    checkStatus();
                },
                "modal": {
                    "ondismiss": function () {
                        window.location = "@Url.Action("Details", "order")" +"?orderId=" +@Model.OrderId ;
                    }
                },
                "notes": {
                    "orderId": "@Model.CustomOrderId"
                }
                @if (!string.IsNullOrEmpty(Model.Color))
                {
                    <text>
                    ,
                    "theme": {
                        "color": "@Model.Color"
                    }
                    </text>
                }
            };

            var rzp1 = new Razorpay(options);
            rzp1.open();

        </script>
    </form>
</body>