﻿@model ItemsListModel
@if (!string.IsNullOrEmpty(Model.Keywords) || Model.SelectedImageTags.Count > 0)
{
    <div class="topFilterShort">
        <div class="topFilterList">
            @if (!string.IsNullOrEmpty(Model.Keywords))
            {
                <div id="slctd-txtKeywords">@Model.Keywords <span onclick="AjaxFilter.removeKeywordsFilter('txtKeywords')">X</span></div>
            }

            @foreach (var item in Model.SelectedImageTags)
            {
                <div id="slctd-dvImageTags_@(item.Value)">@item.Text <span onclick="AjaxFilter.removeFilter(@(item.Value))">X</span></div>
            }

            <style>
                .menuItemsList.bestsellers { display: none !important; }
            </style>

            <div class="clearAll"><span onclick="AjaxFilter.clearAllFilter()">@T("Items.Filter.ClearAll")</span></div>
        </div>
    </div>

}
@if (Model.Items.Count > 0)
{

    <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "item-box")">
        @foreach (var product in Model.Items)
        {
            @await Html.PartialAsync("_ProductBoxMerchant", product)
        }
    </div>
}
@{
    var pager = Html.CustomPager(Model.PagingFilteringContext).QueryParam("pagenumber");
}
@if (!pager.IsEmpty())
{
    <div class="pager">
        @pager
    </div>
}

<script>   
    var x = document.getElementById("categoryPager");
    x.style.display = "none";
</script>

