﻿@model SocialModel
<ul class="networks">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a href="@Model.FacebookLink" target="_blank"> </a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" target="_blank"> </a></li>
    }
    <li class="facebook"><a href="@Model.FacebookLink" target="_blank"> </a></li>
    <li class="twitter"><a href="@Model.TwitterLink" target="_blank"> </a></li>
    <li class="linkedin"><a href="#" target="_blank"> </a></li>
    @if (Model.NewsEnabled)
    {
        <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube"><a href="@Model.YoutubeLink" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
    }
</ul>