﻿@model SMSInterfaceModel

@{
    Layout = "";

    var sMSMessageTokenProvider = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Resanehlab.Plugin.Authentication.PhoneNumber.Services.ISMSMessageTokenProvider>();
}

<script type="text/javascript">
    var selectedIds = [];

    $(document).ready(function () {
        $("#@Html.IdFor(model => model.ProviderInterfaceTypeId)").change(toggleFields);

        toggleFields();
    });

    function toggleFields() {
        var value = $("#@Html.IdFor(model => model.ProviderInterfaceTypeId)").val();
        switch (value) {
            case "@((int)SMSProviderInterfaceType.SmsHttpApi)":
                $('#pnlProviderApiGateway').show();
                $('#pnlTwilioSettingSId').hide();
                $('#pnlTwilioSettingAuthToken').hide();
                $('#pnlTwilioSettingSMSNumber').hide();
                break;
            case "@((int)SMSProviderInterfaceType.TwilioSmsApi)":
                $('#pnlProviderApiGateway').hide();
                $('#pnlTwilioSettingSId').show();
                $('#pnlTwilioSettingAuthToken').show();
                $('#pnlTwilioSettingSMSNumber').show();
                break;
        }
    }
</script>

<input type="hidden" asp-for="@Model.Id" />

<div class="content">
    <div class="form-horizontal">
        <div class="raw clearfix">
            <div class="content">
                <div class="form-horizontal">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSInterface.Info")
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="ProviderCountryTwoLetterIsoCode" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-select asp-for="ProviderCountryTwoLetterIsoCode" asp-items="@Model.AvailableCountries" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="ProviderInterfaceTypeId" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-select asp-for="ProviderInterfaceTypeId" asp-items="@(((SMSProviderInterfaceType)Model.ProviderInterfaceTypeId).ToSelectList())" />
                                    </div>
                                </div>
                                <div class="form-group" id="pnlProviderApiGateway">
                                    <div class="col-md-3">
                                        <nop-label asp-for="ProviderApiGateway" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="ProviderApiGateway" asp-required="true" />
                                        <span asp-validation-for="ProviderApiGateway"></span>

                                    </div>
                                </div>
                                <div class="form-group" id="pnlTwilioSettingSId">
                                    <div class="col-md-3">
                                        <nop-label asp-for="TwilioSettingSId" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="TwilioSettingSId" asp-required="true" />
                                        <span asp-validation-for="TwilioSettingSId"></span>
                                    </div>
                                </div>
                                <div class="form-group" id="pnlTwilioSettingAuthToken">
                                    <div class="col-md-3">
                                        <nop-label asp-for="TwilioSettingAuthToken" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="TwilioSettingAuthToken" asp-required="true" />
                                        <span asp-validation-for="TwilioSettingAuthToken"></span>
                                    </div>
                                </div>
                                <div class="form-group" id="pnlTwilioSettingSMSNumber">
                                    <div class="col-md-3">
                                        <nop-label asp-for="TwilioSettingSMSNumber" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="TwilioSettingSMSNumber" asp-required="true" />
                                        <span asp-validation-for="TwilioSettingSMSNumber"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="Active" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="Active" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.Id > 0)
                        {
                            @await Html.PartialAsync(Constants.SMSInterfaceCreateOrUpdateTestMessagePartialViewPath, Model)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
