﻿@model SMSInterfaceModel

<div class="panel panel-default">
    <div class="panel-heading">
        @T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSInterface.SendTestSMS")
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="CountryCallingCode" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="CountryCallingCode" asp-required="true" />
                <span id="CountryCallingCodeValidation"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="PhoneNumber" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PhoneNumber" asp-required="true" />
                <span id="PhoneNumberValidation"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="MessageText" />
            </div>
            <div class="col-md-9">
                <nop-textarea asp-for="MessageText" asp-required="true" />
                <span id="MessageTextValidation"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-9">
                <input type="button" id="sendMessage" class="btn bg-blue" name="sendMessage" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.TestMessage.SendMessageButton.Text")" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $("#sendMessage").click(function () {
            var countryCallingCode = $("#@Html.IdFor(model => model.CountryCallingCode)").val();
            var phoneNumber = $("#@Html.IdFor(model => model.PhoneNumber)").val();
            var smsInterfaceId = $("#@Html.IdFor(model => model.Id)").val();
            var messageText = $("#@Html.IdFor(model => model.MessageText)").val();

            var validationErrorInputIds = [];

            if (countryCallingCode == "" || countryCallingCode == null)
                validationErrorInputIds.push("@Html.IdFor(model => model.CountryCallingCode)");
            if (phoneNumber == null || phoneNumber == '')
                validationErrorInputIds.push("@Html.IdFor(model => model.PhoneNumber)");
            if (messageText == "" || messageText == null)
                validationErrorInputIds.push("@Html.IdFor(model => model.MessageText)");

            if (validationErrorInputIds.length > 0)
                showValidationErrors(validationErrorInputIds);
            else {
                var postData = {
                    countryCallingCode: countryCallingCode,
                    phoneNumber: phoneNumber,
                    smsInterfaceId: smsInterfaceId,
                    messageText: messageText
                };

                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("SendTestMessage", "SMSInterfaceAdmin"))",
                    data: postData,
                    success: function (response) {
                        alert(response.message);
                        $('#sendMessage').attr('disabled', false);
                    },
                    error: function (error) {
                        alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.SendingMessage.ErrorNotification")");
                    }
                });
            }
    });

    function showValidationErrors(validationErrorInputIds) {
        console.log(validationErrorInputIds)
        if (validationErrorInputIds == null || !Array.isArray(validationErrorInputIds))
            return;

        validationErrorInputIds.forEach(function (id) {
            $("#" + id + "Validation").addClass("field-validation-error").text("@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSInterface.TestMessage.Field.Required")").delay(3000).queue(function () {
                $(this).removeClass("field-validation-error").text("").dequeue();
            });
        });
    }
</script>