﻿@model SocialModel
<ul class="networks">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a href="@Model.FacebookLink" target="_blank"><i class="fa fa-facebook">@T("Footer.FollowUs.Facebook")</i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" target="_blank"><i class="fa fa-twitter">@T("Footer.FollowUs.Twitter")</i></a></li>
    }
    <li class="linkedIn"><a href="#"><i class="fa fa-linkedin">@T("Footer.FollowUs.linkedIn")</i></a></li>
    <li class="whatsApp"><a href="#"><i class="fa fa-whatsapp">@T("Footer.FollowUs.WhatsApp")</i></a></li>
    <li class="instagram"><a href="#"><i class="fa fa-instagram">@T("Footer.FollowUs.LinkedIn")</i></a></li>
</ul>