﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid" id="homepageproducts">
        <div class="title">
            <strong>@T("NB.Homepage.BestSellers")</strong>
            <a href="/category-docampo" class="showMoreBtn">@T("NB.Button.ShowMore")</a>
        </div>
        <div class="item-grid fourItemSlider">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}