﻿@model AddressModel

<input asp-for="Id" type="hidden" />
<div class="newAddresMsg">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <span style="color:red">@(Model.Message)</span>}
    <input type="hidden" asp-for="AddressTypeId" id="hdAddressTypeId" />
    <input type="hidden" asp-for="Latitude" id="hdLatitude" />
    <input type="hidden" asp-for="Longitude" id="hdLongitude" />
</div>

<div class="edit-address">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName" asp-postfix=":"></label>
                <input asp-for="FirstName" class="form-control form-control-lg" />
                <nop-required />
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName" asp-postfix=":"></label>
                <input asp-for="LastName" class="form-control form-control-lg" />
                <nop-required />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email" asp-postfix=":"></label>
                <input asp-for="Email" class="form-control form-control-lg" />
                <nop-required />
                <span asp-validation-for="Email"></span>
            </div>
        </div>         
        @if (Model.CountryEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CountryId" asp-postfix=":"></label>
                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"
                            data-trigger="country-select"
                            data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                            data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                            data-loading="#states-loading-progress" class="form-control form-control-lg"></select>
                    <nop-required />
                    <span asp-validation-for="CountryId"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StateProvinceId" asp-postfix=":"></label>
                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates" class="form-control form-control-lg"></select>
                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    <span asp-validation-for="StateProvinceId"></span>
                </div>
            </div>
        }
        @if (Model.FaxEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FaxNumber" asp-postfix=":"></label>
                    <input asp-for="FaxNumber" class="form-control form-control-lg" />
                    @if (Model.FaxRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="FaxNumber"></span>
                </div>
            </div>
        }

    </div>

    <div class="row">

        @if (Model.CityEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="City" asp-postfix=":"></label>
                    <input asp-for="City" class="form-control form-control-lg" />
                    @if (Model.CityRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="City"></span>
                </div>
            </div>
        }

        @if (Model.StreetAddressEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Address1" asp-postfix=":"></label>
                    <input asp-for="Address1" class="form-control form-control-lg" />
                    @if (Model.StreetAddressRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="Address1"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @*@if (Model.StreetAddress2Enabled)
        {*@
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Address2" asp-postfix=":"></label>
                <input asp-for="Address2" id="BillingNewAddress_Address2" />
                <nop-required />
                <span asp-validation-for="Address2"></span>
            </div>
        </div>       
        @if (Model.ZipPostalCodeEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                    <input asp-for="ZipPostalCode" class="form-control form-control-lg" />
                    @if (Model.ZipPostalCodeRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="ZipPostalCode"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @if (Model.CompanyEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Company" asp-postfix=":"></label>
                    <input asp-for="Company" class="form-control form-control-lg" />
                    @if (Model.CompanyRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="Company"></span>
                </div>
            </div>
        }

        @if (Model.PhoneEnabled)
        {

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PhoneNumber" asp-postfix=":"></label>
                    <input asp-for="PhoneNumber" class="form-control form-control-lg" />
                    @if (Model.PhoneRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @if (Model.CountyEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="County" asp-postfix=":"></label>
                    <input asp-for="County" class="form-control form-control-lg" />
                    @if (Model.CountyRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="County"></span>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="form-group">

            </div>
        </div>
    </div>

    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>

<script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('BillingNewAddress_Address2')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);

        // Set initial restrict to the greater list of countries.
        //autocomplete.setComponentRestrictions(
            //{ 'country': ['nz'] });

    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //document.getElementById("address_attribute_2").value = place.geometry.location;
        //Added By Mah
        //var address1 = place.formatted_address;
        var latitude = place.geometry.location.lat();
        var longitude = place.geometry.location.lng();
        var latlng = new google.maps.LatLng(latitude, longitude);
        var geocoder = geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    //var address2 = results[0].formatted_address;
                    var pin = results[0].address_components[results[0].address_components.length - 1].long_name;
                    var country = results[0].address_components[results[0].address_components.length - 2].long_name;
                    var state = results[0].address_components[results[0].address_components.length - 3].long_name;
                    var city = results[0].address_components[results[0].address_components.length - 4].long_name;
                    //alert(country);
                    //document.getElementById('BillingNewAddress_CountryId').value = "United Kingdom";
                    //var s = document.getElementById('BillingNewAddress_CountryId');
                    //s.options[1].selected = true;
                    //document.getElementById('BillingNewAddress_CountryId').onchange();
                    //alert(state);
                    //document.getElementById('BillingNewAddress_StateProvinceId').value = state;
                    var textToFind = state;

                    var dd = document.getElementById('BillingNewAddress_StateProvinceId');
                    for (var i = 0; i < dd.options.length; i++) {
                        if (dd.options[i].text === textToFind) {
                            dd.selectedIndex = i;
                            break;
                        }
                    }
                    document.getElementById('hdLatitude').value = latitude;
                    document.getElementById('hdLongitude').value = longitude;
                    document.getElementById('BillingNewAddress_City').value = city;
                    //document.getElementById('BillingNewAddress_ZipPostalCode').value = pin;
                    GetLocation(false);
                }
            }
        });

    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }


    @*function GetLocation(callSave) {
         if ($("#hdbilling_address_id").val() == '') {
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById("BillingNewAddress_Address2").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                debugger;
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                $.ajax({
                    url: "/checkout/CheckGeoArea?latlong=" + latitude + "%20" + longitude + "", success: function (result) {
                        $(".checkAdressSt").html(result);
                        if (!result) {
                            $("#BillingNewAddress_Address2").val("");
                            $("#BillingNewAddress_Address2").addClass("input-validation-error");
                            if ($("#BillingNewAddress_Address2").parent().find(".custom-error").length === 0) {
                                $("#BillingNewAddress_Address2").parent().append("<div class='custom-error' style='color:red; font-size:12px'>"+"@T("Address.OutOfDeliveryArea.Message")"+"</div>");
                            }
                        } else {
                            $("#BillingNewAddress_Address2").parent().find(".custom-error").remove();
                            $("#BillingNewAddress_Address2").removeClass("input-validation-error");

                            if (!(callSave === "undefined") && callSave) {
                                Billing.save();
                            }
                        }
                    }
                });


            } else {
                 $("#BillingNewAddress_Address2").val("");
                $("#BillingNewAddress_Address2").addClass("input-validation-error");
                if ($("#BillingNewAddress_Address2").parent().find(".custom-error").length === 0) {
                    $("#BillingNewAddress_Address2").parent().append("<div class='custom-error' style='color:red; font-size:12px'>"+"@T("Address.OutOfDeliveryArea.Message")"+"</div>");
                }
            }
        });
           }
        else {
            Billing.save();
        }
    };*@

    @* function CheckGeoArea(address,addId) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                //debugger;
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                $.ajax({
                    url: "/checkout/CheckGeoArea?latlong=" + latitude + "%20" + longitude + "", success: function (result) {
                        $(".checkAdressSt").html(result);
                        if (!result) {
                           alert('@T("Address.OutOfDeliveryArea.Message")');
                        } else {
                            Billing.selectAddress(addId);
                        }
                    }
                });
            }
        });
    };*@

    $(function () {
        $("#BillingNewAddress_Address2").blur(function () {
            if ($("#BillingNewAddress_Address2").val().length > 0 && $("#BillingNewAddress_Address1").val().length > 0) {
                $("#billing-buttons-container #billing-button-continue").addClass("active");
            }
        });

        $("#BillingNewAddress_Address1").blur(function () {
            if ($("#BillingNewAddress_Address2").val().length > 0 && $("#BillingNewAddress_Address1").val().length > 0) {
                $("#billing-buttons-container #billing-button-continue").addClass("active");
            }
        });

    });

</script>
<style>
    #autoComError {
        display: none;
        font-size: 12px;
        color: #f6794d;
        padding: 0 0 0 18px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKuUGMz8-xYyc6t1YWUhygrrkB4-WAFeY&libraries=places&callback=initAutocomplete" async defer></script>
