﻿@using Nop.Core
@using Nop.Services.Configuration


@inject IStoreContext storeContext
@inject ISettingService settingService
@inject IWorkContext workContext

@{
    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var actionName = Url.ActionContext.RouteData.Values["action"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) &&
                        actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);

    var currentStore = storeContext.CurrentStore;
    int storeId = currentStore.Id;
    bool isHomeSliderFullWidth = settingService.GetSettingByKey("pavilionthemesettings.ishomepagemainsliderfullwidth", false, storeId, true);
    bool stickyCategoryMenuFlyout = settingService.GetSettingByKey("pavilionthemesettings.StickyCategoryMenuFlyout", true, storeId, true);
    bool showCategoriesInSideMenu = settingService.GetSettingByKey("pavilionthemesettings.ShowCategoriesInSideMenu", true, storeId, true);
} 
<div class="header stickyHeader">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upperBg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-upper">
                        @* <div class="header-selectors-wrapper">
                                @await Component.InvokeAsync("TaxTypeSelector")
                                @await Component.InvokeAsync("CurrencySelector")
                                @await Component.InvokeAsync("LanguageSelector")
                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
                            </div>*@
                        <div class="header-links-wrapper">
                            @await Component.InvokeAsync("HeaderLinks")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-lower">
                    <div class="header-logo ">
                        @await Component.InvokeAsync("Logo")
                    </div>
                    <div class="header-address">
                        <ul>
                            <li class="topLocation">
                                <a href="#" class="topAddress dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">560004, Bangalore</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">560004, Bangalore</a>
                                    <a class="dropdown-item" href="#">560003, Punjab</a>
                                    <a class="dropdown-item" href="#">560002, Delhi</a>
                                    <a class="dropdown-item" href="#">560001, Mumbai</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="wishlistCart">
                        @await Component.InvokeAsync("HeaderLinks")
                        @await Component.InvokeAsync("FlyoutShoppingCart")
                    </div>
                    <div class="menu-toggle"><i class="fa fa-bars"></i></div>
                    <div class="search-box store-search-box">
                        @await Component.InvokeAsync("SearchBox")

                    </div>
                    <div class="header-menu"> 
                        <div class="shopByCategoryDrop">@T("NB.Nav.Link.ShopByCategory")</div>
                        @await Component.InvokeAsync("TopMenu")
                    </div>
                    <div class="contactNumber"><p>@T("NB.Header.Contact.Info")</p><a href="tel:@T("NB.Header.Contact.Number")">@T("NB.Header.Contact.Number")</a></div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
