﻿@model IList<ProductOverviewModelMerchant>

@if (Model.Count > 0)
{	
	<div class="menuItemsList row bestsellers" id="bestsellers">
		<div class="col-md-12">
			<div class="marchentTopFilter row text-center">
                @*<h2 class="merchantHead" cccatid="bestsellers">@T("nb.Merchanthead")</h2>*@
			
				<h2 cccatid="bestsellers">@T("Bestsellers")</h2>
				<div class="numberOfItems">
					<span></span> items
				</div>
			</div>
           
            </div>
		@foreach (var item in Model)
		{
			@await Html.PartialAsync("_ProductBoxMerchant", item)
		}        
	</div>	
}