﻿@using Nop.Core
@using Nop.Services.Configuration;
@inject ISettingService settingservice
@inject IWorkContext workContext
@model List<MerchantModel>
@inject IStoreContext storeContext
@{
    var googleAccountKey = storeContext.GoogleMapAccountKey;
    string locDistanceFormat = settingservice.GetSettingByKey<string>("Merchant.Location.Distance.Format", "mi", workContext.GetCurrentStoreId, true);
}
@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div data-id="@item.Id" class="col-sm-4 col-xs-12 restaurBox clearfix">
            <div class="box" onclick="CallMerchant(@item.Id)">
                <div class="img clearfix">

                    <a href="javascript:void(0);" onclick="CallMerchant(@item.Id)" class="imginclick" title="@item.PictureModel.Title" imgInClick="@item.PictureModel.ImageUrl"></a>
                </div>
                <div class="restaur_desc">
                    <a href="javascript:void(0);" onclick="CallMerchant(@item.Id)" title="@item.PictureModel.Title" class="rest_logo imginclick" imgInClick="@item.PictureModel.ImageUrl"></a>
                    @*<span class="offer">25% Off</span>*@
                    <a href="javascript:void(0);" onclick="CallMerchant(@item.Id)" title="@item.PictureModel.Title" class="rest_title">
                        <h2>@item.Name</h2>
                    </a>
                    <div class="time_rating">
                        <div class="Time">
                            <div class="openTime">
                                @if (item.MerchantIsAvailable)
                                {
                                    @T("NB.Admin.Merchant.Available")
                                }
                                else
                                {
                                    <em>@item.Opentime -</em> <em> @item.Closetime</em>
                                }
                            </div>
                            @* <div class="row rating"><img class="watch" src="/Themes/MommyValet/Content/img/watch.png" />
        <em> @item.RatingPercent</em></div>*@

                        </div>
                        <div class="rating">
                            <div class="ratingli">
                                <span>
                                    <img class="watch" src="/Themes/MommyValet/Content/img/ratingStar.png" />
                                    @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant) })
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="restaurBoxAddress">
                        @*@workContext.CurrentMerchantAddress*@
                        <span class="merchant_desc">
                            @if (!string.IsNullOrEmpty(item.Address1))
                            {
                                @item.Address1; <text>,</text>
                            }
                            @if (!string.IsNullOrEmpty(item.Address2))
                            {
                                @item.Address2; <text>,</text>
                            }
                            @if (!string.IsNullOrEmpty(item.City))
                            {
                                @item.City; <text>,</text>
                            }
                            @if (!string.IsNullOrEmpty(item.State))
                            {
                                @item.State; <text>,</text>
                            }
                            @if (!string.IsNullOrEmpty(item.State))
                            {
                                @item.Zip;
                            }
                        </span>

                    </div>
                    <div class="diningText">

                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <i class="icon icon-dine"></i>
                            @Html.Raw(item.Description)
                        }

                    </div>
                    @{
                        @* string[] venLtLngStrArr = item.Geolocation?.Replace("{\"type\":\"MARKER\",\"coordinates\":{\"lat\":", "").Replace("\"lng\":", "").Replace("}}", "")?.Split(',');
            if (venLtLngStrArr != null && venLtLngStrArr.Length > 0)
            {
                <div class="displaydist">
                    <em>@T("nb.Distance")</em>
                    <div class="venlatCls" id="venlatPos">@venLtLngStrArr[0].ToString()</div>
                    <div class="venlongCls" id="venlongPos">@(venLtLngStrArr.Length > 1 ? venLtLngStrArr[1].ToString() : "")</div>
                    <div class="distanceInMilesCls" id="distanceInMiles"></div>
                </div>
            }*@
                    }
                    @* <ul class="merchentRatingTimeList">
            @{
                bool RatingPercent = false;
            }
            @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.RatingPercent != null)

            {
                RatingPercent = workContext.CurrentMerchant.RatingPercent.Value;
            }
            @if (RatingPercent)
            {
                <li class="ratingli">
                    @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant) }) Rating
                </li>
            }
        </ul>*@
                    @*<div class="isDelivery">@item.IsDelivery</div>
        <div class="isTakeAway">@item.IsTakeAway</div>
        <div class="isDining">@item.IsDining</div>*@
                </div>
            </div>
        </div>
    }
}
<script>
            //controller = "HomeMerchant", action = "Index"
 function CallMerchant (id) {
     $.ajax({
         cache: false,
         url: '/HomeMerchant/SetMerchant?merchantid=' + id,
         data: {},
                type: 'post',
         success: function (response) {
             location.href = '@Url.RouteUrl("HomeMerchantPage")';
         },
         error: function () {
            alert('An error occurred');
         }
     });
 }
</script>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
     function initLocDistance(a, b, c) {
        if ($("#latLongForDist").length > 0 && $("#latLongForDist").val() != '') {
            var geoLoc = $("#latLongForDist").val().replace(",", "").replace("(", "").replace(")", "").split(' ');
            //Get Distance
            $.ajax({
                url: 'https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=' + geoLoc[0] + ',' + geoLoc[1] + '&destinations=' + a + ',' + b + '&key=@(googleAccountKey)',
                type: 'GET',
                success: function (res) {

                    var result = res;
                    console.log(result);
                    var rest = result.rows[0].elements[0].distance.text;
                    if ('@(locDistanceFormat.ToLower())' == 'km') {
                        rest = (result.rows[0].elements[0].distance.value/1000).toFixed(1)+' km';
                    }
                    $(c).html(rest);
                }
            });
        }
    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
    $(".displaydist").each(function () {
        var venlatCls = $(this).find(".venlatCls").html();
        var venlongCls = $(this).find(".venlongCls").html();
        var distanceInMilesCls = $(this).find(".distanceInMilesCls");
        initLocDistance(venlatCls, venlongCls, distanceInMilesCls);
    });
</script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&callback=initMap">
</script>