﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableMasterListModel

@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Orders;
@using Nop.Services

@{

    //resources for product tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");
}
<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_details_info_top", additionalData = Model.Id })
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" @(Model.AvailableStores.Count==0 ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-4">
                    <nop-label asp-for="SearchStoreId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="SearchStoreId" id="ddlStores" asp-items="Model.AvailableStores" />
                </div>
            </div>
            <br @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)/>
            <br @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)/>
            <div class="form-group" @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-4">
                    <nop-label asp-for="SearchVendorId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                    <span asp-validation-for="SearchVendorId"></span>
                </div>
            </div>
            <br @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null) />
            <br @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null) />
            <div class="form-group" @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-4">
                    <nop-label asp-for="SearchVendorId" />
                </div>
                <div class="col-md-8">
                    <select asp-for="SearchVendorId" class="form-control" id="ddlVendor"><option value="0">Select</option></select>
                    <span asp-validation-for="SearchVendorId"></span>
                </div>
            </div>
            <br @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)/>
            <br @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)/>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="TableNo" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="TableNo" class="form-control" />
                    <span asp-validation-for="TableNo"></span>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="Seats" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="Seats" class="form-control" />
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_info_bottom", additionalData = Model.Id })
</div>
<script>
    $(document).ready(function () {
        var storeId = $("#ddlStores").val();
        if (storeId != 0) {
            $("#ddlVendor").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableVendors", "BookingTableMaster"))",
                data: { "Store": storeId },
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (id, option) {
                        
                        $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));
                        
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var vendor = '@Model.SearchVendorId';
                    $("#ddlVendor").val(vendor);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

         });
    
    $("#ddlStores").change(function () {
        var storeId = $("#ddlStores").val();
        if (storeId != 0) {
            $("#ddlVendor").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableVendors", "BookingTableMaster"))",
                data: { "Store": storeId },
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (id, option) {
                        
                        $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));
                        
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var vendor = '@Model.SearchVendorId';
                    $("#ddlVendor").val(vendor);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({
            minDate: new Date()
        }
        ).change(dateChanged)
            .on('changeDate', dateChanged); //Initialise any date pickers
    });
</script>
