﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableMasterListModel
@{
    //page title
    ViewBag.Title = T("Admin.BookingMaster.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ManageBookingMaster");
}

<form asp-controller="BookingTableMaster" asp-action="Create" method="post" id="category-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.BookingMaster.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Booking.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
          
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>