﻿@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
    <form asp-route="PasswordRecovery" method="post">
        
        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                <div class="form-group">
                    <label asp-for="Email" asp-postfix=":"></label>
                    <input asp-for="Email" class="email form-control form-control-lg" />
                    <nop-required />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </div>
        
        @if (Model.DisplayCaptcha)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="captcha-box">
                            <nop-captcha />
                        </div>
                    </div>
                </div>
            </div>
        }

        
        <div class="buttons">
            <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
        </div>
    </form>
    </div>
</div>