﻿@model Nop.Web.Models.NB.DeliveryModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    var storeLocation = webHelper.GetStoreLocation();
}
<script>
    var slideIndex = 5;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 5 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += "active";
    }
</script>
<div class="checkout-data">
    <div class="section deliveryschedule-method">
        <div id="deliveryDateSection">
            <div id="slotDateSlider">
                <div class="MS-content">
                    @foreach (var deliveryDays in Model.DeliveryDaysList)
                    { 
                            <div class="item deliverydate @(deliveryDays.WeekDate.Date == Model.ActiveSlotDate ? "active-date-selected" : "")">
                                <a href="javascript:void(0)" onclick="GetDeliverySlots(this, '@deliveryDays.WeekDate')"><span class="weekDay">@deliveryDays.WeekDay</span> @deliveryDays.WeekDateValue</a>
                            </div> 
                    }
                </div>
                <div class="MS-controls">
                    <button type="button" class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    <button type="button" class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div id="deliverySlots">
            @foreach (var deliverySlots in Model.DeliverySlotList)
            {
                <a class="deliverySlotspan" onclick="SelectDeliverySlots('@deliverySlots.Id', '@deliverySlots.StartDateString', '@deliverySlots.StartTime', '@deliverySlots.EndTime')">
                    @deliverySlots.StartTime - @deliverySlots.EndTime <span class="slot_fee">@deliverySlots.SurChargeFeeString</span>
                </a>
            }
        </div>
        <input asp-for="SlotId" type="hidden" />
        <input asp-for="SlotDate" type="hidden" />
        <input asp-for="StartTime" type="hidden" />
        <input asp-for="EndTime" type="hidden" />
    </div>
</div>
@*<script src="../Themes/Dukans/Content/scripts/jquery-2.2.4.min.js"></script>*@
<script src="../Themes/MommyValet/Content/scripts/multislider.min.js"></script>
<script>
    // Initialize with options, if needed
    $('#slotDateSlider').multislider({
        interval: 4000,
        slideAll: false,
        duration: 1500,
        autoSlide: false
    });
</script>
<script type="text/javascript">
    function GetDeliverySlots(event, date) {
        console.log(event);
        var today = new Date();
        var deliveryDate = $.datepicker.formatDate('mm-dd-yy', new Date(date));
        var todayDate = $.datepicker.formatDate('mm-dd-yy', today);
        if (deliveryDate >= todayDate) {
            $.post("Checkout/GetDeliverySlotsDateTime", { deliveryDate: deliveryDate }, function (result) {
                $("#deliverySlots").html('');
                if (result.success) {
                    var divhtml = '';
                    var deliverySlotList = result.deliverySlotList;
                    for (var i = 0; i < deliverySlotList.length; i++) {
                        divhtml = divhtml + '<span><a class="deliverySlotspan" onclick="SelectDeliverySlots(' + deliverySlotList[i].Id + ',\'' + deliverySlotList[i].StartDateString + '\',\'' + deliverySlotList[i].StartTime + '\',\'' + deliverySlotList[i].EndTime + '\'); ">' + deliverySlotList[i].StartTime + ' - ' + deliverySlotList[i].EndTime + ' <span class="slot_fee"> ' + deliverySlotList[i].SurChargeFeeString + ' </span></a></span>';
                    }
                    $("#deliverySlots").html(divhtml);
                    $("#SlotId").val(0);
                    $("#SlotDate").val('');
                    $("#StartTime").val('');
                    $("#EndTime").val('');
                    $(".deliverydate").removeClass('active-date-selected');
                    $(event).parent().addClass('active-date-selected');
                }
                else {
                    $("#deliverySlots").html(result.message);
                }
            });
        }
        else {
            alert("Please select future date or today date.")
        }
    }
    function SelectDeliverySlots(slotId, slotDate, startTime, endTime) {
        debugger;
        $(".deliverySlotspan").removeClass("deliverySlotSelected");
        $(this).addClass("deliverySlotSelected");
        $("#SlotId").val(slotId);
        $("#SlotDate").val(slotDate);
        $("#StartTime").val(startTime);
        $("#EndTime").val(endTime);
        if ($("#schedulerpara").length == 0)
            $("#opc-deliveryschedule_method").find(".step-title").append("<div id='schedulerpara' style='display:none;'>" + slotDate + ' ' + startTime + '-' + endTime + "</div>")
        else {
            $("#schedulerpara").remove();
            $("#opc-deliveryschedule_method").find(".step-title").append("<div id='schedulerpara' style='display:none;'>" + slotDate + ' ' + startTime + '-' + endTime + "</div>")
        }

        if ($('#devschedulepara').length == 0)
            $('#checkout-step-deliveryschedule-method').prepend('<p id="devschedulepara" style="display:none;">' + slotDate + ' ' + startTime + '-' + endTime + '</p>');
        else {
            $('#devschedulepara').remove();
            $('#checkout-step-deliveryschedule-method').prepend('<p id="devschedulepara" style="display:none;">' + slotDate + ' ' + startTime + '-' + endTime + '</p>');
        }
        $('#devschedulepara').show();
    }
</script>