﻿@model Nop.Plugin.Payments.Curlec.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")


<form asp-controller="PaymentCurlec" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantID_OverrideForStore" asp-input="MerchantID" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantID" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantID" />
                        <span asp-validation-for="MerchantID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EmployeeID_OverrideForStore" asp-input="EmployeeID" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EmployeeID" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EmployeeID" />
                        <span asp-validation-for="EmployeeID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantURL_OverrideForStore" asp-input="MerchantURL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantURL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantURL" />
                        <span asp-validation-for="MerchantURL"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantCallbackURL_OverrideForStore" asp-input="MerchantCallbackURL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantCallbackURL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantCallbackURL" />
                        <span asp-validation-for="MerchantCallbackURL"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CollectionCallbackURL_OverrideForStore" asp-input="CollectionCallbackURL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CollectionCallbackURL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CollectionCallbackURL" />
                        <span asp-validation-for="CollectionCallbackURL"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EnrollmentCallbackURL_OverrideForStore" asp-input="EnrollmentCallbackURL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnrollmentCallbackURL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnrollmentCallbackURL" />
                        <span asp-validation-for="EnrollmentCallbackURL"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>