﻿@model OnePageCheckoutModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@inject IWebHelper webHelper
@inject IWorkContext workContext
@{
    Layout = "_ColumnsOne";

    //scripts
    //Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    //Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js?v=1.0002");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    var loginSignUp = 0;
    var billingAddressStepNumber = 1;
    //var shippingAddressStepNumber = 2; //Comment By Mah 26012019


    //var shippingMethodStepNumber = 3; //Order Changed By Mah
    var paymentMethodStepNumber = 2;
    var paymentInfoStepNumber = 3;
    var confirmOrderStepNumber = 4;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        //shippingAddressStepNumber--; //Comment By Mah 26012019
        //shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
    //Model.LoginSignUpModel.AvailableISD = Model.BillingAddress.BillingNewAddress.AvailableISD;
    Model.LoginSignUpModel = new CheckoutLoginSignUpModel();

    string css_allow = (workContext.CurrentCustomer.IsRegistered()) ? "allow" : "";

}
<script src="~/js/public.accordion.js"></script>
<script src="~/js/public.ajaxcart.js?v=1.0002"></script>
<script src="~/js/public.onepagecheckout.js?v=1.0002"></script>
<script src="~/js/public.common.js"></script>
<div class="page checkout-page">
    <div class="page-body checkout-data">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    @await Component.InvokeAsync("Widget", new { widgetZone = "opc_content_before" })
                    <ol class="opc" id="checkout-steps">
                        <li id="opc-billing" class="tab-section @css_allow">
                            <div class="step-title" id="dv-billing-add-selected">
                                @*<span class="number">@billingAddressStepNumber</span>*@
                                <div class="step-title">@T("Checkout.BillingAddress.Addaddress") <img src="/Themes/KingSweet/Content/img/greenCheckImg1.png"></div>
                            </div>
                            <div id="checkout-step-billing" class="step a-item" style="display: none;">
                                <form id="co-billing-form" action="">
                                    <div id="checkout-billing-load">
                                        @await Html.PartialAsync("OpcWalletBillingAddress", Model.BillingAddress)
                                        @*billing address content will be loaded here*@
                                    </div>
                                </form>
                                <script type="text/javascript" asp-location="Footer">
									Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcWalletSaveBillingCustom/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
									//if ($("#billing-address-select").length > 0) {
									//    Billing.newAddress(!$('#billing-address-select').val());
									//}
                                </script>
                            </div>
                        </li>
                        @if (Model.ShippingRequired)
                        {
                            <li id="opc-shipping" class="tab-section" style="display:none">
                                <div class="step-title">
                                    @*<span class="number">@shippingAddressStepNumber</span>*@
                                    <h2 class="title">Delivery address  <img src="/Themes/KingSweet/Content/img/greenCheckImg1.png"></h2>
                                </div>
                                <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                                    <form action="" id="co-shipping-form">
                                        <div id="checkout-shipping-load">
                                            @*shipping address content will be loaded here*@
                                        </div>
                                    </form>
                                    <script type="text/javascript" asp-location="Footer">
										Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
										if ($("#shipping-address-select").length > 0) {
											Shipping.newAddress(!$('#shipping-address-select').val());
										}
                                    </script>
                                    <div class="buttons" id="shipping-buttons-container">
                                        @if (!Model.DisableBillingAddressCheckoutStep)
                                        {
                                            <p class="back-link">
                                                <a href="#" onclick="Checkout.back(); return false; "><small>&laquo; </small>@T("Common.Back")</a>
                                            </p>
                                        }
                                        <input type="button" class="button-1 new-address-next-step-button" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" />
                                        <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                                    </div>
                                </div>
                            </li>
                        }

                        <li id="opc-shipping_method" class="tab-section" style="display:none">
                            <div class="step-title">
                                @*<span class="number">@shippingMethodStepNumber</span>*@
                                <h2 class="title">@T("Checkout.ShippingMethod")  <img src="/Themes/KingSweet/Content/img/greenCheckImg1.png"></h2>
                            </div>
                            <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                                <form id="co-shipping-method-form" action="">
                                    <div id="checkout-shipping-method-load">
                                        @*shipping methods content will be loaded here*@
                                    </div>
                                    <script type="text/javascript" asp-location="Footer">
										ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcWalletSaveShippingMethod/');
                                    </script>
                                    <div class="buttons" id="shipping-method-buttons-container">
                                        <p class="back-link">
                                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                        </p>
                                        <input type="button" class="button-1 shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                                        <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li id="opc-payment_method" class="tab-section">
                            <div class="step-title">
                                @*<span class="number">@paymentMethodStepNumber</span>*@
                                @T("Checkout.PaymentMethod.ChoosePaymentMethod") <img src="/Themes/KingSweet/Content/img/greenCheckImg1.png">
                            </div>
                            <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                                <form action="" id="co-payment-method-form">
                                    <input type="hidden" id="walletamount" name="walletamount" value="@Model.WalletAmount" />
                                    <div id="checkout-payment-method-load">
                                        @*payment methods content will be loaded here*@ Payment is not required
                                    </div>
                                </form>
                                <script type="text/javascript" asp-location="Footer">
									PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcWalletSavePaymentMethod/');
									PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcWalletSavePaymentInfoCustom/');
                                </script>
                                <div class="buttons" id="payment-method-buttons-container" style="display:none;">
                                    <p class="back-link">
                                        <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                    </p>
                                    <input type="button" id="btn-payment-method" class="button-1 payment-method-next-step-button" onclick="PaymentMethod.saveCustom()" value="@T("Common.Continue")" />
                                    <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                </div>
                            </div>

                        </li>

                        <li id="opc-confirm_order" class="tab-section" style="display: none;">
                            <div class="step-title">
                                <span class="number">@confirmOrderStepNumber</span>
                                <h2 class="title">@T("Checkout.ConfirmOrder")  <img src="/Themes/VonzuEats/Content/img/greenCheckImg1.png"></h2>
                            </div>
                            <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                                <div id="checkout-confirm-order-load">
                                </div>
                                <script type="text/javascript" asp-location="Footer">
								ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                                </script>
                                <div class="buttons" id="confirm-order-buttons-container">
                                    <p class="back-link">
                                        <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                    </p>
                                    <input type="button" id="confirm-order-button" class="button-1 confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                                    <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                                </div>
                            </div>
                        </li>
                    </ol>
                    @await Component.InvokeAsync("Widget", new { widgetZone = "opc_content_after" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 checkOutSection clearfix rightBoxMerchant">
                    <h2 class="wallet-Order-summary">@T("NB.Wallet.Order.Summary")</h2>
                    <div class="checkOutC1">
                        <div class="checkOutBlock clearfix wallet-money-checkout">
                            <h4>@T("Account.Wallet.AddMoney.Order")</h4>
                            <span class="wallet-amount">@Model.WalletAmount </span>
                            <span class="wallet-amount-status">@T("Account.Wallet.PaidAmount.Order")</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" asp-location="Footer">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }

    </script>
</div> 
