﻿@model SocialModel

@using Nop.Core
@using Nop.Services.Configuration

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var storeId = storeContext.CurrentStore.Id;
    var pinterestUrl = settingService.GetSettingByKey("uptownthemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = settingService.GetSettingByKey("uptownthemesettings.vimeourl", String.Empty, storeId, true);
    var instagramUrl = settingService.GetSettingByKey("uptownthemesettings.instagramurl", String.Empty, storeId, true);
}

<ul class="social-sharing">
    @if (!String.IsNullOrEmpty(Model.TwitterLink))
    {
        <li>
            <a target="_blank" class="twitter" href="@Model.TwitterLink" aria-label="@T("Footer.FollowUs.Twitter")">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>
    }
    @if (!String.IsNullOrEmpty(instagramUrl))
    {
        <li>
            <a target="_blank" class="instagram" href="@instagramUrl" aria-label="@T("SevenSpikes.Themes.Uptown.Common.Footer.FollowUs.Instagram")">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>
    }
    @if (!String.IsNullOrEmpty(Model.FacebookLink))
    {
        <li>
            <a target="_blank" class="facebook" href="@Model.FacebookLink" aria-label="@T("Footer.FollowUs.Facebook")">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>
    }
    @if (!String.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li>
            <a target="_blank" class="youtube" href="@Model.YoutubeLink" aria-label="@T("Footer.FollowUs.Youtube")">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>
    }
    @if (!String.IsNullOrEmpty(pinterestUrl))
    {
        <li>
            <a target="_blank" class="pinterest" href="@pinterestUrl" aria-label="@T("SevenSpikes.Themes.Uptown.Common.Footer.FollowUs.Pinterest")">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>
    }
    @if (!String.IsNullOrEmpty(vimeoUrl))
    {
        <li>
            <a target="_blank" class="vimeo" href="@vimeoUrl" aria-label="@T("SevenSpikes.Themes.Uptown.Common.Footer.FollowUs.Vimeo")">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>
    }
    @if (Model.NewsEnabled)
    {
        <li>
            <a target="_blank" class="rss" href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})" aria-label="@T("Footer.FollowUs.RSS")">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>
    }
</ul>