﻿@model List<MerchantCategoryModel>
@if (Model.Count > 0)
    {
<section id="choose_category1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="titleCommon">@T("nb.select.your.category")</h2>
                @*<button class="chooseCategory">VIEW ALL CATEGORY</button>*@
            </div>
        </div>
        <div class="regular slider">
            <div class="owl-carousel owl-theme">

                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <div class="item">
                        <div class="item-slide">
                            <label class="container_label" id="slide@(i)">
                                <input type="checkbox" data-id="@item.StoreIds" name="slide" value="@item.Id" />
                                <span class="checkmark">&times;</span>
                                <img title="@item.PictureModel.Title" src="@item.PictureModel.ImageUrl">
                                <span class="chooseCatTitle"> @item.Name </span>
                            </label>

                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>

    </div>
    </section>

<script>
    $(document).ready(function () {
        showAllMerchant();
        $('input:checkbox[name=slide]').change(function () {
            showAllMerchant();
            $(this).parents("li").toggleClass("active");
        });
    });

    function showAllMerchant() {
        //debugger
        var selected = [];
        $("input:checkbox[name=slide]:checked").each(function () {
            var vendorids = $(this).attr("data-id");
            if (vendorids != "") {
                var idsArray = vendorids.split(",");
                for (var i = 0; i < idsArray.length; i++) {
                    if (selected.indexOf(idsArray[i]) == -1) {
                        selected.push(idsArray[i]);
                    }
                }
            }
        });

        if (selected.length > 0) {
            $(".restaurBox").each(function (i, value) {
                var vendorid = $(this).attr("data-id");
                if (vendorid != "") {
                    if (selected.indexOf(vendorid) !== -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                }
            });
        }
        else {
            $(".restaurBox").show();
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 4,
                    nav: true
                },
                600: {
                    items: 4,
                    nav: true
                },
                1000: {
                    items: 8,
                    nav: true,
                    loop: false,
                    margin: 20
                }
            }
        })
    })



    $slider.on('changed.owl.carousel', ev => {
        const carousel = ev.currentTarget
        $('.owl-next', $el).attr('disabled', carousel.current() === carousel.maximum())
        $('.owl-prev', $el).attr('disabled', carousel.current() === carousel.minimum())
    })
</script>

}