﻿@using Nop.Core
@using Nop.Web.Framework.Themes

@inject IThemeContext themeContext
@inject IStoreContext storeContext

@model LogoModel

@{
    var logoPath = $"~/Themes/{themeContext.WorkingThemeName}/Content/img/logo.png";
    var logo2 = Model.LogoPath;// custom by mohini
    var themeLogo = await Component.InvokeAsync("Widget", new { widgetZone = "pavilion_theme_logo" });
    string storeName = storeContext.CurrentStore.Name;

}
<!--<a href="@Url.RouteUrl("HomePage")" class="navbar-brand logo page-scroll">-->
<a href="/" class="navbar-brand logo page-scroll loginRegLogo">
    <img src="../Themes/MallSkape/Content/img/Logo.gif" /> 
</a>
<a href="/" class="navbar-brand logo page-scroll imgin" imgIn="@Model.LogoPath">
    @if (!String.IsNullOrEmpty(Model.LogoPath))
    {
    }
    else
    {
        @Html.Raw(storeName)
    }
</a>
