@model PackagePlanModel

<div class="panel-body">
    @if (Model.PackageId > 0)
    {
    <div class="sub-panel">

        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "packageplan-grid",
            UrlRead = new DataUrl("PackagePlanList", "NBPackage", new RouteValueDictionary { [nameof(Model.PackagePlanSearchModel.PackageId)] = Model.PackageId}),
            UrlDelete = new DataUrl("PackagePlanDelete", "NBPackage", null),
            UrlUpdate = new DataUrl("PackagePlanUpdate", "NBPackage", null),
            Length = Model.PackagePlanSearchModel.PageSize,
            LengthMenu = Model.PackagePlanSearchModel.AvailablePageSizes,
            ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(PackagePlanModel.PlanName))
                    {
                        Title = T("NB.Admin.Package.PackagePlan.Fields.PlanName").Text,
                        Width = "150",
                        ClassName = NopColumnClassDefaults.CenterAll,
                        Editable = true,
                        EditType = EditType.String
                    },
                    new ColumnProperty(nameof(PackagePlanModel.Price))
                    {
                        Title = T("NB.Admin.Package.PackagePlan.Fields.Price").Text,
                        Width = "150",
                        ClassName = NopColumnClassDefaults.CenterAll,
                        Editable = true,
                        EditType = EditType.Number
                    },
                    new ColumnProperty(nameof(PackagePlanModel.BillingInterval))
                    {
                        Title = T("NB.Admin.Package.PackagePlan.Fields.BillingInterval").Text,
                        Width = "100"
                    },
                    new ColumnProperty(nameof(PackagePlanModel.TrailPeriod))
                    {
                        Title = T("NB.Admin.Package.PackagePlan.Fields.TrailPeriod").Text,
                        Width = "100",
                        Editable = true,
                        EditType = EditType.String
                    },
                    new ColumnProperty(nameof(PackagePlanModel.Id))
                    {
                        Title = T("Admin.Common.Edit").Text,
                        Width = "200",
                        ClassName =  NopColumnClassDefaults.Button,
                        Render = new RenderButtonsInlineEdit()
                    },
                    new ColumnProperty(nameof(PackagePlanModel.Id))
                    {
                        Title = T("Admin.Common.Delete").Text,
                        Width = "100",
                        Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                        ClassName = NopColumnClassDefaults.Button
                    }
                }
        })
        
    </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                @T("NB.Admin.Package.PackagePlan.AddNew")
            </div>
            <div class="panel-body">
                <script>
                    $(document).ready(function() {
                        $('#addPackagePlan').click(function() {
                            var planName =  $("#@Html.IdFor(model => model.PlanName)").val();
                            var price = $("#@Html.IdFor(model => model.Price)").val();
                            var billingInterval = $("#@Html.IdFor(model => model.BillingInterval)").val();
                            var startDate = $("#@Html.IdFor(model => model.StartDate)").val();
                            var endDate = $("#@Html.IdFor(model => model.EndDate)").val();
                            var trailPeriod = $("#@Html.IdFor(model => model.TrailPeriod)").val();

                            if (planName == '') {
                                $("#addPackagePlanAlert").click();
                                return;
                            }
                            else {
                                var postData = {
                                    planName: planName,
                                    price: price,
                                    billingInterval: billingInterval,
                                    startDate: startDate,
                                    endDate: endDate,
                                    trailPeriod: trailPeriod,
                                    packageId: '@Model.PackageId'
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("PackagePlanAdd", "NBPackage"))",
                                    data: postData,
                                    success: function (data, textStatus, jqXHR) {
                                        if (!data.Result) {
                                            return;
                                        }
                                        updateTable('#packageplan-grid');
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $("#packagePlanAddAlert").click();
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        $('#addPackagePlan').attr('disabled', false);
                                    }
                                });
                            }
                        });
                        $("#@Html.IdFor(model => model.BillingInterval)").change(function () {
                            if ($(this).val() == 'Custom') {
                                $("#dvStartDate").show();
                                $("#dvEndDate").show();
                            }
                            else {
                                 $("#dvStartDate").hide();
                                $("#dvEndDate").hide();
                                $("#StartDate").val('');
                                 $("#EndDate").val('');
                            }
                        });
                    });
                </script>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="PlanName" />
                    </div>
                    <div class="col-md-8">
                        <nop-editor asp-for="PlanName" />
                        <span asp-validation-for="PlanName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="Price" />
                    </div>
                    <div class="col-md-8">
                        <nop-editor asp-for="Price" />
                        <span asp-validation-for="Price"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="BillingInterval" />
                    </div>
                    <div class="col-md-8">
                        <nop-select asp-for="BillingInterval" asp-items="Model.AvailableBillingInterval" />
                        <span asp-validation-for="BillingInterval"></span>
                    </div>
                </div>
                <div class="form-group" id="dvStartDate" style="display:none;">
                    <div class="col-md-4">
                        <nop-label asp-for="StartDate" />
                    </div>
                    <div class="col-md-8">
                        <nop-editor asp-for="StartDate" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>
                <div class="form-group" id="dvEndDate" style="display:none;">
                    <div class="col-md-4">
                        <nop-label asp-for="EndDate" />
                    </div>
                    <div class="col-md-8">
                        <nop-editor asp-for="EndDate" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="TrailPeriod" />
                    </div>
                    <div class="col-md-8">
                        <nop-editor asp-for="TrailPeriod" />
                        <span asp-validation-for="TrailPeriod"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="button" id="addPackagePlan" class="btn btn-primary">@T("Admin.Common.AddNew")</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("NB.Admin.PackagePlan.SaveBeforeEdit")
            </div>
        </div>
    }
</div>
<nop-alert asp-alert-id="addPackagePlanAlert" asp-alert-message="@T("NB.Admin.Package.alert.packageplan.AddNew.NameRequired")" />
<nop-alert asp-alert-id="packagePlanAddAlert" asp-alert-message="@T("NB.Admin.Package.alert.packageplan.Error")" />