﻿@model PackageModel

@{
    const string hidePackageInfoBlockAttributeName = "PackagePage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hidePackageInfoBlockAttributeName);

    const string hidePackagePlanAttributeName = "PackagePage.HidePackagePlan";
    var hidePackagePlan = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hidePackagePlanAttributeName, defaultValue: true);
}

<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="package-panels">
            <nop-panel asp-name="subscription-info" asp-icon="fa fa-info" asp-title="@T("NB.Admin.Package.Info")" asp-hide-block-attribute-name="@hidePackageInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>
            <nop-panel asp-name="subscription-packagePlan" asp-icon="fa fa-television" asp-title="@T("NB.Admin.Package.Package.PackagePlans")" asp-hide-block-attribute-name="@hidePackagePlanAttributeName" asp-hide="@hidePackagePlan" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.PackagePlans", Model.PackagePlanModel)</nop-panel>
        </nop-panels>
    </div>
</div>
