﻿@model DynamicDataSourceModel

<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.DynamicDataSourceEntityTypeId)").change(toggleEntityType);
    });

    function toggleEntityType() {
        var basePageUrl = [location.protocol, '//', location.host, location.pathname].join('');

        var selectedDynamicDataSourceEntityTypeId = $("#@Html.IdFor(model => model.DynamicDataSourceEntityTypeId)").val();
        if (selectedDynamicDataSourceEntityTypeId == @(((int)DynamicDataSourceEntityType.BlogPost).ToString())) {
            window.location.href = basePageUrl + "?dynamicDataSourceEntityType=" + "@(DynamicDataSourceEntityType.BlogPost.ToString())";
        }
        else if (selectedDynamicDataSourceEntityTypeId == @(((int)DynamicDataSourceEntityType.Category).ToString())) {
            window.location.href = basePageUrl + "?dynamicDataSourceEntityType=" + "@(DynamicDataSourceEntityType.Category.ToString())";
        }
        else if (selectedDynamicDataSourceEntityTypeId == @(((int)DynamicDataSourceEntityType.Customer).ToString())) {
            window.location.href = basePageUrl + "?dynamicDataSourceEntityType=" + "@(DynamicDataSourceEntityType.Customer.ToString())";
        }
        else if (selectedDynamicDataSourceEntityTypeId == @(((int)DynamicDataSourceEntityType.Manufacturer).ToString())) {
            window.location.href = basePageUrl + "?dynamicDataSourceEntityType=" + "@(DynamicDataSourceEntityType.Manufacturer.ToString())";
        }
        else if (selectedDynamicDataSourceEntityTypeId == @(((int)DynamicDataSourceEntityType.Product).ToString())) {
            window.location.href = basePageUrl + "?dynamicDataSourceEntityType=" + "@(DynamicDataSourceEntityType.Product.ToString())";
        }
        else if (selectedDynamicDataSourceEntityTypeId == @(((int)DynamicDataSourceEntityType.Vendor).ToString())) {
            window.location.href = basePageUrl + "?dynamicDataSourceEntityType=" + "@(DynamicDataSourceEntityType.Vendor.ToString())";
        }
        else
        {
        }
    }
</script>

<div class="raw clearfix">
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.CommonInfo")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="DynamicDataSourceEntityTypeId" />
                            </div>
                            <div class="col-md-9">
                                @if (Model.Id > 0)
                                {
                                    <nop-select asp-for="DynamicDataSourceEntityTypeId" asp-items="Model.AvailableDynamicDataSourceEntityTypes" disabled />
                                    @Html.HiddenFor(model => model.DynamicDataSourceEntityTypeId)
                                }
                                else
                                {
                                    <nop-select asp-for="DynamicDataSourceEntityTypeId" asp-items="Model.AvailableDynamicDataSourceEntityTypes" />
                                }
                                <span asp-validation-for="DynamicDataSourceEntityTypeId"></span>
                            </div>
                        </div>
                        @await Component.InvokeAsync("DynamicSQLQueryBuilderAdmin", new { dynamicDataSourceEntityTypeId = Model.DynamicDataSourceEntityTypeId, rawSQLQuery = Model.RawSQLQuery })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>