﻿@model DynamicDataSourceModel
@{
    Layout = Constants.AdminLayoutViewPath;

    //page title
    ViewBag.Title = T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.AddNew").Text;
}

<form method="post" id="dynamic-data-source-form">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-route="Resanehlab.Plugin.Core.Admin.DynamicDataSources">@T("Resanehlab.Plugin.Core.Admin.DynamicDataSources.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync(Constants.CreateOrUpdateDynamicDataSourceAdminPartialViewPath, Model)
</form>
