﻿/* GLOBAL TABLES */

.cart, .data-table,
.compare-products-table,
.forums-table-section table {
	margin: 0 0 10px;
}
.cart th, .data-table th,
.forums-table-section th {
    color: #909090;
    font: 14px 'Droid Serif', serif;
    font-style: italic;
    text-align: center;
    background: #f8f8f8;
    padding: 17px;
    white-space: nowrap;
}
.cart td, .data-table td,
.compare-products-table td,
.forums-table-section td {
	min-width: 50px;
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 20px;
}
.cart tr > *:first-child,
.data-table tr > *:first-child,
.compare-products-table tr > *:first-child,
.forums-table-section tr > *:first-child {
}
.cart tr > *:last-child,
.data-table tr > *:last-child,
.compare-products-table tr > *:last-child,
.forums-table-section tr > *:last-child {
}
.cart a, .data-table a,
.compare-products-table a,
.forums-table-section a,
.return-request-page .data-table .product {
    font-size: 15px;
    font-style: normal;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cart a:hover, .data-table a:hover,
.compare-products-table a:hover,
.forums-table-section a:hover {
    color: #e56363;
}

.data-table .message,
.data-table .info,
.data-table .name,
.forum-table .forum-details,
.forum-table .topic-details {
	text-align: left;
}
.cart .remove-from-cart,
.cart .add-to-cart,
.data-table .select-boxes,
.data-table .order {
    text-align: center;
}
.unit-price {
    font-size: 15px;
    text-align: center;
}
.cart .qty-input {
    width: 50px;
    text-align: center;
}
td.subtotal,
td.total {
    color: #e56363;
    font-size: 15px;
    text-align: center;
}
.cart .subtotal .discount {
    white-space: normal;
}
.cart .product-picture a {
    display: block;
    width: 100px;
    margin: auto;
}
.cart .product-picture img{
    max-width: 100%;
}
.cart td.product {
    padding: 40px 50px;
}
table .attributes,
.cart .rental-info,
.mini-shopping-cart .attributes,
.mini-shopping-cart .rental-info,
table .subtotal .discount,
table .subtotal .discount-additional-info{
    padding: 0;
    margin: 15px 0;
    font-size: 14px;
    color: #909090;
    border: none;
}
.order-details-page .section.shipments .data-table label{
    color: #909090;
    vertical-align: middle;
}
.mini-shopping-cart .attributes {
    margin: 0;
}
.data-table .sku {    
    font-size: 14px;
    color: #909090;
}
td.quantity {
    text-align: center;
    font-size: 14px;
}

.forums-table-section td {
    min-width: 100px;
}
.forum-table .topics,
.forum-table .posts,
.forum-table .replies,
.forum-table .views,
.forum-table .votes {
    text-align: center;
    font-size: 14px;
    color: #909090;
}
.forum-table .latest-post .date,
.forum-table .latest-post label,
.forum-table .latest-post .no-post,
.forum-table .topic-details label,
.forum-table .topic-type{
    font-size: 14px;
    color: #909090;
    vertical-align: middle;
    display: inline-block;
}
.forum-table .latest-post > *{
    margin: 5px 0;
}

/* COMPARE PRODUCTS TABLE */


.compare-products-table .overview p:first-child {
    margin: 0 0 10px;
}
.compare-products-table .overview p:last-child {
    position: relative;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
}
.compare-products-table .overview img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.compare-products-table .product-name td {
    background: #f8f8f8;
}
.compare-products-table .product-price td {
    color: #e56363;
}

.compare-products-table-mobile img {
    max-width: 160px;
}


/********** FOOTABLE CUSTOM CSS **********/



.footable-first-column {
	text-align: center;
}
td.footable-first-column {
	position: relative;
	background: transparent !important; /*Firefox relative cell bug fix*/
}
.footable-first-column .item-count {
	font-size: 15px !important;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
	overflow: hidden;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
}
.footable-row-detail {
	text-align: left;
}
.footable-row-detail-cell {
	text-align: left !important;
}
.footable-row-detail-row {
	margin: 0 0 10px;
    display: table-row;
}
.footable-row-detail-name {
	margin: 0 0 5px;
	font-style: italic;
    display: table-cell;
    padding: 7px 10px;
}
.footable-row-detail-value {
    display: table-cell;
}

.footable-toggle {
	background-image: url('../img/table-plus.png');
}
.footable-detail-show .footable-toggle {
	background-image: url('../img/table-minus.png');
}
.footable-toggle:before {
	display: none !important;
}

.compare-products-table-mobile .item-count,
.downloadable-products-page .data-table .item-count
/* remove downloads table item-count from here if "my account" is only one column on tablet landscape(768) */ {
	display: none;
}

.go-to-page {
    white-space: nowrap;
	display: inline-block !important;
	font-size: 13px !important;
}

@media all and (max-width: 400px) {

    .cart .product-picture {
        padding: 10px;
    }
    .cart .product-picture a {
        width: 70px;
    }
    .cart td.subtotal {
        padding: 10px;
    }

}