@model TipModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.Tips.Edit").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Tips");
}

<form asp-controller="NBTipMaster" asp-action="EditTip" method="post" id="tip-form" class="nbTipWrap">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.Tips.Edit")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="NBTipMaster">@T("NB.Admin.Tips.BackToTips")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateTip", Model)
</form>