﻿@model LogoModel
<a href="@Url.RouteUrl("Homepage")">
    <img id="imgLogo" title="" alt="@Model.StoreName" src="@Model.LogoPath" class="main_logo">
    <img id="imgLogo" title="" alt="@Model.StoreName" src="../Themes/DoCampo/Content/images/logo_white.png" class="sticky_logo">

</a>