﻿@model CustomerModel

@using Newtonsoft.Json
@using Nop.Services.Customers
@using Nop.Core.Domain.NB.Merchant
@inject Nop.Services.Customers.ICustomerService customerService
@{
    var usersubAdminRoles = customerService.GetAllCustomerRoles()?.Where(cr => cr.UserGroupId > 0 && cr.CreatedByNB)?.Select(u => u.Id);
    var userGroupRole = customerService.GetAllCustomerRoles()?.Where(cr => cr.UserGroupId == (int)UserGroups.Merchant)?.Select(u => u.Id);
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.CountryId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");

                var postData = {
                    countryId: selectedItem,
                    addSelectStateItem: "true"
                };

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#statesAlert").click();
                    }
                });
            });
        });
    </script>
}

@if (Model.Id > 0)
{
    //script for selected customer role
    <script>
        $(document).ready(function() {
            var savedRoleValue = '@Model.SelectedCustomerRoleIds.FirstOrDefault(x=> usersubAdminRoles.Contains(x))';
            if (savedRoleValue !== '') {
                $("#@Html.IdFor(model => model.SelectedCustomerRoleIds)").val(savedRoleValue);
            }
        });
    </script>
}

<script>
    var merchantRolIds =  @Html.Raw(Json.Serialize(userGroupRole));
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.SelectedCustomerRoleIds)").change(toggleMerchantPanel);
        toggleMerchantPanel();
    });

    //show merchant selection option when merchant type user role selected
    function toggleMerchantPanel() {
        var elValue = $('#@Html.IdFor(model => model.SelectedCustomerRoleIds)').val();
        if (jQuery.inArray(parseInt(elValue), merchantRolIds) !== -1) {
            $('#merchantPanel').show();
        } else {
            $('#merchantPanel').hide();
        }
    }
</script>

<div class="panel-body">

    <div class="form-group">
        <div class="col-md-4">
            <div class="label-wrapper">
                <label class="control-label" for="SelectedCustomerRoleIds">@T("NB.Admin.User.Admin.Roles.Fields.Role")</label>
                <div title="@T("NB.Admin.User.Admin.Roles.Fields.Role.Hint")" data-toggle="tooltip" class="ico-help">
                    <i class="fa fa-question-circle"></i>
                </div> 
            </div>
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-required">
                <nop-select asp-for="SelectedCustomerRoleIds" asp-items="Model.AvailableCustomerRoles" />
                <div class="input-group-btn">
                    <nop-required />
                </div>
                <span asp-validation-for="SelectedCustomerRoleIds"></span>
            </div>
        </div>
    </div>
    <div class="form-group" id="merchantPanel">
        <div class="col-md-4">
            <nop-label asp-for="SelctedMerchantId" />
        </div>
        <div class="col-md-8">
            <nop-select asp-for="SelctedMerchantId" asp-items="Model.AvailableMerchants" />
        </div>
    </div>

    @if (Model.UsernamesEnabled)
    {
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="Username" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
        </div>
    }

    <div class="form-group">
        @*<div class="col-md-4">
                <nop-label asp-for="FirstName" />
            </div>*@
        <div class="col-md-4">
            <div class="label-wrapper">
                <label class="control-label" for="FirstName">@T("NB.Admin.User.Admin.Roles.Fields.Name")</label>
                <div title="@T("NB.Admin.User.Admin.Roles.Fields.Name.Hint")" data-toggle="tooltip" class="ico-help">
                    <i class="fa fa-question-circle"></i>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="FirstName" asp-required="true" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    @*<div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="LastName" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="Email" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="Email" asp-required="true" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="Password" />
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <nop-editor asp-for="Password" asp-required="true" />
                <div class="input-group-btn">
                    @if (Model.Id > 0)
                    {
                        <button type="submit" name="changepassword" class="btn btn-info">
                            @T("Admin.Customers.Customers.Fields.Password.Change")
                        </button>
                    }
                </div>
            </div>
            <span asp-validation-for="Password"></span>
        </div>
    </div>

    @if (Model.PhoneEnabled)
    {
        <div class="form-group">
            @*<div class="col-md-4">
                    <nop-label asp-for="Phone" />
                </div>*@
            <div class="col-md-4">
                <div class="label-wrapper">
                    <label class="control-label" for="Phone">@T("NB.Admin.User.Admin.Roles.Fields.Phone")</label>
                    <div title="@T("NB.Admin.User.Admin.Roles.Fields.Phone.Hint")" data-toggle="tooltip" class="ico-help">
                        <i class="fa fa-question-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="Phone" />
                <span asp-validation-for="Phone"></span>
            </div>
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="form-group">
            @*<div class="col-md-4">
                    <nop-label asp-for="StreetAddress" />
                </div>*@
            <div class="col-md-4">
                <div class="label-wrapper">
                    <label class="control-label" for="StreetAddress">@T("NB.Admin.User.Admin.Roles.Fields.Address1")</label>
                    <div title="@T("NB.Admin.User.Admin.Roles.Fields.Address1.Hint")" data-toggle="tooltip" class="ico-help">
                        <i class="fa fa-question-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="StreetAddress" />
                <span asp-validation-for="StreetAddress"></span>
            </div>
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="form-group">
            @*<div class="col-md-4">
                    <nop-label asp-for="StreetAddress2" />
                </div>*@
            <div class="col-md-4">
                <div class="label-wrapper">
                    <label class="control-label" for="StreetAddress2">@T("NB.Admin.User.Admin.Roles.Fields.Address2")</label>
                    <div title="@T("NB.Admin.User.Admin.Roles.Fields.Address2.Hint")" data-toggle="tooltip" class="ico-help">
                        <i class="fa fa-question-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="StreetAddress2" />
                <span asp-validation-for="StreetAddress2"></span>
            </div>
        </div>
    }

    @if (Model.CityEnabled)
    {
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="City" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="City" />
                <span asp-validation-for="City"></span>
            </div>
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="CountryId" />
            </div>
            <div class="col-md-8">
                <nop-select asp-for="CountryId" asp-items="Model.AvailableCountries" />
                <span asp-validation-for="CountryId"></span>
            </div>
        </div>
    }
    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="form-group">
            @*<div class="col-md-4">
                    <nop-label asp-for="StateProvinceId" />
                </div>*@
            <div class="col-md-4">
                <div class="label-wrapper">
                    <label class="control-label" for="StateProvinceId">@T("NB.Admin.User.Admin.Roles.Fields.State")</label>
                    <div title="@T("NB.Admin.User.Admin.Roles.Fields.State.Hint")" data-toggle="tooltip" class="ico-help">
                        <i class="fa fa-question-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <nop-select asp-for="StateProvinceId" asp-items="Model.AvailableStates" />
                <span asp-validation-for="StateProvinceId"></span>
            </div>
        </div>
    }

    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="form-group">
            @*<div class="col-md-4">
                    <nop-label asp-for="ZipPostalCode" />
                </div>*@
            <div class="col-md-4">
                <div class="label-wrapper">
                    <label class="control-label" for="ZipPostalCode">@T("NB.Admin.User.Admin.Roles.Fields.Zipcode")</label>
                    <div title="@T("NB.Admin.User.Admin.Roles.Fields.Zipcode.Hint")" data-toggle="tooltip" class="ico-help">
                        <i class="fa fa-question-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="ZipPostalCode" />
                <span asp-validation-for="ZipPostalCode"></span>
            </div>
        </div>
    }
    <div class="form-group">
        @*<div class="col-md-4">
                <nop-label asp-for="Active" />
            </div>*@
        <div class="col-md-4">
            <div class="label-wrapper">
                <label class="control-label" for="Active">@T("NB.Admin.User.Admin.Roles.Fields.IsActive")</label>
                <div title="@T("NB.Admin.User.Admin.Roles.Fields.IsActive.Hint")" data-toggle="tooltip" class="ico-help">
                    <i class="fa fa-question-circle"></i>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="Active" />
            <span asp-validation-for="Active"></span>
        </div>
    </div>
</div>

<nop-alert asp-alert-id="statesAlert" asp-alert-message="@T("Admin.Common.Alert.States.Failed")" />