﻿@model MerchantCategorySearchModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.MerchantCategory").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("MerchantCategory");
}
@{
    const string hideSearchBlockAttributeName = "VendorsPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}
<form asp-controller="NBMerchantCategory" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.MerchantCategory")
        </h1>
        <div class="pull-right">
            <a asp-action="CreateMerchantCategory" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Name" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                            <button type="button" id="search-merchantCategorys" class="btn btn-primary btn-search">
                                                <i class="fa fa-search"></i>
                                                @T("Admin.Common.Search")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "merchantCategory-grid",
                       UrlRead = new DataUrl("MerchantCategorysList", "NBMerchantCategory", null),
                       UrlDelete = new DataUrl("DeleteMerchantCategory", "NBMerchantCategory", null),
                       SearchButtonId = "search-merchantCategorys",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.Name))
                        },
                       ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(MerchantCategoryModel.Id))
                                {
                                    IsMasterCheckBox = true,
                                    Render = new RenderCheckBox("checkbox_products"),
                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                    Width = "50",
                                },
                                new ColumnProperty(nameof(MerchantCategoryModel.Name))
                                {
                                    Title = T("NB.Admin.MerchantCategory.Fields.Name").Text,
                                    Width = "100"
                                },
                                new ColumnProperty(nameof(MerchantCategoryModel.PictureThumbnailUrl))
                                {
                                  Title = T("NB.Admin.MerchantCategory.Fields.PictureId").Text,
                                  Width = "300",
                                  Render = new RenderPicture()
                                },
                                new ColumnProperty(nameof(MerchantCategoryModel.DisplayOrder))
                                {
                                    Title = T("NB.Admin.MerchantCategory.Fields.DisplayOrder").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(MerchantCategoryModel.StoreName))
                                {
                                    Title = T("NB.Admin.MerchantCategory.Fields.StoreName").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(MerchantCategoryModel.Published))
                                {
                                    Title = T("NB.Admin.MerchantCategory.Fields.Published").Text,
                                    Width = "200",
                                    Render = new RenderBoolean()
                                },
                           new ColumnProperty(nameof(MerchantCategoryModel.Id))
                           {
                               Title = T("Admin.Common.Edit").Text,
                               Width = "100",
                               ClassName =  NopColumnClassDefaults.Button,
                               Render = new RenderButtonEdit(new DataUrl("~/Admin/NBMerchantCategory/EditMerchantCategory/"))
                           },
                           new ColumnProperty(nameof(MerchantCategoryModel.Id))
                            {
                                Title = T("Admin.Common.Delete").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                            }
                       }
                   })
                        <script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "NBMerchantCategory"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#deleteSelectedFailed-info').text(errorThrown);
                                            $('#deleteSelectedFailed').click();
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            updateTable('#merchantCategory-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });

                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
