﻿@using Nop.Core
@using Nop.Services.Configuration;
@inject ISettingService settingservice
@inject IWorkContext workContext
@model List<MerchantModel>
@{
    bool BookTable = false;
    var storeFront = settingservice.GetSettingByKey("storeinformationsettings.isstorefront", false);
}
@if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsBookTableEnable != null)
{
    BookTable = workContext.CurrentMerchant.IsBookTableEnable.Value;
}
@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 restaurInfo clearfix">
                <span class="addToWish heart-@item.Id @(item.InFavoritelist ? "active" : "")">
                    <button onclick="addRemoveMerchantToFavorite(@item.Id)" tabindex="0">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </span>
                <div class="leftArrowBtnHome"><a href="/"><i class="fa fa-long-arrow-left"></i></a></div>
                <div class="leftInfo clearfix">
                    <div class="restaurNameInfo">
                        <h2>
                            @item.Name
                            @if (true)
                            {
                            }
                        </h2>
                        <script type="text/javascript">

                            //Ask for HTML5 geolocation, use Modernizr to detect if we can even do it. If allow, go to show_map, if deny go to handle_error. Please note the High Accuracy flag, which may cause the location fix to take longer, but it gives a more precise reading
                            function get_location() {
                                if (Modernizr.geolocation) {
                                    navigator.geolocation.getCurrentPosition(show_map, handle_error, { maximumAge: 75000, enableHighAccuracy: true });
                                    console.log('We have location support!');
                                } else {
                                    console.error('No HTML5 Geolocation support! Unable to divine current location!');
                                }
                            }

                            //Handle errors
                            function handle_error(err) {
                                if (err.code == 1) {
                                    console.error('HTML5 Geolocation Error: Permission denied (code 1)');
                                }
                                if (err.code == 0) {
                                    console.error('HTML5 Geolocation Error: Unknown error (code 0)');
                                }
                                if (err.code == 2) {
                                    console.error('HTML5 Geolocation Error: Position unavailable. Network is down or positioning satellites can\'t be contacted! (code 2)');
                                }
                                if (err.code == 3) {
                                    console.error('HTML5 Geolocation Error: Timed out (code 3)');
                                }
                                var my_address = "@item.Latvalue,@item.LongValue";
                                window.location = 'http://maps.google.com/maps?daddr=' + encodeURIComponent(my_address);
                            }

                            function show_map(position) {
                                console.log('Sending to Google Maps');
                                var latitude = position.coords.latitude;
                                var longitude = position.coords.longitude;
                                var my_address = "@item.Latvalue,@item.LongValue";
                                //window.location = 'http://maps.google.com/maps?saddr=' + latitude + ', ' + longitude + '&daddr=' + encodeURIComponent(my_address);
                                window.open('http://maps.google.com/maps?saddr=' + latitude + ', ' + longitude + '&daddr=' + encodeURIComponent(my_address));
                            }
                        </script>



                        <div class="bar clearfix">
                            <div class="call_direction">
                                <div class="directionButton">
                                    <a href="#" onClick="get_location();">@T("nb.direction")</a>
                                    @*<form action="http://maps.google.com/maps" method="get" target="_blank">
                    <input type="hidden" name="saddr" value=" " />
                    <input type="hidden" name="daddr" value="@item.Latvalue,@item.LongValue" />
                    <input type="submit" value="@T("nb.direction")" />
                </form>*@
                                </div>
                                <a class="callButton" href="tel:@item.PhoneNo"> <i class="fa fa-phone" aria-hidden="true"></i>  @T("nb.call")</a>
                            </div>
                            <div class="row AvailRate">
                                <div class="merchant_avail">
                                    @{
                                        if (!storeFront)
                                        {
                                            if (item.MerchantIsAvailable)
                                            {
                                                <span> @T("NB.Admin.Merchant.Available") </span>
                                            }
                                            else
                                            {
                                                <span> @T("NB.Admin.Merchant.Notavailable") </span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="merchant_rate">
                                    @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant), merchantId = item.Id })
                                </div>
                            </div>
                            <div class="diningText">
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    @Html.Raw(item.Description)
                                }
                            </div>

                            <script>


                                ; (function (window, $, undefined) {

                                    var RESET_CLASS = 'reset-style';

                                    $.fn.multiTextToggleCollapse = function (settings) {
                                        var defalutConfig = {
                                            line: 4,
                                        };

                                        var config = $.extend(defalutConfig, settings);

                                        var $wrapBox = this;
                                        var wrapBox = $wrapBox[0];
                                        var text = $wrapBox.text();
                                        var textHeight = parseInt($wrapBox.css("height"));

                                        var lineHeightStr = $wrapBox.css("line-height"); // normal 12px 1.2 120% 1.2em
                                        var fontSize = parseInt($wrapBox.css("font-size")); // 12px -> 12

                                        var strategyMode = {
                                            "normal": function () {
                                                return fontSize;
                                            },
                                            "px": function (num) {
                                                return +num;
                                            },
                                            "em": function (num) {
                                                return num * fontSize;
                                            },
                                            "%": function (num) {
                                                return num / 100 * fontSize;
                                            },
                                            "void": function (num) {
                                                return num * fontSize;
                                            }
                                        };

                                        var num = (lineHeightStr.match(/\d+(.\d+)?/) || [1])[0]; // 12px -> 12
                                        var unit = lineHeightStr.replace(num, '') || 'void'; // 12px -> px

                                        var lineHeight = strategyMode[unit](num).toFixed(2);

                                        $wrapBox.addClass('tool-multiwrapbox');

                                        var visibleHeight = config.line * lineHeight;
                                        visibleHeight = Math.ceil(visibleHeight);
                                        if (textHeight <= visibleHeight) {
                                            return;
                                        }

                                        wrapBox.style.cssText = ';height:' + visibleHeight + 'px;';

                                        var textBox = document.createElement("div");

                                        textBox.className = "multi-text";
                                        textBox.innerHTML = text;

                                        var collapseBtn = document.createElement("span");

                                        collapseBtn.className = "after-op op-btn op-collapse";
                                        collapseBtn.innerHTML = "Read Less";

                                        textBox.appendChild(collapseBtn);

                                        var dots = document.createElement("span");

                                        dots.className = "after-dots";
                                        dots.innerHTML = "...";

                                        var expandBtn = document.createElement("span");

                                        expandBtn.className = "after-op op-btn";
                                        expandBtn.innerHTML = "More";
                                        var btnWrapBox = document.createElement("div");

                                        btnWrapBox.className = "multi-text_after";
                                        btnWrapBox.style.cssText = ';top:' + (config.line - 1) * lineHeight + 'px;';

                                        btnWrapBox.appendChild(dots);
                                        btnWrapBox.appendChild(expandBtn);

                                        $wrapBox.html('');
                                        $wrapBox.append(textBox);
                                        $wrapBox.append(btnWrapBox);


                                        var $btnWrapBox = $(btnWrapBox);

                                        expandBtn.onclick = function () {
                                            $btnWrapBox.hide();
                                            $wrapBox.addClass(RESET_CLASS);
                                        };

                                        collapseBtn.onclick = function () {
                                            $btnWrapBox.show();
                                            $wrapBox.removeClass(RESET_CLASS);
                                        };
                                    };

                                }(this, jQuery));



                                $(".diningText p").multiTextToggleCollapse({
                                    line: 2
                                });
                            </script>



                            <div class="topAddress row">
                                <p>
                                    @workContext.CurrentMerchantAddress
                                </p>
                                @if (!storeFront)
                                {
                                    <div class="GeoMap" style="color:blue">GeoLocation --- @item.Geolocation </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightInfo clearfix">
                    <div id="moreInfo" style="display: none">
                        <h2 class="bTableTitle">@T("book.table.text")</h2>
                        <img src="/Themes/Dukans/Content/img/tables1.png?2121" class="bTableImg" />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @await Component.InvokeAsync("BookTable")
                            </div>
                        </div>
                    </div>
                    @{
                        bool AvailableSchedules = false;
                    }
                    @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsAvailableSchedulesEnable != null)
                    {
                        AvailableSchedules = workContext.CurrentMerchant.IsAvailableSchedulesEnable.Value;
                    }
                    @if (AvailableSchedules)
                    {
                        <div class="schedulesText">
                            @*<em>@T("available.schedules.text")</em>*@
                            <ul class="avlSchList">
                                @foreach (var item_ in item.AvailableSchedules)
                                {
                                    <li><span>@item_.ScheduleName:</span> @item_.ScheduleFromTime - @item_.ScheduleToTime</li>
                                }
                            </ul>
                        </div>
                        @* <div class="phoneNum">
                    <i class="fa fa-mobile"></i> @item.PhoneNo
                </div>*@
                    }
                    <ul class="ratingTimeList">
                        @{
                            bool RatingPercent = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.RatingPercent != null)

                        {
                            RatingPercent = workContext.CurrentMerchant.RatingPercent.Value;
                        }
                        @if (RatingPercent)
                        {
                            <li class="ratingli">
                                <span>@await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Merchant), merchantId = item.Id })</span> @T("number.ratings.text")
                            </li>
                        }
                        @{
                            bool DeliveryTime = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsDeliveryTimeEnable != null)
                        {
                            DeliveryTime = workContext.CurrentMerchant.IsDeliveryTimeEnable.Value;
                        }
                        @if (DeliveryTime)
                        {
                            <li>
                                <span>@workContext.CurrentMerchant.ExpDeliveryTime </span>@T("delivery.time.text") <!--Delivery Time-->
                            </li>
                        }
                        @{
                            bool CostFor = false;
                        }
                        @if (workContext.CurrentMerchant != null && workContext.CurrentMerchant.IsCostForEnable != null)
                        {
                            CostFor = workContext.CurrentMerchant.IsCostForEnable.Value;
                        }
                        @if (CostFor)
                        {
                            <li>
                                <span>@workContext.CurrentMerchant.CostFor</span> @T("cost.person.text")
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}