﻿@model SubscriptionActivationModel
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-newsletter-page");
}

<div class="row">
	<div class="col-md-6">
		<div class="page-title">
			<h1>@*@T("Newsletter.Title")*@ Subscribe to News letter</h1>
		</div>
		<p>Follow us everywhere and be the first to know exciting offer every week</p>
	</div>
	<div class="col-md-6">
		@Model.Result
	</div>
</div>

