﻿@model Nop.Web.Areas.Admin.Models.Orders.OrderModel
@using Nop.Core.Domain.Orders;
@using Nop.Services
<script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.CityId)").change(function() {
                var selectedItem = $(this).val();
                var ddlAgents = $("#@Html.IdFor(model => model.AssignedAgentId)");

                var postData = {
                    cityId: selectedItem
                };

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetAgentsByCityId", "Order"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlAgents.html('');
                        $.each(data, function(id, option) {
                            ddlAgents.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#agentAlert").click();
                    }
                });
            });
        });
</script>
<div class="panel-body">
    <div class="sub-panel">
        <form id="assignAgentToOrderForm">

            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="CityId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="CityId" asp-items="Model.AvailableCity" />
                </div>
            </div>

            <div class="form-group" @(Model.AvailableAgents.SelectionIsNotPossible())>
                <div class="col-md-4">
                    <nop-label asp-for="AssignedAgentId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="AssignedAgentId" asp-items="Model.AvailableAgents" />
                </div>
            </div>


            <div class="form-group" @(Model.AvailableAgentStatus.SelectionIsNotPossible())>
                <div class="col-md-4">
                    <nop-label asp-for="AgentStatusId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="AgentStatusId" asp-items="Model.AvailableAgentStatus" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <a name="btnAssignAgent" id="btnAssignAgent" onclick="assignOrderToAgent()" class="btn btn-primary">
                        @T("Admin.Orders.Fields.EditAssignedAgent")
                    </a>
                </div>
            </div>
        </form>
    </div>
    <nop-alert asp-alert-id="agentAlert" asp-alert-message="@T("NB.Admin.Common.Alert.Agent.Failed")" />
</div>

<script>
    function assignOrderToAgent(orderId) {
        //check agent selection
        if ($('#AssignedAgentId').val() == 0 ){
            alert('Please select Agent to be assigned')
            return false;
        }

        //get orderid
        if ($('#orderIdForAgent').length == 0 || $('#orderIdForAgent').val() == "") {
            alert('Please select order from pending order list first')
            return false;
        }
        var orderId = $('#orderIdForAgent').val();

        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("AssignAgentToOrder", "NBDispatchManagement"))",
            data: $('#assignAgentToOrderForm').serialize() + "&Id=" + orderId + "",
                  success: function (data) {
                      if (data.success) {
                          $("#dispatchOrderPending").html(data.pendingOrderHtml);
                          $("#dispatchOrderPending").hide();
                          $("#dispatchOrderPending").fadeIn(2000);

                          $("#dispatchOrderDetail").html(data.orderDetailHtml);
                          $("#dispatchOrderDetail").hide();
                          $("#dispatchOrderDetail").fadeIn(2000);

                          $("#dispatchOrderOnGoing").html(data.onGoingOrderHtml);
                          $("#dispatchOrderOnGoing").hide();
                          $("#dispatchOrderOnGoing").fadeIn(2000);
                      } else {
                          alert(data.message);
                      }
                  },
                  error: function () {
                      alert("Error while assigning Agent to order!");
                  }
              });
    }
</script>
