﻿@model OrderModel
@using  Nop.Core.Domain.Tax

<div class="panel-body">
    <div class="panel panel-default sub-panel">
        @if (Model.Id > 0)
        {
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="CustomOrderNumber" />
                    </div>
                    <div class="col-md-8">
                        <div class="form-text-row">@Model.CustomOrderNumber</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="OrderTypeName" />
                    </div>
                    <div class="col-md-8">
                        <div class="form-text-row">@Model.OrderTypeName</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="CreatedOn" />
                    </div>
                    <div class="col-md-8">
                        <div class="form-text-row">@Model.CreatedOn</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="CustomerId" />
                    </div>
                    <div class="col-md-8">
                        <span>@Model.CustomerInfo</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="OrderStatus" />
                    </div>
                    <div class="col-md-8">
                        <div class="input-group input-group-short">
                            <div class="input-group-text">
                                <strong>
                                    <div class="form-text-row">@Model.OrderStatus</div>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            //product
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            @T("Admin.Orders.Products.ProductName")
                        </th>
                        <th>
                            @T("Admin.Orders.Products.Price")
                        </th>
                        <th>
                            @T("Admin.Orders.Products.Quantity")
                        </th>
                        <th>
                            @T("Admin.Orders.Products.Total")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td style="width: 15%;" class="text-left">
                                <em><a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">@item.ProductName</a></em>
                                @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                {
                                    <p>
                                        @Html.Raw(item.AttributeInfo)
                                    </p>
                                }
                                @if (!string.IsNullOrEmpty(item.RecurringInfo))
                                {
                                    <p>
                                        @Html.Raw(item.RecurringInfo)
                                    </p>
                                }
                                @if (!string.IsNullOrEmpty(item.RentalInfo))
                                {
                                    <p>
                                        @Html.Raw(item.RentalInfo)
                                    </p>
                                }
                                @if (!string.IsNullOrEmpty(item.Sku))
                                {
                                    <p>
                                        <strong>@T("Admin.Orders.Products.SKU")</strong><text>:</text>
                                        @item.Sku
                                    </p>
                                }
                                @if (!string.IsNullOrEmpty(item.VendorName))
                                {
                                    <p>
                                        <strong>@T("Admin.Orders.Products.Vendor")</strong><text>:</text>
                                        @item.VendorName
                                    </p>
                                }
                                @if (item.ReturnRequests.Count > 0)
                                {
                                    <p>
                                        @T("Admin.Orders.Products.ReturnRequests")<text>:</text>
                                        @for (var i = 0; i < item.ReturnRequests.Count; i++)
                                        {
                                            <a asp-controller="ReturnRequest" asp-action="Edit" asp-route-id="@item.ReturnRequests[i].Id">@item.ReturnRequests[i].CustomNumber</a>
                                            if (i != item.ReturnRequests.Count - 1)
                                            {
                                                <text>,</text>
                                            }
                                        }
                                    </p>
                                }
                                @if (item.PurchasedGiftCardIds.Count > 0)
                                {
                                    <p>
                                        @T("Admin.Orders.Products.GiftCards")<text>:</text>
                                        @for (var i = 0; i < item.PurchasedGiftCardIds.Count; i++)
                                        {
                                            <a asp-controller="GiftCard" asp-action="Edit" asp-route-id="@item.PurchasedGiftCardIds[i]">@item.PurchasedGiftCardIds[i]</a>
                                            if (i != item.PurchasedGiftCardIds.Count - 1)
                                            {
                                                <text>,</text>
                                            }
                                        }
                                    </p>
                                }
                            </td>

                            <td style="width: 15%;" class="text-center">
                                @if (Model.AllowCustomersToSelectTaxDisplayType)
                                {
                                    <div>@item.UnitPriceInclTax</div>
                                    <div>@item.UnitPriceExclTax</div>
                                }
                                else
                                {
                                    switch (Model.TaxDisplayType)
                                    {
                                        case TaxDisplayType.ExcludingTax:
                                            {
                                                @item.UnitPriceExclTax
                                            }
                                            break;
                                        case TaxDisplayType.IncludingTax:
                                            {
                                                @item.UnitPriceInclTax
                                            }
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            </td>
                            <td style="width: 10%;" class="text-center">
                                <div>@item.Quantity</div>
                            </td>
                            <td style="width: 15%;" class="text-center">
                                @if (Model.AllowCustomersToSelectTaxDisplayType)
                                {
                                    <div>@item.SubTotalInclTax</div>
                                    <div>@item.SubTotalExclTax</div>
                                }
                                else
                                {
                                    switch (Model.TaxDisplayType)
                                    {
                                        case TaxDisplayType.ExcludingTax:
                                            {
                                                @item.SubTotalExclTax
                                            }
                                            break;
                                        case TaxDisplayType.IncludingTax:
                                            {
                                                @item.SubTotalInclTax
                                            }
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="hidden" id="orderIdForAgent" />
            <script>
                //to handle agent tab (show/hide)
                $(document).ready(function () {
                    $('#dispatchAssignAgentPanel').hide();
                    $('#dispatchAssignAgentPanel').fadeIn(3000);
                })
            </script>
        }
        else
        {
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-8">
                        <div class="form-text-row">
                            <h4>@T("NB.Admin.Dispatch.Orders.Detail.Selectorder")</h4>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                //to handle agent tab (show/hide)
                $(document).ready(function () {
                    $('#dispatchAssignAgentPanel').hide();
                })
            </script>
        }
    </div>
</div>

