@model DispatchModel
@using Nop.Web.Areas.Admin.Models.NB.DispatchManagement

@{
    //page title
    ViewBag.Title = T("NB.Admin.DispatchManagement").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DispatchManagement");
    Html.AddScriptParts("~/lib/signalr/signalr.js");
}

@{
    const string orderPendingBlockAttributeName = "Dispatch.HideOrderPendingBlock";
    var hideOrderPendingBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, orderPendingBlockAttributeName);

    const string orderDetailBlockAttributeName = "Dispatch.HideDetailBlock";
    var hideOrderDetailBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, orderDetailBlockAttributeName);

    const string orderOngoingBlockAttributeName = "Dispatch.HideOrderOngoingBlock";
    var hideOrderOngoingBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, orderOngoingBlockAttributeName);

    const string agentBlockAttributeName = "Dispatch.HideAgentBlock";
    var hideAgentBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, agentBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("NB.Admin.DispatchManagement")
    </h1>
</div>

<div class="content">
    @*<div class="form-horizontal">
            <div class="panel-group">

                <h1>Dispatch mgm</h1>
                <button onclick="checkSignalR()">Check SignalR</button>
                <div id="signalRdata"></div>
            </div>
        </div>*@

    <div class="form-horizontal">
        <nop-panels id="dospatch-panels">
            <div class="row">
                <nop-panels id="dispatch-firstline-panels">
                    <nop-panel class="col-md-3 col-xs-12" asp-name="dispatch-pending-orders" asp-icon="fa fa-clock-o" asp-title="@T("NB.Admin.Dispatch.Order.Pending")" asp-hide-block-attribute-name="@orderPendingBlockAttributeName" asp-hide="@hideOrderPendingBlock" asp-advanced="false">
                        <div id="dispatchOrderPending">
                            @await Html.PartialAsync("_Dispatch.OrderPending", Model.PendingOrderIds)
                        </div>
                    </nop-panel>
                    <nop-panel class="col-md-6 col-xs-12" asp-name="dispatch-order-detail" asp-icon="fa fa-info" asp-title="@T("NB.Admin.Dispatch.Order.Detail")" asp-hide-block-attribute-name="@orderDetailBlockAttributeName" asp-hide="@hideOrderDetailBlock" asp-advanced="false">
                        <div id="dispatchOrderDetail">
                            @await Html.PartialAsync("_Dispatch.OrderDetail", new OrderModel())
                        </div>
                        <nop-panel id="dispatchAssignAgentPanel" class="col-md-12 col-xs-12" asp-name="dispatch-assing-agent" asp-icon="fa fa-user" asp-title="@T("NB.Admin.Dispatch.Assign.Agent")" asp-hide-block-attribute-name="@agentBlockAttributeName" asp-hide="@hideAgentBlock" asp-advanced="false">
                            <div id="dispatchAssignAgent">
                                @await Html.PartialAsync("_Dispatch.Agent", Model.OrderAgentModel)
                            </div>
                        </nop-panel>
                    </nop-panel>
                    <nop-panel class="col-md-3 col-xs-12" asp-name="dispatch-ongoing-orders" asp-icon="fa fa-exchange" asp-title="@T("NB.Admin.Dispatch.Order.OnGoing")" asp-hide-block-attribute-name="@orderOngoingBlockAttributeName" asp-hide="@hideOrderOngoingBlock" asp-advanced="false">
                        <div id="dispatchOrderOnGoing">
                            @await Html.PartialAsync("_Dispatch.OrderOnGoing", Model.OnGoingOrderIds)
                        </div>
                    </nop-panel>
                    @*<nop-panel id="dispatchAssignAgentPanel" style="margin-top: -115px; margin-left: 280px;" class="col-md-6 col-xs-12 margin-t-5" asp-name="dispatch-assing-agent" asp-icon="fa fa-user" asp-title="@T("NB.Admin.Dispatch.Assign.Agent")" asp-hide-block-attribute-name="@agentBlockAttributeName" asp-hide="@hideAgentBlock" asp-advanced="false">

                        </nop-panel>*@
                </nop-panels>
            </div>

        </nop-panels>
    </div>
</div>

<script>
     //++++ SignalR ++++

      connection.on("orderConfirmedRequest", (OrderId) => {
        updatePendingOrders(OrderId);
      });
      connection.on("orderDeliveredRequest", (OrderId) => {
          updateOngoingOrders(OrderId);
      });

    //---- SignalR ----

    function updatePendingOrders(orderId) {
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("UpdatePendingOrders", "NBDispatchManagement"))",
                  success: function (data) {
                      if (data) {
                          console.log('Pending orders updated! [' + new Date($.now()) + ']');
                          $("#dispatchOrderPending").html(data);
                          $("#dispatchOrderPending").hide();
                          $("#dispatchOrderPending").fadeIn(2000);
                          }
                  },
                  error: function () {
                      alert("Error while retrieving pending orders!");
                  }
              });
    }

        function updateOngoingOrders(orderId) {
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("UpdateOngoingOrders", "NBDispatchManagement"))",
                  success: function (data) {
                      if (data) {
                          console.log('Ongoing orders updated! [' + new Date($.now())+']');
                          $("#dispatchOrderOnGoing").html(data);
                          $("#dispatchOrderOnGoing").hide();
                          $("#dispatchOrderOnGoing").fadeIn(2000);
                          }
                  },
                  error: function () {
                      alert("Error while retrieving ongoing orders!");
                  }
              });
    }
</script>