﻿@model Nop.Web.Models.Home.StoreItemModel;
@{
    Layout = "_ColumnsOne";
    Html.AppendPageCssClassParts("html-home-page");
}
<script src="/Themes/Vonzuu/Content/scripts/owl.carousel.js?v=1.9.1"></script>
<div class="page home-page">
    <div class="page-body">
        <section class="banner clearfix">
            @await Component.InvokeAsync("TopicBlock", new { systemName = "BannerText-Vonzuu" })
        </section>

    </div>
</div>

<script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }
    function initAutocomplete1() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete1')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        document.getElementById("latLong").value = place.geometry.location;
    }



    function enableTakeAway() {
        // Get Merchant Categorys
        $.get("Home/GetMerchantCategorysWithGeo", { ordType: 2, skipLocationSearch: true }, function (data) {
            if (data) {
                jQuery("#choose_category1").show();
                jQuery("#choose_category1").html(data);
                jQuery(".searchLoaderImg").hide();
                document.getElementById("searchLoaderImg").style.display = "none";
            }
            else {
                jQuery("#choose_category1").html('');
                jQuery(".searchLoaderImg").hide();
                document.getElementById("searchLoaderImg").style.display = "none";
            }
        });

        $('.restaurListSection .isTakeAwayTrue').hide();
        $('.tabContent.deliveryListBlock').show();
        $('.tabContent.takeAwayList').show();
    }
</script>
<script>
    $(document).ready(function () {
        enableTakeAway();
        // Add smooth scrolling to all links
        $("a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });

    $(document).ready(function () {
        $("#top").hide();
        $(function toTop() {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#top').fadeIn();
                } else {
                    $('#top').fadeOut();
                }
            });

            $('#top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });



    });
</script>
<script>
    $(function () {
        if (window.location.href.split(window.location.origin)[1] === "/?checkActiveRedirection") {
            //debugger;
            if ($("#IsDelivery").attr("checkStu") == "checkStu" && $("#IsTakeaway").attr("checkStu") == "checkStu") {
                $("body").show();
                //console.log("both are true");
            } else {
                if ($("#IsDelivery").attr("checkStu") == "checkStu") {
                    //console.log("IsDelivery checkStu");
                    $(".buttonTabs li[rel='tab2']").remove();
                    // $(".tabContainer #tab2").remove();
                    $("body").show();
                }
                if ($("#IsTakeaway").attr("checkStu") == "checkStu") {
                    window.location.href = window.location.origin + "/homemerchant?merchantid=21";
                }
            }

        } else {
            $("body").show();
        }

        $(".searchBlock #search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".restaurListSection .restaurBox").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        //find by name
        $("#btnSearchByName").on("click", function () {
            var merchantName = $("#txtSearchByName").val();
            if (merchantName != '') {
                $(".searchLoaderImg").show();
                $.get("Home/GetMerchantWithGeo", { ordtype: "Delivery", merchantName: merchantName }, function (data) {
                    if (!data) {
                        jQuery(".vldNoMerchant").show();
                        jQuery(".searchLoaderImg").hide();
                        document.getElementById("searchLoaderImg").style.display = "none";
                        jQuery("#geoListMerchant").hide();
                    } else {
                        jQuery(".vldNoMerchant").hide();
                        jQuery("#geoListMerchant").show();
                        jQuery("#geoListMerchant").html(data);

                        // Get Merchant Categorys
                        $.get("Home/GetMerchantCategorysWithGeo", { ordType: 1, skipLocationSearch: true, merchantName: merchantName }, function (data) {
                            $(".searchLoaderImg").hide();
                            if (data) {
                                $.noConflict();
                                jQuery("#choose_category2").show();
                                jQuery("#choose_category2").html(data);
                            }
                            else {
                                $.noConflict();
                                jQuery("#choose_category2").html('');
                            }
                        });
                    }
                });

                $("#restuList2").show();
                document.getElementById("latLong").value = "";
            }
            else {
                jQuery("#geoListMerchant").html('');
                jQuery("#choose_category2").html('');
            }
        });

        $("#btnSearchByNameTA").on("click", function () {
            var merchantName = $("#txtSearchByNameTA").val();
            $(".searchLoaderImg").show();

            $.get("Home/GetMerchantWithGeo", { ordtype: "TakeAway", merchantName: merchantName }, function (data) {
                if (!data) {
                    jQuery(".vldNoMerchantTA").show();
                    jQuery(".searchLoaderImg").hide();
                    document.getElementById("searchLoaderImg").style.display = "none";
                    jQuery(".restaurListSection").hide();
                } else {
                    jQuery(".vldNoMerchantTA").hide();
                    jQuery("#searchByMerchant").show();
                    jQuery("#searchByMerchant").html(data);

                    // Get Merchant Categorys
                    $.get("Home/GetMerchantCategorysWithGeo", { ordType: 2, skipLocationSearch: true, merchantName: merchantName }, function (data) {
                        $(".searchLoaderImg").hide();
                        if (data) {
                            $.noConflict();
                            jQuery("#choose_category1").show();
                            jQuery("#choose_category1").html(data);
                        }
                        else {
                            $.noConflict();
                            jQuery("#choose_category1").html('');
                        }
                    });

                }
            });
        });
    });
</script>
<style>
    body { display: none; }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKuUGMz8-xYyc6t1YWUhygrrkB4-WAFeY&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript">
    function setOrderType(type) {
        $.post("Home/SetOrderType", { orderType: type });
    }
    @if (Model.IsTakeaway)
    {
    <text>
    setOrderType(2);
    </text>
    }
    else
    {
    <text>
    setOrderType(1);
    </text>
    }
</script>

<script>

    $(".container_label input:checked").parents('.slide_box').addClass("selected-box");
</script>
<div id="dv-rating-review-container">@await Component.InvokeAsync("RatingReview")</div>
<div class="ratingYourPrevOrder">
    <div class="prevOrderText">@T("nb.RateYour.Previous.Order")</div>
    <div class="prevOrderClose">x</div>
</div>