﻿@model CustomerNavigationModel
<div class="account-navigation-wrapper">
    <ul class="account-navigation-list">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })
        @foreach (var item in Model.CustomerNavigationItems)
        {
            <li>
                <a href="@Url.RouteUrl(item.RouteName)" class="@item.ItemClass @(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
            </li>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
    </ul>
</div>