﻿@model List<string>
@*<style>
        * {
            margin: 0;
            padding: 0;
        }

        .gallery {
            width: auto;
            height: 231px;
            margin: 10px auto;
            background: #999;
            border: 1px solid orange;
        }

        .slider {
            width: auto;
            height: 231px;
            overflow: scroll;
        }

        .slider ul {
            width: 10000px;
            list-style: none;
            margin-left: 0px;
        }

        .slider li {
            float: left;
         }

        .dividers {
            height:231px;
            width : 10%;
            margin: 0 15px 0 15px; /* This is Important and margin must be same on both sides */
        }

        #slider-nav {
            display: none; /* This is important to hide the buttons if jQuery is Not supported. */
            margin-top: -4em;
            cursor: pointer;
        }
    </style>*@ 

<div id="offerSlider">
    <!-- Give wrapper ID to target with jQuery & CSS -->
    <div class="MS-content">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="item"><img src=@(Model[i]) class="slides" alt=" img1" /> </div>
        }
     </div>
    <div class="MS-controls">
        <button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
</div>

@*Include jQuery, then include Multislider script-- >*@

<script src="../Themes/MommyValet/Content/scripts/jquery-2.2.4.min.js"></script>
<script src="../Themes/MommyValet/Content/scripts/multislider.min.js"></script>

<script> 

    // Initialize with options, if needed
    $('#offerSlider').multislider({
        slideAll: true,
        autoSlide: true,
        duration: 1000,
        interval: 4000
    });
</script>

<!-- Container for Slider and Navigation Controls -->
<!--<div class="gallery">
     <div class="slider">
         <ul>
             @for (int i = 0; i < Model.Count; i++)
              {
                 <li>
                     <div class="sliderCover">
                         <div class="merchantSlider">
                             <img src=@(Model[i]) class="slides" alt=" img1" /> <img src="~/images/divider.PNG" class="dividers" alt="Divider" />
                         </div>
                     </div>
                 </li>
              }
         </ul>
     </div>-->
<!-- Navigation Button Controls -->
<!--<div id="slider-nav">
        <button data-dir="prev" class="prev" onclick="plusSlides(-1)">&#10094;</button>
        <button data-dir="next" class="next" style="float:right;" onclick="plusSlides(1)"></button>

    </div>
</div>-->
<!-- Loading JavaScript Codes. -->
<!--<script src="scripts/jquery-2.1.0.js"></script>
   <script src="scripts/multiImageSliderScript.js"></script>
   <script>
        //
       jQuery(document).ready(function ($) {
           // creating a container variable to hold the 'UL' elements. It uses method chaining.
           var container = $('div.slider')
               .css('overflow', 'hidden')
               .children('ul');

           /*
           On the event of mouse-hover,
               i) Change the visibility of Button Controls.
               ii) SET/RESET the "intv" variable to switch between AutoSlider and Stop mode.
           */
           $('.gallery').hover(function (e) {
               $('#slider-nav').toggle();
               return e.type == 'mouseenter' ? clearInterval(intv) : autoSlider();
           });

           // Creating the 'slider' instance which will set initial parameters for the Slider.
           var sliderobj = new slider(container, $('#slider-nav'));
            /*
            This will trigger the 'setCurrentPos' and 'transition' methods on click of any button
             "data-dir" attribute associated with the button will determine the direction of sliding.
            */
            sliderobj.nav.find('button').on('click', function () {
                sliderobj.setCurrentPos($(this).data('dir'));
                sliderobj.transition();
            });

            autoSlider(); // Calling autoSlider() method on Page Load.

            /*
            This function will initialize the interval variable which will cause execution of the inner function after every 2 seconds automatically.
            */
            function autoSlider() {
                return intv = setInterval(function () {
                    sliderobj.setCurrentPos('next');
                    sliderobj.transition();
                }, 5000);
            }

        });
    </script>


<script>
    function slider(container, nav) {
        this.container = container;
        this.nav = nav.hide(); // This will assign 'nav' from parameters to 'nav' of current slider instance. It uses method chaining.
        this.imgs = this.container.find('.slides'); // Returns jQuery object containing all matched elements.
        console.log('Value of this.imgs is : ' + this.imgs);
        this.width = this.imgs[0].width;
        console.log('Value of width is : ' + this.width);
        this.imgLen = this.imgs.length; // Returns the total number of sliding elements.
        this.current = 0;
    }
    slider.prototype.transition = function (coords) {
        this.container.animate({
            'margin-left': coords || -(this.current * this.width + 35 * this.current) // First element is multiplied by Zero. The number 35 is the actual gap between two slides.
        }, 500);
    };

    slider.prototype.setCurrentPos = function (dir) {
        var pos = this.current;
        console.log('Value of this.value is : ' + dir);
        pos += ~~(dir == 'next') || -1; // You can use alternate "Math.floor()" method instead of double tilde (~~) operator.
        this.current = (pos < 0) ? this.imgLen - 3 : pos % (this.imgLen - 2);
        console.log(this.current);

    };
</script>-->
