﻿@model SMSMessageTemplateModel

@using Nop.Web.Framework.Extensions;
@using Resanehlab.Plugin.Core.Helpers

@{
    Layout = "";

    var sMSMessageTokenProvider = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Resanehlab.Plugin.Authentication.PhoneNumber.Services.ISMSMessageTokenProvider>();
}

<div class="content">
    <div class="form-horizontal">
        <div class="raw clearfix">
            <div class="content">
                <div class="form-horizontal">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="AllowedTokens" />
                                    </div>
                                    <div class="col-md-9">
                                        <a id="allowedTokensShowHide" href="javascript:toggleLoadedAllowedTokens();">@T("Admin.Common.Show")</a>
                                        <div id="pnlAllowedTokens" style="display: none; white-space: pre-line">
                                            <div class="form-text-row">Test</div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    function toggleLoadedAllowedTokens() {
                                        $('#pnlAllowedTokens').toggle();
                                        if ($('#pnlAllowedTokens').css('display') == 'none') {
                                            $('#allowedTokensShowHide').text('@T("Admin.Common.Show")');
                                        } else {
                                            $('#allowedTokensShowHide').text('@T("Admin.Common.Hide")');
                                        }
                                    }
                                </script>

                                @(Html.LocalizedEditor<SMSMessageTemplateModel, SMSMessageTemplateLocalizedModel>("smsmessagetemplate-text-localized",
                                                @<div>
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <nop-label asp-for="@Model.Locales[item].Text" />
                                                        </div>
                                                        <div class="col-md-9">
                                                            <nop-textarea asp-for="@Model.Locales[item].Text" />
                                                            <span asp-validation-for="@Model.Locales[item].Text"></span>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                                </div>
                                                ,@<div>
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <nop-label asp-for="Text" />
                                                        </div>
                                                                                                                                                                                                        <div class="col-md-9">
                                                            <nop-textarea asp-for="Text" asp-required="true" />
                                                            <span asp-validation-for="Text"></span>
                                                        </div>
                                                    </div>
                                                </div>))
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="NotificationType" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-select asp-for="NotificationType" asp-items="Model.AvailableNotificationTypes" />
                                        <span asp-validation-for="NotificationType"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="IsActive" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="IsActive" />
                                        <span asp-validation-for="IsActive"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.Store.Mapping")
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="SelectedStoreIds" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true" />
                                        <script>
                                $(document).ready(function() {
                                    var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)').data("kendoMultiSelect");
                                    storesIdsInput.setOptions({
                                        autoClose: false,
                                        filter: "contains"
                                    });
                                    @if (Model.AvailableStores.Count == 0)
                            {
                                <text>
                                    storesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: 'No stores available'
                                    });
                                    storesIdsInput._placeholder();
                                    storesIdsInput._enable();
                                    </text>
                            }
                                });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var notificationType = $("#NotificationType :selected").text();
        if (notificationType) {
            SetAllowedTokens(notificationType);
        }
        $("#NotificationType").on("change", function () {

            var notificationType = $(this[this.selectedIndex]).text();
            SetAllowedTokens(notificationType);

        });

        function SetAllowedTokens(notificationType) {
            $.ajax({
                url: "@(RLUrlHelper.GetAbsoluteUrlInStore("/Admin/Plugin/PhoneAuthentication/SMSMessageTemplateAdmin/GetTokens"))",
                data: { notificationType: notificationType },
                success: function (result) {
                    $(".form-text-row").html(result.tokens);
                }
            });
        }
    });
</script>