﻿@model List<MerchantCategoryModel>
@if (Model.Count > 0)
{
    <script src = "/lib/jquery/jquery-1.10.2.min.js" ></script>
    <script src="/Themes/Vonzuu/Content/scripts/owl.carousel.js?v=1.9.1"></script>
    <section id="choose_category">
        <div class="container">
            <h2>@T("Home.Choose.Category")</h2>
            <div class="regular slider">
                <div class="owl-carousel owl-theme">

                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="item-slide">
                                <label class="container_label" id="slide@(i)">
                                    <input type="checkbox" data-id="@item.StoreIds" name="slide" value="@item.Id" />
                                    <span class="checkmark">&times;</span>
                                    <img title="@item.PictureModel.Title" src="@item.PictureModel.ImageUrl">
                                    <span> @item.Name </span>
                                </label>

                            </div>
                        </div>
                        i++;
                    }
                </div>
            </div>

        </div>
    </section>
    <script>
        $(document).ready(function () {
            showAllMerchant();
            $('input:checkbox[name=slide]').change(function () {
                showAllMerchant();
            });
        });

        function showAllMerchant() {
            var selected = [];
            $("input:checkbox[name=slide]:checked").each(function () {
                var vendorids = $(this).attr("data-id");
                if (vendorids != "") {
                    var idsArray = vendorids.split(",");
                    for (var i = 0; i < idsArray.length; i++) {
                        if (selected.indexOf(idsArray[i]) == -1) {
                            selected.push(idsArray[i]);
                        }
                    }
                }
            });

            if (selected.length > 0) {
                $(".restaurBox").each(function (i, value) {
                    var vendorid = $(this).attr("data-id");
                    if (vendorid != "") {
                        if (selected.indexOf(vendorid) !== -1) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
            }
            else {
                $(".restaurBox").show();
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: false,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 2,
                        nav: true
                    },
                    600: {
                        items: 4,
                        nav: true
                    },
                    1000: {
                        items: 6,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            });
        });

        try {

            $slider.on('changed.owl.carousel', ev => {
                const carousel = ev.currentTarget
                $('.owl-next', $el).attr('disabled', carousel.current() === carousel.maximum());
                $('.owl-prev', $el).attr('disabled', carousel.current() === carousel.minimum());
            });
        }
        catch (e) { }
    </script>

} 