﻿@model AddressModel

<input asp-for="Id" type="hidden"/>
<div class="edit-address">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName" asp-postfix=":"></label>
                <input asp-for="FirstName" class="form-control form-control-lg" />
                <nop-required />
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName" asp-postfix=":"></label>
                <input asp-for="LastName" class="form-control form-control-lg" />
                <nop-required />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email" asp-postfix=":"></label>
                <input asp-for="Email" class="form-control form-control-lg" />
                <nop-required />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        @if (Model.CountryEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CountryId" asp-postfix=":"></label>
                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"
                            data-trigger="country-select"
                            data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                            data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                            data-loading="#states-loading-progress" class="form-control form-control-lg"></select>
                    <nop-required />
                    <span asp-validation-for="CountryId"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StateProvinceId" asp-postfix=":"></label>
                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates" class="form-control form-control-lg"></select>
                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    <span asp-validation-for="StateProvinceId"></span>
                </div>
            </div>
        }
        @if (Model.FaxEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FaxNumber" asp-postfix=":"></label>
                    <input asp-for="FaxNumber" class="form-control form-control-lg" />
                    @if (Model.FaxRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="FaxNumber"></span>
                </div>
            </div>
        }
        
    </div>

    <div class="row">

        @if (Model.CityEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="City" asp-postfix=":"></label>
                    <input asp-for="City" class="form-control form-control-lg" />
                    @if (Model.CityRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="City"></span>
                </div>
            </div>
        }

        @if (Model.StreetAddressEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Address1" asp-postfix=":"></label>
                    <input asp-for="Address1" class="form-control form-control-lg" />
                    @if (Model.StreetAddressRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="Address1"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @if (Model.StreetAddress2Enabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Address2" asp-postfix=":"></label>
                    <input asp-for="Address2" class="form-control form-control-lg" />
                    @if (Model.StreetAddress2Required)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="Address2"></span>
                </div>
            </div>
        }

        @if (Model.ZipPostalCodeEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                    <input asp-for="ZipPostalCode" class="form-control form-control-lg" />
                    @if (Model.ZipPostalCodeRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="ZipPostalCode"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @if (Model.CompanyEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Company" asp-postfix=":"></label>
                    <input asp-for="Company" class="form-control form-control-lg" />
                    @if (Model.CompanyRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="Company"></span>
                </div>
            </div>
        }

        @if (Model.PhoneEnabled)
        {
            
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PhoneNumber" asp-postfix=":"></label>
                    <input asp-for="PhoneNumber" class="form-control form-control-lg" />
                    @if (Model.PhoneRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">

        @if (Model.CountyEnabled)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="County" asp-postfix=":"></label>
                    <input asp-for="County" class="form-control form-control-lg" />
                    @if (Model.CountyRequired)
                    {
                        <nop-required />
                    }
                    <span asp-validation-for="County"></span>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="form-group">

            </div>
        </div>
    </div>

    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>
