﻿<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upperBg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-upper">
                       @* <div class="header-selectors-wrapper">
                            @await Component.InvokeAsync("TaxTypeSelector")
                            @await Component.InvokeAsync("CurrencySelector")
                            @await Component.InvokeAsync("LanguageSelector")
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
                        </div>*@
                        <div class="header-links-wrapper">
                            @await Component.InvokeAsync("HeaderLinks")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-lower">
                    <div class="header-logo">
                        @await Component.InvokeAsync("Logo")
                    </div>
                    <div class="search-box store-search-box">
                        @await Component.InvokeAsync("SearchBox")
                    </div>
                    <div class="wishlistCart">

                        @await Component.InvokeAsync("HeaderLinks")
                        @await Component.InvokeAsync("FlyoutShoppingCart")
                    </div>

                    <div class="menu-toggle">Categories</div>
                    
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
