﻿@model EntityDynamicDataSourceMappingModel

@using Nop.Core;
@using Resanehlab.Plugin.Core.Helpers
@{
    var uniqueId = CommonHelper.GenerateRandomDigitCode(9);
}

@if (Model.DataSourceUsageTypeId != (int)DataSourceUsageType.DisplayInTheseEntityPages)
{
    <div id="@uniqueId">
        @Html.HiddenFor(model => model.DynamicDataSourceEntityTypeId)

        <div class="panel-group">
            <div class="panel panel-default">
                @if (Model.EntityId > 0)
                {
                    <script>
                            $(document).ready(function () {
                                $("#@uniqueId #@Html.IdFor(model => model.DynamicDataSourceId)").change(toggleDynamicDataSourceBy@(uniqueId)Id);

                                toggleDynamicDataSourceBy@(uniqueId)Id();
                            });

                            function toggleDynamicDataSourceBy@(uniqueId)Id() {
                                var selectedDynamicDataSourceId = $("#@uniqueId #@Html.IdFor(model => model.DynamicDataSourceId)").val();

                                var postData = {
                                    EntityId: @(Model.EntityId),
                                    EntityTypeId: @(Model.EntityTypeId),
                                    DataSourceUsageTypeId: @(Model.DataSourceUsageTypeId),
                                    DynamicDataSourceId: selectedDynamicDataSourceId,
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    url: "@(Html.Raw(Url.Action("UpdateEntityDynamicDataSourceMapping", "DynamicDataSourceAdmin")))",
                                    cache: false,
                                    type: "POST",
                                    data: postData,
                                    success: function (result) {
                                        if (result.hasOwnProperty("rawSQLQuery"))
                                            $('#@uniqueId #@Html.IdFor(model => model.RawSQLQuery)').val(result.rawSQLQuery);
                                        if (selectedDynamicDataSourceId == 0)
                                            $('#@uniqueId #ShouldReturnResultOnEmptySQLQuery').val(0);//Set to false
                                        else
                                            $('#@uniqueId #ShouldReturnResultOnEmptySQLQuery').val(1);//Set to true

                                        var grid = $('#@uniqueId .dynamic-sql-query-result-grid').data('kendoGrid');
                                        grid.dataSource.page(1);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);
                                    }
                                });
                            }
                    </script>

                    <div class="panel-body">
                        <p>@T($"Resanehlab.Plugin.Core.Admin.DynamicDataSource.EntityDynamicDataSourceMapping.{(DataSourceUsageType)Model.DataSourceUsageTypeId}.Tab.Hint")</p>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="DynamicDataSourceId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="DynamicDataSourceId" asp-items="Model.AvailableDynamicDataSources" />
                                <span asp-validation-for="DynamicDataSourceId"></span>
                                <small>
                                    <a asp-route="Resanehlab.Plugin.Core.Admin.DynamicDataSources" target="_blank">@T("Resanehlab.Plugin.Core.Admin.EntityDynamicDataSourceMapping.GoToDataSourceList")</a>
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @await Component.InvokeAsync("DynamicSQLQueryResultAdmin", new { dynamicDataSourceEntityTypeId = Model.DynamicDataSourceEntityTypeId, rawSQLQuery = Model.RawSQLQuery, shouldReturnResultOnEmptySQLQuery = false })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel-body">
                        @T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.EntityDynamicDataSourceMapping.SaveBeforeEdit")
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    @using Nop.Services;

    Html.AddScriptParts($"{Constants.PluginAdminScriptsPath}jquery.livequery.min.js");

    var searchModel = new EntityDynamicDataSourceMappingSearchModel();
    searchModel.SetGridPageSize();

    var availableDynamicDataSourceEntityTypeItems = DynamicDataSourceEntityType.Customer.ToSelectList(false, new int[] { (int)DynamicDataSourceEntityType.Customer });

    <div id="@uniqueId">
        <div class="panel-group">
            <div class="panel panel-default">
                @if (Model.EntityId > 0)
                {
                    <div class="panel-body">
                        <p>@T($"Resanehlab.Plugin.Core.Admin.DynamicDataSource.EntityDynamicDataSourceMapping.{(DataSourceUsageType)Model.DataSourceUsageTypeId}.Tab.Hint")</p>
                        <div class="eddsm-display-in-these-entity-pages-grid"></div>

                        <script type="text/javascript">
                            (function($) {
                                $('#@uniqueId .k-edit-form-container').livequery(function() {
                                    $(this).css('width', 'auto');
                                });

                                $(document).ready(function () {
                                    $("#@uniqueId .eddsm-display-in-these-entity-pages-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("EntityDynamicDataSourceMappingList", "DynamicDataSourceAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: function() {
                                                            var data = {
                                                                SearchEntityId: @(Model.EntityId),
                                                                SearchEntityType: '@((EntityType)Model.EntityTypeId)',
                                                                SearchDataSourceUsageType: '@((DataSourceUsageType)Model.DataSourceUsageTypeId)'
                                                            };
                                                            addAntiForgeryToken(data);
                                                            return data;
                                                        }
                                                },
                                                update: {
                                                    url: "@Html.Raw(Url.Action("UpdateEntityDynamicDataSourceMapping", "DynamicDataSourceAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: addAntiForgeryToken
                                                },
                                                destroy: {
                                                    url: "@Html.Raw(Url.Action("DeleteEntityDynamicDataSourceMapping", "DynamicDataSourceAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: addAntiForgeryToken
                                                },
                                                create: {
                                                    url: "@Html.Raw(Url.Action("CreateEntityDynamicDataSourceMapping", "DynamicDataSourceAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: function () {
                                                        var data = {
                                                            EntityId: @(Model.EntityId),
                                                            EntityTypeId: @(Model.EntityTypeId),
                                                            DataSourceUsageTypeId: @(Model.DataSourceUsageTypeId)
                                                        };
                                                        addAntiForgeryToken(data);
                                                        return data;
                                                    }
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors",
                                                model: {
                                                    id: "Id",
                                                    fields: {
                                                        DynamicDataSourceEntityTypeId: { editable: true, type: "number" },
                                                        DynamicDataSourceId: { editable: true, type: "number" }
                                                    }
                                                }
                                            },
                                            requestEnd: function (e) {
                                                if (e.type === 'create' || e.type === 'update') {
                                                    this.read();
                                                }
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(searchModel.PageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(searchModel.AvailablePageSizes)],
                                            @await Html.PartialAsync(Resanehlab.Plugin.Core.Infrastructure.Constants.GridPagerMessagesPath)
                                        },
                                        editable: {
                                            confirmation: true,
                                            mode: "popup",
                                            createAt: "bottom",
                                            template: $("#@uniqueId #editor-template").html(),
                                            window: {
                                                animation: false,
                                                width: 700
                                            }
                                        },
                                        edit: function (e) {
                                            $('#@(uniqueId)-dynamic-data-source-entity-types').width(300).kendoDropDownList({
                                                optionLabel: "Select a page...",
                                                dataTextField: "DynamicDataSourceEntityTypeName",
                                                dataValueField: "DynamicDataSourceEntityTypeId",
                                                dataSource: {
                                                    type: "json",
                                                    transport: {
                                                        read: {
                                                            url: "@Html.Raw(Url.Action("GetAvailableDynamicDataSourceEntityTypesJsonModel", "DynamicDataSourceAdmin"))",
                                                            type: "POST",
                                                            dataType: "json",
                                                            data: function () {
                                                                var data = {
                                                                    Id: e.model.id,
                                                                    EntityId: @(Model.EntityId),
                                                                    EntityTypeId: @(Model.EntityTypeId),
                                                                    DataSourceUsageTypeId: @(Model.DataSourceUsageTypeId)
                                                                };
                                                                addAntiForgeryToken(data);
                                                                return data;
                                                            }
                                                        }
                                                    },
                                                    serverFiltering: true,
                                                }
                                            });
                                            $("#@(uniqueId)-dynamic-data-sources").width(300).kendoDropDownList({
                                                autoBind: false,
                                                cascadeFrom: "@(uniqueId)-dynamic-data-source-entity-types",
                                                optionLabel: "Select a data source...",
                                                dataTextField: "DynamicDataSourceName",
                                                dataValueField: "DynamicDataSourceId",
                                                dataSource: {
                                                    type: "json",
                                                    transport: {
                                                        read: {
                                                            url: "@Html.Raw(Url.Action("GetDynamicDataSourcesAndDynamicDataSourceEntityTypesJsonModel", "DynamicDataSourceAdmin"))",
                                                            type: "POST",
                                                            dataType: "json",
                                                            data: addAntiForgeryToken
                                                        },
                                                        parameterMap: function (data, type) {
                                                            if (type == "read") {
                                                                var postData = {
                                                                    DynamicDataSourceEntityTypeId: data.filter.filters[0].value
                                                                };
                                                                addAntiForgeryToken(postData);

                                                                return postData;
                                                            }
                                                        }
                                                    },
                                                    serverFiltering: true,
                                                }
                                            });
                                        },
                                        scrollable: false,
                                        toolbar: ["create"],
                                        columns: [{
                                            field: "DynamicDataSourceEntityTypeName",
                                            editable: false,
                                            title: "@T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.EntityDynamicDataSourceMapping.DisplayInTheseEntityPages.Page")"
                                        }, {
                                            field: "DynamicDataSourceName",
                                            editable: false,
                                            title: "@T("Resanehlab.Plugin.Core.Admin.EntityDynamicDataSourceMapping.Fields.DynamicDataSource")"
                                        }, {
                                            command: [{
                                                name: "edit",
                                                text: "@T("Admin.Common.Edit")"
                                            }, {
                                                name: "destroy",
                                                text: "@T("Admin.Common.Delete")"
                                            }],
                                            width: 200
                                        }]
                                    });
                                });
                            })(jQuery);
                        </script>
                        <script type="text/x-kendo-template" id="editor-template">
                            <div class="k-edit-label">
                                <label>
                                    @T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.EntityDynamicDataSourceMapping.DisplayInTheseEntityPages.Page")
                                </label>
                            </div>
                            <div class="k-edit-field">
                                <input id="@(uniqueId)-dynamic-data-source-entity-types" name="@(uniqueId)-dynamic-data-source-entity-types" data-bind="value:DynamicDataSourceEntityTypeId" required validationMessage="Dynamic data source entity type is required">
                                <span class="k-invalid-msg" data-for="@(uniqueId)-dynamic-data-source-entity-types"></span>
                            </div>
                            <div class="k-edit-label">
                                <label>
                                    @T("Resanehlab.Plugin.Core.Admin.EntityDynamicDataSourceMapping.Fields.DynamicDataSource")
                                </label>
                            </div>
                            <div class="k-edit-field">
                                <input id="@(uniqueId)-dynamic-data-sources" name="@(uniqueId)-dynamic-data-sources" data-bind="value:DynamicDataSourceId" required validationMessage="Dynamic data source is required">
                                <span class="k-invalid-msg" data-for="@(uniqueId)-dynamic-data-sources"></span>
                            </div>
                            <div class="k-edit-field">
                                <small>
                                    <a href="@(RLUrlHelper.GetAbsoluteUrlInStore("/Admin/Plugin/ResanehlabCore/DynamicDataSources"))" target="_blank">@T("Resanehlab.Plugin.Core.Admin.EntityDynamicDataSourceMapping.GoToDataSourceList")</a>
                                </small>
                            </div>
                        </script>
                    </div>
                }
                else
                {
                    <div class="panel-body">
                        @T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.EntityDynamicDataSourceMapping.SaveBeforeEdit")
                    </div>
                }
            </div>
        </div>
    </div>
}
