﻿@model SiteMapNode
@using Nop.Core
@using Nop.Core.Domain.Localization
@using Nop.Web.Framework.Menu
@inject IWorkContext workContext
@inject LocalizationSettings localizationSettings
@{
    var supportRtl = workContext.WorkingLanguage.Rtl && !localizationSettings.IgnoreRtlPropertyForAdminArea;
    string url = null;
    if (!string.IsNullOrEmpty(Model.ControllerName) && !string.IsNullOrEmpty(Model.ActionName))
    {
        url = Url.Action(Model.ActionName, Model.ControllerName, Model.RouteValues, null, null);
    }
    else if (!string.IsNullOrEmpty(Model.Url))
    {
        url = Model.Url.StartsWith("~/", StringComparison.Ordinal) ? Url.Content(Model.Url) : Model.Url;
    }
    var isActive = Model.ContainsSystemName(Html.GetActiveMenuItemSystemName());
    bool isStoreOwner = workContext.CurrentCustomer.CustomerRoles.Any(x => x.SystemName == "StoreOwner");
    bool isMerchant = workContext.CurrentCustomer.CustomerRoles.Any(x => x.SystemName == "Vendors");
    bool isSubAdmin = workContext.SubAdmin.IsSubAdminRole;

}
@if (!string.IsNullOrEmpty(url))
{
    <li @(isActive ? Html.Raw("class=\"active current-active-item\"") : null)>
        <a href="@url" class="menu-item-link" @(Model.OpenUrlInNewTab ? Html.Raw(" target=\"_blank\"") : null)>
            @if (!string.IsNullOrEmpty(Model.IconClass))
            {
                <text>
                    <i class="fa @Url.Content(Model.IconClass)"></i>
                </text>
            }
            <span class="menu-item-title">@Model.Title</span>
        </a>
    </li>
}
else
{

    var childNodes = Model.ChildNodes.Where(x => x.Visible).ToList();
    var hasChildNodes = childNodes.Any();
    var liCssClass = "";
    if (hasChildNodes)
    {
        liCssClass = "treeview";
    }
    if (isActive)
    {
        if (!String.IsNullOrEmpty(liCssClass))
        {
            liCssClass += " ";
        }
        liCssClass += "active current-active-item";
    }

    <li @(!String.IsNullOrEmpty(liCssClass) ? Html.Raw("class=\"" + liCssClass + "\"") : null)>
        <a href="#">
            @if (!string.IsNullOrEmpty(Model.IconClass))
            {
                <text>
                    <i class="fa @Url.Content(Model.IconClass)"></i>
                </text>
            }
            <span>@Model.Title</span>
            @if (supportRtl)
            {
                <i class="fa fa-angle-right pull-right"></i>
            }
            else
            {
                <i class="fa fa-angle-left pull-right"></i>
            }
        </a>

        @if (childNodes.Any())
        {
            if ((isStoreOwner || isSubAdmin) && Model.SystemName == "Customers")
            {
                childNodes = childNodes.Where(x => x.SystemName == "Vendors" || x.SystemName == "Customers list" || x.SystemName == "Agents" || x.SystemName == "NB Admins" || x.SystemName == "NB Roles").ToList();
            }

            if ((isStoreOwner || isSubAdmin) && Model.SystemName == "Attributes")
            {
                childNodes = childNodes.Where(x => x.SystemName == "Product attributes").ToList();
            }
            if (isMerchant && Model.SystemName == "Attributes")
            {
                childNodes = childNodes.Where(x => x.SystemName == "Product attributes").ToList();
            }
            if ((isStoreOwner || isSubAdmin) && Model.SystemName == "Sales")
            {
                childNodes = childNodes.Where(x => x.SystemName == "Orders").ToList();
            }
            if ((isStoreOwner || isSubAdmin) && Model.SystemName == "Promotions")
            {
                childNodes = childNodes.Where(x => x.SystemName == "Discounts" || x.SystemName == "Newsletter subscriptions").ToList();
            }
            if ((isStoreOwner || isSubAdmin) && Model.SystemName == "Reports")
            {
                childNodes = childNodes.Where(x => x.SystemName == "Bestsellers" || x.SystemName == "Products never purchased" || x.SystemName == "Merchant earning" || x.SystemName == "AgentEarning").ToList();
            }
            if ((isStoreOwner || isSubAdmin) && Model.SystemName == "Rating and Review")
            {
                childNodes = childNodes.Where(x => x.SystemName == "Item Review" || x.SystemName == "Merchant" || x.SystemName == "Agent").ToList();
            }
            //hide subadmin menu from subadmin itselfs
            if (isSubAdmin && Model.SystemName == "Customers")
            {
                childNodes = childNodes.Where(x => x.SystemName != "NB Admins").ToList();
            }
            //hide configuration-> Role, Permission, deliverySlot from subadmin
            if (isSubAdmin && Model.SystemName == "Configuration")
            {
                childNodes = childNodes.Where(x => x.SystemName != "NB Roles" && x.SystemName != "Access control list" && x.SystemName != "DeliverySlots").ToList();
            }
            <ul class="treeview-menu">
                @foreach (var childItem in childNodes)
                {
                    @await Html.PartialAsync("_MenuItem", childItem)
                }
            </ul>
        }
    </li>
}