﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<div class="footer">
    <div class="footer-upper">
        <div class="container">
            <div class="row">
                <div class="footer-block footer_logo col-md-4">
                    <img src="/Themes/KingSweet/Content/img/logo_footer.png" />
                </div>
                <div class="footer-block information col-md-2">
                     
                    <ul class="list">
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                        {
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="footer-block my-account col-md-3">
                    
                    <ul class="list">
                        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                        <li><a href="tel:@T("NB.Contact.Number")">+@T("NB.Contact.Number")</a></li>
                        <li><a href="mailto:@T("NB.Contact.Email")">@T("NB.Contact.Email")</a></li>
                    </ul>
                </div>
                <div class="footer-block footer_followUs col-md-3">
                    <div class="title"> @T("NB.Footer.Download.APP") </div>
                    @*<div class="social">@await Component.InvokeAsync("SocialButtons") </div>*@
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "PlayStoreFooterKS" })
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-info">
                        <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                        @if (Model.DisplayTaxShippingInfoFooter)
                        {
                            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                            <span class="footer-tax-shipping">
                                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </span>
                        }
                    </div>
                    @await Component.InvokeAsync("StoreThemeSelector")
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.footer-block .title').on('click', function () {
                    var e = window, a = 'inner';
                    if (!('innerWidth' in window)) {
                        a = 'client';
                        e = document.documentElement || document.body;
                    }
                    var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
                    if (result.width < 769) {
                        //debugger
                        //$(this).siblings('.list').slideToggle('slow');
                    }
                });
            });
        </script>
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.block .title').on('click', function () {
                    //debugger
                    var e = window, a = 'inner';
                    if (!('innerWidth' in window)) {
                        a = 'client';
                        e = document.documentElement || document.body;
                    }
                    var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
                    if (result.width < 1001) {
                        $(this).siblings('.listbox').slideToggle('slow');
                    }
                });
            });
        </script>
