﻿@model ItemsListModel
@if (!string.IsNullOrEmpty(Model.Keywords) || Model.SelectedImageTags.Count > 0)
{
    <div class="topFilterShort">
        <div class="topFilterList">
            @if (!string.IsNullOrEmpty(Model.Keywords))
            {
                <div id="slctd-txtKeywords">@Model.Keywords <span onclick="AjaxFilter.removeKeywordsFilter('txtKeywords')">X</span></div>
            }

            @foreach (var item in Model.SelectedImageTags)
            {
                <div id="slctd-dvImageTags_@(item.Value)">@item.Text <span onclick="AjaxFilter.removeFilter(@(item.Value))">X</span></div>
            }
			
			<style>
				.menuItemsList.bestsellers{ display:none !important; } 
			</style>
			
            <div class="clearAll"><span onclick="AjaxFilter.clearAllFilter()">@T("Items.Filter.ClearAll")</span></div>
        </div>
    </div>
	
}
@*BestSeller Products --Start--*@
@await Component.InvokeAsync("HomepageBestSellers")
@*--End--*@
@if (Model.Items.Count > 0)
{
    @await Component.InvokeAsync("HomepageProductsMerchantByCategory", new { products = Model.Items.ToList() })

}
