@model Nop.Web.Models.Home.StoreItemModel;
@{
    Layout = "_ColumnsOne";
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">

    @*        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
    *@
    <div class="col-md-offset-6 page-body aeromahpuerto">
        <div class="banner_txt_wrap"><h1 class="banner_head">@T("Dukan.Banner.Heading")</h1></div>
        <div class="banner_txt"><h3 class="head_banner">@T("Dukan.Banner")</h3></div>
        <div class="checkStuList" style="display:none">
            <ul>
                <li id="IsAggrigator" checkStu="@Model.IsAggrigator"></li>
                <li id="IsDelivery" checkStu="@Model.IsDelivery"></li>
                <li id="IsDinning" checkStu="@Model.IsDinning"></li>
                <li id="IsTakeaway" checkStu="@Model.IsTakeaway"></li>
                <li id="Name">@Model.Name</li>
            </ul>
        </div>
        <section class="banner clearfix">
            <div class="bannerImg1 clearfix">
                <div class="mask"></div>
                <div class="orderOptionBlock clearfix">
                    <div class="tabContainer">
                        <div id="tab1" class="tabContent deliveryListBlock">
                            <form method="get">
                                <div class="addrsBar clearfix">
                                    <div class="fieldBar clearfix">
                                        <div class="field">
                                            <img class="map-marker" src="/Themes/Dukans/Content/img/location.png" alt="" />
                                            <div class="SearchDropdown dropdown">
                                                <button class="SearchSelect dropdown-toggle Search-DropdownBtn" type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @T("Account.SearchSelect") <img class="ArrowImage" src="/Themes/Dukans/Content/img/arrow-downSearch.png">
                                                </button>
                                                <div class="dropdown-menu searchDropDown" aria-labelledby="dropdownButton">
                                                    <a href="@Url.RouteUrl("Logout")" class=""><span>@T("Account.SearchSelect")</span></a>
                                                </div>
                                            </div>


                                            <input type="text" name="addrs" class="location" id="autocomplete"
                                                   placeholder="@T("placeholder.button.textDukan")">

                                            <input type="hidden" id="hdOrderType" value="0">
                                        </div>

                                        <a class="button" id="findFoodBtn"><i class="fa fa-search" aria-hidden="true"></i></a>

                                    </div>
                                    <label class="datanotFountText">@T("error.notdeliver.text")</label>
                                    <input id="latLong" placeholder="lat long" type="text" style="display:none" />
                                    <input id="latLongForDist" placeholder="lat long" type="text" style="display:none" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="searchLoaderImg" class="searchLoaderImg" style="display: none;">
        <img src="/Themes/Dukans/Content/img/loaderImg.gif">
    </div>
    <section id="choose_category"></section>
    <section id="restaurant_listing">
        <div class="container">
            <div id="restuList2" class=" bar clearfix tabContent dineContent">
                <div class="searchBlock clearfix" style="display: none;">
                    <div class="field clearfix datanotFountSearchHide">
                        <input type="text" id="search" name="search" placeholder="Search @T("search.button.text")">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <h2 class="titleCommon">@T("nb.popular.store.near.your.location")</h2>
                    </div>

                    <!--<div class="col-md-12 text-center test">-->
                    <!-- Tab links -->
                    <!--<div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
                        <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
                        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
                    </div>-->
                    <!-- Tab content -->
                    <!--<div id="London" class="tabcontent">
                            <h3>London</h3>
                            <p>London is the capital city of England.</p>
                        </div>

                        <div id="Paris" class="tabcontent">
                            <h3>Paris</h3>
                            <p>Paris is the capital of France.</p>
                        </div>

                        <div id="Tokyo" class="tabcontent">
                            <h3>Tokyo</h3>
                            <p>Tokyo is the capital of Japan.</p>
                        </div>
                    </div>-->
                    <div class="col-md-12 text-center">
                        <div class="storeTabLinks">
                            <ul>
                                <li><a href="javascript:void(0)" id="findFoodBtnAll" onclick="setOrderType(0);" class="all-step-link">@T("dukan.Allbutton") <img class="allTick" id="allTick0" src="/Themes/Dukans/Content/img/blue_tick.png" /></a></li>
                                <li><a href="javascript:void(0)" id="findFoodBtnDelivery" onclick="setOrderType(1);" class="delivery-step-link">@T("dukan.Deliverybutton") <img class="allTick" id="allTick1" src="/Themes/Dukans/Content/img/blue_tick.png" style="display:none;" /></a></li>
                                <li><a href="javascript:void(0)" id="findFoodBtnTA" onclick="setOrderType(2);" class="takeaway-step-link">@T("dukan.TakeawayButton") <img class="allTick" id="allTick2" src="/Themes/Dukans/Content/img/blue_tick.png" style="display:none;" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabContent dineContent">
                <div id="searchLoaderImg" class="searchLoaderImg" style="display: none;">
                    <img src="/Themes/Dukans/Content/img/loaderImg.gif">
                </div>
                <div id="tabMerchantListing" class="restaurListSection clearfix">
                </div>
            </div>
        </div>
    </section>
    @await Component.InvokeAsync("TopicBlock", new { systemName = "NominateRegister" })
    @await Component.InvokeAsync("TopicBlock", new { systemName = "OnlinePaymentsDeals" })
    @await Component.InvokeAsync("TopicBlock", new { systemName = "PlayStoreNearY" })


    @*  <section class="getApp">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="phoneHome" src="/Themes/Dukans/Content/img/mobileStoreImg.png" />
                    </div>
                    <div class="col-md-8">
                        <div class="appDownloadBox">
                            <h2>@T("nb.get.the.dukans.app")</h2>
                            <p>@T("nb.get.the.dukans.app.para")</p>
                            <div class="downAppBox">
                                <ul>
                                    <li><a href="#"><img src="/Themes/Dukans/Content/img/appleStoreImg.png" /></a></li>
                                    <li><a href="https://play.google.com/store/apps/details?id=com.nestorbird.nhkcustomer"><img src="/Themes/Dukans/Content/img/googleStoreImg.png" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section class="newsletterHome">
        <div class="container">
            @await Component.InvokeAsync("NewsletterBox")
        </div>
    </section>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <h2> Nominate a seller </h2>
        </div>
        <div class="modal-body">
            <p><input type="text" id="fullname" name="fullname" placeholder="Store Owner Name"></p>
            <p><input type="text" id="store_name" name="store_name" placeholder="Store Name *"></p>
            <p><input type="text" id="mobile_number" name="mobile_number" placeholder="Store Mobile Number *"></p>
            <p><input type="text" id="email" name="email" placeholder="Store Email Address"></p>
            <p><select class="form-control" id="state_id" name="state_id"><option value="">-Select-</option><option value="1">Andaman and Nicobar Islands</option><option value="2">Andhra Pradesh</option><option value="3">Arunachal Pradesh</option><option value="4">Assam</option><option value="5">Bihar</option><option value="6">Chandigarh</option><option value="7">Chhattisgarh</option><option value="8">Dadra and Nagar Haveli</option><option value="9">Daman and Diu</option><option value="10">Delhi</option><option value="11">Goa</option><option value="12">Gujarat</option><option value="13">Haryana</option><option value="14">Himachal Pradesh</option><option value="15">Jammu and Kashmir</option><option value="16">Jharkhand</option><option value="17">Karnataka</option><option value="18">Kenmore</option><option value="19">Kerala</option><option value="20">Lakshadweep</option><option value="21">Madhya Pradesh</option><option value="22">Maharashtra</option><option value="23">Manipur</option><option value="24">Meghalaya</option><option value="25">Mizoram</option><option value="26">Nagaland</option><option value="29">Odisha</option><option value="31">Pondicherry</option><option value="32">Punjab</option><option value="33">Rajasthan</option><option value="34">Sikkim</option><option value="35">Tamil Nadu</option><option value="36">Telangana</option><option value="37">Tripura</option><option value="38">Uttar Pradesh</option><option value="39">Uttarakhand</option><option value="41">West Bengal</option></select></p>
            <p><select class="form-control" id="city_id"><option value="">-Select-</option></select></p>

        </div>
        <div class="modal-footer">
            <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("NB.Button.Nominate.Now")" name="register-button" />
        </div>
    </div>

</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }</script>


<script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }
    function initAutocomplete1() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete1')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        document.getElementById("latLong").value = place.geometry.location;
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
  
    function loadMerchantsAndCategories(type) {
        $("#tabMerchantListing").html('');
        $("#choose_category").html('');
        var geoLoc = document.getElementById("latLong").value.replace(",", "").replace("(", "").replace(")", "");
        $("#latLongForDist").val(geoLoc);
        //alert(geoLoc);
        var value = $("#autocomplete").val().toLowerCase();
        $(".searchLoaderImg").show();
        $.get("Home/GetMerchantWithGeo", { id: geoLoc, enteredDeliveryAddress: value, ordtype: type }, function (data) {
            if (!data) {
                $(".datanotFountText").show();
            } else {
                $(".datanotFountText").hide();
                $("#tabMerchantListing").show();
                $(".searchLoaderImg").hide();
                $("#tabMerchantListing").html(data);
                $(".datanotFountSearchHide").show();

                // Get Merchant Categorys
                $.get("Home/GetMerchantCategorysWithGeo", { latlong: geoLoc, ordType: type, skipLocationSearch: (geoLoc == "") }, function (data) {
                    if (data) {
                        $.noConflict();
                        jQuery("#choose_category").show();
                        jQuery("#choose_category").html(data);
                        $(".searchLoaderImg").hide();
                    }
                    else {
                        $.noConflict();
                        jQuery("#choose_category").html('');
                    }
                });
            }
        });

    }
    function setOrderType(type) {
        $("#hdOrderType").val(type);
        for (var i = 0; i <= 2; i++) {
            if (i == type) {
                $("#allTick" + i).show();
            }
            else {
                $("#allTick" + i).hide();
            }
        }
        if (type > 0) {
            $.post("Home/SetOrderType", { orderType: type });
        }
        loadMerchantsAndCategories(type);
    }
</script>
<script>
    $("#findFoodBtnDelivery").click(function (){
        $(".searchLoaderImg").show();
    });
    $("#findFoodBtnTA").click(function () {
        $(".searchLoaderImg").show();
    });
    $("#findFoodBtnAll").click(function () {
        $(".searchLoaderImg").show();
    });
</script>
<script>
    $(document).ready(function () {
        setOrderType(0);
        $("#findFoodBtn").click(function () {
            var type = parseInt($("#hdOrderType").val());
            loadMerchantsAndCategories(type);
        });

        // Add smooth scrolling to all links
@*        $("a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
*@    });

@*    $(document).ready(function () {
        $("#top").hide();
        $(function toTop() {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#top').fadeIn();
                } else {
                    $('#top').fadeOut();
                }
            });

            $('#top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });



    });*@
</script>
<script>
    $(function () {
        if (window.location.href.split(window.location.origin)[1] === "/?checkActiveRedirection") {
            //debugger;
            if ($("#IsDelivery").attr("checkStu") == "checkStu" && $("#IsTakeaway").attr("checkStu") == "checkStu") {
                $("body").show();
                //console.log("both are true");
            } else {
                if ($("#IsDelivery").attr("checkStu") == "checkStu") {
                    //console.log("IsDelivery checkStu");
                    $(".buttonTabs li[rel='tab2']").remove();
                    $(".tabContainer #tab2").remove();
                    $("body").show();
                }
                if ($("#IsTakeaway").attr("checkStu") == "checkStu") {
                    window.location.href = window.location.origin + "/homemerchant?merchantid=21";
                }
            }

        } else {
            $("body").show();
        }

        $(".searchBlock #search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".restaurListSection .restaurBox").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
</script>
<style>
    body {
        display: none;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKuUGMz8-xYyc6t1YWUhygrrkB4-WAFeY&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript">

</script>

<script>

    $(".container_label input:checked").parents('.slide_box').addClass("selected-box");
</script>
<div id="dv-rating-review-container">@await Component.InvokeAsync("RatingReview")</div>
<div class="ratingYourPrevOrder">
    <div class="prevOrderText">@T("nb.RateYour.Previous.Order")</div>
    <div class="prevOrderClose">x</div>
</div>

<script>
    function sendAppLink() {
        $('#sendapplink-message').text('');
        var postData = {
            emailId: $(".messageEmailPhone").val()
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@Html.Raw(Url.Action("SendAppLinkByEmail", "Home"))",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                $('#sendapplink-message').text(data.Message);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error in sending App Link.');
            }
        });
    }
</script>



@*<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }</script>
<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>*@