﻿@model CustomerProductReviewsModel
@using System.Globalization
@using Nop.Core.Domain.RatingReview
@{
    var ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
@if (Model.ProductReviews.Count > 0)
{
    <div class="product-reviews-overview" @if (Model.TotalReviews > 0) { <text> itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" </text> }>
        <div class="product-review-box">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
        </div>

        @if (Model.TotalReviews > 0)
        {
            @*hidden microdata info*@
            var ratingValue = ratingPercent / (decimal)20;
            <span itemprop="ratingValue" style="display: none;">@ratingValue.ToString("0.0", new CultureInfo("en-US"))</span>
            <span itemprop="reviewCount" style="display: none;">@Model.TotalReviews</span>
        }
    </div>
}

<div class="page-body">
    @if (Model.ProductReviews.Count > 0)
    {
        foreach (var review in Model.ProductReviews)
        {
            var ratingPercent1 = review.Rating * 20;
            <div class="product-review-item">
                <div class="review-item-head">
                    <div class="review-title">
                        <strong>@review.Title</strong>@(!string.IsNullOrEmpty(review.ApprovalStatus) ? $" - {review.ApprovalStatus}" : null)
                    </div>
                    <div class="product-review-box">
                        <div class="rating">
                            <div style="width: @(ratingPercent1)%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-content">
                    <div class="review-text">
                        @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                    </div>
                    @foreach (var reviewType in review.AdditionalProductReviewList.Where(x => x.Rating > 0))
                    {
                        var ratingExtPercent = reviewType.Rating * 20;
                        <div class="review-type-rating-ext">
                            <div class="review-title">
                                <i>@reviewType.Name</i>
                            </div>
                            <div class="product-review-box">
                                <div class="rating">
                                    <div style="width: @(ratingExtPercent)%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                    }
                    <div class="review-info">
                        <span class="user">
                            @if (review.ReviewType == (int)ReviewType.Agent)
                            {
                                <label>@T("NB.Account.CustomerProductReviews.AgentReviewFor"):</label>
                            }
                            else if (review.ReviewType == (int)ReviewType.Merchant)
                            {
                                <label>@T("NB.Account.CustomerProductReviews.MerchantReviewFor"):</label>
                            }
                            else
                            {
                                <label>@T("Account.CustomerProductReviews.ProductReviewFor"):</label>
                            }
                            <b>@review.ProductName</b>
                        </span>
                        <span class="separator">|</span>
                        <span class="date">
                            <label>@T("Reviews.Date"):</label>
                            <span>@review.WrittenOnStr</span>
                        </span>
                    </div>
                    @if (!string.IsNullOrEmpty(review.ReplyText))
                    {
                        <div class="reply">
                            <div class="reply-header">
                                @T("Reviews.Reply")
                            </div>
                            <div class="reply-text">
                                @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        var pager = Html.Pager(Model.PagerModel);
        if (!string.IsNullOrEmpty(pager.ToHtmlString()))
        {
            <div class="pager">
                @pager
            </div>
        }
    }
    else
    {
        <div class="no-data">
            @T("Account.CustomerProductReviews.NoRecords")
        </div>
    }
</div>