﻿@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject Nop.Core.IStoreContext  storeContext
@inject Nop.Services.Configuration.ISettingService settingService
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image:url\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
    }
    var brandNameSetting = settingService.GetSettingByKey("brandnamesetting.attributename"," ",storeId: storeContext.CurrentStore.Id);
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @await Html.PartialAsync("_ProductBreadcrumb", Model.Breadcrumb)
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterBreadcrumb, additionalData = Model })
<div class="page product-details-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsTop, additionalData = Model })
        <form asp-route="Product" asp-route-sename="@Model.SeName" method="post" id="product-details-form">
            <div class="row">
                <div class="col-md-3">
                    <div class="side-3">
                        @{
                            //current category ID
                            var currentCategoryId = 0;
                            if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
                                Url.ActionContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
                            {
                                currentCategoryId = Convert.ToInt32(Url.ActionContext.RouteData.Values["categoryId"].ToString());
                            }
                            //current manufacturer ID
                            var currentManufacturerId = 0;
                            if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
                                Url.ActionContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
                            {
                                currentManufacturerId = Convert.ToInt32(Url.ActionContext.RouteData.Values["manufacturerId"].ToString());
                            }
                            //current product ID
                            var currentProductId = 0;
                            if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
                                Url.ActionContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
                            {
                                currentProductId = Convert.ToInt32(Url.ActionContext.RouteData.Values["productId"].ToString());
                            }
                        }
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnBefore })
                        @await Component.InvokeAsync("CategoryNavigation", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
                        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnAfterCategoryNavigation })
                            @await Component.InvokeAsync("ManufacturerNavigation", new { currentManufacturerId = currentManufacturerId })*@
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="product-essential">
                        <!--product pictures-->
                        @await Html.PartialAsync("_ProductDetailsPictures", Model)

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-3">
                        <div class="overview">
                            @await Html.PartialAsync("_Discontinued", Model)
                            @{
                                var brandName = Model.ProductSpecifications?.FirstOrDefault(x => x.SpecificationAttributeName == "Brand Name" || x.SpecificationAttributeName == brandNameSetting)?.ValueRaw;
                                <div>@brandName</div>
                            }
                            <div class="product-name">
                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsEssentialTop, additionalData = Model })
                                <h1 itemprop="name">
                                    @Model.Name, @Model.ShortDescription
                                </h1>
                            </div>
                            <!--price & add to cart-->
                            @{
                                var dataDictPrice = new ViewDataDictionary(ViewData);
                                dataDictPrice.TemplateInfo.HtmlFieldPrefix = $"price_{Model.Id}";
                                @await Html.PartialAsync("_ProductPrice", Model.ProductPrice, dataDictPrice)
                        <div class="pack_sizes">
                            <h4>@T("NB.ProductDetail.PackSizes")</h4>
                            @{
                                var dataDictAttributes1 = new ViewDataDictionary(ViewData);
                                dataDictAttributes1.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.Id}";
                                @await Html.PartialAsync("_ProductAttributes", Model.ProductAttributes, dataDictAttributes1)
                            }

                        </div>
                                <div class="choose_seller">
                                    <h4>@T("NB.ProductDetail.ChooseSeller")</h4>
                                    <div class="dropp">
                                        <div class="dropp-header"> <span class="dropp-header__title js-value">Choose an option</span> <a href="#" class="dropp-header__btn js-dropp-action"> </a> </div>
                                        <div class="dropp-body">
                                            <label for="optA">
                                                <input type="radio" id="optA" name="dropp" value="Stirling Chickens" /><span class="ddLabel">Stirling Chickens</span> <span class="ddPrice">$159.00</span>
                                            </label>
                                            <label for="optB">
                                                <input type="radio" id="optB" name="dropp" value="Corner Chicken Sh" /><span class="ddLabel">Corner Chicken Shop</span>  <span class="ddPrice">$159.00</span>
                                            </label>
                                            <label for="optC">
                                                <input type="radio" id="optC" name="dropp" value="Colonels Fish & Chicken Shop" /><span class="ddLabel">Colonels Fish & Chicken Shop</span>  <span class="ddPrice">$159.00</span>
                                            </label>
                                        </div>
                                    </div>
                                    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
                                    <script>
                                        $(document).ready(function () {
                                            // Default dropdown action to show/hide dropdown content
                                            $('.js-dropp-action').click(function (e) {
                                                e.preventDefault();
                                                $(this).toggleClass('js-open');
                                                $(this).parent().next('.dropp-body').toggleClass('js-open');
                                            });
                                            // Using as fake input select dropdown
                                            //$('label').click(function () {
                                            //    $(this).addClass('js-open').siblings().removeClass('js-open');
                                            //    $('.dropp-body,.js-dropp-action').removeClass('js-open');
                                            //});
                                            $('.option-list li').click(function () {
                                                $(this).addClass('js-open').siblings().removeClass('js-open');
                                                $('.dropp-body,.js-dropp-action').removeClass('js-open');
                                            });
                                            // get the value of checked input radio and display as dropp title
                                            $('input[name="dropp"]').change(function () {
                                                var value = $("input[name='dropp']:checked").val();
                                                $('.js-value').text(value);
                                            });
                                        });
                                    </script>
                                </div>
                                @await Html.PartialAsync("_ProductTierPrices", Model.TierPrices)
                                var dataDictAddToCart = new ViewDataDictionary(ViewData);
                                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = $"addtocart_{Model.Id}";
                                @await Html.PartialAsync("_AddToCart", Model.AddToCart, dataDictAddToCart)
                            }
                            @* @if (!string.IsNullOrEmpty(Model.ShortDescription))
                                {
                                    <div class="short-description">
                                        @Html.Raw(Model.ShortDescription)
                                    </div>
                                }*@
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsOverviewTop, additionalData = Model })

                            <!--manufacturers-->
                            @await Html.PartialAsync("_ProductManufacturers", Model.ProductManufacturers)
                            <!--availability-->
                            @await Html.PartialAsync("_Availability", Model)
                            <!--SKU, MAN, GTIN, vendor-->
                            @await Html.PartialAsync("_SKU_Man_GTIN_Ven", Model)
                            <!--delivery-->
                            @await Html.PartialAsync("_DeliveryInfo", Model)
                            <!--sample download-->
                            @await Html.PartialAsync("_DownloadSample", Model)
                            @*attributes
                            @{
                                var dataDictAttributes = new ViewDataDictionary(ViewData);
                                dataDictAttributes.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.Id}";
                                @await Html.PartialAsync("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                            }*@
                            <!--gift card-->
                            @{
                                var dataDictGiftCard = new ViewDataDictionary(ViewData);
                                dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = $"giftcard_{Model.Id}";
                                @await Html.PartialAsync("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                            }
                            <!--rental info-->
                            @{
                                var dataDictRental = new ViewDataDictionary(ViewData);
                                dataDictRental.TemplateInfo.HtmlFieldPrefix = $"rental_{Model.Id}";
                                @await Html.PartialAsync("_RentalInfo", Model, dataDictRental)
                            }
                              <!--wishlist, compare, email a friend-->
                                <div class="overview-buttons">
                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsInsideOverviewButtonsBefore, additionalData = Model })
                                    @{
                                        var dataDictAddToWishlist = new ViewDataDictionary(ViewData);
                                        dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = $"addtocart_{Model.Id}";
                                        @await Html.PartialAsync("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                                    }
                                    @*@await Html.PartialAsync("_CompareProductsButton", Model)
                                    @await Html.PartialAsync("_ProductEmailAFriendButton", Model)
                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsInsideOverviewButtonsAfter, additionalData = Model })*@
                                </div>
                                @*@await Html.PartialAsync("_ShareButton", Model)*@
                            
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsOverviewBottom, additionalData = Model })
                        </div>
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsEssentialBottom, additionalData = Model })
                    </div>
                </div>
            </div>
        </form>
        <div class="title productName">
            <strong>@Model.Name</strong>
        </div>
        <div id="accordion">
            @if (!string.IsNullOrEmpty(Model.FullDescription))
            {
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @T("NB.ProductDetail.About")
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="full-description" itemprop="description">
                                @Html.Raw(Model.FullDescription)
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            @T("NB.ProductDetail.NutritionalFacts")
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="product-collateral">
                            @await Html.PartialAsync("_ProductSpecifications", Model.ProductSpecifications)
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            @T("NB.ProductDetail.RatingReview")
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <!--product reviews-->
                        @*@await Html.PartialAsync("_ProductReviewOverview", Model.ProductReviewOverview)*@
                        @*@await Html.PartialAsync("_RatingAndReviewOverview", Model.CustomerProductReviews)*@

                    </div>
                </div>
            </div>
        </div>
        <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforeCollateral, additionalData = Model })
            @*@await Component.InvokeAsync("ProductsAlsoPurchased", new { productId = Model.Id })*@
            @await Component.InvokeAsync("RelatedProducts", new { productId = Model.Id })
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBottom, additionalData = Model })
    </div>
</div>


