﻿@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Services.Configuration
@inject IStoreContext storeContext
@inject ISettingService settingService
@inject IWorkContext workContext
@model FooterModel
@{
    var storeId = storeContext.CurrentStore.Id;
    var removeCopyright = settingService.GetSettingByKey("pavilionthemesettings.removecopyright", false, storeId, true);
    var removeDesignedBy = settingService.GetSettingByKey("pavilionthemesettings.removedesignedby", false, storeId, true);
}
<footer>
    <div class="container">
        <div class="bottomLink clearfix">
            <div class="col-sm-12 col-md-12">
                <div class="copyright center">
                    <span>@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName) </span>                    
                </div>
            </div>
            @*<div class="col-sm-6 col-md-5">
                <div class="top_links_col">
                    <ul>
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
                            <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })" class=" ">@topic.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 footer_social">
                @await Component.InvokeAsync("SocialButtons")
            </div>*@
        </div>
    </div>
</footer>
@await Component.InvokeAsync("Widget", new { widgetZone = "footer" })
