@model CustomerRoleModel
<div class="form-group">
    <div class="col-md-4">
        <nop-label asp-for="SelctedMerchantIds" />
    </div>
    <div class="col-md-8">
        <nop-select asp-for="SelctedMerchantIds" asp-items="Model.AvailableMerchants" asp-multiple="true" />
        <script>
            $(document).ready(function() {
                var categoryIdsInput = $('#@Html.IdFor(model => model.SelctedMerchantIds)').data("kendoMultiSelect");
                categoryIdsInput.setOptions({
                    autoClose: false,
                    filter: "contains"
                });

                @if (Model.AvailableMerchants.Count == 0)
                {
                    <text>
                        categoryIdsInput.setOptions({
                            enable: false,
                            placeholder: '@T("NB.Admin.Configuration.Roles.Fields.Merchant.NoMerchantsAvailable")'
                        });
                        categoryIdsInput._placeholder();
                        categoryIdsInput._enable();
                    </text>
                }
            });
        </script>
    </div>
</div>