﻿@using Nop.Core
@using Nop.Core.Domain.Customers
@model AddressModel
@inject IWorkContext workContext
@inject IStoreContext storeContext
@{
    var googleAccountKey = storeContext.GoogleMapAccountKey;
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}


<input asp-for="Id" type="hidden" />
<div class="checkAdressSt" style="display:none;"></div>    
<div>
    @if (!workContext.CurrentCustomer.IsRegistered())
    {
        <div class="inputs">
            <input asp-for="FirstName" placeholder="@T("popup.name.text")" />
        </div>
        <div class="inputs">
            <input asp-for="Email" type="email" placeholder="@T("popup.email.text")" />
        </div>
    }
    else
    {
        <div class="inputs flname" style="display:none;">
            <div class="row">
                <div class="col-md-12">
                    <label for="BillingNewAddress_FirstName"><i class="colorBlue">*</i> Name:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input asp-for="FirstName" placeholder="First Name" />
                    <nop-required />
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="col-sm-6">
                    <input asp-for="LastName" placeholder="Last Name" />
                    <nop-required />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>
        <div class="inputs" style="display:none;">
            <label asp-for="Email" asp-postfix=":"></label>
            <input asp-for="Email" />
            <nop-required />
            <span asp-validation-for="Email"></span>
        </div>
    }
    <div class="page-body form-inputs">
        <form method="post">
            <div class="col-md-12 padding-address">
                <div id="Address2" class="floating_labels">
                    <input asp-for="Address2" type="text" placeholder=" " />
                    <label asp-for="Address2" asp-postfix="" for="POST-Address2">@T("popup.address.text")</label>
                </div>
                <span asp-validation-for="Address2"></span>
            </div>
            <div class="row add">
                <div class="col-md-6 addfieldLeft padding-address">
                    <div class="floating_labels">
                        <input asp-for="Address1" type="text" placeholder=" " />
                        <label asp-for="Address1" asp-postfix="" for="POST-Address1">@T("Account.Fields.House No.")</label>
                    </div>
                    <span asp-validation-for="Address1"></span>
                </div>
                <div class="col-md-6 addfieldRight padding-address">
                    <div class="floating_labels">
                        <input asp-for="HouseNumber" type="text" placeholder=" " />
                        <label asp-for="HouseNumber" asp-postfix="" for="POST-HouseNumber">@T("popup.door.text")</label>
                    </div>
                    <span asp-validation-for="HouseNumber"></span>
                </div>
            </div>
            <div class="row add">
                <div class="col-md-6 addfieldLeft padding-address">
                    <div class="floating_labels">
                        <input asp-for="Landmark" type="text" placeholder=" " />
                        <label asp-for="Landmark" asp-postfix="" for="POST-Landmark">@T("popup.landmark.text")</label>
                    </div>
                    <span asp-validation-for="Landmark"></span>
                </div>
                <div class="col-md-6 addfieldRight padding-address">
                    <div class="floating_labels">
                        <input asp-for="ZipPostalCode" type="text" placeholder=" " />
                        <label asp-for="ZipPostalCode" asp-postfix="" for="ZipPostalCode">@T("popup.postalcode.text")</label>
                    </div>
                    <span asp-validation-for="ZipPostalCode"></span>
                </div>
            </div>
            <div class="col-md-12 padding-address">
                <div class="floating_labels">
                    <input asp-for="PhoneNumber" type="text" placeholder=" " />
                    <label asp-for="PhoneNumber" asp-postfix="" for="POST-PhoneNumber">@T("Address.Fields.PhoneNumber")</label>
                </div>
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="col-md-12 padding-address">
                <div class="floating_labels">
                    <input asp-for="Email" type="text" placeholder=" " />
                    <label asp-for="Email" asp-postfix="" for="POST-Email">@T("Address.Fields.Email")</label>
                </div>
                <span asp-validation-for="Email"></span>
            </div>
            <div style="clear:both;">
                @if (Model.AddressTypes.Count > 0)
                {
                    if (!Model.AddressTypeId.HasValue || Model.AddressTypeId == 0)
                    {
                        Model.AddressTypeId = Convert.ToInt32(Model.AddressTypes.FirstOrDefault().Value);
                    }
                    foreach (var item in Model.AddressTypes)
                    {
                        string style_class = "type-option-btn";
                        if (item.Value == Model.AddressTypeId.ToString())
                        {
                            style_class += " type-option-btn-selected";
                        }
                        <input type="button" id="address-type-@(item.Value)" class="@(@style_class)" onclick="Billing.setAddressType('@(item.Value)')" value="@item.Text" /> @*<a href="javascript:void(0);" class="@style_class" onclick="Billing.setAddressType(this,'@(item.Value)')">@item.Text</a>*@}
                }
                <input type="hidden" asp-for="AddressTypeId" id="hdAddressTypeId" />
            </div>
            <div class="address_type">
                <ul>
                    <li>
                        <label class="radio_container add_type_home">
                            @T("NB.Address.Home")
                            <input type="radio" asp-for="LocationType" value="1" id="chkbxHome" checked />
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_container add_type_office">
                            @T("NB.Address.Office")
                            <input type="radio" asp-for="LocationType" value="2" id="chkbxOffice" />
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_container add_type_other">
                            @T("NB.Address.Other")
                            <input type="radio" asp-for="LocationType" value="3" id="chkbxOther" />
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>

                <span asp-validation-for="AddressTypeId"></span>
            </div>
            @*<div class="row">
            <div class="col-md-4 text-center">
                <button class="homeBtn"><img class="adressButtonImage" src="\Themes\MKSweets\Content\img\homeIconBlue.png" />@T("nb.home")</button>
            </div>
            <div class="col-md-4 text-center">
                <button class="BagBtn"><img class="adressButtonImage" src="\Themes\MKSweets\Content\img\grey-bag.png" />@T("nb.work")</button>
            </div>
            <div class="col-md-4 text-center">
                <button class="LocBtn"><img class="adressButtonImage" src="\Themes\MKSweets\Content\img\grey-loc.png" />@T("nb.other")</button>
            </div>
        </div>*@
        </form>
        </div>
            <div style="clear:both;">
                @if (Model.AddressTypes.Count > 0)
                {
                    if (!Model.AddressTypeId.HasValue || Model.AddressTypeId == 0)
                    {
                        Model.AddressTypeId = Convert.ToInt32(Model.AddressTypes.FirstOrDefault().Value);
                    }
                    foreach (var item in Model.AddressTypes)
                    {
                        string style_class = "type-option-btn";
                        if (item.Value == Model.AddressTypeId.ToString())
                        {
                            style_class += " type-option-btn-selected";
                        }
                        <input type="button" id="address-type-@(item.Value)" class="@(@style_class)" onclick="Billing.setAddressType('@(item.Value)')" value="@item.Text" />

                        @*<a href="javascript:void(0);" class="@style_class" onclick="Billing.setAddressType(this,'@(item.Value)')">@item.Text</a>*@
                    }
                }
                <input type="hidden" asp-for="AddressTypeId" id="hdAddressTypeId" />
            </div>

            <div style="clear:both;">
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <span style="color:red">@(Model.Message)</span>
                }
                <input type="hidden" asp-for="AddressTypeId" id="hdAddressTypeId" />
                <input type="hidden" asp-for="Latitude" id="hdLatitude" />
                <input type="hidden" asp-for="Longitude" id="hdLongitude" />
            </div>

    </div>
    <div class="edit-address" style="display:none;">
        @*}*@

        @if (Model.PhoneEnabled)
        {
            <div class="inputs isdPhoneNo" style="display:none;">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="BillingNewAddress_PhoneNumber"><i class="colorBlue">*</i> Phone number:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 pR0">
                        <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                        <nop-required />
                        <span asp-validation-for="ISDId"></span>
                    </div>
                    <div class="col-md-10 pL0">
                        <input asp-for="PhoneNumber" />
                        @if (Model.PhoneRequired)
                        {
                            <nop-required />
                        }
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
            </div>
        }



        @if (Model.CompanyEnabled)
        {
            <div class="inputs">
                <label asp-for="Company" asp-postfix=":"></label>
                <input asp-for="Company" />
                @if (Model.CompanyRequired)
                {
                    <nop-required />
                }
                <span asp-validation-for="Company"></span>
            </div>
        }
        <div class="inputs" style="display:none;">
            <label asp-for="CountryId" asp-postfix=":"></label>
            <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
            <nop-required />
            <span asp-validation-for="CountryId"></span>
        </div>



        <div class="inputs" style="display:none;">
            <label asp-for="StateProvinceId" asp-postfix=":"></label>
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span asp-validation-for="StateProvinceId"></span>
        </div>


        <div class="inputs" style="display:none">
            <label asp-for="City" asp-postfix=":"></label>
            <input asp-for="City" />
            @if (Model.CityRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="City"></span>
        </div>

        @*@if (Model.StreetAddress2Enabled)
            {*@

        @*}*@
        @*@if (Model.StreetAddressEnabled)
            {*@

        @if (Model.ZipPostalCodeEnabled)
        {
            <div class="inputs" style="display:none">
                <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                <input asp-for="ZipPostalCode" />
                @if (Model.ZipPostalCodeRequired)
                {
                    <nop-required />
                }
                <span asp-validation-for="ZipPostalCode"></span>
            </div>
        }

        @if (Model.FaxEnabled)
        {
            <div class="inputs">
                <label asp-for="FaxNumber" asp-postfix=":"></label>
                <input asp-for="FaxNumber" />
                @if (Model.FaxRequired)
                {
                    <nop-required />
                }
                <span asp-validation-for="FaxNumber"></span>
            </div>
        }
        @if (Model.CustomAddressAttributes.Count > 0)
        {
            @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
        }
    </div>


    <script>
        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete((document.getElementById('Address_Address2')),
                { types: ['geocode'] });

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);

            // Set initial restrict to the greater list of countries.
            //autocomplete.setComponentRestrictions(
            //{ 'country': ['nz'] });

        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();
            //document.getElementById("address_attribute_2").value = place.geometry.location;
            //Added By Mah
            //var address1 = place.formatted_address;
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            var latlng = new google.maps.LatLng(latitude, longitude);
            var geocoder = geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        //var address2 = results[0].formatted_address;
                        var pin = results[0].address_components[results[0].address_components.length - 1].long_name;
                        var country = results[0].address_components[results[0].address_components.length - 2].long_name;
                        var state = results[0].address_components[results[0].address_components.length - 3].long_name;
                        var city = results[0].address_components[results[0].address_components.length - 4].long_name;
                        //alert(country);
                        var textToFind = state;

                        var dd = document.getElementById('BillingNewAddress_StateProvinceId');
                        for (var i = 0; i < dd.options.length; i++) {
                            if (dd.options[i].text === textToFind) {
                                dd.selectedIndex = i;
                                break;
                            }
                        }
                        document.getElementById('hdLatitude').value = latitude;
                        document.getElementById('hdLongitude').value = longitude;
                        document.getElementById('BillingNewAddress_City').value = city;
                    }
                }
            });

        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }


        $(function () {
            $("#Address_Address2").blur(function () {
                if ($("#Address_Address2").val().length > 0 && $("#BillingNewAddress_Address1").val().length > 0) {
                    $("#billing-buttons-container #billing-button-continue").addClass("active");
                }
            });

            $("#BillingNewAddress_Address1").blur(function () {
                if ($("#Address_Address2").val().length > 0 && $("#BillingNewAddress_Address1").val().length > 0) {
                    $("#billing-buttons-container #billing-button-continue").addClass("active");
                }
            });

        });

    </script>
     
    <style>
        #autoComError {
            display: none;
            font-size: 12px;
            color: #ff0000;
            padding: 0 0 0 18px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&libraries=places&callback=initAutocomplete" async defer></script>
