﻿@model ProductOverviewModelMerchant
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@inject IStoreContext storeContext
@inject Nop.Services.Configuration.ISettingService settingService

@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
    var brandNameSetting = settingService.GetSettingByKey("brandnamesetting.attributename", " ", storeId: storeContext.CurrentStore.Id);

    //check product  with attributes
    var isAttributeProduct = false;
    var productAttributes = Model.ProductAttributes;
    if (productAttributes.Any(pam => pam.AttributeControlType != AttributeControlType.ReadonlyCheckboxes))
    {
        isAttributeProduct = true;
    }
    //generate unique formid to set for each productbox, because on merchanthome screen, we have same product listring multiple times
    Random r = new Random();
    int num = r.Next();
    string formId = string.Format("product-details-form-{0}-{1}", Model.Id, num);
    ViewData["productDetailFormId"] = formId;
}

<div class="col-lg-4 col-md-4 col-xs-6 itemBox clearfix" attr-cat-id="@(Model.ProductCategory.Count>0? Model.ProductCategory.FirstOrDefault().CategoryId:0)">
    @foreach (var catg in Model.ProductCategory)
    {
        <span class="catIdL" catIdtt="@catg.CategoryId">
            @catg.CategoryId
        </span>
    }
    <div class="menuItem clearfix" data-productid="@Model.Id">
        <div class="itemImg">

            <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})"><img src="@Model.DefaultPictureModel.ImageUrl" /></a>
            <div class="wishlist_prod">
                @if (!Model.ProductPrice.DisableWishlistButton)
                {
                    if (Model.InWishList)
                    {
                        <div class="heart-@Model.Id @(Model.InWishList ? "active" : "")"> <button onclick="deleteFromWishList(@Model.Id,'@addtowishlistlink')" class="product-favorite wishlistlink_@Model.Id" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>
                    }
                    else
                    {
                        <div class="heart-@Model.Id @(Model.InWishList ? "active" : "")"><button onclick="addToWhishList('@addtowishlistlink', 'heart-@Model.Id');return false;" class="product-favorite wishlistlink_@Model.Id" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></button></div>
                    }
                }
            </div>
            @*<a href="#" title="@Model.DefaultPictureModel.Title"></a>*@
            @*@Url.RouteUrl("Product", new { SeName = Model.SeName })*@

        </div>
        @*<span class="offer">25% Off</span>*@
        <div class="itemInfo">
            <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">
                <div class="product_desc_box">
                    <div class="product-brand">
                        @{
                            var brandName = Model.SpecificationAttributeModels?.FirstOrDefault(x => x.SpecificationAttributeName == "Brand Name" || x.SpecificationAttributeName == brandNameSetting)?.ValueRaw;
                            <div>@brandName</div>
                        }
                    </div>
                    <div class="product-title">
                        <span>@Model.Name</span>
                    </div>
                    @*<p class="description">
                            @Html.Raw(Model.ShortDescription)
                        </p>*@
                    <div class="product-desc">
                        <span>@Model.ShortDescription</span>
                    </div>

                    @*<a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})"></a>*@
                    <!--<span class="foodType">-->
                    <!--Added for tag-->
                    @*  @await Component.InvokeAsync("ProductTagsImages", new { showAll = false, productId = Model.Id })*@
                    <!--End Added for tag-->

                    @if (catalogSettings.ShowSkuOnCatalogPages && !string.IsNullOrEmpty(Model.Sku))
                    {
                        <p class="sku">
                            @Model.Sku
                        </p>
                    }


                    @*Modified for rating*@
                    @*@if (Model.ReviewOverviewModel.AllowCustomerReviews)
                        {
                            var ratingPercent = 0;
                            if (Model.ReviewOverviewModel.TotalReviews != 0)
                            {
                                ratingPercent = ((Model.ReviewOverviewModel.RatingSum*100)/Model.ReviewOverviewModel.TotalReviews)/5;
                            }
                            <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                                <div class="rating">
                                    <div style="width: @(ratingPercent)%">
                                    </div>
                                </div>
                            </div>
                        }*@
                    <div class="displayRating">
                        @await Component.InvokeAsync("DisplayRatings", new { reviewType = ((int)Nop.Core.Domain.RatingReview.ReviewType.Item), productId = Model.Id })
                    </div>
                    @*End Modified for rating*@


                    @*<p class="description">
                            @Html.Raw(Model.ShortDescription)
                        </p>*@
                    <div class="prices">
                        <span class="price actual-price">@Model.ProductPrice.Price</span>
                        @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))

                        {
                            <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                        }

                        @if (Model.ProductPrice.DisplayTaxShippingInfo)
                        {
                            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                            //of course, you can modify appropriate locales to include VAT info there
                            <span class="tax-shipping-info">
                                @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </span>
                        }
                        @if (!string.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                        {
                            <div class="base-price-pangv">
                                @Model.ProductPrice.BasePricePAngV
                            </div>
                        }
                    </div>
                </div>
            </a>


            <div class="bar clearfix">
                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_before", additionalData = Model.Id })

                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_middle", additionalData = Model.Id })
                <div class="buttons ajax-cart-button-wrapper">
                    @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                    @if (!Model.ProductPrice.DisableBuyButton)
                    {
                        var addToCartText = T("ShoppingCart.AddToCart").Text;
                        if (Model.ProductPrice.IsRental)
                        {
                            addToCartText = T("ShoppingCart.Rent").Text;
                        }
                        if (Model.ProductPrice.AvailableForPreOrder)
                        {
                            addToCartText = T("ShoppingCart.PreOrder").Text;
                        }
                        <span class="minusQt">-</span>
                        <span class="addQt">+</span>
                        <div class="Add-Cart text-center">
                            @*<input type="button" value="@T("Products.addBasket")" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />*@
                            <a href="#quickViewBox-@Model.Id" rel="modal:open" class="button-2 product-box-quick-view">@T("Products.addBasket")</a>

                        </div>
                    }
                    else
                    {
                        <div class="Add-Cart text-center">
                            <span class="soldOut">Sold Out</span>
                        </div>
                    }
                    @* @if (!Model.ProductPrice.DisableAddToCompareListButton)
                        {
                            <input type="button" value="@T("ShoppingCart.AddToCompareList")" title="@T("ShoppingCart.AddToCompareList")" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" />
                        }
                        @if (!Model.ProductPrice.DisableWishlistButton)
                        {
                            <input type="button" value="@T("ShoppingCart.AddToWishlist")" title="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;" />
                        } *@
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_after", additionalData = Model.Id })
            </div>
        </div>

        @*  <div class="Add-Cart text-center">
                    <input type="button" value="@T("Products.addBasket")" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />
                    <a href="#quickViewBox-@Model.Id" rel="modal:open" class="button-2 product-box-quick-view">@T("Products.addBasket")</a>

            </div> *@
    </div>
</div>


<!-- Modal -->
<div class="modal merchant" id="quickViewBox-@Model.Id">
    <div class="modal-dialog" role="document">

        <form asp-route="Product" asp-route-sename="@Model.SeName" method="post" id="@formId">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal_img">
                        <img class="ProductImage" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
                        @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>*@
                        <a href="#" rel="modal:close" class="close"><img src="/Themes/MKSweets/Content/img/closeIcon1.png" /></a>
                    </div>
                    <div class="modal_desc">
                        <div>@brandName</div>
                        <h2 class="product-title">
                            <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">@Model.Name</a> , @Model.ShortDescription
                        </h2>
                        <div class="prices">
                            <span class="price actual-price price-value-@Model.Id">@Model.ProductPrice.Price</span>
                            @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                            {
                                <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                            }

                            @*<span class="tax_include">@T("NB.Cart.Total.Inclusive.Tax")</span>*@
                            @if (Model.ProductPrice.DisplayTaxShippingInfo)
                            {
                                var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                                //of course, you can modify appropriate locales to include VAT info there
                                <span class="tax-shipping-info">
                                    @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                                </span>
                            }
                            @if (!string.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                            {
                                <div class="base-price-pangv">
                                    @Model.ProductPrice.BasePricePAngV
                                </div>
                            }
                            <div class="popupCount text-right">
                                <button class="minusIcon1" onclick="AjaxCart.removeproductfromtocart_catalog('/removeproductfromtocart/catalog/' + '@Model.Id' + '/1/1');return false;"><i class="fa fa-minus"></i> </button>
                                <small>1</small>
                                @if (isAttributeProduct)
                                {
                                    <button class="plushIcon1" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.Id, shoppingCartTypeId = 1})', '#@formId');return false;"><i class="fa fa-plus"></i> </button>
                                }
                                else
                                {
                                    <button class="plushIcon1" onclick="AjaxCart.addproductitemtocart_catalog('/addproductitemtocart/catalog/' + '@Model.Id' + '/1/1');return false;"><i class="fa fa-plus"></i> </button>
                                }
                            </div>
                        </div>
                        <div class="pack_sizes">

                            @{
                                var dataDictAttributes1 = new ViewDataDictionary(ViewData);
                                dataDictAttributes1.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.Id}";
                                @await Html.PartialAsync("../Product/_ProductAttributes", Model.ProductAttributes, dataDictAttributes1)
                            }

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" rel="modal:close" class="button-1 merchantDetailCancel">@T("Admin.Common.Cancel")</a>

                    @*               <button class="button-1 merchantDetailCancel" rel="modal:close">Cancel</button>
                    *@
                    @if (isAttributeProduct)
                    {
                        <button class="button-1 popupAddCart" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.Id, shoppingCartTypeId = 1 })', '#@formId');return false;">@T("App.ItemCartOption.AddCartBtn")</button>
                    }
                    else
                    {
                        <button class="button-1 popupAddCart" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">@T("App.ItemCartOption.AddCartBtn")</button>
                    }
                    @* <a href="#" rel="modal:close" class="btn btn-secondary">
                        <img src="/Themes/MKSweets/Content/img/closeIcon1.png" /></a>*@
                    @*                <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title" class="btn see_product_detail">@T("NB.Product.Detail.See.Product.Details")</a>
                    *@
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    @*$('body').click(function (event) {
        if (!$(event.target).closest('#quickViewBox-@Model.Id').length && !$(event.target).is('#quickViewBox-@Model.Id')) {
            $("modal").hide();
            $(".jquery-modal").hide();
        }
    });*@

    $(".popupAddCart").click(function () {
        $(".blocker").hide();
    })
</script>

@if (Model.ViewMode == "list")
{
    <style>
        .col-lg-4 { width: 100%; }

        .itemBox .menuItem .itemImg { width: 24%; height: 155px; overflow: hidden; margin: 0; position: relative; float: left; padding: 8px 7px; background: #f7f7f7 }

        .marchengDetails-page .menuItem .itemImg img { width: 100%; height: 100%; object-fit: contain; }

        .merchantDetails-page .menuItem .itemImg img { object-fit: cover; display: table; vertical-align: middle; }

        .itemBox .menuItem.clearfix .itemInfo { float: right; width: 75%; min-height: initial; padding: 0; }

        .menuItemsBlock .menuItem .itemInfo .product-title span { font-size: 15px; }

        .marchengDetails-page .Add-Cart.text-center { border-top: none; padding: 0; }

        a.button-2.product-box-quick-view { background: none; }

        .itemInfo .bar .buttons { position: relative; top: 54%; left: -4%; float: right; background-color: #ed1c24; /* color: #fff; */ width: 27%; margin: 10px; }

        a.button-2.product-box-quick-view { color: #fff; padding: 2px 5px 5px 5px; text-align: center; }

        .menuItem .itemInfo .prices > span.price { float: left; }

        a.button-2.product-box-quick-view:hover { opacity: 0.8; color: #fff; box-shadow: 0 0 4px rgb(0 0 0 / 25%); }

        .wishlist_prod button { width: 25px; height: 25px; font-size: 13px; }
    </style>
}

<script>
    $('.popupAddCart').click(function () {
        $("modal").hide();
        $(".jquery-modal").hide();
        document.querySelector("body").style.overflow = 'auto';
        document.getElementsByClassName("notAndroid23").style.overflow = "auto";
    });
</script>
