﻿@using Nop.Core
@using Nop.Services.Configuration
@inject ISettingService settingService


@inject IWorkContext workContext
@{
    string cssVersion = settingService.GetSettingByKey("common.css.Version", "1.2");
    var supportRtl = workContext.WorkingLanguage.Rtl;

    Html.AppendCssFileParts("~/Plugins/SevenSpikes.Core/Styles/perfect-scrollbar.min.css");

    if (supportRtl)
    {
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/1280.rtl.css");
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/1000.rtl.css");
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/768.rtl.css");
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/480.rtl.css");
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/mobile-only.rtl.css");
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/tables.rtl.css");
    }
    else
    {
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/1280.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/1000.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/768.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/480.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/mobile-only.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/tables.css"); 
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/font.css");
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/style.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/style.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/owl.carousel.min.css?v=" + cssVersion);
    }

    if (supportRtl)
    {
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/styles.rtl.css");
    }
    else
    {
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/styles.css?v=" + cssVersion);
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/bootstrap.css");
        Html.AppendCssFileParts("~/Themes/MKSweets/Content/css/scrollable.css?v=" + cssVersion);

    }
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/MKSweets/Content/scripts/bootstrap.min.js?v=" + cssVersion);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/footable.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/perfect-scrollbar.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.theme.ex.min.js");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/MKSweets/Content/scripts/pavilion.js?v=" + cssVersion);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/MKSweets/Content/scripts/script.js?v=" + cssVersion);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/MKSweets/Content/scripts/owl.carousel.js?v=" + cssVersion);
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
}


