﻿@model TipModel
@using Nop.Core
@inject IWebHelper webHelper

@{
    var storeLocation = webHelper.GetStoreLocation();
}
    <div class="tips-info">
        <div class="tipsLable">
            <label>@T("NB.CheckOutPage.Tip")</label>
        </div>
        <div class="tipicsRadio">
            @foreach (var tip in Model.Tips)
            {
                <input type="radio" @(tip.TipAmountValue == Model.SelectedTipAmountValue ? "checked" : "") name="tipAmount" value="@tip.TipAmountValue" /> @tip.TipAmount;
            }
       
        </div>
        <div class="tipicsInputs">
            <input type="text" id="txtTipAmount" name="txtTipAmount" placeholder="@T("NB.CheckOutPage.EnterTip")" />
            <input type="button" id="saveTipAmount" name="saveTipAmount" value="@T("NB.CheckOutPage.Tip.Button")" />
        </div>
        </div>
        <script type="text/javascript">
    $(document).ready(function () {
            $("input[name='tipAmount']").bind("change",function(){
                $("#txtTipAmount").val($(this).val());
                saveTipAmount();
                return false;
            });
            $('#txtTipAmount').bind("keydown",function (event) {
                if (event.keyCode == 13) {
                    saveTipAmount();
                    return false;
                }
            });
            $('#saveTipAmount').bind("click",function () {
                saveTipAmount();
                return false;
            });
            $("#txtTipAmount").bind("keyup",function () {
                var $this = $(this);
                $this.val($this.val().replace(/[^\d.]/g, ''));
            });
            var saveTipAmount = function () {
                if ($("#txtTipAmount").val() == "") {
                    alert('@T("NB.CheckOutPage.Tip.ValidValue")');
                    return false
                }

                var postData = {
                    tipAmount: $("#txtTipAmount").val()
                };

                $.ajax({
                        cache: false,
                    url: '@(storeLocation)shoppingcart/saveTipAmount/',
                        data: postData,
                        type: 'post',
                    success: function (response) {
                        if (response.success) {
                            $('#flyout-cart').html(response.html);
                            }
                        },
                        error: function () {
                            alert('An error occurred');
                        }
                    });
            }
        });
        </script>
