﻿@using Nop.Core
@inject IWorkContext workContext

@{
    Layout = "_ColumnsOne";
    //page class
    Html.AppendPageCssClassParts("marchengDetails-page");
}
<script src="~/js/public.ajaxcart.js"></script>
<script src="~/js/public.common.js"></script>
<script src="~/js/public.ajax.filter.js"></script>


<div class="marchengDetails">
    @if (ViewBag.Success != null)
    {
        <div class="modal fade" id="onloadPopup">
            <div class="modal-body">
                <a class="close" data-dismiss="modal">×</a>
                <h2>@T("thanks.booking.text")</h2>
                <p>@T("booking.accepted.text")</p>
                <img src="/Themes/Vonzuu/Content/img/thanksYouImg1.png" />
            </div>
        </div>
        <script>
            $(function () {
                $('#onloadPopup').show();
                $('body').addClass('onLPop');
                $('#onloadPopup .close').click(function () {
                    $('#onloadPopup').hide();
                    $('body').removeClass('onLPop');
                });
            });

        </script>
    }
    <!--Custom code added for Rating 26-03-2019 -->
    <div id="dv-rating-review-container">@await Component.InvokeAsync("RatingReview")</div>
    <!--End Custom code added for Rating-->
    <section id="restaurInfoSectionArea" class="restaurInfoSection clearfix">
        <div class="restaurInfoSectionAreaTop">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 hide-sm text-right prodImg imgMerchentHeader" imgMerchentHeader="@ViewBag.VendorPicture"><div class="merchentHImg"></div></div>
                    <div class="col-md-6 col-sm-6 restorentInfoCont">
                        @*@await Component.InvokeAsync("MerchantById", new { merchantid = Context.Request.Query["merchantid"].ToString() })*@
                        @await Component.InvokeAsync("MerchantById")
                    </div>
                    @* <div class="col-md-3 col-sm-12 pull-right">
                            @await Component.InvokeAsync("Offers")
                        </div>*@
                </div>
            </div>
        </div>
    </section>

    <div class="searchAndTags">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="searchFilterLeft">
                        <input type="text" name="txtKeywords" placeholder="@T("Items.Filter.Keywords")" />
                    </div>
                </div>
                <div class="col-md-9 pl0">
                    @*Added for tag*@
                    @await Component.InvokeAsync("ProductTagsImages")
                    @*End Added for tag*@
                </div>
            </div>
        </div>
    </div>

    <div class="foodMenuSectionBg">
        <section class="menuItemSection clearfix">
            @if (workContext.CurrentMerchant != null && (!string.IsNullOrEmpty(workContext.CurrentMerchant.WebLink) || workContext.CurrentMerchant.CallForPrice))
                {
            <div class="row">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "weblink-content" })
                @if (!string.IsNullOrEmpty(workContext.CurrentMerchant.WebLink))
                {
                    <script>
                        $(".orderOnline").show();
                    </script>
                }
                @if (workContext.CurrentMerchant.CallForPrice)
                {
                    <script>
                        $(".callNow").show();

                    </script>
                }
            </div>
                }
           
            else
            {
                <div class="row">
                    <div class="col-lg-3 col-md-3 leftSideCategoryL leftBoxMerchant">
                        <div class="mobileMenuItem">Menu</div>
                        @await Component.InvokeAsync("HomepageCategoriesMerchant")
                    </div>
                    <div class="menuItemsBlock col-lg-6 col-md-6 col-xs-12 centerBoxMerchant">
                        <div class="marchentTopFilter">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--Added for tag-->
                                    @*@await Component.InvokeAsync("ProductTagsImages")*@
                                    <!--End Added for tag-->
                                    <!--<ul>
                                <li><a href="#" class="vegF">Veg</a></li>
                                <li><a href="#" class="nvegF">Non-Veg</a></li>
                                <li><a href="#" class="gfvegF">Gluten Free</a></li>
                                <li><a href="#" class="lfvegF">Lactose Free</a></li>
                            </ul>-->
                                </div>
                            </div>
                        </div>

                        @*@await Component.InvokeAsync("HomepageProductsMerchant", new { merchantid = Context.Request.Query["merchantid"].ToString() })*@

                        @*BestSeller Products --Start--*@
                        @*@await Component.InvokeAsync("HomepageBestSellers")*@
                        @*--End--*@
                        <div id="dvItems" class="item-grid">
                            @await Component.InvokeAsync("HomepageProductsMerchant")
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 checkOutSection clearfix rightBoxMerchant">
                        <div class="checkOutC1">
                            <div class="miniCartRightFilter">
                                <h2>@T("empty.cart.text")</h2>
                                <div class="numberOfItems"> <span></span> @T("cart.item.text")</div><div id="orderSchedule" class="orderScheduleClick" style="display: block;"><i class="fa fa-calendar" aria-hidden="true"></i> @T("scheduleyour.order.text")</div>
                            </div>
                            @*<div class="delveryTimeBtn">
                            <button type="button" class="active">Delivery</button>
                            <button type="button">Collection</button>
                        </div> *@
                            @{
                                var prod = TempData["ExpTime"].ToString();
                                var IsDispDelTake = (bool)TempData["IsDelTakeOption"];

                                var UserOrdDelType = false;
                                if (TempData["orderdeltype"] != null)
                                {
                                    UserOrdDelType = (bool)TempData["orderdeltype"];
                                }
                                var UserOrdTakeType = true;
                                if (TempData["ordertaketype"] != null)
                                {
                                    UserOrdTakeType = (bool)TempData["ordertaketype"];
                                }
                                TempData.Keep("orderdeltype");
                                TempData.Keep("ordertaketype");
                            }
                            @if (@IsDispDelTake)
                            {
                                <div class="delveryTimeBtn">
                                    <div>
                                        @Html.RadioButton("UserOrderType", "Delivery", @UserOrdDelType) <label for="UserOrderType"> @T("delivery.button.text")</label>
                                    </div>
                                    <div>
                                        @Html.RadioButton("UserOrderType", "Takeaway", @UserOrdTakeType) <label for="UserOrderType">@T("takeaway.button.text")</label>
                                    </div>
                                </div>
                            }

                            <div class="estTime"><label>Estimated Delivery Time @T("est.deliverytime.text") :</label> <span>@prod</span></div>


                            <div class="checkOutBlock clearfix">

                                @await Component.InvokeAsync("FlyoutShoppingCart")
                            </div>
                            <div class="cartEmptyBox clearfix" emptyCartImg="/Themes/Vonzuu/Content/img/emptyCartImg1.png">

                                <p>
                                    @T("emptycart.desc.text")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </section>
    </div>
    <section class="newsletterSection">
        <div class="container">
            @await Component.InvokeAsync("NewsletterBox")
        </div>
    </section>
    @await Component.InvokeAsync("TopicBlock", new { systemName = "ReadyToOrder" })
</div>
<script>
    $(".miniCartRightFilter .numberOfItems span").html($(".checkOutBlock .itemList .bar").length);
    //keywords filter
    $("input:text[name='txtKeywords']").on("keyup", function (e) {
        var key = e.which;
        if (key == 13) {
            AjaxFilter.filterItems();
        }
    });

    $('a').filter(function () {
        return !$(this).attr('href') || $(this).attr('href').indexOf('#') === 0;
    }).parents('.orderOnline').hide();


        window.onload = function () {
            if ($('.orderBoxWrap').is(":visible")) {
            $(".searchAndTags").hide();
        }
        else {
            $(".searchAndTags").show();
        }
    };



   

</script>


