﻿@model CustomerNavigationModel
<div class="block block-account-navigation">
    <div class="Main-head">
        <span class="res-head">@T("Account.MyAccount")</span>
    </div>
    <div class="listbox-resp">
        <div class="title">
            <strong>@T("Account.Personal.Details")</strong>
        </div>
        <div class="listbox">

            <ul class="list">
                <li>
                    <a href="/customer/info" class="active">@T("Account.Profile")</a>
                </li>
                @*<li>
            <a href="/customer/addresses" class="inactive">@T("NB.Account.CustomerAddresses") </a>
        </li>*@
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })
                @foreach (var item in Model.CustomerNavigationItems)
                {
                    <li class="@item.ItemClass">
                        <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                    </li>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
           
                <li>
                    <a href="/customer/changepassword" class="inactive">@T("Account.ChangePassword")</a>
                </li>
            </ul>
        </div>
     @*   <div class="title second">
            <strong>@T("Account.Navigation")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })
                @foreach (var item in Model.CustomerNavigationItems)
                {
                    <li class="@item.ItemClass">
                        <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                    </li>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
            </ul>
        </div>*@
    </div>
</div>
<script>
    $(".res-head").click(function() {
        $(".listbox-resp").toggleClass("menuOpen");
        style.cssText = "-webkit-transition: all 0.5s ease-in-out;";
    });
</script>