﻿@model IList<CategoryModel>
@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <strong>@T("NB.Homepage.ShopByCategory")</strong>
                </div>
            </div>
        </div>
        <div class="item-grid fourItemSlider">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="category-item">
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                 <h2 class="title">
                                    @item.Name
                                     <span class="countItems">@item.NumberOfProducts @T("NB.Items")</span>
                                </h2>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
