﻿@model ProductSearchModel

@using Nop.Core.Domain.Catalog;

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.BulkEdit").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ProductsBulkEdit");
}

@{
    const string hideSearchBlockAttributeName = "BulkEditPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}
<link rel="stylesheet" href="/lib/kendo/2014.1.318/kendo.common.min.css" />
<link rel="stylesheet" href="/lib/kendo/2014.1.318/kendo.default.min.css" />
<link rel="stylesheet" href="/lib/kendo/2014.1.318/kendo.default.mobile.min.css" />
<script src="/lib/kendo/2014.1.318/kendo.grid.min.js"></script>
<script src="/lib/kendo/2014.1.318/kendo.pager.min.js"></script>

<form asp-controller="Product" asp-action="BulkEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Products.BulkEdit")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchProductName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchProductName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchCategoryId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-products" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="products-grid"></div>

                        <script type="text/javascript">
                            $(document).ready(function() {
                                $("#products-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("BulkEditSelect", "Product"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            },
                                            update: {
                                                url: "@Html.Raw(Url.Action("BulkEditUpdate", "Product"))",
                                                type: "POST",
                                                dataType: "json"
                                            },
                                            parameterMap: function (data, operation) {
                                                if (operation != "read") {
                                                    var result = {};
                                                    for (var i = 0; i < data.models.length; i++) {
                                                        var entity = data.models[i];

                                                        for (var member in entity) {
                                                            result["products[" + i + "]." + member] = entity[member];
                                                        }
                                                    }

                                                    addAntiForgeryToken(result);
                                                    return result;
                                                } else {
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors",
                                            model: {
                                                id: "Id",
                                                fields: {
                                                  
                                                    Name: { editable: false, type: "string" },
                                                            ProductId: { editable: false, type: "number" },
                                                            Sku: { editable: false, type: "string" },
                                                    Price: { editable: false, type: "number" },
                                                    Published: { editable: true, type: "boolean" },
                                                    DisableBuyButton: { editable: true, type: "boolean" },
                                                            Id: { editable: false, type: "number" }
                                                     
                                                    }
                                            }
                                        },
                                        requestEnd: function (e) {
                                            if (e.type == "update") {
                                                this.read();
                                            }
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        //bulk editing
                                        batch: true,
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: false
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)]
                                    },
                                    toolbar: ["save", "cancel"],
                                    editable: {
                                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                        //bulk editing
                                        mode: "incell"
                                    },
                                    scrollable: false,
                                    columns: [ {
                                            field: "PictureThumbnailUrl",
                                            title: "@T("Admin.Catalog.BulkEdit.Fields.PictureThumbnailUrl")",
                                            template: '<img src="#=PictureThumbnailUrl#" />',
                                            width: 100
                                    },
                                        {
                                        field: "Name",
                                        title: "@T("Admin.Catalog.BulkEdit.Fields.Name")",
                                        width: 200
                                    },
                                        {
                                            field: "Price",
                                            title: "@T("Admin.Catalog.BulkEdit.Fields.Price")",
                                            width: 150,
                                            //if not a grouped product, then display
                                            template: "# if(ProductTypeId != @((int) ProductType.GroupedProduct)) {# #:Price# #}  #"
                                        },
                                        {
                                     
                                        field: "Published",
                                        title: "@T("Admin.Catalog.BulkEdit.Fields.Published")",
                                        width: 200,
                                            template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    
                                        },
                                        {
                                            field: "DisableBuyButton",
                                        title: "@T("Admin.Catalog.BulkEdit.Fields.DisableBuyButton")",
                                        width: 200,
                                            template: '# if(DisableBuyButton) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        }
                                    ]
                                } );
                            });
                        </script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#search-products').click(function () {
                                    var grid = $('#products-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;
                                });

                                $("#@Html.IdFor(model => model.SearchProductName)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-products").click();
                                        return false;
                                    }
                                });
                            });

                            function additionalData() {
                                var data = {
                                    SearchProductName: $('#@Html.IdFor(model => model.SearchProductName)').val(),
                                    SearchCategoryId: $('#SearchCategoryId').val(),
                                    PageSize: $(".k-dropdown").find("select").val()

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</form>
