﻿@model Nop.Web.Areas.Admin.Models.Catalog.ProductCuisineMappingModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Admin.Catalog.ProductCuisineMapping.Edit").Text;
    Html.SetActiveMenuItemSystemName("ProductCuisine");
}

<form asp-controller="Product" asp-action="EditProductCuisineMapping"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.ProductCuisineMapping.Edit") 
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @*@ @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_ProductCuisinemapping_details_buttons", additionalData = Model.Id })*@
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateProductCuisineMapping", Model)
</form>