﻿@model Nop.Web.Areas.Admin.Models.Schedule.ScheduleListSearchModel
@using Nop.Web.Areas.Admin.Models.Schedule
@inject AdminAreaSettings adminAreaSettings
@using Nop.Core.Domain.Catalog

@{
    
    //page title
    ViewBag.Title = T("Admin.Catalog.Schedule").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ManageSchedules");
}


<form asp-controller="Product" asp-action="Schedule" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Schedule")
        </h1>
        
            <div class="pull-right">
                <a asp-action="ScheduleCreate" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                    @T("Admin.Common.AddNew")
                </a>
            </div>

    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchScheduleName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchScheduleName" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.AvailableVendors == null || Model.AvailableVendors.Count == 0  ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchVendorId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group" @(Model.AvailableStores == null || Model.AvailableStores.Count == 0  ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-products" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "products-grid",
                       UrlRead = new DataUrl("ScheduleList", "Product", null),
                      SearchButtonId = "search-products",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                      Filters = new List<FilterParameter>
                           {
                               new FilterParameter(nameof(Model.SearchScheduleName)),
                               new FilterParameter(nameof(Model.SearchVendorId)),
                               new FilterParameter(nameof(Model.SearchStoreId))
                           },
                       ColumnCollection = new List<ColumnProperty>
                       {
                           new ColumnProperty(nameof(ScheduleListModel.Name))
                           {
                               Title = T("Admin.Schedule.Name").Text,
                               Width = "300"
                           },
                           new ColumnProperty(nameof(ScheduleListModel.IsActive))
                           {
                               Title = T("Admin.Schedule.IsActive").Text,
                               Width = "300",
                              Render = new RenderCustom("renderColumnIsActive")
                           },
                           new ColumnProperty(nameof(ScheduleListModel.Id))
                           {
                               Title = T("Admin.Common.Edit").Text,
                               Width = "100",
                               ClassName =  NopColumnClassDefaults.Button,
                               Render = new RenderCustom("renderColumnEdit")
                           }
                       }
                   })
                        <script>
                function renderColumnEdit(data, type, row, meta) {
                    return '<a class="btn btn-default" href="ScheduleEdit/'+row.Id+'"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>';
                }
                function renderColumnIsActive(data, type, row, meta) {
                    if (row.IsActive) {
                        return '<i class="fa fa-check true-icon"></i>';
                    } else {
                        return '<i class="fa fa-close false-icon"></i>';
                    }

                }
                        </script>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
