﻿@model IList<CategoryModel>

<input id="categoryId" type="hidden" value="-1" />
@if (Model.Count > 0)
{
    <span onclick="openNav()" class="filter_open"><i class="fa fa-filter"></i></span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
        <div class="leftTab">
            <div class="heading-leftTab cat ">
                <p class="merchant-left-Categories">@T("nb.category")</p>
            </div>
            <ul class="nav machentCategoryList">
                <li class="active"><a href="#bestsellers" idL="-1">@T("NB.Admin.BestSeller")  (@Model.Select(x => x.NumberOfIsBestSellerProducts).FirstOrDefault())</a></li>
                @foreach (var item in Model)
                {
                    <li>
                        <a href="#@item.Id" idL="@item.Id">
                            @item.Name  (@item.NumberOfProducts)
                        </a>
                        @await Html.PartialAsync("_CategoryMenuMerchant", item.SubCategories)
                    </li>
                }
            </ul>
            @await Component.InvokeAsync("Productfiltration")
        </div>
    </div>

    <script>
        $(function () {
            $(".machentCategoryList li a").click(function () {
                $("#categoryId").val($(this).attr("idL"));
                AjaxFilter.filterItems(1);
                //add active class
                $(".machentCategoryList li").removeClass('active');
                $(this).closest('li').addClass('active');
            })
        });
    </script>



    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


}
