﻿@model ReviewOverviewModel
<div class="reviewSection">
    @if (Model.Reviews.Count > 0)
    {
        @foreach (var review in Model.Reviews)
        {
            <div class="reviewContainer">
                <div class="reviewHeader">
                    <h3>@review.CustomerName</h3>

                    <span class="reviewDate">@review.WrittenOnStr</span>
                    <span class="reviewStars">
                        @{
                            var starO = review.Rating > 0 ? 5 - review.Rating : 0;
                        }
                        @for (int i = 0; i < review.Rating; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                        @if (starO > 0)
                        {
                            @for (int i = 0; i < starO; i++)
                            {
                                <i class="fa fa-star-o"></i>
                            }
                        }
                    </span>
                </div>
                <div class="reviewDesc"><p>@review.ReviewText</p></div>
            </div>
        }
    }
    else
    {
        <div class="no-data">
            @T("NB.Review.Product.NotReviewFound")
        </div>
    }
</div>
<div id="progress" style="display:none">
    <h4>@T("NB.Review.Product.Loadreviews.Text")</h4>
</div>

@if (Model.TotalReviews > 0)
{
    if (Model.TotalReviews <= Model.PageSize)
    {
        <div class="allRevLoaded">
            @T("NB.Review.Product.AllreviewLoaded.Text")
        </div>

        //Script to set true value to allReviewsLoaded, when all reviews are loaded. to restrict unwanted ajax call.
        //allReviewsLoaded is declared in Homemerchant-Index page
        <script>
            if (typeof allReviewsLoaded !== 'undefined') {
                allReviewsLoaded = true;
            }
        </script>
    }
}
else
{
    //Script to set true value to allReviewsLoaded, when all reviews are loaded. to restrict unwanted ajax call.
    //allReviewsLoaded is declared in Homemerchant-Index page
    <script>
        if (typeof allReviewsLoaded !== 'undefined') {
            allReviewsLoaded = true;
        }
    </script>
}
