﻿@model ProductFiltrationAttributes

<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="~/js/public.ajax.filter.js"></script>

<div class="left_attr_cont block block-category-navigation">
    <div class="heading-leftTab title">
        <p class="merchant-left-brands"> @T("nb.brands")</p>
    </div>
    <input id="brandNameIds" type="hidden" value="" />
    <input id="packSizeIds" type="hidden" value="" />
    <div class="listbox">
        <input class="brandInput" id="txtsearchBrandName" placeholder="@T("nb.searchByBrand")" />
        <div id="brandName">
            <ul>
                @foreach (var item in Model.BrandName)
                {
                    <li>
                        <input type="checkbox" class="js-brandNamechkBox" value="@item.Id" id="brandName-@(item.Id)" /><label>@item.Name</label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="left_attr_cont block block-category-navigation">
    <div class="heading-leftTab title">
        <strong class="merchant-left-price">@T("nb.price")</strong>
    </div>

    <div class="listbox">
        <input type="text" id="price" style="border:0; color:#b9cd6d; font-weight:bold;">
        <div id="slider-3" onclick="AjaxFilter.filterItems(1)"></div>
    </div>
</div>
<div class="left_attr_cont block block-category-navigation">
    <div class="heading-leftTab title">
        <strong class="merchant-left-size">@T("nb.packSize")</strong>
    </div>
    <div class="listbox">
        <ul>
            @foreach (var item in Model.PackSize)
            {
                <li>
                    <input type="checkbox" class="js-packSizeCheckBox" value="@item" id="packsize-@(item)" />
                    <label>@item</label>
                </li>

            }
        </ul>
    </div>
</div>
@*<div class="left_attr_cont block block-category-navigation">
    <div class="heading-leftTab title">
        <p class="merchant-left-discount">@T("nb.discount")</p>
    </div>
    <div class="listbox">
        <ul>
            <li>
                <input type="checkbox" class="merchantCheckBox" />
                <label>Upto 5% (43)</label>
            </li>
            <li>
                <input type="checkbox" class="merchantCheckBox" />
                <label>5% - 10% (77)</label>
            </li>
            <li>
                <input type="checkbox" class="merchantCheckBox" />
                <label>10% - 15% (94)</label>
            </li>
            <li>
                <input type="checkbox" class="merchantCheckBox" />
                <label>More than 15% (261)</label>
            </li>
        </ul>
    </div>
</div>*@

<script>
    $(document).on('click', '.js-brandNamechkBox', function () {
        var values = "";
        $('.js-brandNamechkBox:checked').each(function () {
            values += ($(this).val()) + ",";
        });
        $("#brandNameIds").val(values);
        AjaxFilter.filterItems(1);
    });

    $('.js-packSizeCheckBox').click(function () {
        var values1 = "";
        $('.js-packSizeCheckBox:checked').each(function () {
            values1 += ($(this).val()) + ",";
        });
        $("#packSizeIds").val(values1);
        AjaxFilter.filterItems(1);
    });
</script>
<script>
    $(function () {
        $("#slider-3").slider({
            range: true,
            min: @Model.MinPrice,
            max: @Model.MaxPrice,
            values: [@Model.MinPrice, @Model.MaxPrice],
            slide: function (event, ui) {
                $("#price").val("@Html.Raw(Model.CurrencySymbol)" + ui.values[0] + " - @Html.Raw(Model.CurrencySymbol)" + ui.values[1]);
            }
        });
        $("#price").val("@Html.Raw(Model.CurrencySymbol)" + $("#slider-3").slider("values", 0) +
            " - @Html.Raw(Model.CurrencySymbol)" + $("#slider-3").slider("values", 1));
    });
</script>
<script>
    var txt = document.getElementById("txtsearchBrandName");
    txt.addEventListener("keypress", function (event) {
        if (event.keyCode == 13) {
            var valueOfTextBox = $("#txtsearchBrandName").val();
            $.ajax({
                cache: false,
                url: 'Product/SearchBrandName',
                type: "GET",
                data: { "brandName": valueOfTextBox },
                success: function (data) {
                    $('#brandName').empty();
                    $.each(data, function (index, value) {
                        var lbl = $("<label>").text(value.Name);
                        var cbx = document.createElement('input');
                        cbx.type = "checkbox";
                        cbx.className = "js-brandNamechkBox";
                        cbx.value = value.Id;
                        cbx.id = "brandName-" + value.Id;
                        $('#brandName').append(cbx);
                        $('#brandName').append(lbl);
                    });
                },
                error: function () {
                    alert('Failed load brand names.');
                }
            });
        }
    });
</script>
