﻿@model List<MerchantCategoryModel>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@if (Model.Count > 0)
{
    <section id="choose_category1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 choose-cat-title">
                    <h2>@T("nb.select.your.category")</h2>
                    <h3>@T("NB.Select.Your.Category.Subtitle")</h3>
                </div>
                <div class="col-md-6">
                    <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="6000" id="myCarousel" >
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                        <div class="carousel-inner">
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <div class="item">
                                    <div class="item-box">
                                        <label class="container_label" id="slide@(i)">
                                            <input type="checkbox" data-id="@item.StoreIds" name="slide" value="@item.Id" />
                                            <span class="checkmark">
                                                <img title="@item.PictureModel.Title" src="@item.PictureModel.ImageUrl">
                                            </span>

                                        </label>
                                        <span class="chooseCatTitle"> @item.Name </span>
                                    </div>
                                </div>
                                i++;
                            }
                        </div>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    @*<div class="item-grid twoItemSlider">
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <div class="item-box">
                                    <label class="container_label" id="slide@(i)">
                                        <input type="checkbox" data-id="@item.StoreIds" name="slide" value="@item.Id" />
                                        <span class="checkmark">
                                            <img title="@item.PictureModel.Title" src="@item.PictureModel.ImageUrl">
                                        </span>

                                    </label>
                                    <span class="chooseCatTitle"> @item.Name </span>
                                </div>
                                i++;
                            }
                        </div>*@
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            showAllMerchant();
            $('input:checkbox[name=slide]').change(function () {
                showAllMerchant();
                $(this).parents("li").toggleClass("active");
            });
        });
        function showAllMerchant() {
            //debugger
            var selected = [];
            $("input:checkbox[name=slide]:checked").each(function () {
                var vendorids = $(this).attr("data-id");
                if (vendorids != "") {
                    var idsArray = vendorids.split(",");
                    for (var i = 0; i < idsArray.length; i++) {
                        if (selected.indexOf(idsArray[i]) == -1) {
                            selected.push(idsArray[i]);
                        }
                    }
                }
            });
            if (selected.length > 0) {
                $(".restaurBox").each(function (i, value) {
                    var vendorid = $(this).attr("data-id");
                    if (vendorid != "") {
                        if (selected.indexOf(vendorid) !== -1) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
            }
            else {
                $(".restaurBox").show();
            }
        }
    </script>
    <script> 

        $(".carousel-inner .item").first().addClass("active");
   
        $(document).ready(function () {
            $('.carousel[data-type="multi"] .item').each(function () { 
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i = 0; i < 0; i++) {
                    next = next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });
        });
    </script>





    @*<script>
            jQuery(function ($) {
                jQuery.noConflict();
                jQuery.fn.slick = jQuery.fn.slick || function () { };
                jQuery('.twoItemSlider').slick({
                    dots: false,
                    infinite: false,
                    speed: 300,
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    responsive: [
                        {
                            breakpoint: 1025,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        }
                    ]
                });
            });
        </script>
    *@

}