﻿@model SchedulerItemModel

<div class="raw clearfix">
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">@T("Resanehlab.Plugin.Core.Admin.Scheduler.Schedule")</div>
                    <div class="panel-body">
                        <p>@T("Resanehlab.Plugin.Core.Admin.Scheduler.EntityMappingPages.Tab.Hint")</p>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="IsActive" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="IsActive" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="FromDateUtc" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FromDateUtc" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="ToDateUtc" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ToDateUtc" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SchedulePatternTypeId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="SchedulePatternTypeId" asp-items="Model.SchedulePatternTypes" />
                            </div>
                        </div>
                        <div class="form-group hourrange">
                            <div class="col-md-3">
                                <nop-label asp-for="HourRangeStart" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="HourRangeStart" />
                            </div>
                        </div>
                        <div class="form-group hourrange">
                            <div class="col-md-3">
                                <nop-label asp-for="HourRangeEnd" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="HourRangeEnd" />
                            </div>
                        </div>
                        <div class="form-group monthday">
                            <div class="col-md-3">
                                <nop-label asp-for="MonthDayRangeStart" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="MonthDayRangeStart" />
                            </div>
                        </div>
                        <div class="form-group monthday">
                            <div class="col-md-3">
                                <nop-label asp-for="MonthDayRangeEnd" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="MonthDayRangeEnd" />
                            </div>
                        </div>
                        <div class="form-group weekday">
                            <div class="col-md-3">
                                <nop-label asp-for="WeekDayRangeStart" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="WeekDayRangeStart" asp-items="Model.WeekDays" />
                            </div>
                        </div>
                        <div class="form-group weekday">
                            <div class="col-md-3">
                                <nop-label asp-for="WeekDayRangeEnd" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="WeekDayRangeEnd" asp-items="Model.WeekDays" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--scripts -->
<script>
    $(document).ready(function () {
        togglePattern();

        $("#@Html.IdFor(model => model.SchedulePatternTypeId)").on('click', togglePattern);

        var allInputsSelector = "#@Html.IdFor(model => model.IsActive), \
#@Html.IdFor(model => model.FromDateUtc), \
#@Html.IdFor(model => model.ToDateUtc), \
#@Html.IdFor(model => model.SchedulePatternTypeId), \
#@Html.IdFor(model => model.HourRangeStart), \
#@Html.IdFor(model => model.HourRangeEnd), \
#@Html.IdFor(model => model.MonthDayRangeStart), \
#@Html.IdFor(model => model.MonthDayRangeEnd), \
#@Html.IdFor(model => model.WeekDayRangeStart), \
#@Html.IdFor(model => model.WeekDayRangeEnd)";

        $(allInputsSelector).on('change', updateScheduling);

        function togglePattern() {
            if ($('#@Html.IdFor(model => model.SchedulePatternTypeId)').val() == '@((int)SchedulingPatternType.EveryDay)') {
                $('div.form-group.monthday').hide();
                $('div.form-group.weekday').hide();
                $('div.form-group.hourrange').show();
            } else if ($('#@Html.IdFor(model => model.SchedulePatternTypeId)').val() == '@((int)SchedulingPatternType.EveryMonth)') {
                $('div.form-group.weekday').hide();
                $('div.form-group.monthday').show();
                $('div.form-group.hourrange').show();
            } else if ($('#@Html.IdFor(model => model.SchedulePatternTypeId)').val() == '@((int)SchedulingPatternType.EveryWeek)') {
                $('div.form-group.monthday').hide();
                $('div.form-group.weekday').show();
                $('div.form-group.hourrange').show();
            }
        }

        function updateScheduling()
        {
            var postData = {
                Id: @(Model.Id),
                EntityId: @(Model.EntityId),
                EntityTypeId: @(Model.EntityTypeId),
                IsActive: $('#@(Html.IdFor(x => x.IsActive))').prop("checked"),
                FromDateUtc: $('#@(Html.IdFor(x => x.FromDateUtc))').val(),
                ToDateUtc: $('#@(Html.IdFor(x => x.ToDateUtc))').val(),
                SchedulePatternTypeId: $('#@(Html.IdFor(x => x.SchedulePatternTypeId))').val(),
                HourRangeStart: $('#@(Html.IdFor(x => x.HourRangeStart))').val(),
                HourRangeEnd: $('#@(Html.IdFor(x => x.HourRangeEnd))').val(),
                MonthDayRangeStart: $('#@(Html.IdFor(x => x.MonthDayRangeStart))').val(),
                MonthDayRangeEnd: $('#@(Html.IdFor(x => x.MonthDayRangeEnd))').val(),
                WeekDayRangeStart: $('#@(Html.IdFor(x => x.WeekDayRangeStart))').val(),
                WeekDayRangeEnd: $('#@(Html.IdFor(x => x.WeekDayRangeEnd))').val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                url: "@(Html.Raw(Url.Action("AddOrUpdate", "SchedulerMappingAdmin")))",
                cache: false,
                type: "POST",
                data: postData,
                success: function (result) {

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }
    });
</script>
