﻿@model IList<ProductOverviewModelMerchant>

@if (Model.Count > 0)
{
<div class="product-grid home-page-product-grid" id="bestsellers">
 
    <div class="title">
        <h2 cccatid="bestsellers">@T("Bestsellers")</h2>
        <a href="/category-docampo" class="showMoreBtn">@T("NB.Button.ShowMore")</a>
    </div>
    <div class="item-grid fourItemSlider">
        @foreach (var item in Model)
        {
            <div class="item-box">
                @await Html.PartialAsync("_ProductBoxMerchant", item)
            </div>
        }
    </div>
</div>
}
